---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/payment_methods
    method: GET
  response:
    body: '{"id":"cust_e01cbbbf6bec47b58d019821b95aea84","object":"PaymentMethods","primary_payment_method":{"id":"card_b3a5f5ed02194ac69fb80a7fb709138b","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa"},"secondary_payment_method":{"id":"card_ab330b742b3c4acca58dceb190274996","disabled_at":null,"object":"CreditCard","name":null,"last4":"6170","exp_month":5,"exp_year":2028,"brand":"Visa"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"202a24762c24e1bdbe8c4ace520c8216"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 63058d0362992414ff22311d00033a7b
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - intlb2wdc 570dfcbc0a
      - extlb1wdc 0910011e7e
      X-Version-Label:
      - easypost-202206021850-56a13db81c-master
    status: 200 OK
    code: 200
    duration: ""
