---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"UpsAccount","credentials":{"access_license_number":"ALN","account_number":"A1A1A1","password":"PASSWORD","user_id":"USERID"},"test_credentials":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"id":"ca_de730b1bf841470a833f54587b054213","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-03-03T19:08:44Z","updated_at":"2022-03-03T19:08:44Z","description":"UPS
      Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
      Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a86620f87494b32dee93657d194c8f3b"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123cff135a20001f1fd0
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"carrier_account":{"id":"ca_de730b1bf841470a833f54587b054213","object":"CarrierAccount","created_at":"2022-03-03T19:08:44Z","updated_at":"2022-03-03T19:08:44Z","type":"UpsAccount","fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
      Account Number","value":"A1A1A1"}}},"description":"My custom description","readable":"UPS","credentials":{"account_number":"A1A1A1"},"test_credentials":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/ca_de730b1bf841470a833f54587b054213
    method: PUT
  response:
    body: '{"id":"ca_de730b1bf841470a833f54587b054213","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-03-03T19:08:44Z","updated_at":"2022-03-03T19:08:45Z","description":"My
      custom description","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
      Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23580e05dd01613e254cf08dbbedab2b"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123dff135a20001f1fe4
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
[...]
