---
version: 1
interactions:
- request:
    body: '{"order":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"is_return":false,"shipments":[{"parcel":{"weight":10.2}},{"parcel":{"weight":17.5}}],"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-06-14T16:17:32+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9a8341e72a6911efa4b03cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-06-14T16:17:32+00:00","verifications":{},"zip":"90277"},"created_at":"2024-06-14T16:17:32Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-06-14T16:17:32+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9a855a5a2a6911ef85b5ac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-06-14T16:17:32+00:00","verifications":{},"zip":"94107"},"id":"order_7027b18396ab42f59974edc7fbcdacab","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_068c18ec83174d3e88e245b62c698c91","list_currency":"USD","list_rate":"12.82","mode":"test","object":"Rate","rate":"11.33","retail_currency":"USD","retail_rate":"17.50","service":"GroundAdvantage","shipment_id":"shp_82886821b18847e198e9028ce6b7617a","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_0a3f1aa27b784c918091c3948b14fb5a","list_currency":"USD","list_rate":"12.82","mode":"test","object":"Rate","rate":"11.33","retail_currency":"USD","retail_rate":"17.50","service":"First","shipment_id":[...]
