---
version: 1
interactions:
  - request:
      body: '{"payment_method":{"payment_method_reference":"ba_123","priority":"primary","stripe_customer_id":"cus_123"}}'
      form: {}
      headers:
        Authorization:
          - REDACTED
        Content-Type:
          - application/json
      url: https://api.easypost.com/beta/referral_customers/payment_method
      method: POST
    response:
      body: '{"error":{"code":"BILLING.INVALID_PAYMENT_GATEWAY_REFERENCE","errors":[],"message":"Invalid
      Payment Gateway Reference."}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Backend:
          - easypost
        X-Ep-Request-Uuid:
          - 32e015fa6568ec3ae7896122001b457a
        X-Node:
          - bigweb34nuq
        X-Proxied:
          - intlb2nuq b3de2c47ef
          - extlb1nuq 003ad9bca0
        X-Version-Label:
          - easypost-202311301748-2efb918c5f-master
      status: 422 Unprocessable Entity
      code: 422
      duration: ""
