---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"created_at":"2022-09-21T16:23:15Z","id":"batch_a9179a6d50e941f0b62135bc32400cfc","label_url":null,"mode":"test","num_shipments":1,"object":"EasyPost::Entity::Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"creating","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-21T16:23:15Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7df69fd5751e7eb642ad15de3eea183b"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d1fa47f4632b3a73ec8c56df00172e5a
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb3wdc 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_a9179a6d50e941f0b62135bc32400cfc/buy
    method: POST
  response:
    body: '{"created_at":"2022-09-21T16:23:15Z","id":"batch_a9179a6d50e941f0b62135bc32400cfc","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"queued_for_purchase","id":"shp_46dcdfe94aaa4305a2cbb61dd9a6da1d","reference":null,"tracking_code":null}],"state":"created","status":{"created":1,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-21T16:23:16Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1a1df1ffc939c1f1ee8961552068d7f"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d1fa47f4632b3a74ec8c56df00172e6f
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb3wdc 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: file_format=
    form:
      file_format:
      - ""
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches/batch_a9179a6d50e941f0b62135bc32400cfc/scan_form
    method: POST
  response:
    body: '{"created_at":"2022-09-21T16:23:15Z","id":"batch_a9179a6d50e941f0b62135bc32400cfc","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":{"address":null,"batch_id":"batch_a9179a6d50e941f0b62135bc32400cfc","confirmation":null,"created_at":"2022-09-21T16:23:21Z","form_file_type":null,"form_url":null,"id":"sf_877114da9ba94e4ab26a62458aa03c63","message":null,"object":"ScanForm","status":"creating","tracking_codes":[],"updated_at":"2022-09-21T16:23:21Z"},"shipments":[{"batch_message":null,"batch_status":"postage_purchased","id":"shp_46dcdfe94aaa4305a2cbb61dd9a6da1d","reference":null,"tracking_code":"9400100109361138694087"}],"state":"purchased","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":1,"queued_for_purchase":0},"updated_at":"2022-09-21T16:23:21Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0cce09eae844246ca3d0dd4d37b5d4e7"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d1fa47f4632b3a79ec8c56df00172fde
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb3wdc 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
