---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","company":"EasyPost","country":"US","email":"REDACTED","phone":"REDACTED","state":"CA","street1":"417
      montgomery street","street2":"FL 5","zip":"94104"},"verify":["delivery"]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2023-11-30T20:10:16+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_7aaa30068fbc11eeace3ac1f6bc539aa","mode":"test","name":null,"object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"417
      MONTGOMERY ST FL 5","street2":"","updated_at":"2023-11-30T20:10:16+00:00","verifications":{"delivery":{"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"},"errors":[],"success":true}},"zip":"94104-1129"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_7aaa30068fbc11eeace3ac1f6bc539aa
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 32e015fa6568ec28e7896122001b32b4
      X-Node:
      - bigweb32nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 201 Created
    code: 201
    duration: ""
