---
version: 1
interactions:
- request:
    body: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/trackers
    method: POST
  response:
    body: '{"carrier":"USPS","carrier_detail":null,"created_at":"2022-09-20T23:29:27Z","est_delivery_date":"2022-09-20T23:29:27Z","fees":[{"amount":"0.02000","charged":false,"object":"Fee","refunded":false,"type":"TrackerFee"}],"finalized":true,"id":"trk_f961b1ed36fa4011882de15202ef9866","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2Y5NjFiMWVkMzZmYTQwMTE4ODJkZTE1MjAyZWY5ODY2","shipment_id":null,"signed_by":null,"status":"pre_transit","status_detail":"unknown","tracking_code":"EZ1000000001","tracking_details":[{"carrier_code":null,"datetime":"2022-08-20T23:29:27Z","description":null,"message":"Pre-Shipment
      information received","object":"TrackingDetail","source":"EasyPost","status":"pre_transit","status_detail":null,"tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":null,"datetime":"2022-08-21T18:18:27Z","description":null,"message":"Shipping
      label created","object":"TrackingDetail","source":"EasyPost","status":"pre_transit","status_detail":null,"tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}}],"updated_at":"2022-09-20T23:29:27Z","weight":17.6}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"793145a5e6cb3d61c3a555eb65618618"
      Location:
      - /api/v2/trackers/trk_f961b1ed36fa4011882de15202ef9866
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4cd7ec8cdb430010949f
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
