---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:08:50Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822310","updated_at":"2022-03-03T19:08:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5c2e60159b2511ec9da6ac1f6b0a0d1e","object":"Address","created_at":"2022-03-03T19:08:50+00:00","updated_at":"2022-03-03T19:08:50+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_cef969a2c7764190973b6be6808f3465","object":"Parcel","created_at":"2022-03-03T19:08:50Z","updated_at":"2022-03-03T19:08:50Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_7ccced6e52c849b48c408696f4844fd5","created_at":"2022-03-03T19:08:50Z","updated_at":"2022-03-03T19:08:51Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T19:08:50Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/f460593aef1343b395de23979ee0dde1.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c9971fc37e904199a51c3b563a4f6534","object":"Rate","created_at":"2022-03-03T19:08:50Z","updated_at":"2022-03-03T19:08:50Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_8f383cc2ee4145c38cfc54d948a3e319","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_6600ff50cbf044cc825439196f961330","object":"Rate","created_at":"2022-03-03T19:08:50Z","updated_at":"2022-03-03T19:08:50Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8f383cc2ee4145c38cfc54d948a3e319","carrie[...]
- request:
    body: '{"insurance":{"amount":"100","carrier":"USPS","tracking_code":"9400100109361109822310","to_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/insurances
    method: POST
  response:
    body: '{"id":"ins_8aa095ee3fae4fbdae81ad35ec1f7a90","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_5ce9a9639b2511ec9dd1ac1f6b0a0d1e","object":"Address","created_at":"2022-03-03T19:08:51+00:00","updated_at":"2022-03-03T19:08:51+00:00","name":"JACK
      SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_5cf0c6699b2511ecbb37ac1f6bc7bdc6","object":"Address","created_at":"2022-03-03T19:08:51+00:00","updated_at":"2022-03-03T19:08:51+00:00","name":"JACK
      SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_45ec5eabdd7647358514d0d5a3a7f278","object":"Tracker","mode":"test","tracking_code":"9400100109361109822310","status":"pre_transit","status_detail":"status_update","created_at":"2022-03-03T19:08:51Z","updated_at":"2022-03-03T19:08:51Z","signed_by":null,"weight":null,"est_delivery_date":"2022-03-03T19:08:51Z","shipment_id":"shp_8f383cc2ee4145c38cfc54d948a3e319","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-02-03T19:08:51Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-02-04T07:45:51Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
      Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzQ1ZWM1ZWFiZGQ3NjQ3MzU4NTE0ZDBkNWEzYTdmMjc4","fees":[]},"tracking_code":"9400100109361109822310","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-03-03T19:08:51Z","updated_at":"2022-03-03T19:08:51Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"03c3e1e98688609a50467a6dea126ba4"
      Location:
      - /api/v2/insurances/ins_8aa095ee3fae4fbdae81ad35ec1f7a90
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211243ff135a20001f2148
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/insurances/ins_8aa095ee3fae4fbdae81ad35ec1f7a90
    method: GET
  response:
    body: '{"id":"ins_8aa095ee3fae4fbdae81ad35ec1f7a90","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_5ce9a9639b2511ec9dd1ac1f6b0a0d1e","object":"Address","created_at":"2022-03-03T19:08:51+00:00","updated_at":"2022-03-03T19:08[...]
