---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
<<<<<<< HEAD
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-06T16:39:46+00:00","email":null,"federal_tax_id":null,"id":"adr_46382b38e5b711ec98d0ac1f6bc7bdc6","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-06T16:39:46+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-06T16:39:46Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-06T16:39:46+00:00","email":null,"federal_tax_id":null,"id":"adr_463a0e0ce5b711eca22bac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-06T16:39:46+00:00","verifications":{},"zip":"94107"},"id":"shp_0947b19bb0724b6c92392e80e4283efd","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-06T16:39:46Z","height":4,"id":"prcl_9e45bfa65b234f57877d61a2af681b6d","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-06T16:39:46Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-06T16:39:46Z","date_advance":0,"id":"pl_253e26be527f439ea01116379eacae01","integrated_form":"none","label_date":"2022-06-06T16:39:46Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220606/d29fb03bf88848cda352ac3532ed6d59.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-06T16:39:47Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-06T16:39:46Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_64b78d77758e4ac2b8fc3a72abdf3abb","list_currency":"USD","list_rate":"7.22","mode":"test","object":"Rate","rate":"7.22","retail_currency":"USD","retail_rate":"7.22","service":"ParcelSelect","shipment_id":"shp_0947b19bb0724b6c92392e80e4283efd","updated_at":"2022-06-06T16:39:46Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-06T16:39:46Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_cd02a4c2136441b582ac66da6bbce009","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70"[...]
- request:
<<<<<<< HEAD
    body: '{"pickup":{"min_datetime":"2022-06-27T00:00:00Z","max_datetime":"2022-06-27T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_0947b19bb0724b6c92392e80e4283efd","object":"Shipment","mode":"test","created_at":"2022-06-06T16:39:46Z","updated_at":"2022-06-06T16:39:47Z","to_address":{"id":"adr_46382b38e5b711ec98d0ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-06-06T16:39:46Z","updated_at":"2022-06-06T16:39:46Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_463a0e0ce5b711eca22bac1f6bc72124","object":"Address","mode":"test","created_at":"2022-06-06T16:39:46Z","updated_at":"2022-06-06T16:39:46Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_463a0e0ce5b711eca22bac1f6bc72124","object":"Address","mode":"test","created_at":"2022-06-06T16:39:46Z","updated_at":"2022-06-06T16:39:46Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_46382b38e5b711ec98d0ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-06[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
<<<<<<< HEAD
    url: https://api.easypost.com/v2/pickups/pickup_ac8185581a4c47de9a49f246a784a330
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-06T16:39:47+00:00","email":null,"federal_tax_id":null,"id":"adr_46e4c2d8e5b711eca26eac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-06T16:39:47+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2022-06-06T16:39:47Z","id":"pickup_ac8185581a4c47de9a49f246a784a330","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-06-27T00:00:00Z","messages":[],"min_datetime":"2022-06-27T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-06T16:39:47Z","currency":"USD","id":"pickuprate_c9fb2adff5904a469003f1da22a0e1f0","mode":"test","object":"PickupRate","pickup_id":"pickup_ac8185581a4c47de9a49f246a784a330","rate":"0.00","service":"NextDay","updated_at":"2022-06-06T16:39:47Z"}],"reference":null,"status":"unknown","updated_at":"2022-06-06T16:39:47Z"}'
=======
    url: https://api.easypost.com/v2/pickups/pickup_3994fa822d1144b6a59e7dc24c84b5cc
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-03T17:21:28+00:00","email":null,"federal_tax_id":null,"id":"adr_9aab00b5e36111eca516ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-03T17:21:28+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2022-06-03T17:21:28Z","id":"pickup_3994fa822d1144b6a59e7dc24c84b5cc","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-06-04T00:00:00Z","messages":[],"min_datetime":"2022-06-04T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-03T17:21:29Z","currency":"USD","id":"pickuprate_59956328fda540f89b900994572bb39b","mode":"test","object":"PickupRate","pickup_id":"pickup_3994fa822d1144b6a59e7dc24c84b5cc","rate":"0.00","service":"NextDay","updated_at":"2022-06-03T17:21:29Z"}],"reference":null,"status":"unknown","updated_at":"2022-06-03T17:21:28Z"}'
>>>>>>> d549808 (re-record cassettes.)
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
<<<<<<< HEAD
      - W/"8ad2991428040bed958cad30004c7df4"
=======
      - W/"0f323981d8da3662454b8bb4371fde6c"
>>>>>>> d549808 (re-record cassettes.)
      Expires:
      - "0"
      Pragma:
      - no-cache
      Referrer-Policy:
      - strict-origin-when-cross-origin
      Strict-Transport-Security:
      - max-age=31536000; includeSubDomains; preload
      X-Backend:
      - easypost
      X-Content-Type-Options:
      - nosniff
      X-Download-Options:
      - noopen
      X-Ep-Request-Uuid:
<<<<<<< HEAD
      - 60001ede629e2dd4e62fa04a0018ad63
      X-Frame-Options:
      - SAMEORIGIN
      X-Node:
      - bigweb8nuq
=======
      - db920f87629a4319ff235f60001b0bf6
      X-Frame-Options:
      - SAMEORIGIN
      X-Node:
      - bigweb2nuq
>>>>>>> d549808 (re-record cassettes.)
      X-Permitted-Cross-Domain-Policies:
      - none
      X-Proxied:
      - intlb2nuq 570dfcbc0a
<<<<<<< HEAD
      - extlb1nuq 0910011e7e
      X-Runtime:
      - "0.042259"
=======
      - extlb2nuq 0910011e7e
      X-Runtime:
      - "0.156545"
>>>>>>> d549808 (re-record cassettes.)
      X-Version-Label:
      - easypost-202206030043-0fd9609f83-master
      X-Xss-Protection:
      - 1; mode=block
    status: 200 OK
    code: 200
    duration: ""
