---
version: 1
interactions:
- request:
    body: '{"shipment":null}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"error":{"code":"SHIPMENT.INVALID_PARAMS","message":"Unable to create
      shipment, one or more parameters were invalid.","errors":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9724e78b9ba7006bb8dd
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
