---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users
    method: GET
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.03","children":[{"children":[],"created_at":"2022-02-07T20:08:11Z","id":"user_1d75fce0f97c4c3aa42ea008528a1ef0","name":"Go
      Test User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"children":[],"created_at":"2022-03-02T00:15:31Z","id":"user_6bf3fb5f29984af69d11d4b73cfeaf45","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"children":[],"created_at":"2022-03-02T00:17:20Z","id":"user_e1c08a41e8cc42a3844cf69c621ceaa4","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"children":[],"created_at":"2[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users/user_a76997d126dd488f8ad22d52301300b0
    method: GET
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.03","children":[{"children":[],"created_at":"2022-02-07T20:08:11Z","id":"user_1d75fce0f97c4c3aa42ea008528a1ef0","name":"Go
      Test User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"c[...]
