---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}},null]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_4dda473a4e174114a8092ad24af3d3ff","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-05-26T15:04:52Z","updated_at":"2022-05-26T15:04:52Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"749b2078ce33a70e1549c4ad424d8a41"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9714e78b9ba7006bb199
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
