---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/refunds
    method: GET
  response:
    body: '{"has_more":false,"refunds":[{"carrier":"USPS","confirmation_number":null,"created_at":"2023-11-30T20:11:39Z","id":"rfnd_ab6ff8e35a634372be843dc71dfc8833","object":"Refund","shipment_id":"shp_f0e3f4f2e9ad40529b3330aa3d9416d8","status":"submitted","tracking_code":"9400100105442287383559","updated_at":"2023-11-30T20:11:39Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec7be7896122001b7ecd
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/refunds/rfnd_ab6ff8e35a634372be843dc71dfc8833
    method: GET
  response:
    body: '{"carrier":"USPS","confirmation_number":null,"created_at":"2023-11-30T20:11:39Z","id":"rfnd_ab6ff8e35a634372be843dc71dfc8833","object":"Refund","shipment_id":"shp_f0e3f4f2e9ad40529b3330aa3d9416d8","status":"submitted","tracking_code":"9400100105442287383559","updated_at":"2023-11-30T20:11:39Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec7be7896122001b7efb
      X-Node:
      - bigweb38nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
