---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-05-05T21:33:47Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117993170","updated_at":"2022-05-05T21:33:48Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_0c44b5c0ccbb11ec802aac1f6bc7bdc6","object":"Address","created_at":"2022-05-05T21:33:47+00:00","updated_at":"2022-05-05T21:33:47+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5054a18c3e5c4d4e981577f1be3cfefa","object":"Parcel","created_at":"2022-05-05T21:33:47Z","updated_at":"2022-05-05T21:33:47Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_6b1adf802cee4c339c9d4e2bd74cb710","created_at":"2022-05-05T21:33:48Z","updated_at":"2022-05-05T21:33:48Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-05T21:33:48Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220505/c37297f1cffc465394b4a0d743b380fe.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_52a3c82d4dc848ada2e09d356c4eb8f2","object":"Rate","created_at":"2022-05-05T21:33:47Z","updated_at":"2022-05-05T21:33:47Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_88870f083d7b46e28753e1ec7c1e373c","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_ea35342e91a64ee0ad2c410ad84fd7c1","object":"Rate","created_at":"2022-05-05T21:33:47Z","updated_at":"2022-05-05T21:33:47Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_88870f083d7b46e28753e1ec7c1e373c","carrie[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-05-09T00:00:00Z","max_datetime":"2022-05-09T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_88870f083d7b46e28753e1ec7c1e373c","object":"Shipment","mode":"test","created_at":"2022-05-05T21:33:47Z","updated_at":"2022-05-05T21:33:48Z","to_address":{"id":"adr_0c42b67fccbb11ec8029ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-05-05T21:33:47Z","updated_at":"2022-05-05T21:33:48Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_0c44b5c0ccbb11ec802aac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-05-05T21:33:47Z","updated_at":"2022-05-05T21:33:47Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_0c44b5c0ccbb11ec802aac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-05-05T21:33:47Z","updated_at":"2022-05-05T21:33:47Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_0c42b67fccbb11ec8029ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-05-05T21:33:47Z","updated_at":"2022-05-05T21:33:48Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/pickups/pickup_a56471b36e3b4660b850079085916054
    method: GET
  response:
    body: '{"id":"pickup_a56471b36e3b4660b850079085916054","object":"Pickup","created_at":"2022-05-05T21:33:48Z","updated_at":"2022-05-05T21:33:48Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-09T00:00:00Z","max_datetime":"2022-05-09T00:00:00Z","is_account_address":false,"instructions":"Pickup
      at front door","messages":[],"confirmation":null,"address":{"id":"adr_0cd8ea82ccbb11ec8035ac1f6bc7bdc6","object":"Address","created_at":"2022-05-05T21:33:48+00:00","updated_at":"2022-05-05T21:33:48+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-05T21:33:49Z","updated_at":"2022-05-05T21:33:49Z","carrier":"USPS","pickup_id":"pickup_a56471b36e3b4660b850079085916054","id":"pickuprate_2b6b27f3025a4e84a8278cf5901dd117","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da466e72882155c2bf595b7cf8b337d2"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 844d31c8627442bde787d5a5003e2a00
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq fde591f008
      - extlb2nuq c51cdb8bf2
      X-Version-Label:
      - easypost-202205052025-12b8594e25-master
    status: 200 OK
    code: 200
    duration: ""
