---
version: 1
interactions:
- request:
    body: '{"order":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"shipments":[{"parcel":{"weight":10.2}},{"parcel":{"weight":17.5}}],"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-08-02T23:33:12+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_956b5b5b512711ef91eaac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:33:12+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:33:12Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:33:12+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_956d2834512711efbff8ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:33:12+00:00","verifications":{},"zip":"94107"},"id":"order_c7effbf5f7094a1f9fcd9dfb3425e7ab","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_e5ec6b8b40b04e9d9f64733a45f7823e","list_currency":"USD","list_rate":"70.30","mode":"test","object":"Rate","rate":"70.30","retail_currency":"USD","retail_rate":"80.70","service":"Express","shipment_id":"shp_755e1bba99f64156bcd0f08d391d29e6","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_5b5fcb22ef5c4a03ac16821c9157aa98","list_currency":"USD","list_rate":"17.22","mode":"test","object":"Rate","rate":"14.48","retail_currency":"USD","retail_rate":"22.30","service":"Priority","shipment_id":"shp_755e1bba99f64156bcd0f08d391d29e6","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_661d2028abb54d12a471cbc387736655","list_currency":"USD","list_rate":"12.82","mode":"test","object":"Rate","rate":"11.40","retail_currency":"USD","retail_rate":"17.50","service":"GroundAdvantage","shipment_id":"shp_755e1bba99f64156bcd0f08d391d29e6","updated_at":null}],"reference":"","return_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:33:12+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_956d2834512711efbff8ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:33:12+00:00","verifications":{},"zip":"94107"},"shipments":[{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:33:12+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_956b5b5b512711ef91eaac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:33:12+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:33:12Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:33:12+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_956d2834512711efbff8ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:33:12+00:00","verifications":{},"zip":"94107"},"id":"shp_755e1bba99f64156bcd0f08d391d29e6","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":"order_c7effbf5f7094a1f9fcd9dfb3425e7ab","parcel":{"created_at":"2024-08-02T23:33:12Z","height":null,"id":"prcl_18f4c8878d044c908ada6b07daf142ce","length":null,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:33:12Z","weight":10.2,"width":null},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:33:12Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_e5ec6b8b40b04e9d9f64733a45f7823e","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_755e1bba99f64156bcd[...]
- request:
    body: '{"carrier":"USPS","service":"GroundAdvantage"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders/order_c7effbf5f7094a1f9fcd9dfb3425e7ab/buy
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"REDONDO BEACH","company":null,"country":"US","created_at":"2024-08-02T23:33:12+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_956b5b5b512711ef91eaac1f6bc53342","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":"","updated_at":"2024-08-02T23:33:14+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2024-08-02T23:33:12Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:33:12+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_956d2834512711efbff8ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      T[...]
