---
version: 1
interactions:
- request:
    body: '{"shipment":{"reference":"123","to_address":{"street1":"179 N Harbor Dr","city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","name":"Dr. Steve Brule","phone":"3331114444"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
      30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"invoice_number":"123","label_format":"PNG"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-07-28T17:36:16+00:00","email":null,"federal_tax_id":null,"id":"adr_c89edbf50e9b11ed9eb4ac1f6b0a0d1e","mode":"test","name":"Dr.
      Steve Brule","object":"Address","phone":"3331114444","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-07-28T17:36:16+00:00","verifications":{},"zip":"90277"},"created_at":"2022-07-28T17:36:16Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-07-28T17:36:16Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-07-28T17:36:16Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_d6192f6ffcb8413595032c0bb2490d46","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-07-28T17:36:16Z","value":"23.0","weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_1180fc9ac5504ddda42783af2dbff2c4","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-07-28T17:36:16Z"},"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-07-28T17:36:16+00:00","email":null,"federal_tax_id":null,"id":"adr_c8a0cdaa0e9b11ed9a7bac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-07-28T17:36:16+00:00","verifications":{},"zip":"94107"},"id":"shp_2de781ceed4445fb8a0c32a70ba921b2","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-07-28T17:36:16Z","height":4,"id":"prcl_1a87e475d8754bca8420c9c9cc2c0345","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-07-28T17:36:16Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-07-28T17:36:16Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_9cf93dde7a6148aa8e06dc91b9c79761","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45","service":"Priority","shipment_id":"shp_2de781ceed4445fb8a0c32a70ba921b2","updated_at":"2022-07-28T17:36:16Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-07-28T17:36:16Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_5064138adefa4a8f8d55488af4b8d8e8","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75"[...]
- request:
    body: '{"rate":{"id":"rate_ddf354df54cb419e956ae3479e44c354","object":"Rate","mode":"test","created_at":"2022-07-28T17:36:16Z","updated_at":"2022-07-28T17:36:16Z","service":"First","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","shipment_id":"shp_2de781ceed4445fb8a0c32a70ba921b2","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","delivery_days":3,"est_delivery_days":3,"billing_type":"easypost"},"carbon_offset":true}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_2de781ceed4445fb8a0c32a70ba921b2/buy
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2022-07-28T17:36:16+00:00","email":null,"federal_tax_id":null,"id":"adr_c89edbf50e9b11ed9eb4ac1f6b0a0d1e","mode":"test","name":"DR.
      STEVE BRULE","object":"Address","phone":"3331114444","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":null,"updated_at":"2022-07-28T17:36:17+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2022-07-28T17:36:16Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-07-28T17:36:16Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-07-28T17:36:16Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_d6192f6ffcb8413595032c0bb2490d46","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-07-28T17:36:16Z","value":"23.0","weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_1180fc9ac5504ddda42783af2dbff2c4","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-07-28T17:36:16Z"},"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"},{"amount":"0.11000","charged":true,"object":"Fee","refunded":false,"type":"CarbonOffsetFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-07-28T17:36:16+00:00","email":null,"federal_tax_id":null,"id":"adr_c8a0cdaa0e9b11ed9a7bac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-07-28T17:36:16+00:00","verifications":{},"zip":"94107"},"id":"shp_2de781ceed4445fb8a0c32a70ba921b2","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-07-28T17:36:16Z","height":4,"id":"prcl_1a87e475d8754bca8420c9c9cc2c0345","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-07-28T17:36:16Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-07-28T17:36:17Z","date_advance":0,"id":"pl_488750f4a2184032933625e1432da523","integrated_form":"none","label_date":"2022-07-28T17:36:17Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/ade8737f724343e4864c9762554f1afb.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-07-28T17:36:17Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-07-28T17:36:16Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_9cf93dde7a6148aa8e06dc91b9c79761","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45",[...]
