---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-02-26","end_date":"2022-02-27"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/refund
    method: POST
  response:
    body: '{"id":"refrep_43a876b4b13b47159b14f3a340ea4b05","object":"RefundReport","created_at":"2022-03-03T19:09:15Z","updated_at":"2022-03-03T19:09:15Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"new","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2746612423031a0e5c6ba4f0f2fc478d"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125aff135a20001f26a5
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/reports/refund/refrep_43a876b4b13b47159b14f3a340ea4b05
    method: GET
  response:
    body: '{"id":"refrep_43a876b4b13b47159b14f3a340ea4b05","object":"RefundReport","created_at":"2022-03-03T19:09:15Z","updated_at":"2022-03-03T19:09:15Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"empty","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c7a4f9daec316c4c681985af1e08f0e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125bff135a20001f26af
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
