---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/trackers
    method: GET
  response:
    body: '{"has_more":true,"trackers":[{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":{"city":"CHARLESTON","country":null,"object":"TrackingLocation","state":"SC","zip":"29407"},"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":"2023-02-09T08:59:21Z","object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"NORTH HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77315"},"service":"First-Class
      Package Service"},"created_at":"2023-03-06T19:05:21Z","est_delivery_date":"2023-03-06T19:08:21Z","fees":[],"id":"trk_f24872babe314092a4dd98707494d5e2","mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2YyNDg3MmJhYmUzMTQwOTJhNGRkOTg3MDc0OTRkNWUy","shipment_id":"shp_49cdd7d0a71d498ba3e4547881118908","signed_by":"John
      Tester","status":"delivered","status_detail":"arrived_at_destination","tracking_code":"9400100104262186527561","tracking_details":[{"carrier_code":null,"datetime":"2023-02-06T19:08:21Z","description":null,"message":"Pre-Shipment
      Info Sent to USPS","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":null,"datetime":"2023-02-07T07:45:21Z","description":null,"message":"Shipping
      Label Created","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"}},{"carrier_code":null,"datetime":"2023-02-07T17:50:21Z","description":null,"message":"Arrived
   [...]
[...]
