---
version: 1
interactions:
- request:
    body: '{"order":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"shipments":[{"to_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}],"is_return":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-11T20:32:59Z","updated_at":"2022-04-11T20:32:59Z","customs_info":null,"from_address":{"id":"adr_93eb99c8b9d611ec97dfac1f6bc72124","object":"Address","created_at":"2022-04-11T20:32:59+00:00","updated_at":"2022-04-11T20:32:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_93e871c5b9d611ec84f2ac1f6b0a0d1e","object":"Address","created_at":"2022-04-11T20:32:59+00:00","updated_at":"2022-04-11T20:32:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_93e871c5b9d611ec84f2ac1f6b0a0d1e","object":"Address","created_at":"2022-04-11T20:32:59+00:00","updated_at":"2022-04-11T20:32:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_93eb99c8b9d611ec97dfac1f6bc72124","object":"Address","created_at":"2022-04-11T20:32:59+00:00","updated_at":"2022-04-11T20:32:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-04-11T20:32:59Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-04-11T20:32:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_93eb99c8b9d611ec97dfac1f6bc72124","object":"Address","created_at":"2022-04-11T20:32:59+00:00","updated_at":"2022-04-11T20:32:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_4bf4058627084fe8a1db6347099cad95","parcel":{"id":"prcl_999cc71df52f4c7889d6a7b8d3aeaabe","object":"Parcel","created_at":"2022-04-11T20:32:59Z","updated_at":"2022-04-11T20:32:59Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_0ba44a8081bf47f79906d9a1ecb32354","object":"Rate","created_at":"2022-04-11T20:32:59Z","updated_at":"2022-04-11T20:32:59Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_701e4bfeadf84b1d974a6ec9dcf54ea1","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_554d9ae2851f481abb33caff3d4260e5","object":"Rate","created_at":"2022-04-11T20:32:59Z","updated_at":"2022-04-11T20:32:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_701e4bfeadf84b1d974a6ec9dcf54ea1","ca[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/orders/order_4bf4058627084fe8a1db6347099cad95/rates
    method: GET
  response:
    body: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-11T20:32:59Z","updated_at":"2022-04-11T20:32:59Z","customs_info":null,"from_address":{"id":"adr_93eb99c8b9d611ec97dfac1f6bc72124","object":"Address","created_at":"2022-04-11T20:32[...]
