---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"417 montgomery streat","street2":"FL 5","city":"San
      Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"415-123-4567"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_54b373aa9b2511eca3dbac1f6bc7b362","object":"Address","created_at":"2022-03-03T19:08:37+00:00","updated_at":"2022-03-03T19:08:37+00:00","name":null,"company":"EasyPost","street1":"417
      montgomery streat","street2":"FL 5","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bdde9f02ea3f257f2c9231a9bd7a84c9"
      Location:
      - /api/v2/addresses/adr_54b373aa9b2511eca3dbac1f6bc7b362
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211235ff135a20001f1e35
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
