---
version: 1
interactions:
- request:
    body: '{"user":{"name":"Test User"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users
    method: POST
  response:
    body: '{"api_keys":[],"children":[],"created_at":"2022-08-16T20:24:40Z","id":"user_5542684885074881acbac49b4ec74377","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"34d06a37f437c65f129735cf658ccc71"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfd08e78a92e70001af18
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users/user_5542684885074881acbac49b4ec74377
    method: DELETE
  response:
    body: ""
    headers:
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfd09e78a92e70001af52
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 204 No Content
    code: 204
    duration: ""
