---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-02-26","end_date":"2022-02-27"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"id":"shprep_0a17c4e97af5461fbcede293bb2184f9","object":"ShipmentReport","created_at":"2022-03-03T19:09:16Z","updated_at":"2022-03-03T19:09:16Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f7d6e1951030df171075dc67f72d6960"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125cff135a20001f26dd
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/reports/shipment/shprep_0a17c4e97af5461fbcede293bb2184f9
    method: GET
  response:
    body: '{"id":"shprep_0a17c4e97af5461fbcede293bb2184f9","object":"ShipmentReport","created_at":"2022-03-03T19:09:16Z","updated_at":"2022-03-03T19:09:16Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f7d6e1951030df171075dc67f72d6960"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125cff135a20001f26ea
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
