---
version: 1
interactions:
- request:
    body: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_80a6de22abf74e3587fb0c765541b966","object":"Parcel","created_at":"2022-08-19T17:47:56Z","updated_at":"2022-08-19T17:47:56Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e70895284b772d962676767ea0afd1c"
      Location:
      - /api/v2/parcels.prcl_80a6de22abf74e3587fb0c765541b966
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccccff246ba1007015ac
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 201 Created
    code: 201
    duration: ""
