---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T16:19:42+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_32c7cec839c911ed9868ac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T16:19:42+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-21T16:19:42Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-21T16:19:42+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_32ca23ca39c911ed9ba1ac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T16:19:42+00:00","verifications":{},"zip":"90277"},"id":"shp_1d409eb08865479ea5850247d6b4b3e1","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-21T16:19:42Z","height":4,"id":"prcl_ab6ab0bf9eb54f48a5bde5e9d0a4dccf","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-21T16:19:42Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-21T16:19:42Z","date_advance":0,"id":"pl_1deb8552511a4b258cc6109bc45ad03f","integrated_form":"none","label_date":"2022-09-21T16:19:42Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220921/a372f0e3569d496880eee0e8cbb61c7c.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-21T16:19:42Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-21T16:19:42Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_4942da4f746a43a2bd22fd18ad1e5c4c","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45","service":"Priority","shipment_id":"shp_1d409eb08865479ea5850247d6b4b3e1","updated_at":"2022-09-21T16:19:42Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-21T16:19:42Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_d1215938ddc841f486066252539184f7","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate[...]
- request:
    body: '{"shipments":[{"id":"shp_1d409eb08865479ea5850247d6b4b3e1"}]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/scan_forms
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2022-09-21T16:19:42+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_32ca23ca39c911ed9ba1ac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T16:19:42+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_a25e6f51a6c748cdbdd42b13da012b67","confirmation":null,"created_at":"2022-09-21T16:19:43Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220921/dd3c412338ea4320af5f40202f952f07.pdf","id":"sf_ce71bc632bf4469cbc936512e9a4ca10","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100109361138693301"],"updated_at":"2022-09-21T16:19:43Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"277bfd880d0eccc4e8b6be537479342e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b399fec8e8d290001473e
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
