---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches
    method: GET
  response:
    body: '{"batches":[{"created_at":"2022-05-16T19:53:59Z","id":"batch_fc7040a24ccb4e6489b0c32809b85250","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":{"address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-16T19:53:59+00:00","email":null,"federal_tax_id":null,"id":"adr_ed4054dbd55111ec946cac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-16T19:53:59+00:00","verifications":{},"zip":"94107"},"batch_id":"batch_fc7040a24ccb4e6489b0c32809b85250","confirmation":null,"created_at":"2022-05-16T19:54:04Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220516/3abb942048c54d1a9aca0abda872c523.pdf","id":"sf_7ea69f1504ed4e05be977e8a7882156c","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100109361119372119"],"updated_at":"2022-05-16T19:54:05Z"},"shipments":[{"batch_message":null,"batch_status":"postage_purchased","id":"shp_02384a29fe074f4a88653cf149505676","reference":null,"tracking_code":"9400100109361119372119"}],"state":"purchased","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":1,"queued_for_purchase":0},"updated_at":"2022-05-16T19:54:04Z"},{"created_at":"2022-05-16T19:54:04Z","id":"batch_f4c176fe23b3494398f3e9da60d9df28","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"created","id":"shp_2643479a9fb1420b9402bd77f80f8efb","reference":null,"tracking_code":null}],"state":"created","status":{"created":1,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_f[...]
