---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/addresses
    method: GET
  response:
    body: '{"addresses":[{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-09-19T21:28:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_f909afc6386111ed8784ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-19T21:28:15+00:00","verifications":{},"zip":"94107"},{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-19T21:28:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_f907a365386111ed8783ac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-19T21:28:15+00:00","verifications":{},"zip":"90277"},{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-15T20:40:23+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9f2e7b05353611ed81f9ac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-15T20:40:23+00:00","verifications":{},"zip":"90277"},{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-15T20:40:23+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9f2c36e4353611ed81f8ac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-15T20:40:23+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-08-22T18:59:18+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_869af82f224c11eda05cac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-08-22T18:59:18+00:00","verifications":{},"zip":"90277"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5f5f0259f4adc049894733e21987de7"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 1ccf69c2632a4c11ecb56f490011bffe
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
