---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/refunds
    method: GET
  response:
    body: '{"refunds":[{"id":"rfnd_5b5b9dc4eeee4f2ab224919d9259c775","object":"Refund","created_at":"2022-08-19T17:48:10Z","updated_at":"2022-08-19T17:48:10Z","tracking_code":"9400100109361133883950","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_1ab35a6b832e4cda885ec5804ebf1697"}],"has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e9ece2cdb4f95eac7717cfce410087fd"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccdaff246ba100701d19
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/refunds/rfnd_5b5b9dc4eeee4f2ab224919d9259c775
    method: GET
  response:
    body: '{"id":"rfnd_5b5b9dc4eeee4f2ab224919d9259c775","object":"Refund","created_at":"2022-08-19T17:48:10Z","updated_at":"2022-08-19T17:48:10Z","tracking_code":"9400100109361133883950","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_1ab35a6b832e4cda885ec5804ebf1697"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7169277af5015c81694346da62a9db3f"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccdbff246ba100701d3d
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
