---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2022-08-16T20:24:33+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_70dec41c1da111edab79ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-08-16T20:24:33+00:00","verifications":{},"zip":"94107"},"created_at":"2022-08-16T20:24:33Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-08-16T20:24:33+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_70e0a1781da111ed8503ac1f6bc7bdc6","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-08-16T20:24:33+00:00","verifications":{},"zip":"90277"},"id":"shp_48bc14aae26e44469e5f59b4b880c7f7","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-08-16T20:24:33Z","height":4,"id":"prcl_a9f424ee31b94df18f8cfb71e1a08af3","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-08-16T20:24:33Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-16T20:24:34Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_1972a2b3762b487890dabbe688f69e21","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_48bc14aae26e44469e5f59b4b880c7f7","updated_at":"2022-08-16T20:24:34Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-16T20:24:34Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_d79796624e534dcca025d7490d4a183e","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75"[...]
- request:
    body: file_format=ZPL
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/shipments/shp_48bc14aae26e44469e5f59b4b880c7f7/label
    method: GET
  response:
    body: '{"error":{"code":"SHIPMENT.POSTAGE.REQUIRED","message":"Postage is required
      to complete this operation.","errors":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfd02e78a92e70001ad1e
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
