---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:08Z","id":"batch_2698822f5cdf4bacadc8df5723bd3740","label_url":null,"mode":"test","num_shipments":1,"object":"EasyPost::Entity::Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"creating","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:08Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b2d80e345bc0188a2ae8d733951a31b5"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 924e0c20632a4c88ec8cdb4300108018
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201945-4c5c97ab34-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_2698822f5cdf4bacadc8df5723bd3740/buy
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:08Z","id":"batch_2698822f5cdf4bacadc8df5723bd3740","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"queued_for_purchase","id":"shp_602367e5c7c24328be7635bddc1ea4be","reference":null,"tracking_code":null}],"state":"created","status":{"created":1,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:08Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab3c0009a2240d75b716157b2aa3696b"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c88ec8cdb4300108021
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: file_format=ZPL
    form:
      file_format:
      - ZPL
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches/batch_2698822f5cdf4bacadc8df5723bd3740/label
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:08Z","id":"batch_2698822f5cdf4bacadc8df5723bd3740","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"postage_purchased","id":"shp_602367e5c7c24328be7635bddc1ea4be","reference":null,"tracking_code":"9400100109361138553414"}],"state":"label_generating","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":1,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:14Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"abc0339a33b0d829d42ffd4fb8383c24"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c8dec8cdb430010819e
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
