---
version: 1
interactions:
- request:
    body: '{"verify":["delivery"],"address":{"street1":"417 montgomery street","street2":"FL
      5","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"5555555555","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses/create_and_verify
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-08-16T20:24:09+00:00","email":"TEST@EXAMPLE.COM","federal_tax_id":null,"id":"adr_6259d34e1da111ed94d7ac1f6bc72124","mode":"test","name":null,"object":"Address","phone":"5555555555","residential":false,"state":"CA","state_tax_id":null,"street1":"417
      MONTGOMERY ST FL 5","street2":"","updated_at":"2022-08-16T20:24:09+00:00","verifications":{"delivery":{"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"},"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
      secondary information(Apt/Suite#)","suggestion":null}],"success":true}},"zip":"94104-1129"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"00ff01267247b8b110c75096fac304d9"
      Location:
      - /api/v2/addresses/adr_6259d34e1da111ed94d7ac1f6bc72124
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfce9e78a92e70001a54a
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 200 OK
    code: 200
    duration: ""
