---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-03-06T19:05:13+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d2a0d18fbc5111ed9dfeac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2023-03-06T19:05:13+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2023-03-06T19:05:13Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"6.07000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-03-06T19:05:13+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d2a352b4bc5111ed8da2ac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-03-06T19:05:13+00:00","verifications":{},"zip":"90277"},"id":"shp_cff0068473d243d182f5ebd822c9ccc6","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-03-06T19:05:13Z","height":4,"id":"prcl_31d399b7217a405885204161921a4f07","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-03-06T19:05:13Z","weight":15.4,"width":8},"postage_label":{"created_at":"2023-03-06T19:05:13Z","date_advance":0,"id":"pl_d2e3f01ae9014f0b8ed11a7074676d21","integrated_form":"none","label_date":"2023-03-06T19:05:13Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230306/edb65c062c16472e9bd8faef851c0960.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2023-03-06T19:05:13Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-03-06T19:05:13Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_8d18807e7b8145e89abbbbe20168a3e9","list_currency":"USD","list_rate":"31.25","mode":"test","object":"Rate","rate":"31.25","retail_currency":"USD","retail_rate":"35.80","service":"Express","shipment_id":"shp_cff0068473d243d182f5ebd822c9ccc6","updated_at":"2023-03-06T19:05:13Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-03-06T19:05:13Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_c1085dc205a94cf98bd4d5fb26259ff0","list_currency":"USD","list_rate":"8.24","mode":"test","object":"Rate","rate":"7.58","retail_currency":"USD","retail_rate":"10.20[...]
- request:
    body: '{"pickup":{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"instructions":"Pickup at front door","max_datetime":"2023-03-08T00:00:00Z","min_datetime":"2023-03-08T00:00:00Z","shipment":{"buyer_address":{"city":"SAN
      FRANCISCO","country":"US","created_at":"2023-03-06T19:05:13Z","email":"REDACTED","id":"adr_d2a0d18fbc5111ed9dfeac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","street1":"388
      TOWNSEND ST APT 20","updated_at":"2023-03-06T19:05:13Z","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_a7718d6597c24c339c56a0010f2cc282/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2023-03-06T19:05:14+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d3641dd1bc5111ed9e6fac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-03-06T19:05:14+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC62744370","created_at":"2023-03-06T19:05:14Z","id":"pickup_a7718d6597c24c339c56a0010f2cc282","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2023-03-08T00:00:00Z","messages":[],"min_datetime":"2023-03-08T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2023-03-06T19:05:15Z","currency":"USD","id":"pickuprate_e117efce0a7247ad88f4189e30290dac","mode":"test","object":"PickupRate","pickup_id":"pickup_a7718d6597c24c339c56a0010f2cc282","rate":"0.00","service":"NextDay","updated_at":"2023-03-06T19:05:15Z"}],"reference":null,"status":"scheduled","updated_at":"2023-03-06T19:05:15Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87c25f4d17a1bdc65f7eb30d8079b52e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - a33588b96406396be6773fd400048a1b
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq a40ea751fd
      - extlb2nuq a40ea751fd
      X-Version-Label:
      - easypost-202303032159-702d6b662a-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_a7718d6597c24c339c56a0010f2cc282/cancel
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2023-03-06T19:05:14+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d3641dd1bc5111ed9e6fac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","pho[...]
