---
version: 1
interactions:
- request:
    body: '{"parcel":{"height":4,"length":10,"weight":15.4,"width":8}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"created_at":"2022-09-21T16:19:21Z","height":4,"id":"prcl_6a7b3a802ff849808af32635bcc9e49e","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-21T16:19:21Z","weight":15.4,"width":8}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bd79f64428599580636531e5bb82a2af"
      Location:
      - /api/v2/parcels.prcl_6a7b3a802ff849808af32635bcc9e49e
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3989ec8e8d2900013bf2
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
