---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-05-26T15:05:10+00:00","email":null,"federal_tax_id":null,"id":"adr_3ce98fe7dd0511ecbb27ac1f6bc7bdc6","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-05-26T15:05:11+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-05-26T15:05:10Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:05:10+00:00","email":null,"federal_tax_id":null,"id":"adr_3ceb65b2dd0511ecbb2aac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-26T15:05:10+00:00","verifications":{},"zip":"94107"},"id":"shp_e5148c50f6dc4b5a8631efa7d2e535f0","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-05-26T15:05:10Z","height":4,"id":"prcl_d1d09d597a874094b679f1c675985041","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-05-26T15:05:10Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-05-26T15:05:11Z","date_advance":0,"id":"pl_c190552a96774ed6a323346a3379ece4","integrated_form":"none","label_date":"2022-05-26T15:05:11Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220526/b099c3d5441d4dd0a17d48f994ec47a1.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-05-26T15:05:11Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-05-26T15:05:10Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_968bc22927914b82b9cf57cd11984e24","list_currency":"USD","list_rate":"5.49","mode":"test","object":"Rate","rate":"5.49","retail_currency":"USD","retail_rate":"5.49","service":"First","shipment_id":"shp_e5148c50f6dc4b5a8631efa7d2e535f0","updated_at":"2022-05-26T15:05:10Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-05-26T15:05:10Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_8de7a1337dbd43f6b3a89cfa17c81eb8","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate[...]
- request:
    body: '{"insurance":{"amount":"100","carrier":"USPS","tracking_code":"9400100109361120898172","to_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/insurances
    method: POST
  response:
    body: '{"amount":"100.00000","created_at":"2022-05-26T15:05:12Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-05-26T15:05:12+00:00","email":null,"federal_tax_id":null,"id":"adr_3dc2a48cdd0511ecaa1cac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-05-26T15:05:12+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"id":"ins_1f82938bd0eb47ed91ba790db4488df4","messages":[],"mode":"test","object":"Insurance","provider":"easypost","provider_id":null,"reference":null,"shipment_id":null,"status":"pending","to_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-05-26T15:05:12+00:00","email":null,"federal_tax_id":null,"id":"adr_3dbe38ffdd0511ecba67ac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-05-26T15:05:12+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"tracker":{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":null,"object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"},"service":"First-Class
      Package Service"},"created_at":"2022-05-26T15:05:12Z","est_delivery_date":"2022-05-26T15:05:12Z","fees":[],"finalized":true,"id":"trk_cdb9105393a3463ea6751ab78a0a8457","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2NkYjkxMDUzOTNhMzQ2M2VhNjc1MWFiNzhhMGE4NDU3","shipment_id":"shp_e5148c50f6dc4b5a8631efa7d2e535f0","signed_by":null,"status":"pre_transit","status_detail":"status_update","tracking_code":"9400100109361120898172","tracking_details":[{"carrier_code":null,"datetime":"2022-04-26T15:05:12Z","description":null,"message":"Pre-Shipment
      Info Sent to USPS","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":null,"datetime":"2022-04-27T03:42:12Z","description":null,"message":"Shipping
      Label Created","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"}}],"updated_at":"2022-05-26T15:05:12Z","weight":null},"tracking_code":"9400100109361120898172","updated_at":"2022-05-26T15:05:12Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a4c72357a93897abfa9f6368f7d1644"
      Location:
      - /api/v2/insurances/ins_1f82938bd0eb47ed91ba790db4488df4
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9728e78b9ba7006bbad5
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/insurances/ins_1f82938bd0eb47ed91ba790db4488df4
    method: GET
  response:
    body: '{"amount":"100.00000","created_at":"2022-05-26T15:05:12Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-05-26T15:0[...]
