---
version: 1
interactions:
- request:
    body: '{"shipment":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-04-27T17:54:46+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_98e70fe8e52411edba3eac1f6bc7bdc6","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-04-27T17:54:46+00:00","verifications":{},"zip":"90277"},"created_at":"2023-04-27T17:54:46Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-04-27T17:54:46+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_98eae419e52411edb494ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-04-27T17:54:46+00:00","verifications":{},"zip":"94107"},"id":"shp_b9be695a2f854d2685415bced96dbe73","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Unauthorized.
      Please check credentials and try again","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-04-27T17:54:46Z","height":4,"id":"prcl_de63679c8ca345a7bd03bbfb11217456","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-04-27T17:54:46Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-04-27T17:54:47Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_847242f72c6b4835afb2588d35627233","list_currency":"USD","list_rate":"6.07","mode":"test","object":"Rate","rate":"6.07","retail_currency":"USD","retail_rate":"6.07","service":"First","shipment_id":"shp_b9be695a2f854d2685415bced96dbe73","updated_at":"2023-04-27T17:54:47Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-04-27T17:54:47Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_c75912f72a624bf0afedca5d94ce3571","list_currency":"USD","list_rate":"31.25","mode":"test","object":"Rate","rate":"31.25","retail_currency":"USD","retail_rate[...]
- request:
    body: planned_ship_date=2023-04-28
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/shipments/shp_b9be695a2f854d2685415bced96dbe73/smartrate/delivery_date
    method: GET
  response:
    body: '{"rates":[{"easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":3,"percentile_75":3,"percentile_85":3,"percentile_90":3,"percentile_95":3,"percentile_97":3,"percentile_99":5},"easypost_estimated_delivery_date":"2023-05-01","planned_ship_date":"2023-04-28"},"rate":{"carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-04-27T17:54:47Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_847242f72c6b4835afb2588d35627233","list_currency":"USD","list_rate":6.07,"mode":"test","object":"Rate","rate":6.07,"retail_currency":"USD","retail_rate":6.07,"service":"First","shipment_id":"shp_b9be695a2f854d2685415bced96dbe73","updated_at":"2[...]
