---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-02-26","end_date":"2022-02-27"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"id":"shprep_73945a9a66914fe7869d67a4599fa565","object":"ShipmentReport","created_at":"2022-03-03T19:09:15Z","updated_at":"2022-03-03T19:09:15Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3d55a75f568695e2cbf4fd147082a2a"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125bff135a20001f26d5
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
