---
version: 1
interactions:
- request:
    body: '{"insurance":{"amount":"100","carrier":"USPS","from_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"},"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"tracking_code":"EZ1000000001"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/insurances
    method: POST
  response:
    body: '{"amount":"100.00000","created_at":"2024-04-02T21:40:33Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-04-02T21:40:33+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_a2a5ca7ff13911ee86373cecef1b359e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-04-02T21:40:33+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"id":"ins_dfdbe86c54d14b7b82a337ccfa0cbc03","messages":[],"mode":"test","object":"Insurance","provider":"easypost","provider_id":null,"reference":null,"shipment_id":null,"status":"pending","to_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2024-04-02T21:40:33+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_a2a01f7ef13911eea98dac1f6bc53342","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":"","updated_at":"2024-04-02T21:40:33+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"tracker":{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":null,"object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"},"service":"First-Class
      Package Service"},"created_at":"2024-04-02T21:39:43Z","est_delivery_date":"2024-04-02T21:39:43Z","fees":[],"finalized":true,"id":"trk_a70d538510fa45bfb03d18b4fb8ae4fc","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2E3MGQ1Mzg1MTBmYTQ1YmZiMDNkMThiNGZiOGFlNGZj","shipment_id":null,"signed_by":null,"status":"pre_transit","status_detail":"status_update","tracking_code":"EZ1000000001","tracking_details":[{"carrier_code":"","datetime":"2024-03-02T21:39:43Z","description":"","message":"Pre-Shipment
      Info Sent to USPS","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":"","datetime":"2024-03-03T10:16:43Z","description":"","message":"Shipping
      Label Created","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"}}],"updated_at":"2024-04-02T21:39:43Z","weight":null},"tracking_code":"EZ1000000001","updated_at":"2024-04-02T21:40:33Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/insurances/ins_dfdbe86c54d14b7b82a337ccfa0cbc03
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - ecfb0090660c7b51e78b23cc002f89bd
      X-Node:
      - bigweb32nuq
      X-Proxied:
      - intlb4nuq 39c21b8207
      - extlb1nuq 60566a9ec2
      X-Version-Label:
      - easypost-202404022034-93dc413b70-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/beta/insurances/ins_dfdbe86c54d14b7b82a337ccfa0cbc03/refund
    method: POST
  response:
    body: '{"amount":"100.00000","created_at":"2024-04-02T21:40:33Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-04-02T[...]
