---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-08-19T17:55:45+00:00","email":"TEST@EXAMPLE.COM","federal_tax_id":null,"id":"adr_2684acc71fe811ed96daac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-08-19T17:55:45+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-08-19T17:55:45Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-08-19T17:55:45+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_2686bd1b1fe811ed96deac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-08-19T17:55:45+00:00","verifications":{},"zip":"90277"},"id":"shp_1158ec3416c4499199930e04a69ff866","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-08-19T17:55:45Z","height":4,"id":"prcl_ba9c03ed5eef412e8f32f9f7e3fc6140","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-08-19T17:55:45Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-08-19T17:55:46Z","date_advance":0,"id":"pl_a1124339f99242499499a17a0e145977","integrated_form":"none","label_date":"2022-08-19T17:55:46Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220819/efb7027b3cec4537acbe3a39f7c90618.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-08-19T17:55:46Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:55:45Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_1966af337e4b48a4933adeee1c5006be","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75","service":"ParcelSelect","shipment_id":"shp_1158ec3416c4499199930e04a69ff866","updated_at":"2022-08-19T17:55:45Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:55:45Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_72fe7f6201c94f9a9c83b3fd82974ed6","list_currency":"USD","list_rate":"5.57","mode":"test","object":"Rate","rate":"5.57","retail_currency":"USD","retail_rate":"5.57"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-08-22T00:00:00Z","max_datetime":"2022-08-22T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_1158ec3416c4499199930e04a69ff866","object":"Shipment","mode":"test","created_at":"2022-08-19T17:55:45Z","updated_at":"2022-08-19T17:55:46Z","to_address":{"id":"adr_2684acc71fe811ed96daac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-08-19T17:55:45Z","updated_at":"2022-08-19T17:55:45Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","phone":"5555555555","email":"TEST@EXAMPLE.COM","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_2686bd1b1fe811ed96deac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-08-19T17:55:45Z","updated_at":"2022-08-19T17:55:45Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_2686bd1b1fe811ed96deac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-08-19T17:55:45Z","updated_at":"2022-08-19T17:55:45Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_2684acc71fe811ed96daac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-08-19T17:55:4[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_cc28328b00b84a95a016989aa31e706b
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-08-19T17:55:47+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_274652b11fe811ed97f0ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-08-19T17:55:47+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2022-08-19T17:55:47Z","id":"pickup_cc28328b00b84a95a016989aa31e706b","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-08-22T00:00:00Z","messages":[],"min_datetime":"2022-08-22T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-08-19T17:55:47Z","currency":"USD","id":"pickuprate_aa23c30154f142e5b935726fce8d248a","mode":"test","object":"PickupRate","pickup_id":"pickup_cc28328b00b84a95a016989aa31e706b","rate":"0.00","service":"NextDay","updated_at":"2022-08-19T17:55:47Z"}],"reference":null,"status":"unknown","updated_at":"2022-08-19T17:55:47Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e1b32d449a279626425947afd9da7dd1"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - cbe71dcb62ffcea3ff246f1f0078dd9b
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
