---
version: 1
interactions:
- request:
    body: '{"refund_amount":2000}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/beta/referral_customers/refunds
    method: POST
  response:
    body: '{"error":{"code":"TRANSACTION.AMOUNT_INVALID","errors":[],"message":"Refund
      amount is invalid. Please use a valid amount or escalate to finance."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 32e015fa6568ec3be7896122001b45dc
      X-Node:
      - bigweb32nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
