---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/end_shippers
    method: GET
  response:
    body: '{"end_shippers":[{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T15:54:21+00:00","email":"REDACTED","id":"es_b4d6563ab66249fa8b02c0e820bf9745","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T15:54:21+00:00","zip":"94107-1670"},{"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T15:54:21+00:00","email":"REDACTED","id":"es_195fab316cd54a4389e352f788fee7eb","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T15:54:21+00:00","zip":"94107-1670"},{"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-09-21T15:54:22+00:00","em[...]
