---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/addresses
    method: GET
  response:
    body: '{"addresses":[{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-05-25T19:38:04+00:00","email":null,"federal_tax_id":null,"id":"adr_31c4d932dc6211eca792ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-25T19:38:04+00:00","verifications":{},"zip":"94107"},{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-25T19:38:04+00:00","email":null,"federal_tax_id":null,"id":"adr_31c2cab2dc6211ecbe9eac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-25T19:38:04+00:00","verifications":{},"zip":"94107"},{"carrier_facility"[...]
