---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_280b2fb7d1844ed3a85f29184eb559a2","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-06-14T19:29:18Z","updated_at":"2022-06-14T19:29:18Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c9482e4bd680d25392cbbe9ec2d5049"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 51cd47ee62a8e18ee786afb800464250
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_280b2fb7d1844ed3a85f29184eb559a2/buy
    method: POST
  response:
    body: '{"id":"batch_280b2fb7d1844ed3a85f29184eb559a2","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-06-14T19:29:18Z","updated_at":"2022-06-14T19:29:18Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_9dc0d108efbe45cf8791a8f3c2ec54f6"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9470ca6b8597fc4469f0be05c05c117a"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 51cd47ee62a8e18ee786afb800464274
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
