---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-04-11","end_date":"2022-04-11","additional_columns":["from_name","from_company"]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"created_at":"2022-05-26T15:05:27Z","end_date":"2022-04-11","id":"shprep_9549d5f329344c9796d600fde88ad1b5","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2022-05-26T15:05:27Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8657af34d9d3af58026f06a646d31ce1"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9737e78b9ba7006bc34e
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 201 Created
    code: 201
    duration: ""
