---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-20T23:32:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_760ccdb3393c11ed8b39ac1f6bc7bdc6","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-20T23:32:16+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-20T23:32:16Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-20T23:32:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_760eb64c393c11eda286ac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-20T23:32:15+00:00","verifications":{},"zip":"90277"},"id":"shp_e643f0f5acba452c97ec6a558406c078","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-20T23:32:16Z","height":4,"id":"prcl_6c6f1daf91f34b5cabac24470f28cc3a","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-20T23:32:16Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-20T23:32:16Z","date_advance":0,"id":"pl_6bb05cafec9244b88bc17410cb743205","integrated_form":"none","label_date":"2022-09-20T23:32:16Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220920/8ba9521cfce14b3689c957652eae5501.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-20T23:32:16Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:32:16Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_242c82f472b841eaa6859d7d8e47cd0e","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_e643f0f5acba452c97ec6a558406c078","updated_at":"2022-09-20T23:32:16Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:32:16Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_c9910820ef4b4fe48c653062d296c085","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-09-22T00:00:00Z","max_datetime":"2022-09-22T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_e643f0f5acba452c97ec6a558406c078","object":"Shipment","mode":"test","created_at":"2022-09-20T23:32:16Z","updated_at":"2022-09-20T23:32:16Z","to_address":{"id":"adr_760ccdb3393c11ed8b39ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-09-20T23:32:15Z","updated_at":"2022-09-20T23:32:16Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","phone":"5555555555","email":"TEST@EXAMPLE.COM","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_760eb64c393c11eda286ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-09-20T23:32:15Z","updated_at":"2022-09-20T23:32:15Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_760eb64c393c11eda286ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-09-20T23:32:15Z","updated_at":"2022-09-20T23:32:15Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_760ccdb3393c11ed8b39ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-09-20T23:32:1[...]
