---
version: 1
interactions:
- request:
    body: '{"ups_oauth_registrations":{"account_number":"123456789","type":"UpsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/ups_oauth_registrations
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2024-07-10T23:00:09Z","credentials":{},"description":null,"fields":{},"id":"ca_3f3a30eaca1a49fa9360967184448e00","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2024-07-10T23:00:09Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 35d2ed5f668f1279f41b62e9003cbd75
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb4nuq fa152d4755
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202407102141-c1077ec6f9-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_3f3a30eaca1a49fa9360967184448e00
    method: GET
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2024-07-10T23:00:09Z","credentials":{},"description":null,"fields":{},"id":"ca_3f3a30eaca1a49fa9360967184448e00","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2024-07-10T23:00:09Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 35d2ed5f668f1279f41b62e9003cbda0
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb3nuq fa152d4755
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202407102141-c1077ec6f9-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ups_oauth_registrations":{"account_number":"987654321"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/ups_oauth_registrations/ca_3f3a30eaca1a49fa9360967184448e00
    method: PATCH
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2024-07-10T23:00:09Z","credentials":{},"description":null,"fields":{},"id":"ca_3f3a30eaca1a49fa9360967184448e00","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2024-07-10T23:00:09Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 35d2ed5f668f1279f41b62e9003cbdc1
      X-Node:
      - bigweb32nuq
      X-Proxied:
      - intlb4nuq fa152d4755
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202407102141-c1077ec6f9-master
    status: 200 OK
    code: 200
    duration: ""
[...]
