---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users
    method: GET
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.03","children":[],"created_at":"2020-05-07T23:43:48Z","default_insurance_amount":null,"email":"REDACTED","has_billing_method":false,"id":"user_a76997d126dd488f8ad22d52301300b0","insurance_fee_minimum":"1.00","insurance_fee_rate":"0.01","name":"Test
      User","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":"100.00","recharge_threshold":"0.00","secondary_recharge_amount":"100.00","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2df8181df5821fe33fe629675ab709b0"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccffff246ba100702c4c
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"brand":{"color":"#123456"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users/user_a76997d126dd488f8ad22d52301300b0/brand
    method: PATCH
  response:
    body: '{"id":"brd_3930aba34a0743228c75c1e71c8b0883","color":"#123456","logo":"https://assets.easypost.com/assets/images/branding/easypost-primary-logo-7a2cf535f2.svg","logo_href":"https://www.easypost.com","name":"EasyPost","ad":null,"ad_href":null,"object":"Brand","user_id":"user_a76997d126dd488f8ad22d52301300b0","background_color":null,"theme":"theme1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a6bf0943796a2bda2357663c77d41a6"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffcd00ff246ba100702c64
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
