---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/events?page_size=5
    method: GET
  response:
    body: '{"events":[{"created_at":"2024-08-02T23:14:42.466Z","description":"batch.created","id":"evt_ffd61954512411efb3fb0f61e66fb597","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2024-08-02T23:14:25.139Z","description":"batch.updated","id":"evt_f5821890512411ef9cbf5d205ddcdc41","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2024-08-02T23:14:25.024Z","description":"batch.created","id":"evt_f5709be2512411efa6f973fa0c1eb1de","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2024-08-02T23:14:24.982Z","description":"batch.updated","id":"evt_f56a2258512411ef92ba25cb3c50e8f0","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2024-08-02T23:14:24.833Z","description":"batch.created","id":"evt_f5537bc0512411ef96fa0d9c733a51d8","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6863f440b8c7003749ff
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/events/evt_ffd61954512411efb3fb0f61e66fb597
    method: GET
  response:
    body: '{"completed_urls":[],"created_at":"2024-08-02T23:14:42.000Z","description":"batch.created","id":"evt_ffd61954512411efb3fb0f61e66fb597","mode":"test","object":"Event","pending_urls":[],"previous_attributes":{},"status":"pending","updated_at":"2024-08-02T23:14:42.000Z","user_id":"user_a76997d126dd488f8ad22d52301300b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6863f440b8c700374a22
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
