---
version: 1
interactions:
- request:
    body: '{"shipment":{"customs_info":{"contents_type":"merchandise","customs_certify":true,"customs_items":[{"description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"weight":11}],"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_type":"none"},"from_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"},"options":{"invoice_number":"123","label_format":"PNG"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"reference":"123","to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:14:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fc0cb6b0512411efb15aac1f6bc539aa","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:14:36+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:14:36Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2024-08-02T23:14:36Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2024-08-02T23:14:36Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_f5bf2600a96940bdb0e7e58d7819b49a","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2024-08-02T23:14:36Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_5126a41fab3740ea90390bc44b1720fe","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2024-08-02T23:14:36Z"},"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:14:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fc0ec204512411efb15cac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:14:36+00:00","verifications":{},"zip":"94107"},"id":"shp_d4f8721ace0d45e89483ac2d7e7778d4","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"shipment.customs_info.customs_items.0.value:
      field required and shipment.customs_info.customs_items.0.code: field required","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2024-08-02T23:14:36Z","height":4,"id":"prcl_48ea7adc21df4446a6154ba965cc4c7d","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:14:36Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:14:36Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_38fe174fec0843459469a50c7ffe692f","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_d4f8721ace0d45e89483ac2d7e7778d4","updated_at":"2024-08-02T23:14:36Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:14:36Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_64d18c13a3c3449baacf1944721e13c4","list_currency":"USD","list_rate":"8.25","mode":"test","object":"Rate","rate":"6.90","retail_currency":"USD","retail_rate":"9.80","service":"Priority","shipment_id":"shp_d4f8721ace0d45e89483ac2d7e7778d4","updated_at":"2024-08-02T23:14:36Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:14:36Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_ea3343e49d4545d5bb6c7ad4fc2c97a8","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_d4f8721ace0d45e89483ac2d7e7778d4","updated_at":"2024-08-02T23:14:36Z"}],"reference":"123","refund_status":null,"return_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:14:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fc0ec204512411efb15cac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:14:36+00:00","verifications":{},"zip":"94107"},"scan_form":null,"selected_rate":null,"status":"unknown","to_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:14:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fc0cb6b0512411efb15aac1f6bc539aa","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:14:36+00:00","verifications":{},"zip":"90277"},"tracker":null,"tracking_code":null,"updated_at":"2024-08-02T23:14:36Z","usps_zone":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/shipments/shp_d4f8721ace0d45e89483ac2d7e7778d4
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad685cf440b8c700374601
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"insurance":"100.00","rate":{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:14:36Z","currency":"USD","delivery_days":3,"est_delivery_days":3,"id":"rate_ea3343e49d4545d5bb6c7ad4fc2c97a8","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_d4f8721ace0d45e89483ac2d7e7778d4","updated_at":"2024-08-02T23:14:36Z"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_d4f8721ace0d45e89483ac2d7e7778d4/buy
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2024-08-02T23:14:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fc0cb6b0512411efb15aac1f6bc539aa","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":"","updated_at":"2024-08-02T23:14:36+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2024-08-02T23:14:36Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2024-08-02T23:14:36Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2024-08-02T23:14:36Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_f5bf2600a96940bdb0e7e58d7819b49a","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2024-08-02T23:14:36Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_5126a41fab3740ea90390bc44b1720fe","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2024-08-02T23:14:36Z"},"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"},{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:14:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fc0ec204512411efb15cac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address"[...]
- request:
    body: '{"amount":100,"contact_email":"test@example.com","description":"Test description","email_evidence_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"invoice_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"supporting_documentation_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"tracking_code":"9400100110368070372017","type":"damage"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/claims
    method: POST
  response:
    body: '{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/533ab48c89b24595b9a2bac708bafc12.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/8ac6c3d3f45c416184a6b0bbdab8b80d.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/b8bac428d8f84acf9de3feecfbfcecce.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-08-02T23:14:37","description":"Test
      description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-08-02T23:14:37"}],"id":"clm_097f50f902c34e019e381eaf0938f00c","insurance_amount":"100.00","insurance_id":"ins_7c77e8db3dbf49568bd0f32688f713e9","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_d4f8721ace0d45e89483ac2d7e7778d4","status":"submitted","status_detail":"Claim
      was created.","status_timestamp":"2024-08-02T23:14:37","tracking_code":"9400100110368070372017","type":"damage","updated_at":"2024-08-02T23:14:37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad685df440b8c7003746b3
      X-Node:
      - bigweb53nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/claims/clm_097f50f902c34e019e381eaf0938f00c
    method: GET
  response:
    body: '{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/533ab48c89b24595b9a2bac708bafc12.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/8ac6c3d3f45c416184a6b0bbdab8b80d.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/b8bac428d8f84acf9de3feecfbfcecce.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-08-02T23:14:37","description":"Test
      description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-08-02T23:14:37"}],"id":"clm_097f50f902c34e019e381eaf0938f00c","insurance_amount":"100.00","insurance_id":"ins_7c77e8db3dbf49568bd0f32688f713e9","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_d4f8721ace0d45e89483ac2d7e7778d4","status":"submitted","status_detail":"Claim
      was created.","status_timestamp":"2024-08-02T23:14:37","tracking_code":"9400100110368070372017","type":"damage","updated_at":"2024-08-02T23:14:37"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 4d57346d66ad685ef440b8c700374727
      X-Node:
      - bigweb43nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
