---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers
    method: POST
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T18:22:13+00:00","email":"REDACTED","id":"es_6ecdc5a7690c41a99db4bc8956d858a0","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-09-21T18:22:13+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4a455eb7c89c6123787b0cd857d92859"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5655ec7d9989000d9ad7
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"address":{"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-09-21T18:22:13Z","email":"REDACTED","id":"es_6ecdc5a7690c41a99db4bc8956d858a0","mode":"test","name":"Captain
      Sparrow","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-21T18:22:13Z","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers/es_6ecdc5a7690c41a99db4bc8956d858a0
    method: PUT
  response:
    body: '{"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-09-21T18:22:13+00:00","email":"REDACTED","id":"es_6ecdc5a7690c41a99db4bc8956d858a0","mode":"test","name":"CAPTAIN
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-09-21T18:22:13+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f9d435e402462bbb70106609fbb122e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5655ec7d9989000d9b06
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
