---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-09-20T23:27:57+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_dbcbc837393b11edb1c7ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-20T23:27:57+00:00","verifications":{},"zip":"94107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b6df6a19df900708c1d098225fa9b03"
      Location:
      - /api/v2/addresses/adr_dbcbc837393b11edb1c7ac1f6bc7bdc6
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c7dec8cdb4300107cca
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/addresses/adr_dbcbc837393b11edb1c7ac1f6bc7bdc6/verify
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-09-20T23:27:57+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_dbfa6c71393b11edb7faac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-09-20T23:27:57+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fd1bdec374bd737c00c7c7f79a2972e2"
      Location:
      - /api/v2/addresses/adr_dbfa6c71393b11edb7faac1f6b0a0d1e
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c7dec8cdb4300107cd9
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
