---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"179 N Harbor Dr","city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth Swan","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:14Z","id":"batch_2158476332374ce993b5e6bd3357af4c","label_url":null,"mode":"test","num_shipments":1,"object":"EasyPost::Entity::Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"creating","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:14Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"94c26614a11d5e6fad8852ec14ec99e7"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c8eec8cdb43001081b5
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_2158476332374ce993b5e6bd3357af4c
    method: GET
  response:
    body: '{"created_at":"2022-09-20T23:28:14Z","id":"batch_2158476332374ce993b5e6bd3357af4c","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"created","id":"shp_ca724ad531e3453f88baacb120e8cf15","reference":null,"tracking_code":null}],"state":"created","status":{"created":1,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:14Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4f6f001a26787a7a0a07269629f94bda"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 924e0c20632a4c8eec8cdb43001081cd
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201945-4c5c97ab34-master
    status: 200 OK
    code: 200
    duration: ""
