---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/scan_forms
    method: GET
  response:
    body: '{"has_more":true,"scan_forms":[{"address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-21T18:21:53+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_44c8a5c239da11eda5d7ac1f6bc7bdc6","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T18:21:53+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_fcdbd9872ef741df98b8ee0785a25a80","confirmation":null,"created_at":"2022-09-21T18:21:59Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220921/4e388195005f446db59d658adf370389.pdf","id":"sf_9f422ff68ce64b1c893978f6588cb546","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100109361138710060"],"updated_at":"2022-09-21T18:21:59Z"},{"address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-21T16:23:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_b2397d4939c911ed898bac1f6bc72124","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T16:23:1[...]
