---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/shipments
    method: GET
  response:
    body: '{"has_more":true,"shipments":[{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-11-30T20:12:02+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_b94a67c48fbc11ee9374ac1f6bc539aa","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2023-11-30T20:12:02+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2023-11-30T20:12:02Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-11-30T20:12:02+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_b94c68a48fbc11ee849bac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-11-30T20:12:02+00:00","verifications":{},"zip":"90277"},"id":"shp_22f1016c74304713b7d32743425c303e","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-11-30T20:12:02Z","height":4,"id":"prcl_ce36cca10a8148c5aa0b3068e36c5bd3","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-11-30T20:12:02Z","weight":15.4,"width":8},"postage_label":{"created_at":"2023-11-30T20:12:02Z","date_advance":0,"id":"pl_8e28e1ef58194ac490a28a12805ac786","integrated_form":"none","label_date":"2023-11-30T20:12:02Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231130/e87914bf9a417440a19aeccc299927d286.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2023-11-30T20:12:03Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:12:02Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_5eb08105358d4523a074821521938577","list_currency":"USD","list_rate":"8.24","mode":"test","object":"Rate","rate":"6.95","retail_currency":"USD","retail_rate":"10.20","service":"Priority","shipment_id":"shp_22f1016c74304713b7d32743425c303e","updated_at":"2023-11-30T20:12:02Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:12:02Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_49c7ba5efbd849c3a72a0e36acfaf344","list_currency":"USD","list_rate":"6.07","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.00"[...]
[...]
