---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"UpsAccount","credentials":{"access_license_number":"ALN","account_number":"A1A1A1","password":"PASSWORD","user_id":"USERID"},"test_credentials":null}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-05-26T15:05:05Z","credentials":{},"description":"UPS
      Account","fields":{"credentials":{"account_number":{"label":"UPS Account Number","value":"A1A1A1","visibility":"readonly"}}},"id":"ca_7d35579ac23141f8ade28cdfd5177f53","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":{},"type":"UpsAccount","updated_at":"2022-05-26T15:05:05Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f592f8e0e6dc96c63b7879035cb88aea"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9721e78b9ba7006bb798
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_7d35579ac23141f8ade28cdfd5177f53
    method: GET
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-05-26T15:05:05Z","credentials":{},"description":"UPS
      Account","fields":{"credentials":{"account_number":{"label":"UPS Account Number","value":"A1A1A1","visibility":"readonly"}}},"id":"ca_7d35579ac23141f8ade28cdfd5177f53","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":{},"type":"UpsAccount","updated_at":"2022-05-26T15:05:05Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f592f8e0e6dc96c63b7879035cb88aea"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9721e78b9ba7006bb7d2
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
[...]
