---
version: 1
interactions:
- request:
    body: '{"shipment":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"error":{"code":"PARAMETER.REQUIRED","errors":[{"field":"shipment","message":"cannot
      be blank"}],"message":"Missing required parameter."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec2ae7896122001b3457
      X-Node:
      - bigweb42nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
