---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-20T23:32:19+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_7853c1a5393c11eda34dac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-20T23:32:20+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-20T23:32:19Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-20T23:32:19+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_7855cc86393c11eda34fac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-20T23:32:19+00:00","verifications":{},"zip":"90277"},"id":"shp_ba1404b2d9c5487792fbb5ff18d1c9a8","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-20T23:32:19Z","height":4,"id":"prcl_1438fc8fee924f26aa26e8f5dd53142f","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-20T23:32:19Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-20T23:32:20Z","date_advance":0,"id":"pl_a5e270bc1a384024a8a775f0ea05471b","integrated_form":"none","label_date":"2022-09-20T23:32:20Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220920/05ad40d339c94a65b05955318fbace3d.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-20T23:32:20Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:32:19Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_49fd2cbb803e4bf6bcaf85f658ba0a6c","list_currency":"USD","list_rate":"5.57","mode":"test","object":"Rate","rate":"5.57","retail_currency":"USD","retail_rate":"5.57","service":"First","shipment_id":"shp_ba1404b2d9c5487792fbb5ff18d1c9a8","updated_at":"2022-09-20T23:32:19Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:32:19Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_5a1e38a32c1b4b33b01ee98e162a73ca","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-09-22T00:00:00Z","max_datetime":"2022-09-22T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_ba1404b2d9c5487792fbb5ff18d1c9a8","object":"Shipment","mode":"test","created_at":"2022-09-20T23:32:19Z","updated_at":"2022-09-20T23:32:20Z","to_address":{"id":"adr_7853c1a5393c11eda34dac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-09-20T23:32:19Z","updated_at":"2022-09-20T23:32:20Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","phone":"5555555555","email":"TEST@EXAMPLE.COM","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_7855cc86393c11eda34fac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-09-20T23:32:19Z","updated_at":"2022-09-20T23:32:19Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_7855cc86393c11eda34fac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-09-20T23:32:19Z","updated_at":"2022-09-20T23:32:19Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_7853c1a5393c11eda34dac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-09-20T23:32:1[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_c2d1cf2126874c5db75d9a22b68b0a02
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-09-20T23:32:20+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_78f3f8e2393c11eda38dac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-20T23:32:20+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2022-09-20T23:32:20Z","id":"pickup_c2d1cf2126874c5db75d9a22b68b0a02","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-09-22T00:00:00Z","messages":[],"min_datetime":"2022-09-22T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-09-20T23:32:21Z","currency":"USD","id":"pickuprate_fbaad21e17ba40cbbbcccc4d132d2ecd","mode":"test","object":"PickupRate","pickup_id":"pickup_c2d1cf2126874c5db75d9a22b68b0a02","rate":"0.00","service":"NextDay","updated_at":"2022-09-20T23:32:21Z"}],"reference":null,"status":"unknown","updated_at":"2022-09-20T23:32:20Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7c7a55154ae4808d24b8bd3324f6a775"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 1ccf69c4632a4d85eca0ad8a00122a8f
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
