---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"registration_data":null,"test_credentials":{},"type":"DhlEcsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-11-22T23:20:28Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_f66cd23b7fd643ac98d2b0c28e3f098b","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-11-22T23:20:28Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"531c1a4890e7fb4c9e655e9fec56b244"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 632f8eb4637d593cf3c6c6920062754c
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_f66cd23b7fd643ac98d2b0c28e3f098b
    method: GET
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-11-22T23:20:28Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_f66cd23b7fd643ac98d2b0c28e3f098b","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-11-22T23:20:28Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"531c1a4890e7fb4c9e655e9fec56b244"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 632f8eb4637d593cf3c6c69200627593
      X-Node:
      - bigweb11nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
    status: 200 OK
    code: 200
    duration: ""
[...]
