---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-20T23:28:17Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{"credentials":{},"test_credentials":{}},"id":"ca_2147d3112f344e63ac9a1840243faf65","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-20T23:28:17Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9820290a410bec8fc6cf1c215ab4415c"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c91ec8cdb43001082af
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"carrier_account":{"id":"ca_2147d3112f344e63ac9a1840243faf65","description":"My
      custom description","credentials":null,"test_credentials":null}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/ca_2147d3112f344e63ac9a1840243faf65
    method: PATCH
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-20T23:28:17Z","credentials":{},"description":"My
      custom description","fields":{"credentials":{},"test_credentials":{}},"id":"ca_2147d3112f344e63ac9a1840243faf65","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-20T23:28:18Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2bb9cefde8ddf50f387f6ec09298361f"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c91ec8cdb43001082c2
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
[...]
