---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-04-11T20:22:52Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114538077","updated_at":"2022-04-11T20:22:53Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2a2d45b0b9d511ec9b85ac1f6bc72124","object":"Address","created_at":"2022-04-11T20:22:52+00:00","updated_at":"2022-04-11T20:22:52+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a4d5baa7e41b4e8997ad82cfdb5ab3b5","object":"Parcel","created_at":"2022-04-11T20:22:52Z","updated_at":"2022-04-11T20:22:52Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_2d78bedff4cf438da42753f23f60b552","created_at":"2022-04-11T20:22:53Z","updated_at":"2022-04-11T20:22:53Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-11T20:22:53Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220411/b88450eea1d94cf9a271f47da7e55e78.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_c085e7b9ecf34b14bc9f065db96816c3","object":"Rate","created_at":"2022-04-11T20:22:52Z","updated_at":"2022-04-11T20:22:52Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_8f7f9d06d48747ddb9c22538654e54c7","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_f6f7173104434b3999db846a785fc7e7","object":"Rate","created_at":"2022-04-11T20:22:52Z","updated_at":"2022-04-11T20:22:52Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8f7f9d06d48747ddb9c22538654e54c7","carrier_accou[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-04-12T14:22:53.859781-06:00","max_datetime":"2022-04-12T14:22:53.859781-06:00","instructions":"Pickup
      at front door","shipment":{"id":"shp_8f7f9d06d48747ddb9c22538654e54c7","object":"Shipment","mode":"test","created_at":"2022-04-11T20:22:52Z","updated_at":"2022-04-11T20:22:53Z","to_address":{"id":"adr_2a2b20e4b9d511ec9b82ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-04-11T20:22:52Z","updated_at":"2022-04-11T20:22:53Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_2a2d45b0b9d511ec9b85ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-04-11T20:22:52Z","updated_at":"2022-04-11T20:22:52Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_2a2d45b0b9d511ec9b85ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-04-11T20:22:52Z","updated_at":"2022-04-11T20:22:52Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_2a2b20e4b9d511ec9b82ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-04-11T20:22:52Z","updated_at":"2022-04-11T20:22:53Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/pickups/pickup_75c175b2bcb448fdbfc9801f82f1edaa
    method: GET
  response:
    body: '{"id":"pickup_75c175b2bcb448fdbfc9801f82f1edaa","object":"Pickup","created_at":"2022-04-11T20:22:54Z","updated_at":"2022-04-11T20:22:54Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-12T20:22:53Z","max_datetime":"2022-04-12T20:22:53Z","is_account_address":false,"instructions":"Pickup
      at front door","messages":[],"confirmation":null,"address":{"id":"adr_2adc7facb9d511ec8784ac1f6b0a0d1e","object":"Address","created_at":"2022-04-11T20:22:53+00:00","updated_at":"2022-04-11T20:22:53+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-11T20:22:54Z","updated_at":"2022-04-11T20:22:54Z","carrier":"USPS","pickup_id":"pickup_75c175b2bcb448fdbfc9801f82f1edaa","id":"pickuprate_14e8cf56417646dfb5ef3073c005d161","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b356ad40770bbd5bf1d854d310602fd"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - df63cd0e62548e1ee7873cc2002edc34
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      X-Version-Label:
      - easypost-202204111913-07b6175514-master
    status: 200 OK
    code: 200
    duration: ""
