---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"id":"cstitem_9a1210164b4e4d0e8a5c1ccffae102dd","object":"CustomsItem","created_at":"2022-08-16T20:24:25Z","updated_at":"2022-08-16T20:24:25Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":null,"weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cefbbd5a237e9c030ad80ee2aa8067f2"
      Location:
      - /api/v2/customs_items/cstitem_9a1210164b4e4d0e8a5c1ccffae102dd
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfcf9e78a92e70001a9dc
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_items/cstitem_9a1210164b4e4d0e8a5c1ccffae102dd
    method: GET
  response:
    body: '{"id":"cstitem_9a1210164b4e4d0e8a5c1ccffae102dd","object":"CustomsItem","created_at":"2022-08-16T20:24:25Z","updated_at":"2022-08-16T20:24:25Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":null,"weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cefbbd5a237e9c030ad80ee2aa8067f2"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 3eb5807562fbfcf9e78a92e70001a9e3
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 200 OK
    code: 200
    duration: ""
