---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-13T17:14:39+00:00","email":null,"federal_tax_id":null,"id":"adr_4edcbb83eb3c11ec85c2ac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-13T17:14:39+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-13T17:14:39Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-13T17:14:39+00:00","email":null,"federal_tax_id":null,"id":"adr_4ede7f3ceb3c11eca1efac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-13T17:14:39+00:00","verifications":{},"zip":"94107"},"id":"shp_5abf93ed413f4abaaf1bf2bfcf007b98","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-13T17:14:39Z","height":4,"id":"prcl_856cdfd826cb4e17bcfcb0f7d0c904e0","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-13T17:14:39Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-13T17:14:40Z","date_advance":0,"id":"pl_4257eeb12ffa4752bed2c5ca2c6e3816","integrated_form":"none","label_date":"2022-06-13T17:14:40Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220613/3326e1f4eb744d60983577babc500465.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-13T17:14:40Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-13T17:14:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_1b9490a7aaa9491aa2403708c4514078","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate":"27.40","service":"Express","shipment_id":"shp_5abf93ed413f4abaaf1bf2bfcf007b98","updated_at":"2022-06-13T17:14:39Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-13T17:14:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_87e05a4488e145b382ac7c9072e1067d","list_currency":"USD","list_rate":"7.22","mode":"test","object":"Rate","rate":"7.22","retail_currency":"USD","retail_rate":"7.22"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-06-15T00:00:00Z","max_datetime":"2022-06-15T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_5abf93ed413f4abaaf1bf2bfcf007b98","object":"Shipment","mode":"test","created_at":"2022-06-13T17:14:39Z","updated_at":"2022-06-13T17:14:40Z","to_address":{"id":"adr_4edcbb83eb3c11ec85c2ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-13T17:14:39Z","updated_at":"2022-06-13T17:14:39Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_4ede7f3ceb3c11eca1efac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-06-13T17:14:39Z","updated_at":"2022-06-13T17:14:39Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_4ede7f3ceb3c11eca1efac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-06-13T17:14:39Z","updated_at":"2022-06-13T17:14:39Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_4edcbb83eb3c11ec85c2ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_3d33cc7116ac479e90c9399cfa7b4662
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-13T17:14:40+00:00","email":null,"federal_tax_id":null,"id":"adr_4f7a45daeb3c11ec83e7ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-13T17:14:40+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2022-06-13T17:14:40Z","id":"pickup_3d33cc7116ac479e90c9399cfa7b4662","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-06-15T00:00:00Z","messages":[],"min_datetime":"2022-06-15T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-13T17:14:41Z","currency":"USD","id":"pickuprate_8f8b7eb19c18498b9580a666dc0ace7f","mode":"test","object":"PickupRate","pickup_id":"pickup_3d33cc7116ac479e90c9399cfa7b4662","rate":"0.00","service":"NextDay","updated_at":"2022-06-13T17:14:41Z"}],"reference":null,"status":"unknown","updated_at":"2022-06-13T17:14:40Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75dd9afa1511c7225d873c0c2166eda8"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3f45987962a77081e786b4430040f3ce
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206121724-be513874fb-master
    status: 200 OK
    code: 200
    duration: ""
