---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/addresses?page_size=5
    method: GET
  response:
    body: '{"addresses":[{"carrier_facility":null,"city":"Not A City","company":"EasyPost","country":"US","created_at":"2025-02-27T22:12:49+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fb4159a5f55711efbcd03cecef1b359e","mode":"test","name":null,"object":"Address","phone":"REDACTED","residential":null,"state":"ZZ","state_tax_id":null,"street1":"000
      unknown street","street2":null,"updated_at":"2025-02-27T22:12:49+00:00","verifications":{"delivery":{"details":{},"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
      not found","suggestion":null}],"success":false}},"zip":"00001"},{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:33:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_97195e70512711ef803e3cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:33:15+00:00","verifications":{},"zip":"94107"},{"carrier_facility":n[...]
