---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-02-26","end_date":"2022-02-27","columns":["usps_zone"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"id":"shprep_73e82932c5d64792b0f19303e325fd89","object":"ShipmentReport","created_at":"2022-03-23T20:19:36Z","updated_at":"2022-03-23T20:19:36Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"90977fd794f716f7d602bd7c9ebbef8a"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4aee9dd2623b80d8e78a8f090009507a
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 3e97db20d4
      - extlb1nuq 3e97db20d4
      X-Version-Label:
      - easypost-202203231943-61a988cd70-master
    status: 201 Created
    code: 201
    duration: ""
