---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-03T17:21:18+00:00","email":null,"federal_tax_id":null,"id":"adr_94d49b48e36111eca3c1ac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-03T17:21:19+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-03T17:21:19Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-03T17:21:19+00:00","email":null,"federal_tax_id":null,"id":"adr_94d62e3de36111eca3c2ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-03T17:21:19+00:00","verifications":{},"zip":"94107"},"id":"shp_5418bdef9d4f41b5b82eca0e32e00021","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-03T17:21:19Z","height":4,"id":"prcl_f43ad44f9e9447768ba3dd10708500c8","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-03T17:21:19Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-03T17:21:19Z","date_advance":0,"id":"pl_ea21c5f1ef994d9f8705dac867455e09","integrated_form":"none","label_date":"2022-06-03T17:21:19Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220603/d59d1d99aca14ab383c6dc851814140a.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-03T17:21:19Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-03T17:21:19Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_81c76e60bda44e579b989002133b63be","list_currency":"USD","list_rate":"7.22","mode":"test","object":"Rate","rate":"7.22","retail_currency":"USD","retail_rate":"7.22","service":"ParcelSelect","shipment_id":"shp_5418bdef9d4f41b5b82eca0e32e00021","updated_at":"2022-06-03T17:21:19Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-03T17:21:19Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_710cc50a3ea04affaac03aadd4ad6ca3","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-06-04T00:00:00Z","max_datetime":"2022-06-04T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_5418bdef9d4f41b5b82eca0e32e00021","object":"Shipment","mode":"test","created_at":"2022-06-03T17:21:19Z","updated_at":"2022-06-03T17:21:19Z","to_address":{"id":"adr_94d49b48e36111eca3c1ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-06-03T17:21:18Z","updated_at":"2022-06-03T17:21:19Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_94d62e3de36111eca3c2ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-06-03T17:21:19Z","updated_at":"2022-06-03T17:21:19Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_94d62e3de36111eca3c2ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-06-03T17:21:19Z","updated_at":"2022-06-03T17:21:19Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_94d49b48e36111eca3c1ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-06[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_49a4f1a6ab334d1abe973db0e0e2e52d/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-03T17:21:19+00:00","email":null,"federal_tax_id":null,"id":"adr_9567f3ace36111eca3eeac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-03T17:21:19+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61825678","created_at":"2022-06-03T17:21:20Z","id":"pickup_49a4f1a6ab334d1abe973db0e0e2e52d","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-06-04T00:00:00Z","messages":[],"min_datetime":"2022-06-04T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-03T17:21:20Z","currency":"USD","id":"pickuprate_c1fd4f76516e453ba210dea417653ec1","mode":"test","object":"PickupRate","pickup_id":"pickup_49a4f1a6ab334d1abe973db0e0e2e52d","rate":"0.00","service":"NextDay","updated_at":"2022-06-03T17:21:20Z"}],"reference":null,"status":"scheduled","updated_at":"2022-06-03T17:21:21Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"020bb374b83b2f6fca8f2a40a88dc49d"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - db920f87629a4310ff235f60001b095b
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206030043-0fd9609f83-master
    status: 200 OK
    code: 200
    duration: ""
