---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/insurances
    method: GET
  response:
    body: '{"has_more":true,"insurances":[{"amount":"100.00000","created_at":"2022-09-21T16:19:59Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-21T16:19:58+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3c94e9ae39c911edbca3ac1f6bc7bdc6","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T16:19:58+00:00","verifications":{},"zip":"90277"},"id":"ins_0fc35aa77e3b4dd1b1d276d1795bf2b7","messages":[],"mode":"test","object":"Insurance","provider":"easypost","provider_id":null,"reference":null,"shipment_id":"shp_33c7b29288684c06a35298e22dc86bcb","status":"purchased","to_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T16:19:58+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3c93373439c911ed9c24ac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T16:19:58+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"tracker":{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":{"city":"CHARLESTON","country":null,"object":"TrackingLocation","state":"SC","zip":"29407"},"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":"2022-08-24T06:13:59Z","object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"NORTH HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77315"},"service":"First-Class
      Package Service"},"created_at":"2022-09-21T16:19:59Z","est_delivery_date":"2022-09-21T16:22:59Z","fees":[],"finalized":true,"id":"trk_d73961558ac14c06aebd81cb61dfed1e","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2Q3Mzk2MTU1OGFjMTRjMDZhZWJkODFjYjYxZGZlZDFl","shipment_id":"shp_33c7b29288684c06a35298e22dc86bcb","signed_by":"John
      Tester","status":"delivered","status_detail":"arrived_at_destination","tracking_code":"9400100109361138693424","tracking_details":[{"carrier_code":null,"datetime":"2022-08-21T16:22:59Z","description":null,"message":"Pre-Shipment
      Info Sent to USPS","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":null,"datetime":"2022-08-22T04:59:59Z","description":null,"message":"Shipping
      Label Created","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"}},{"carrier_code":null,"datetime":"2022-08-22T15:04:59Z","description":null,"message":"Arrived
   [...]
