---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"test_credentials":{},"type":"DhlEcsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-21T16:19:09Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{"credentials":{},"test_credentials":{}},"id":"ca_ee200e2564eb455ca37b4b9501bfd37d","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-21T16:19:09Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"427fa4afbedda9f2c0825b3d68b2d2d7"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397dec8e8d2900013587
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"carrier_account":{"credentials":null,"description":"My custom description","id":"ca_ee200e2564eb455ca37b4b9501bfd37d","test_credentials":null}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/ca_ee200e2564eb455ca37b4b9501bfd37d
    method: PATCH
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-21T16:19:09Z","credentials":{},"description":"My
      custom description","fields":{"credentials":{},"test_credentials":{}},"id":"ca_ee200e2564eb455ca37b4b9501bfd37d","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-21T16:19:09Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4d8b16d64bb57ec243c25451808df26"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397dec8e8d29000135a2
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
[...]
