---
version: 1
interactions:
- request:
    body: '{"user":{"email":"REDACTED","name":"Test Referral","phone":"REDACTED"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers
    method: POST
  response:
    body: '{"api_keys":[],"balance":"0.00000","cc_fee_rate":"0.0375","children":[],"created_at":"2022-09-21T16:19:38Z","default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"id":"user_a0146f6c0f954dfdb0a3f463d587d05b","insurance_fee_minimum":"0.25","insurance_fee_rate":"0.005","name":"Test
      Referral","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e27464a44fc451d9189790cc8d5770d1"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b399aec8e8d29000144e0
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"user":{"email":"REDACTED"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers/user_a0146f6c0f954dfdb0a3f463d587d05b
    method: PUT
  response:
    body: '{"message":"Referral Customer email updated successfully"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b30d603e3257aee787616dc99d6d4af"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b399bec8e8d290001456d
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
