---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts
    method: GET
  response:
    body: '[{"billing_type":"easypost","clone":false,"created_at":"2020-05-07T23:43:48Z","credentials":{},"description":"USPS
      Account","fields":{"credentials":{}},"id":"ca_e606176ddb314afe896733636dba2f3b","logo":null,"object":"CarrierAccount","readable":"USPS","reference":null,"test_credentials":null,"type":"UspsAccount","updated_at":"2020-05-08T02:33:20Z"},{"billing_type":"carrier","clone":false,"created_at":"2022-09-19T21:06:35Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{"credentials":{},"test_credentials":{}},"id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-19T21:06:35Z"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b9d9f80969372ab1a33e10ed7f8fd50"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397cec8e8d29000134bc
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
