---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/users
    method: GET
  response:
    body: '{"id":"user_a76997d126dd488f8ad22d52301300b0","object":"User","parent_id":null,"name":"EasyPost
      Go Client Tests","phone_number":"5555555555","verified":true,"created_at":"2020-05-07T23:43:48Z","balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":null,"cc_fee_rate":"0.03","default_insurance_amount":null,"insurance_fee_rate":"0.01","insurance_fee_minimum":"1.00","email":"dev+easypost-go@easypost.com","children":[{"id":"user_1d75fce0f97c4c3aa42ea008528a1ef0","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","name":"Go
      Test User","phone_number":"8005550100","verified":true,"created_at":"2022-02-07T20:08:11Z","children":[]},{"id":"user_6bf3fb5f29984af69d11d4b73cfeaf45","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","name":"Test
      User","phone_number":"8005550100","verified":true,"created_at":"2022-03-02T00:15:31Z","children":[]},{"id":"user_e1c08a41e8cc42a3[...]
- request:
    body: '{"user":{"phone_number":"5555555555"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users/user_a76997d126dd488f8ad22d52301300b0
    method: PUT
  response:
    body: '{"id":"user_a76997d126dd488f8ad22d52301300b0","object":"User","parent_id":null,"name":"EasyPost
      Go Client Tests","phone_number":"5555555555","verified":true,"created_at":"2020-05-07T23:43:48Z","balance":"0.00000","price_per_shipment":"0.00000","recharge_amount":null,"secondary_recharge_amount":null,"recharge_threshold":null,"has_billing_method":n[...]
