---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-08-19T17:47:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fbec519f1fe611edb0c1ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-08-19T17:47:24+00:00","verifications":{},"zip":"94107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ead968f42f9c8425fa197ea58270b89c"
      Location:
      - /api/v2/addresses/adr_fbec519f1fe611edb0c1ac1f6bc7b362
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 2196158562ffccacff246ba1007007d4
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/addresses/adr_fbec519f1fe611edb0c1ac1f6bc7b362/verify
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-08-19T17:47:24+00:00","email":"TEST@EXAMPLE.COM","federal_tax_id":null,"id":"adr_fc0c8c0f1fe611ed98baac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-08-19T17:47:24+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7af0e03d4ffe43d0e8bb07f808550f58"
      Location:
      - /api/v2/addresses/adr_fc0c8c0f1fe611ed98baac1f6bc72124
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccacff246ba1007007e3
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
