---
version: 1
interactions:
- request:
    body: '{"parcel":{"height":4,"length":10,"weight":15.4,"width":8}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"created_at":"2022-09-21T16:19:21Z","height":4,"id":"prcl_99489599eb1c49fda64b579c39931b2a","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-21T16:19:21Z","weight":15.4,"width":8}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"deef96e8aeaeb28cb1e6b6949c46c086"
      Location:
      - /api/v2/parcels.prcl_99489599eb1c49fda64b579c39931b2a
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3989ec8e8d2900013bf7
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/parcels/prcl_99489599eb1c49fda64b579c39931b2a
    method: GET
  response:
    body: '{"created_at":"2022-09-21T16:19:21Z","height":4,"id":"prcl_99489599eb1c49fda64b579c39931b2a","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-21T16:19:21Z","weight":15.4,"width":8}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"deef96e8aeaeb28cb1e6b6949c46c086"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3989ec8e8d2900013c1c
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
