---
version: 1
interactions:
- request:
    body: '{"user":{"name":"Test User"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users
    method: POST
  response:
    body: '{"api_keys":[{"active":true,"created_at":"2024-08-02T23:15:46Z","id":"ak_19eb7d78330c4b1a9c2aa5b6e42e9451","key":"REDACTED","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2024-08-02T23:15:46Z","id":"ak_dd27af4ea5bb46fb8b8b4f76391f080f","key":"REDACTED","mode":"production","object":"ApiKey"}],"children":[],"created_at":"2024-08-02T23:15:46Z","default_carbon_offset":false,"has_elevate_access":false,"id":"user_963359aa82494a309a90facf65adf5c5","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad68a2f440b8c7003779ae
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users/user_963359aa82494a309a90facf65adf5c5
    method: DELETE
  response:
    body: ""
    headers:
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad68a3f440b8c700377a0d
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 204 No Content
    code: 204
    duration: ""
