---
version: 1
interactions:
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"id":"cstinfo_195ce975fd9642d0ae477102e0d0b91e","object":"CustomsInfo","created_at":"2022-03-03T19:08:46Z","updated_at":"2022-03-03T19:08:46Z","contents_explanation":null,"contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_20bfc91f7e2b481a8f160e981a93e561","object":"CustomsItem","created_at":"2022-03-03T19:08:46Z","updated_at":"2022-03-03T19:08:46Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c67d01fbe99ec1fab415dddffbff2aad"
      Location:
      - /api/v2/customs_infos/cstinfo_195ce975fd9642d0ae477102e0d0b91e
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123dff135a20001f200f
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
