---
version: 1
interactions:
- request:
    body: '{"shipment":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"error":{"code":"SHIPMENT.INVALID_PARAMS","message":"Unable to create
      shipment, one or more parameters were invalid.","errors":[{"to_address":"Required
      and missing."},{"from_address":"Required and missing."}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 0cdd6ee962c49f8defb3f9ef000c8f61
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 403f17ff97
      - extlb2nuq 403f17ff97
      X-Version-Label:
      - easypost-202207051744-6385ac2987-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
