---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '{"events":[{"created_at":"2023-11-30T20:10:48.715Z","description":"batch.created","id":"evt_8d96aedc8fbc11eeb4cd35bc67845c54","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2023-11-30T20:10:35.679Z","description":"batch.updated","id":"evt_85d18d168fbc11eeb5093b12b506d7cc","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2023-11-30T20:10:34.816Z","description":"batch.updated","id":"evt_854e02528fbc11eeafeb1f7470bf2be3","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2023-11-30T20:10:34.714Z","description":"batch.created","id":"evt_853e57e48fbc11ee8329714fa0a9261d","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2023-11-30T20:10:34.545Z","description":"batch.updated","id":"evt_852499d08fbc11eebb546f4eb254d892","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec49e7896122001b52a5
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
