---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-04-11","end_date":"2022-04-11","columns":["usps_zone"]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"created_at":"2022-05-26T15:05:27Z","end_date":"2022-04-11","id":"shprep_78153bb3e8c444349f72e33312958fcd","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2022-05-26T15:05:27Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f002b823cd0d2664167dd175f0fdce92"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9737e78b9ba7006bc36e
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 201 Created
    code: 201
    duration: ""
