---
version: 1
interactions:
- request:
    body: '{"additional_columns":["from_name","from_company"],"end_date":"2022-04-11","start_date":"2022-04-11"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"created_at":"2024-08-02T23:15:23Z","end_date":"2022-04-11","id":"shprep_5fe310bd7cd246b28d39fc1fd4dd4e52","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2024-08-02T23:15:23Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad688bf440b8c70037673a
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
