---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-08-19T17:55:37+00:00","email":"TEST@EXAMPLE.COM","federal_tax_id":null,"id":"adr_21b373101fe811edb90bac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-08-19T17:55:37+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-08-19T17:55:37Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-08-19T17:55:37+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_21b557601fe811edb90eac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-08-19T17:55:37+00:00","verifications":{},"zip":"90277"},"id":"shp_1c6254694e0841c5bc57f2ac0209886b","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-08-19T17:55:37Z","height":4,"id":"prcl_5794de51d1714742a5ce924258af18ce","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-08-19T17:55:37Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-08-19T17:55:38Z","date_advance":0,"id":"pl_3ba0e91c7fa349ddb8f0042cd7e5a433","integrated_form":"none","label_date":"2022-08-19T17:55:38Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220819/0959fa377975453ea5f49e554ae708ff.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-08-19T17:55:38Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:55:37Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_08574595b08b44f49ed10a99aa45a04a","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_1c6254694e0841c5bc57f2ac0209886b","updated_at":"2022-08-19T17:55:37Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:55:37Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_7015f1821d6e46819a41690cf7cee82f","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-08-22T00:00:00Z","max_datetime":"2022-08-22T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_1c6254694e0841c5bc57f2ac0209886b","object":"Shipment","mode":"test","created_at":"2022-08-19T17:55:37Z","updated_at":"2022-08-19T17:55:38Z","to_address":{"id":"adr_21b373101fe811edb90bac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-08-19T17:55:37Z","updated_at":"2022-08-19T17:55:37Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","phone":"5555555555","email":"TEST@EXAMPLE.COM","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_21b557601fe811edb90eac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-08-19T17:55:37Z","updated_at":"2022-08-19T17:55:37Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_21b557601fe811edb90eac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-08-19T17:55:37Z","updated_at":"2022-08-19T17:55:37Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_21b373101fe811edb90bac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-08-19T17:55:3[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_ac0d443866cf455d9b02d3bf47f9efdc/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-08-19T17:55:38+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_2268d6c61fe811ed914cac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-08-19T17:55:38+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC62056232","created_at":"2022-08-19T17:55:38Z","id":"pickup_ac0d443866cf455d9b02d3bf47f9efdc","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-08-22T00:00:00Z","messages":[],"min_datetime":"2022-08-22T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-08-19T17:55:39Z","currency":"USD","id":"pickuprate_bfed0992c4844842b97cf66fd2f63e55","mode":"test","object":"PickupRate","pickup_id":"pickup_ac0d443866cf455d9b02d3bf47f9efdc","rate":"0.00","service":"NextDay","updated_at":"2022-08-19T17:55:39Z"}],"reference":null,"status":"scheduled","updated_at":"2022-08-19T17:55:40Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"412272ccb964bf5dafe6c0a6f0372c47"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - cbe71dcb62ffce9bff246f1f0078dae1
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_ac0d443866cf455d9b02d3bf47f9efdc/cancel
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-08-19T17:55:38+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_2268d6c61fe811ed914cac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Addre[...]
