---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"verify_strict":["true"]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2024-01-08T18:27:41+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9ba97ff1ae5311eebc01ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-01-08T18:27:41+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_9ba97ff1ae5311eebc01ac1f6bc539ae
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d1c48c8a659c3e9df40c261200033001
      X-Node:
      - bigweb36nuq
      X-Proxied:
      - intlb2nuq ab82b2e6e9
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202401051829-4cf193bd35-master
    status: 201 Created
    code: 201
    duration: ""
