---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"registration_data":null,"test_credentials":{},"type":"DhlEcsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-11-22T23:20:26Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_c605a205cc95419fb6ebc5e0a86bc602","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-11-22T23:20:26Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c201a39112d311d1c90d08ce650c0666"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 632f8eb4637d593af3c6c69200627272
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_c605a205cc95419fb6ebc5e0a86bc602
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 632f8eb4637d593bf3c6c692006273f1
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
    status: 200 OK
    code: 200
    duration: ""
