---
version: 1
interactions:
- request:
    body: '{"address":{"city":"Not A City","company":"EasyPost","country":"US","email":"REDACTED","phone":"REDACTED","state":"ZZ","street1":"000
      unknown street","zip":"00001"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"Not A City","company":"EasyPost","country":"US","created_at":"2024-01-08T18:27:40+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9b750f36ae5311ee8f3b3cecef1b359e","mode":"test","name":null,"object":"Address","phone":"REDACTED","residential":null,"state":"ZZ","state_tax_id":null,"street1":"000
      unknown street","street2":null,"updated_at":"2024-01-08T18:27:40+00:00","verifications":{},"zip":"00001"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_9b750f36ae5311ee8f3b3cecef1b359e
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d1c48c8a659c3e9cf40c261200032fae
      X-Node:
      - bigweb36nuq
      X-Proxied:
      - intlb2nuq ab82b2e6e9
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202401051829-4cf193bd35-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"address":{"city":"Not A City","company":"EasyPost","country":"US","email":"REDACTED","phone":"REDACTED","state":"ZZ","street1":"000
      unknown street","zip":"00001"},"verify":["delivery"]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses/create_and_verify
    method: POST
  response:
    body: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
      not found","suggestion":null}],"message":"Unable to verify address."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d1c48c8a659c3e9cf40c261200032fc4
      X-Node:
      - bigweb34nuq
      X-Proxied:
      - intlb2nuq ab82b2e6e9
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202401051829-4cf193bd35-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
