---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:36Z","is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_ee74825f4fb64de6b2d2782df384b4a8","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_9bf8286878e8466ba03a563a5f2db15a","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_adda9cf45ed0468eafa9ce36d9186121","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_3837b40338d24421aa9fa760d426daf6","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/shipments/shp_bdfa2c8d02004dbaa138f37f086288e2/smartrate
    method: GET
  response:
    body: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-03-03T19:09:36Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_93fa9eb8e2b94b3abaa046d1e1130c79","list_currency":"USD","list_rate":5.49,"mode":"test","object":"Rate","rate":5.49,"retail_currency":"USD","retail_rate":5.49,"service":"First","shipment_id":"shp_bdfa2c8d02004dbaa138f37f086288e2","time_in_transit":{"percentile_50":1,"percentile_75":1,"percentile_85":1,"percentile_90":2,"percentile_95":2,"percentile_97":3,"percentile_99":4},"updated_at":"2022-03-03T19:09:36Z"},{"carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-03-03T19:09:36Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_4c88775b0ce142b5af9e2570ff06a247","list_currency":"USD","list_rate":23.75,"mode":"test","object":"Rate","rate":23.75,"retail_currency":"USD","retail_rate":27.4,"service":"Express","shipment_id":"shp_bdfa2c8d02004dbaa138f37f086288e2","t[...]
