---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/users/children
    method: GET
  response:
    body: '{"children":[{"created_at":"2023-09-20T18:01:26Z","id":"user_5f0c48e7a66b42398740b0149b1bb24c","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"created_at":"2023-09-20T18:09:24Z","id":"user_97f56192c53d490aa7851087b88618a4","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"created_at":"2023-11-30T20:12:09Z","id":"user_3d8dac28f4ba42729036133637356d40","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true}],"has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3c78c4076597040bf3f7dc71000c4b20
      X-Node:
      - bigweb38nuq
      X-Proxied:
      - intlb2nuq 2c48984abf
      - extlb2nuq 003ad9bca0
      X-Version-Label:
      - easypost-202401041812-437974c716-master
    status: 200 OK
    code: 200
    duration: ""
