---
version: 1
interactions:
- request:
    body: '{"shipment":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"error":{"code":"PARAMETER.REQUIRED","errors":[{"field":"shipment","message":"cannot
      be blank"}],"message":"Missing required parameter."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 7986045464c00e5ff40b11b4001e0f47
      X-Node:
      - bigweb36nuq
      X-Proxied:
      - intlb1nuq d3d339cca1
      - intlb1wdc d3d339cca1
      - extlb4wdc 003ad9bca0
      X-Version-Label:
      - easypost-202307242114-8c5b7796df-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
