---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/scan_forms
    method: GET
  response:
    body: '{"has_more":false,"scan_forms":[{"address":null,"batch_id":"batch_6be2fe1344e54c138bb3b76998651596","confirmation":null,"created_at":"2022-08-16T20:24:32Z","form_file_type":null,"form_url":null,"id":"sf_5258ae2b14804925868b1720eb8efa37","message":"Unable
      to create a ScanForm from shipments bought from this carrier.","object":"ScanForm","status":"failed","tracking_codes":[],"updated_at":"2022-08-16T20:24:32Z"},{"address":null,"batch_id":"batch_a989658b70e54a89b3a68f34ba171b95","confirmation":null,"created_at":"2022-08-16T20:24:32Z","form_file_type":null,"form_url":null,"id":"sf_407587897e3e466dbe1358869f63f186","message":"Unable
      to create a ScanForm from shipments bought from this carrier.","object":"ScanForm","status":"failed","tracking_codes":[],"updated_at":"2022-08-16T20:24:33Z"},{"address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-08-19T17:47:30+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_ff87cc2e1fe611ed9d47ac1f6bc72124","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-08-19T17:47:30+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_13cc297d60e7438db6ac3c129e58ca7f","confirmation":null,"created_at":"2022-08-19T17:47:36Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220819/ede0c42bd545438582d9e2df22457c38.pdf","id":"sf_19a9f92a2a0e46da8316132399b4a4b2","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100109361133883592"],"updated_at":"2022-08-19T17:47:36Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"87ef0c404ae9bab811c13eb3c1d04e39"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccdcff246ba100701df7
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
