---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '{"events":[{"created_at":"2022-09-21T16:19:09.619Z","description":"batch.updated","id":"evt_1f63b81439c911ed9001179dffb8b84e","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-21T16:19:08.491Z","description":"batch.updated","id":"evt_1eb7930e39c911eda4434d8c912e81d3","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-21T16:19:08.382Z","description":"batch.created","id":"evt_1ea701e239c911ed93f62b8e1b1ac9c4","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-21T16:19:08.069Z","description":"batch.updated","id":"evt_1e773f3439c911edabeb23f8efa33cad","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-21T16:19:04.313Z","description":"batch.updated","id":"evt_1c3a25e239c911edaf2601028645a1f1","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"215d1d61d555ef4b75795e91a67ebcf6"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397fec8e8d29000136d5
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
