---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
<<<<<<< HEAD
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-06T16:39:27+00:00","email":null,"federal_tax_id":null,"id":"adr_3aff02f4e5b711ecbcc4ac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-06T16:39:27+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-06T16:39:27Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-06T16:39:27+00:00","email":null,"federal_tax_id":null,"id":"adr_3b005c2be5b711ec96a3ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-06T16:39:27+00:00","verifications":{},"zip":"94107"},"id":"shp_83e7a093f6dd4dc4983debb7d1e027ad","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-06T16:39:27Z","height":4,"id":"prcl_fc1839b112554ba6be7dc7b6e74bb799","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-06T16:39:27Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-06T16:39:27Z","date_advance":0,"id":"pl_4b7e256f184a495290acf0f7c79c7f7d","integrated_form":"none","label_date":"2022-06-06T16:39:27Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220606/b0f3d1700e194e3f869af4394f900d2c.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-06T16:39:27Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-06T16:39:27Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_6b9bae3eac2947a2b6dc8868bcfbcce9","list_currency":"USD","list_rate":"5.49","mode":"test","object":"Rate","rate":"5.49","retail_currency":"USD","retail_rate":"5.49","service":"First","shipment_id":"shp_83e7a093f6dd4dc4983debb7d1e027ad","updated_at":"2022-06-06T16:39:27Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-06T16:39:27Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_afbef5c9680a4bf685fc2e52ff11541d","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate[...]
- request:
<<<<<<< HEAD
    body: '{"pickup":{"min_datetime":"2022-06-27T00:00:00Z","max_datetime":"2022-06-27T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_83e7a093f6dd4dc4983debb7d1e027ad","object":"Shipment","mode":"test","created_at":"2022-06-06T16:39:27Z","updated_at":"2022-06-06T16:39:28Z","to_address":{"id":"adr_3aff02f4e5b711ecbcc4ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-06T16:39:27Z","updated_at":"2022-06-06T16:39:27Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_3b005c2be5b711ec96a3ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-06-06T16:39:27Z","updated_at":"2022-06-06T16:39:27Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_3b005c2be5b711ec96a3ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-06-06T16:39:27Z","updated_at":"2022-06-06T16:39:27Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_3aff02f4e5b711ecbcc4ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
<<<<<<< HEAD
    url: https://api.easypost.com/v2/pickups/pickup_36095d586e844d9b929da5eb6e878793/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-06T16:39:28+00:00","email":null,"federal_tax_id":null,"id":"adr_3b9a43e9e5b711ecbd00ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-06T16:39:28+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61834664","created_at":"2022-06-06T16:39:28Z","id":"pickup_36095d586e844d9b929da5eb6e878793","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-06-27T00:00:00Z","messages":[],"min_datetime":"2022-06-27T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-06T16:39:29Z","currency":"USD","id":"pickuprate_ce513f173ee24857a0f3173af3bd01e8","mode":"test","object":"PickupRate","pickup_id":"pickup_36095d586e844d9b929da5eb6e878793","rate":"0.00","service":"NextDay","updated_at":"2022-06-06T16:39:29Z"}],"reference":null,"status":"scheduled","updated_at":"2022-06-06T16:39:30Z"}'
=======
    url: https://api.easypost.com/v2/pickups/pickup_49a4f1a6ab334d1abe973db0e0e2e52d/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-03T17:21:19+00:00","email":null,"federal_tax_id":null,"id":"adr_9567f3ace36111eca3eeac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-03T17:21:19+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61825678","created_at":"2022-06-03T17:21:20Z","id":"pickup_49a4f1a6ab334d1abe973db0e0e2e52d","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-06-04T00:00:00Z","messages":[],"min_datetime":"2022-06-04T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-03T17:21:20Z","currency":"USD","id":"pickuprate_c1fd4f76516e453ba210dea417653ec1","mode":"test","object":"PickupRate","pickup_id":"pickup_49a4f1a6ab334d1abe973db0e0e2e52d","rate":"0.00","service":"NextDay","updated_at":"2022-06-03T17:21:20Z"}],"reference":null,"status":"scheduled","updated_at":"2022-06-03T17:21:21Z"}'
>>>>>>> d549808 (re-record cassettes.)
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
<<<<<<< HEAD
      - W/"c296b055747b8cbe3259889b86c63f1a"
=======
      - W/"020bb374b83b2f6fca8f2a40a88dc49d"
>>>>>>> d549808 (re-record cassettes.)
      Expires:
      - "0"
      Pragma:
      - no-cache
      Referrer-Policy:
      - strict-origin-when-cross-origin
      Strict-Transport-Security:
      - max-age=31536000; includeSubDomains; preload
      X-Backend:
      - easypost
      X-Content-Type-Options:
      - nosniff
      X-Download-Options:
      - noopen
      X-Ep-Request-Uuid:
<<<<<<< HEAD
      - 2a5b1ed7629e2dc1e6654d100018ad9d
=======
      - db920f87629a4310ff235f60001b095b
>>>>>>> d549808 (re-record cassettes.)
      X-Frame-Options:
      - SAMEORIGIN
      X-Node:
      - bigweb2nuq
      X-Permitted-Cross-Domain-Policies:
      - none
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb2nuq 0910011e7e
      X-Runtime:
<<<<<<< HEAD
      - "0.957124"
=======
      - "0.834641"
>>>>>>> d549808 (re-record cassettes.)
      X-Version-Label:
      - easypost-202206030043-0fd9609f83-master
      X-Xss-Protection:
      - 1; mode=block
    status: 200 OK
    code: 200
    duration: ""
