---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-11-30T20:11:41+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ad1c4e5b8fbc11ee8bd2ac1f6bc539aa","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2023-11-30T20:11:41+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2023-11-30T20:11:41Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-11-30T20:11:41+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ad1ef2498fbc11ee84853cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-11-30T20:11:41+00:00","verifications":{},"zip":"90277"},"id":"shp_377201d5b6f84999bb41454ecb5e8600","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-11-30T20:11:41Z","height":4,"id":"prcl_d176cc4dd44b473bb17d7f1086da5470","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-11-30T20:11:41Z","weight":15.4,"width":8},"postage_label":{"created_at":"2023-11-30T20:11:42Z","date_advance":0,"id":"pl_9475c84bf68b490789158a3dce288897","integrated_form":"none","label_date":"2023-11-30T20:11:42Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231130/e83a72f3da8f744224b8b9f7c8e7793b82.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2023-11-30T20:11:42Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:11:41Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_71a0501215684647a49cba4fbf6af019","list_currency":"USD","list_rate":"31.25","mode":"test","object":"Rate","rate":"31.25","retail_currency":"USD","retail_rate":"35.80","service":"Express","shipment_id":"shp_377201d5b6f84999bb41454ecb5e8600","updated_at":"2023-11-30T20:11:41Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:11:41Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_a0ed6e33ceb1484185559e7a7c4fc433","list_currency":"USD","list_rate":"8.24","mode":"test","object":"Rate","rate":"6.95","retail_currency":"USD","retail_rate":"10.20[...]
- request:
    body: '{"shipments":[{"id":"shp_377201d5b6f84999bb41454ecb5e8600"}]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/scan_forms
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2023-11-30T20:11:41+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ad1ef2498fbc11ee84853cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-11-30T20:11:41+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_f37a65a455f04c5cba7bf39be6e0a3d0","confirmation":null,"created_at":"2023-11-30T20:11:42Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20231130/e8c9a1edddebd34685b3ee50d9cdcb8889.pdf","id":"sf_49f7df78c416412188a23575c01071a8","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100105442287383573"],"updated_at":"2023-11-30T20:11:43Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec7ee7896122001b8205
      X-Node:
      - bigweb31nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
