---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers
    method: POST
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T16:19:10+00:00","email":"REDACTED","id":"es_5842c25848874425b2fbe1f7f892326c","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-09-21T16:19:10+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ef09fd3a77d8a0a75dc4a2a1470b99a"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397eec8e8d2900013646
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/end_shippers/es_5842c25848874425b2fbe1f7f892326c
    method: GET
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T16:19:10+00:00","email":"REDACTED","id":"es_5842c25848874425b2fbe1f7f892326c","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T16:19:10+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa2250a737ba757f9da3d7b749bbe056"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397eec8e8d2900013651
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
