---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","company":"EasyPost","country":"US","email":"REDACTED","phone":"REDACTED","state":"CA","street1":"417
      montgomery street","street2":"FL 5","zip":"94104"},"verify":["delivery"]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-09-21T16:18:59+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_19155a0f39c911ed8f69ac1f6bc72124","mode":"test","name":null,"object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"417
      MONTGOMERY ST FL 5","street2":"","updated_at":"2022-09-21T16:18:59+00:00","verifications":{"delivery":{"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"},"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
      secondary information(Apt/Suite#)","suggestion":null}],"success":true}},"zip":"94104-1129"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e168b399ece0f1962e7818d3b5063461"
      Location:
      - /api/v2/addresses/adr_19155a0f39c911ed8f69ac1f6bc72124
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3972ec8e8d2900012eff
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
