---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/trackers
    method: GET
  response:
    body: '{"trackers":[{"id":"trk_1d0764c76da149abbaf671fc2845a635","object":"Tracker","mode":"test","tracking_code":"9400100109361130480220","status":"delivered","status_detail":"arrived_at_destination","created_at":"2022-07-28T19:45:57Z","updated_at":"2022-07-28T19:48:57Z","signed_by":"John
      Tester","weight":null,"est_delivery_date":"2022-07-28T19:48:57Z","shipment_id":"shp_362f860c561f4814a17518793375a36c","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-06-28T19:48:57Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-06-29T08:25:57Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}},{"object":"TrackingDetail","message":"Arrived
      at USPS Origin Facility","description":null,"status":"in_transit","status_detail":"arrived_at_facility","datetime":"202[...]
