---
version: 1
interactions:
- request:
    body: '{"order":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"is_return":false,"shipments":[{"from_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}],"to_address":{"city":"Redondo Beach","country":"US","email":"REDACTED","name":"Elizabeth
      Swan","phone":"REDACTED","state":"CA","street1":"179 N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2023-11-30T20:11:11+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9b52a6d38fbc11eebd67ac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-11-30T20:11:11+00:00","verifications":{},"zip":"90277"},"created_at":"2023-11-30T20:11:11Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-11-30T20:11:11+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9b5480208fbc11eeb220ac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-11-30T20:11:11+00:00","verifications":{},"zip":"94107"},"id":"order_1339e12c90e64dbebe354bb1d376f27a","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Unauthorized.
      Please check credentials and try again","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_92af32d83df44ef485e801e25ce6a736","list_currency":"USD","list_rate":"8.24","mode":"test","object":"Rate","rate":"6.95","retail_currency":"USD","retail_rate":"10.20","service":"Priority","shipment_id":"shp_afdcce3dbf124301bb7ce967c7da3be0","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_a931cfd81d3a442c80262697c1cf644e","list_currency":"USD","list_rate":"6.07","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.00","service":"GroundAdvantage","shipme[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/orders/order_1339e12c90e64dbebe354bb1d376f27a
    method: GET
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2023-11-30T20:11:11+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9b52a6d38fbc11eebd67ac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone[...]
