---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers
    method: POST
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-08-24T21:48:57+00:00","email":"REDACTED","id":"es_c13b91493daf46bea7b3f5b006f3a876","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-08-24T21:48:57+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1176af3f8a112ea6bf04a8d3c215a469"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 70da33d963069cc9e78a86aa008a7493
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208241853-b300c23ebd-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"address":{"id":"es_c13b91493daf46bea7b3f5b006f3a876","object":"EndShipper","created_at":"2022-08-24T21:48:57Z","updated_at":"2022-08-24T21:48:57Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Captain
      Sparrow","company":"EasyPost","phone":"9999999999","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers/es_c13b91493daf46bea7b3f5b006f3a876
    method: PUT
  response:
    body: '{"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-08-24T21:48:57+00:00","email":"REDACTED","id":"es_c13b91493daf46bea7b3f5b006f3a876","name":"CAPTAIN
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-08-24T21:48:57+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"291961407aa97dd6b8824e6f82a53d9a"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 70da33d963069cc9e78a86aa008a749d
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208241853-b300c23ebd-master
    status: 200 OK
    code: 200
    duration: ""
