---
version: 1
interactions:
- request:
    body: '{"user":{"name":"Test User"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users
    method: POST
  response:
    body: '{"api_keys":[],"children":[],"created_at":"2022-08-16T20:24:40Z","id":"user_f717cf4d121f45eebefd75067d6f863d","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0f2075a800be9df3d89396f8067905c6"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfd07e78a92e70001aed4
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 201 Created
    code: 201
    duration: ""
