---
version: 1
interactions:
- request:
    body: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/trackers
    method: POST
  response:
    body: '{"carrier":"USPS","carrier_detail":null,"created_at":"2022-09-21T16:20:07Z","est_delivery_date":"2022-09-21T16:20:07Z","fees":[{"amount":"0.02000","charged":false,"object":"Fee","refunded":false,"type":"TrackerFee"}],"finalized":true,"id":"trk_2b98e5e634dd422bb9b2d18c8a2e4e01","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrXzJiOThlNWU2MzRkZDQyMmJiOWIyZDE4YzhhMmU0ZTAx","shipment_id":null,"signed_by":null,"status":"pre_transit","status_detail":"unknown","tracking_code":"EZ1000000001","tracking_details":[{"carrier_code":null,"datetime":"2022-08-21T16:20:07Z","description":null,"message":"Pre-Shipment
      information received","object":"TrackingDetail","source":"EasyPost","status":"pre_transit","status_detail":null,"tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":null,"datetime":"2022-08-22T11:09:07Z","description":null,"message":"Shipping
      label created","object":"TrackingDetail","source":"EasyPost","status":"pre_transit","status_detail":null,"tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}}],"updated_at":"2022-09-21T16:20:07Z","weight":17.6}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0ba50ca9756bde1a465e25c55561a60f"
      Location:
      - /api/v2/trackers/trk_2b98e5e634dd422bb9b2d18c8a2e4e01
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b39b7ec8e8d2900015530
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
