---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_c67a019ca19011ec9571ac1f6b0a0d1e","object":"Address","created_at":"2022-03-11T23:12:51+00:00","updated_at":"2022-03-11T23:12:51+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7ae3a88a95665a3e03d9197bf0632295"
      Location:
      - /api/v2/addresses/adr_c67a019ca19011ec9571ac1f6b0a0d1e
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 04d93848622bd773e78a8ec8003d96dd
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202203112245-f4da90b8a2-master
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_66e80b67a26a47ada31831fb3ddc6a74","object":"Parcel","created_at":"2022-03-11T23:12:52Z","updated_at":"2022-03-11T23:12:52Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df0c2b042febcaa09bba80c5f569a177"
      Location:
      - /api/v2/parcels.prcl_66e80b67a26a47ada31831fb3ddc6a74
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 04d93848622bd774e78a8ec8003d96e8
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202203112245-f4da90b8a2-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipment":{"to_address":{"id":"adr_c687e8e2a19011ec9de3ac1f6bc7b362"},"from_address":{"id":"adr_c67a019ca19011ec9571ac1f6b0a0d1e"},"parcel":{"id":"prcl_66e80b67a26a47ada31831fb3ddc6a74"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-11T23:12:52Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-03-11T23:12:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_c67a019ca19011ec9571ac1f6b0a0d1e","object":"Address","created_at":"2022-03-11T23:12:51+00:00","updated_at":"2022-03-11T23:12:51+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_66e80b67a26a47ada31831fb3ddc6a74","object":"Parcel","created_at":"2022-03-11T23:12:52Z","updated_at":"2022-03-11T23:12:52Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_9bb645a53e2d41ad973ff7d553d5f947","object":"Rate","created_at":"2022-03-11T23:12:52Z","updated_at":"2022-03-11T23:12:52Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3270ec4fc8274845b7454b740e1af547","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_c24361c720d845028658bd32961ded4d","object":"Rate","created_at":"2022-03-11T23:12:52Z","updated_at":"2022-03-11T23:12:52Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_3270ec4fc8274845b7454b740e1af547","ca[...]
