---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:10Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822396","updated_at":"2022-03-03T19:09:11Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_67f91a109b2511ecaf46ac1f6bc72124","object":"Address","created_at":"2022-03-03T19:09:10+00:00","updated_at":"2022-03-03T19:09:10+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_3568480d66f9412084efe3b300440596","object":"Parcel","created_at":"2022-03-03T19:09:10Z","updated_at":"2022-03-03T19:09:10Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_793552b777e147c4a6754585bf2f97df","created_at":"2022-03-03T19:09:10Z","updated_at":"2022-03-03T19:09:10Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T19:09:10Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/08eee7c1a89b4906b2c7c3e9e135921f.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_41591fd4d51c4398b58836411a9f9501","object":"Rate","created_at":"2022-03-03T19:09:10Z","updated_at":"2022-03-03T19:09:10Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_129625a97178436f80d2aa605cb3c887","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_aa556d426d1a46aea931b9fb42c30a13","object":"Rate","created_at":"2022-03-03T19:09:10Z","updated_at":"2022-03-03T19:09:10Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_129625a97178436f80d2aa605cb3c887","carrier_ac[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-03-04T14:09:10.910333-05:00","max_datetime":"2022-03-05T14:09:10.910334-05:00","instructions":"Pickup
      at front door","shipment":{"id":"shp_129625a97178436f80d2aa605cb3c887","object":"Shipment","mode":"test","created_at":"2022-03-03T19:09:10Z","updated_at":"2022-03-03T19:09:11Z","to_address":{"id":"adr_67f72ce19b2511eca80bac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-03-03T19:09:10Z","updated_at":"2022-03-03T19:09:10Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_67f91a109b2511ecaf46ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-03-03T19:09:10Z","updated_at":"2022-03-03T19:09:10Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_67f91a109b2511ecaf46ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-03-03T19:09:10Z","updated_at":"2022-03-03T19:09:10Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_67f72ce19b2511eca80bac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-03-03T19:09:10Z","updated_at":"2022-03-03T19:09:10Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/pickups/pickup_c50949701d4e412fbe231de5525af04b
    method: GET
  response:
    body: '{"id":"pickup_c50949701d4e412fbe231de5525af04b","object":"Pickup","created_at":"2022-03-03T19:09:11Z","updated_at":"2022-03-03T19:09:11Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-03-04T19:09:10Z","max_datetime":"2022-03-05T19:09:10Z","is_account_address":false,"instructions":"Pickup
      at front door","messages":[],"confirmation":null,"address":{"id":"adr_68a0406e9b2511ecbcd9ac1f6bc7bdc6","object":"Address","created_at":"2022-03-03T19:09:11+00:00","updated_at":"2022-03-03T19:09:11+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-03-03T19:09:11Z","updated_at":"2022-03-03T19:09:11Z","carrier":"USPS","pickup_id":"pickup_c50949701d4e412fbe231de5525af04b","id":"pickuprate_efe5cf24092e4b48861097c290d40f0e","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c2dc847656a943cce258fbbb6d8b394"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211258ff135a20001f2615
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
