---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '{"events":[{"description":"batch.updated","id":"evt_06fcd1bc1fe711edb3b177a8c827db35","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-08-19T17:47:43.349Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_064e06001fe711ed83e6114d442c2ff5","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-08-19T17:47:42.203Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_0642f5081fe711ed82210338122fd97c","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-08-19T17:47:42.131Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_062467001fe711ed860f67658c493e36","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-08-19T17:47:41.930Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_03a2d3361fe711ed99d619c0097af36a","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-08-19T17:47:37.726Z","mode":"test","object":"Event"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"200ffd037a334d860ed112b1fa468c17"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccc2ff246ba100701165
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
