---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"test_credentials":{},"type":"DhlEcsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-21T18:22:09Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_46e8f472ac31495895513e90fedf866b","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-21T18:22:09Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"021dc22a22738672b1d934e563f01130"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5651ec7d9989000d98c7
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"carrier_account":{"credentials":null,"description":"My custom description","id":"ca_46e8f472ac31495895513e90fedf866b","test_credentials":null}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/ca_46e8f472ac31495895513e90fedf866b
    method: PATCH
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-21T18:22:09Z","credentials":{},"description":"My
      custom description","fields":{},"id":"ca_46e8f472ac31495895513e90fedf866b","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-21T18:22:09Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47febe450de67899518f989947e9c972"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5651ec7d9989000d98e8
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
[...]
