---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"UpsAccount","credentials":{"access_license_number":"ALN","account_number":"A1A1A1","password":"PASSWORD","user_id":"USERID"},"test_credentials":null}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-06-01T17:46:37Z","credentials":{},"description":"UPS
      Account","fields":{"credentials":{"account_number":{"label":"UPS Account Number","value":"A1A1A1","visibility":"readonly"}}},"id":"ca_e132930277ee42fbac046b341306aa43","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":{},"type":"UpsAccount","updated_at":"2022-06-01T17:46:37Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eaab91a1c5bfbd66c4aeeda2fe545bd3"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6d86f1b16297a5fde786af5b001f0169
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206010206-f8352cdc94-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"carrier_account":{"id":"ca_e132930277ee42fbac046b341306aa43","object":"CarrierAccount","created_at":"2022-06-01T17:46:37Z","updated_at":"2022-06-01T17:46:37Z","type":"UpsAccount","fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
      Account Number","value":"A1A1A1"}}},"description":"My custom description","readable":"UPS","credentials":{"account_number":"A1A1A1"},"test_credentials":null}}'
    form: {}
    headers:
      Authorization:
    [...]
[...]
