---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"created_at":"2023-11-30T20:10:34Z","id":"batch_57965e87f01e45deb068696495018261","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"creating","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2023-11-30T20:10:34Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec3ae7896122001b4524
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_57965e87f01e45deb068696495018261
    method: GET
  response:
    body: '{"created_at":"2023-11-30T20:10:34Z","id":"batch_57965e87f01e45deb068696495018261","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"created","id":"shp_b992659f918e449b94637d70347bfce0","reference":null,"tracking_code":null}],"state":"created","status":{"created":1,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2023-11-30T20:10:34Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 32e015fa6568ec3ae7896122001b4552
      X-Node:
      - bigweb43nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
