---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/claims
    method: GET
  response:
    body: '{"claims":[{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/8127cfe6e9854efd8c1aad5a2f7a2fb4.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/2767b29020094c5d8db6467c0948aff8.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/4efc841619c94902ab7d7e60a616df42.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-07-23T20:42:20","description":"Test
      description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-07-23T20:42:20"}],"id":"clm_097ecf98b9d44601971f2a57e34457f6","insurance_amount":"100.00","insurance_id":"ins_431ead6b13a6488789161935a18811b9","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_e9185d362b37476db2b7631f9324384f","status":"submitted","status_detail":"Claim
      was created.","status_timestamp":"2024-07-23T20:42:20","tracking_code":"9400100110368066410143","type":"damage","updated_at":"2024-07-23T20:42:20"},{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/79703f7be53b412e82a59101887bebaa.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/16db67ee17154987a987e515a649d392.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/4e05074680644ed19fae211480b8a6e6.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-07-23T20:42:18","description"[...]
