---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/reports/shipment
    method: GET
  response:
    body: '{"reports":[{"id":"shprep_2eeb5673124c4a55997ba9d361d69c30","object":"ShipmentReport","created_at":"2022-03-03T02:45:16Z","updated_at":"2022-03-03T02:45:16Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220303/33860ea0a20647acb4f02dcf9579a772.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQVHEFDONM%2F20220303%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220303T190913Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=4e5c9c7b0085ea92e46eed82e622a2d51130fae4a320f4bf23097c214e71ccf5","url_expires_at":"2022-03-03T19:09:43Z","include_children":false},{"id":"shprep_a80fd3c693964fdcaf78605afec2b4e1","object":"ShipmentReport","created_at":"2022-03-03T02:45:16Z","updated_at":"2022-03-03T02:45:16Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220303/9a4c7050ebd24bdf88271214546ca8ef.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQVHEFDONM%2F20220303%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220303T190[...]
