---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-02-26","end_date":"2022-02-27"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/tracker
    method: POST
  response:
    body: '{"id":"trkrep_4413b3b948704bdfa8fef8bcb21d316e","object":"TrackerReport","created_at":"2022-03-01T18:05:06Z","updated_at":"2022-03-03T02:45:18Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/tracker_report/20220303/7d2f704538a9473a970d2a0c0b3d3666.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQVHEFDONM%2F20220303%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220303T190916Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=3baef244dd75d4fa4b0a4d84cb657da71a89355b6dfd768f5d5ffb9e000f9a6c","url_expires_at":"2022-03-03T19:09:46Z","include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aed0fe927804926d1fc4c1dbc3536682"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125cff135a20001f270c
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/reports/tracker/trkrep_4413b3b948704bdfa8fef8bcb21d316e
    method: GET
  response:
    body: '{"id":"trkrep_4413b3b948704bdfa8fef8bcb21d316e","object":"TrackerReport","created_at":"2022-03-01T18:05:06Z","updated_at":"2022-03-03T02:45:18Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/tracker_report/20220303/7d2f704538a9473a970d2a0c0b3d3666.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQVHEFDONM%2F20220303%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220303T190916Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=3baef244dd75d4fa4b0a4d84cb657da71a89355b6dfd768f5d5ffb9e000f9a6c","url_expires_at":"2022-03-03T19:09:46Z","include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aed0fe927804926d1fc4c1dbc3536682"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125cff135a20001f2717
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
