---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:12Z","is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_e2e30792c1b84bc2b863dbea38b0b80f","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_9bf8286878e8466ba03a563a5f2db15a","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_3837b40338d24421aa9fa760d426daf6","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_024286b898e346f4b17de43a0677fc7d","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/rates/rate_a3f8cf718b0d459ab60c85352b7e8318
    method: GET
  response:
    body: '{"id":"rate_a3f8cf718b0d459ab60c85352b7e8318","object":"Rate","created_at":"2022-03-03T19:09:13Z","updated_at":"2022-03-03T19:09:13Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4576404ad3f44efca5bcb943cb91f3c4","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8adc62c144f542ba1a354d67effa220"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211259ff135a20001f264a
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
