---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_5408ef399b2511ec9bc7ac1f6b0a0d1e","object":"Address","created_at":"2022-03-03T19:08:36+00:00","updated_at":"2022-03-03T19:08:36+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38c30fd897f30cf6bdf1fcc75a1f4df6"
      Location:
      - /api/v2/addresses/adr_5408ef399b2511ec9bc7ac1f6b0a0d1e
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211234ff135a20001f1dfa
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
