---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-02-26","end_date":"2022-02-27"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/payment_log
    method: POST
  response:
    body: '{"id":"plrep_5284a3b56cf244668fc67f8e6cb4c83e","object":"PaymentLogReport","created_at":"2022-03-03T19:09:14Z","updated_at":"2022-03-03T19:09:14Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"new","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dfc5f7170d9987ddbf0469220fcf3e72"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125aff135a20001f2680
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/reports/payment_log/plrep_5284a3b56cf244668fc67f8e6cb4c83e
    method: GET
  response:
    body: '{"id":"plrep_5284a3b56cf244668fc67f8e6cb4c83e","object":"PaymentLogReport","created_at":"2022-03-03T19:09:14Z","updated_at":"2022-03-03T19:09:14Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"new","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dfc5f7170d9987ddbf0469220fcf3e72"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125aff135a20001f268c
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
