---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:02Z","id":"batch_458f99a0b5384400bdfbcf15072bae71","label_url":null,"mode":"test","num_shipments":1,"object":"EasyPost::Entity::Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"creating","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:02Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a0da7c06e5bbfaa2552e1a53308b477"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c82ec8cdb4300107e0d
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_458f99a0b5384400bdfbcf15072bae71/buy
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:02Z","id":"batch_458f99a0b5384400bdfbcf15072bae71","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"queued_for_purchase","id":"shp_7fb690109f51415d92b2a8c7a5fd4128","reference":null,"tracking_code":null}],"state":"created","status":{"created":1,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:02Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a6304d0ca0e0f3af3843bf4c347813d"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c82ec8cdb4300107e1e
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: file_format=
    form:
      file_format:
      - ""
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches/batch_458f99a0b5384400bdfbcf15072bae71/scan_form
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:02Z","id":"batch_458f99a0b5384400bdfbcf15072bae71","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":{"address":null,"batch_id":"batch_458f99a0b5384400bdfbcf15072bae71","confirmation":null,"created_at":"2022-09-20T23:28:08Z","form_file_type":null,"form_url":null,"id":"sf_671fdcd0935847e98df698c5244a566b","message":null,"object":"ScanForm","status":"creating","tracking_codes":[],"updated_at":"2022-09-20T23:28:08Z"},"shipments":[{"batch_message":null,"batch_status":"postage_purchased","id":"shp_7fb690109f51415d92b2a8c7a5fd4128","reference":null,"tracking_code":"9400100109361138553384"}],"state":"purchased","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":1,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:08Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36da6df1e3350611b57868e598a895a1"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c88ec8cdb4300108009
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
