---
version: 1
interactions:
- request:
    body: '{"user":{"name":"Test User"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users
    method: POST
  response:
    body: '{"api_keys":[],"children":[],"created_at":"2022-09-20T23:29:30Z","id":"user_71d47bc9fdd8474eb609dd7b458b2677","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"081f88f55bb34b602cd55a76a659235f"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4cd9ec8cdb430010952a
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users/user_71d47bc9fdd8474eb609dd7b458b2677
    method: DELETE
  response:
    body: ""
    headers:
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4cdaec8cdb4300109562
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 204 No Content
    code: 204
    duration: ""
