---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"code":null,"created_at":"2023-11-30T20:10:45Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_b9cd231485904a74ac735e6c6d65b293","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2023-11-30T20:10:45Z","value":"23.25","weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/customs_items/cstitem_b9cd231485904a74ac735e6c6d65b293
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec45e7896122001b4e4b
      X-Node:
      - bigweb42nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_items/cstitem_b9cd231485904a74ac735e6c6d65b293
    method: GET
  response:
    body: '{"code":null,"created_at":"2023-11-30T20:10:45Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_b9cd231485904a74ac735e6c6d65b293","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2023-11-30T20:10:45Z","value":"23.25","weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec45e7896122001b4e6b
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
