---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"test_credentials":{},"type":"DhlEcsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2023-11-30T20:10:43Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_b7c16c4c3e93437dbb18a6c3c41e2c80","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2023-11-30T20:10:43Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec43e7896122001b4ca8
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"carrier_account":{"description":"My custom description","id":"ca_b7c16c4c3e93437dbb18a6c3c41e2c80"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/ca_b7c16c4c3e93437dbb18a6c3c41e2c80
    method: PATCH
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2023-11-30T20:10:43Z","credentials":{},"description":"My
      custom description","fields":{},"id":"ca_b7c16c4c3e93437dbb18a6c3c41e2c80","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2023-11-30T20:10:43Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec43e7896122001b4cdb
      X-Node:
      - bigweb36nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
[...]
