---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '{"events":[{"created_at":"2022-09-20T23:28:15.192Z","description":"batch.updated","id":"evt_e688a686393b11edab961fb937b3f482","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-20T23:28:14.463Z","description":"batch.updated","id":"evt_e61981ca393b11edac5423ff83f381ed","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-20T23:28:14.307Z","description":"batch.created","id":"evt_e6019704393b11ed90594f19c09b2229","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-20T23:28:14.066Z","description":"batch.updated","id":"evt_e5dce2c4393b11ed8cda09e180ededa0","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-20T23:28:09.850Z","description":"batch.updated","id":"evt_e3598408393b11edbbc67b3e93907b63","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2096116d189fa49a5003a31715c32670"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c97ec8cdb430010848a
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/events/evt_e688a686393b11edab961fb937b3f482/payloads
    method: GET
  response:
    body: '{"payloads":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b5e6dd0a7b95afc23c69e9e95aa4ce47"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c98ec8cdb43001084b3
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
