---
version: 1
interactions:
- request:
    body: '{"verify_strict":["true"],"address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_54445d049b2511eca3c5ac1f6bc7b362","object":"Address","created_at":"2022-03-03T19:08:37+00:00","updated_at":"2022-03-03T19:08:37+00:00","name":"JACK
      SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77965832bba322a94a97c5855f99aca8"
      Location:
      - /api/v2/addresses/adr_54445d049b2511eca3c5ac1f6bc7b362
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211235ff135a20001f1e0b
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
