---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users
    method: GET
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.03","children":[{"children":[],"created_at":"2023-09-20T18:01:26Z","default_carbon_offset":false,"has_elevate_access":false,"id":"user_5f0c48e7a66b42398740b0149b1bb24c","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"children":[],"created_at":"2023-09-20T18:09:24Z","default_carbon_offset":false,"has_elevate_access":false,"id":"user_97f56192c53d490aa7851087b88618a4","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"children":[],"created_at":"2023-11-30T20:12:09Z","default_carbon_offset":false,"has_elevate_access":false,"id":"user_3d8dac28f4ba42729036133637356d40","name":"Test
      User","object":"User","parent_id"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/api_keys
    method: GET
  response:
    body: '{"children":[{"children":[],"id":"user_5f0c48e7a66b42398740b0149b1bb24c","keys":[{"active":true,"created_at":"2023-09-20T18:01:26Z","id":"ak_88e217ee1f0c483c80f7ab83de73bb5b","key":"REDACTED","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2023-09-20T18:01:26Z","id":"ak_62c5b384a6b1422bb0b99f5578ba59ee","key":"REDACTED","mode":"production","object":"ApiKey"}]},{"children":[],"id":"user_97f56192c53d490aa7851087b88618a4","keys":[{"active":true,"created_at":"2023-09-20T18:09:24Z","id":"ak_ef2cf7363e65470e9ae62a9f8656adf7","key":"REDACTED","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2023-09-20T18:09:24Z","id":"ak_e19b18ca12f14ab78c5fdd80e8697bad","key":"REDACTED"[...]
