---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:30Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822563","updated_at":"2022-03-03T19:09:31Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_744a5e4a9b2511ecb2baac1f6bc72124","object":"Address","created_at":"2022-03-03T19:09:30+00:00","updated_at":"2022-03-03T19:09:30+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_60a5b79bcec34f43a2df7844ececaa89","object":"Parcel","created_at":"2022-03-03T19:09:30Z","updated_at":"2022-03-03T19:09:30Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_577b44cc7aaa4afd8d6c9ff8bca29eba","created_at":"2022-03-03T19:09:31Z","updated_at":"2022-03-03T19:09:31Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T19:09:31Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/4c44dcc61e5a42088c3aefb0c824c967.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_369fa91a603947e495ce430b912d387a","object":"Rate","created_at":"2022-03-03T19:09:31Z","updated_at":"2022-03-03T19:09:31Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b10fd3dbbc734d1dbe4917b1b0ee6a48","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_0330bbea500d4d1696e90630a0767889","object":"Rate","created_at":"2022-03-03T19:09:31Z","updated_at":"2022-03-03T19:09:31Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b10fd3dbbc734d1dbe4917b1b0ee6a48","carrie[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/shipments/shp_b10fd3dbbc734d1dbe4917b1b0ee6a48/refund
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:30Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822563","updated_at":"2022-03-03T19:09:32Z","batch_id":null,"batch_status":null,"batch_messag[...]
