---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/api_keys
    method: GET
  response:
    body: '{"children":[],"id":"user_a76997d126dd488f8ad22d52301300b0","keys":[{"active":true,"created_at":"2022-02-24T20:56:44Z","id":"ak_67dc6b8292554e67aa2134f9ca6a314a","key":"REDACTED","mode":"production","object":"ApiKey"},{"active":true,"created_at":"2022-02-24T20:56:47Z","id":"ak_c3114bfc14c24041b04f959a1f364924","key":"REDACTED","mode":"test","object":"ApiKey"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"88a9410ed7ad408729d45b935516c058"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d206567e63868ec6e78b9ac100232af8
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      X-Version-Label:
      - easypost-202211251832-642412d65d-master
    status: 200 OK
    code: 200
    duration: ""
