---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-04-11","end_date":"2022-04-11","columns":["usps_zone"]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:54Z","end_date":"2022-04-11","id":"shprep_8f0d8ad8005f43e2bca7f4a74a976b4a","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2022-09-20T23:28:54Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e99c8ace11d1193fceacaed5b0cefde"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4cb6ec8cdb4300108c41
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
