---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/addresses
    method: GET
  response:
    body: '{"addresses":[{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2023-03-06T19:05:21+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d7dcff02bc5111ed9ef1ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-03-06T19:05:21+00:00","verifications":{},"zip":"94107"},{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-03-06T19:05:20+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d725877fbc5111ed91e0ac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-03-06T19:05:20+00:00","verifications":{},"zip":"90277"},{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-03-06T19:05:20+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d7204ec8bc5111ed91dbac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2023-03-06T19:05:20+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-03-06T19:05:19+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d6b56832bc5111ed9e87ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-03-06T19:05:19+00:00","verifications":{},"zip":"94107"},{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-03-06T19:05:18+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d5ecd8a8bc5111ed9fb0ac1f6bc72124","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-03-06T19:05:18+00:00","verifications":{},"zip":"90277"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc57073f6c16386c02f06da42f80105f"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 0b623cb7642227afe78b9204001a563c
      X-Node:
      - bigweb12nuq
      X-Proxied:
      - intlb2nuq a40ea751fd
      - extlb1nuq a29e4ad05c
      X-Version-Label:
      - easypost-202303271939-29966fef42-master
    status: 200 OK
    code: 200
    duration: ""
[...]
