---
version: 1
interactions:
- request:
    body: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:34Z","height":4,"id":"prcl_e5132c19e184425fa6bc21bbb7e4ac50","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-20T23:28:34Z","weight":15.4,"width":8}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e551d22ca4ee078662d2e546de65490d"
      Location:
      - /api/v2/parcels.prcl_e5132c19e184425fa6bc21bbb7e4ac50
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4ca2ec8cdb43001087b0
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
