---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users
    method: GET
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.0325","children":[],"created_at":"2022-05-23T17:43:47Z","default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"id":"user_2cfd34d1261a4a9b93d56c313a9a824b","insurance_fee_minimum":"0.25","insurance_fee_rate":"0.005","name":"Ryan
      Nguyen","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18024e4cde702fde15dcd1444d4c7ab3"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19be063a62966178f2d49d9f00026073
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - intlb2wdc 570dfcbc0a
      - extlb1wdc 0910011e7e
      X-Version-Label:
      - easypost-202205272233-af67cc8d0c-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"brand":{"color":"#123456"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users/user_2cfd34d1261a4a9b93d56c313a9a824b/brand
    method: PATCH
  response:
    body: '{"id":"brd_0e606e55ac73483b9ef26ba2e7dcfec5","color":"#123456","logo":"https://assets.easypost.com/assets/images/branding/easypost-primary-logo-7a2cf535f2.svg","logo_href":"https://www.easypost.com","name":"EasyPost","ad":null,"ad_href":null,"object":"Brand","user_id":"user_2cfd34d1261a4a9b93d56c313a9a824b","background_color":null,"theme":"theme1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1db759217d34f1d4558f723082035904"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19be063a62966178f2d49d9f000260b3
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - intlb2wdc 570dfcbc0a
      - extlb1wdc 0910011e7e
      X-Version-Label:
      - easypost-202205272233-af67cc8d0c-master
    status: 200 OK
    code: 200
    duration: ""
