---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_types
    method: GET
  response:
    body: '[{"fields":{"credentials":{}},"logo":null,"object":"CarrierType","readable":"Amazon
      MWS","type":"AmazonMwsAccount"},{"fields":{"credentials":{}},"logo":null,"object":"CarrierType","readable":"APC","type":"ApcAccount"},{"fields":{"credentials":{}},"logo":null,"object":"CarrierType","readable":"Asendia
      USA (Legacy)","type":"AsendiaAccount"},{"fields":{"credentials":{},"test_credentials":{}},"logo":null,"object":"CarrierType","readable":"Asendia
      USA","type":"AsendiaUsaAccount"},{"fields":{"credentials":{}},"logo":null,"object":"CarrierType","readable":"Australia
      Post","type":"AustraliaPostAccount"},{"fields":{"credentials":{},"test_credentials":{}},"logo":null,"object":"CarrierType","readable":"AxlehireV3","type":"AxlehireV3Account"},{"fields":{"credentials":{},"test_credentials":{}},"logo":null,"object":"CarrierType","readable":"Better
      Trucks","type":"BetterTrucksAccount"},{"fields":{"credentials":{},"test_credentials":{}},"logo":null,"object":"CarrierType","readable":"Bond","type":"BondAccount"},{"fields":{"credentials":{},"custom_workflow":true,"test_credentials":{}},"logo":null,"object":"CarrierType","readable":"Canada
      Post","type":"CanadaPostAccount"},{"fields":{"credentials":{},"test_credentials":{}},"logo":null,"object":"CarrierType","readable":"Canpar","type":"CanparAccount"},{"fields":{"credentials":{},"test_credentials":{}},"logo":null,"object":"CarrierType","readable":"CDL
      Last Mile Solutions","type":"ColumbusLastMileAccount"},{"fields":{"credentials":{},"test_credentials":{}},"logo":null,"object":"CarrierType"[...]
