---
version: 1
interactions:
- request:
    body: '{"shipment":{"customs_info":{"contents_type":"merchandise","customs_certify":true,"customs_items":[{"description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"weight":11}],"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_type":"none"},"from_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"},"options":{"invoice_number":"123","label_format":"PNG"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"reference":"123","to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-11-30T20:11:46+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_afe48af08fbc11ee863e3cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-11-30T20:11:46+00:00","verifications":{},"zip":"90277"},"created_at":"2023-11-30T20:11:46Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2023-11-30T20:11:46Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2023-11-30T20:11:46Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_09b13ba2133c4af9a0666abfc18e60cb","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2023-11-30T20:11:46Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_5f96ac2c0d0c42c091282cd889f67592","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2023-11-30T20:11:46Z"},"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-11-30T20:11:46+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_afe769ed8fbc11eebed0ac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-11-30T20:11:46+00:00","verifications":{},"zip":"94107"},"id":"shp_fe05ed3554d0486d96be739870fc1490","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"shipment.customs_info.customs_items.0.value:
      field required and shipment.customs_info.customs_items.0.code: field required","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-11-30T20:11:46Z","height":4,"id":"prcl_04fb78c56d40441f87a5e0272c005230","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-11-30T20:11:46Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:11:46Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_2b525fe44cf84e80bcd3b7fa34cdc7c3","list_currency":"USD","list_rate":"8.24","mode":"test","object":"Rate","rate":"6.95","retail_currency":"USD","retail_rate":"10.20","service":"Priority","shipment_id":"shp_fe05ed3554d0486d96be739870fc1490","updated_at":"2023-11-30T20:11:46Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:11:46Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_942f964dfa7d45afbc97b51d88254042","list_currency":"USD","list_rate":"6.07","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.00"[...]
- request:
    body: '{"rate":{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:11:46Z","currency":"USD","delivery_days":3,"est_delivery_days":3,"id":"rate_942f964dfa7d45afbc97b51d88254042","list_currency":"USD","list_rate":"6.07","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.00","service":"GroundAdvantage","shipment_id":"shp_fe05ed3554d0486d96be739870fc1490","updated_at":"2023-11-30T20:11:46Z"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_fe05ed3554d0486d96be739870fc1490/buy
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2023-11-30T20:11:46+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_afe48af08fbc11ee863e3cecef1b359e","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":"","updated_at":"2023-11-30T20:11:46+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2023-11-30T20:11:46Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2023-11-30T20:11:46Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2023-11-30T20:11:46Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_09b13ba2133c4af9a0666abfc18e60cb","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2023-11-30T20:11:46Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_5f96ac2c0d0c42c091282cd889f67592","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2023-11-30T20:11:46Z"},"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-11-30T20:11:46+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_afe769ed8fbc11eebed0ac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-11-30T20:11:46+00:00","verifications":{},"zip":"94107"},"id":"shp_fe05ed3554d0486d96be739870fc1490","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"shipment.customs_info.customs_items.0.value:
      field required and shipment.customs_info.customs_items.0.code: field required","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-11-30T20:11:46Z","height":4,"id":"prcl_04fb78c56d40441f87a5e0272c005230","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-11-30T20:11:46Z","weight":15.4,"width":8},"postage_label":{"created_at":"2023-11-30T20:11:47Z","date_advance":0,"id":"pl_49b5ce2a3a1143c197bb0ee98cd28241","integrated_form":"none","label_date":"2023-11-30T20:11:47Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231130/e86bbe7858cfd946fb80c3fd694648691b.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2023-11-30T20:11:47Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:11:46Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_2b525fe44cf84e80bcd3b7fa34cdc7c3","list_currency":"USD","list_rate":"8.24","mode":"test","object":"Rate","rate":"6.95","retail_currency":"USD","retail_rate":"10.20"[...]
