---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]},null]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_bbbcc33decdf4c11821871df575ab467","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-03-09T20:03:48Z","updated_at":"2022-03-09T20:03:48Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"890665f28af6553ce0b324a557a469bd"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 1cbfe2bf62290824ff223a240073b1bd
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203091837-b9ce1b6b0d-master
    status: 200 OK
    code: 200
    duration: ""
