---
version: 1
interactions:
- request:
    body: '{"verify":["delivery"],"address":{"street1":"417 montgomery street","street2":"FL
      5","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"5555555555","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-08-19T17:47:23+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fb4f53d71fe611edafceac1f6bc7b362","mode":"test","name":null,"object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"417
      MONTGOMERY ST FL 5","street2":"","updated_at":"2022-08-19T17:47:23+00:00","verifications":{"delivery":{"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"},"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
      secondary information(Apt/Suite#)","suggestion":null}],"success":true}},"zip":"94104-1129"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ddb967be5ec4e86cef53041807b98a91"
      Location:
      - /api/v2/addresses/adr_fb4f53d71fe611edafceac1f6bc7b362
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccabff246ba100700774
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 201 Created
    code: 201
    duration: ""
