---
version: 1
interactions:
- request:
    body: '{"ups_oauth_registrations":{"account_number":"123456789","type":"UpsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/ups_oauth_registrations
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2024-08-02T23:14:28Z","credentials":{},"description":null,"fields":{},"id":"ca_aaabdd4599a4413ca71bb2316c7c8ece","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2024-08-02T23:14:28Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6854f440b8c70037423d
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_aaabdd4599a4413ca71bb2316c7c8ece
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6855f440b8c700374259
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
