---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers
    method: POST
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:14:26+00:00","email":"REDACTED","id":"es_0d2b872348924e66b4c12d5f277283f2","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:14:26+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6852f440b8c700374126
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipment":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:14:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_f6920eba512411efafe93cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:14:26+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:14:26Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:14:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_f694b613512411ef8107ac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:14:26+00:00","verifications":{},"zip":"94107"},"id":"shp_ee1aa87d54a64534a5b8cb4235730037","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2024-08-02T23:14:26Z","height":4,"id":"prcl_ffd16d7a9e5c4990b3575f395cda83b7","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:14:26Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:14:27Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_fedca8ac3a8e471eb27f9e2758f652e2","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_ee1aa87d54a64534a5b8cb4235730037","updated_at":"2024-08-02T23:14:27Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:14:27Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_60dafd01cff44017b81c7173bc536715","list_currency":"USD","list_rate":"8.25","mode":"test","object":"Rate","rate":"6.90","retail_currency":"USD","retail_rate":"9.80","service":"Priority","shipment_id":"shp_ee1aa87d54a64534a5b8cb4235730037","updated_at":"2024-08-02T23:14:27Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:14:27Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_70f008822b764758b4658e0cc043099f","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_ee1aa87d54a64534a5b8cb4235730037","updated_at":"2024-08-02T23:14:27Z"}],"reference":null,"refund_status":null,"return_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:14:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_f694b613512411ef8107ac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:14:26+00:00","verifications":{},"zip":"94107"},"scan_form":null,"selected_rate":null,"status":"unknown","to_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:14:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_f6920eba512411efafe93cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:14:26+00:00","verifications":{},"zip":"90277"},"tracker":null,"tracking_code":null,"updated_at":"2024-08-02T23:14:27Z","usps_zone":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/shipments/shp_ee1aa87d54a64534a5b8cb4235730037
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6852f440b8c700374130
      X-Node:
      - bigweb53nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"end_shipper_id":"es_0d2b872348924e66b4c12d5f277283f2","rate":{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:14:27Z","currency":"USD","delivery_days":3,"est_delivery_days":3,"id":"rate_70f008822b764758b4658e0cc043099f","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_ee1aa87d54a64534a5b8cb4235730037","updated_at":"2024-08-02T23:14:27Z"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_ee1aa87d54a64534a5b8cb4235730037/buy
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2024-08-02T23:14:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_f6920eba512411efafe93cecef1b359e","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":"","updated_at":"2024-08-02T23:14:27+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2024-08-02T23:14:26Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:14:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_f694b613512411ef8107ac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:14:26+00:00","verifications":{},"zip":"94107"},"id":"shp_ee1aa87d54a64534a5b8cb4235730037","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2024-08-02T23:14:26Z","height":4,"id":"prcl_ffd16d7a9e5c4990b3575f395cda83b7","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:14:26Z","weight":15.4,"width":8},"postage_label":{"created_at":"2024-08-02T23:14:27Z","date_advance":0,"id":"pl_7a16e2de87e94206b16740a5017adbcc","integrated_form":"none","label_date":"2024-08-02T23:14:27Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240802/e87dfe6dd0ee924a619f461565f6aa7714.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2024-08-02T23:14:28Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:14:27Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_fedca8ac3a8e471eb27f9e2758f652e2","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.9[...]
