---
version: 1
interactions:
- request:
    body: '{"user":{"email":"test@example.com","name":"Test Referral","phone":"5555555555"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers
    method: POST
  response:
    body: '{"api_keys":[],"balance":"0.00000","cc_fee_rate":"0.0375","children":[],"created_at":"2022-09-20T23:28:48Z","default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"id":"user_90859e9369a0456db0b0268ed03ed473","insurance_fee_minimum":"0.25","insurance_fee_rate":"0.005","name":"Test
      Referral","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff9a5efd2846800c7dab820df920613d"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 924e0c20632a4cb0ec8cdb4300108ad7
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201945-4c5c97ab34-master
    status: 201 Created
    code: 201
    duration: ""
