---
version: 1
interactions:
- request:
    body: '{"user":{"email":"REDACTED","name":"Test Referral","phone":"REDACTED"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers
    method: POST
  response:
    body: '{"api_keys":[],"balance":"0.00000","cc_fee_rate":"0.0375","children":[],"created_at":"2022-09-21T18:22:47Z","default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"id":"user_65c4ae5391b24fb5b970d8d29ef4a3d0","insurance_fee_minimum":"0.25","insurance_fee_rate":"0.005","name":"Test
      Referral","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e487791b244b3e5121dc93942ce874c"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5676ec7d9989000dae2b
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"user":{"email":"REDACTED"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers/user_65c4ae5391b24fb5b970d8d29ef4a3d0
    method: PUT
  response:
    body: '{"message":"Referral Customer email updated successfully"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b30d603e3257aee787616dc99d6d4af"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5678ec7d9989000daebd
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
