---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/insurances
    method: GET
  response:
    body: '{"has_more":true,"insurances":[{"amount":"100.00000","created_at":"2023-11-30T00:21:56Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-11-30T00:21:56+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_786e77838f1611ee8b19ac1f6bc53342","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2023-11-30T00:21:56+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"id":"ins_9ac7e8ab94ba4b4991e5185d76fdbeda","messages":["The
      tracking number could not be tracked."],"mode":"test","object":"Insurance","provider":"easypost","provider_id":null,"reference":null,"shipment_id":null,"status":"cancelled","to_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2023-11-30T00:21:56+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_7868adc48f1611eeba91ac1f6bc539aa","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":null,"updated_at":"2023-11-30T00:21:56+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"tracker":{"carrier":"USPS","carrier_detail":null,"created_at":"2023-11-30T00:21:56Z","est_delivery_date":null,"fees":[],"finalized":true,"id":"trk_e38f8b58108b49a1923543478a33163c","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2UzOGY4YjU4MTA4YjQ5YTE5MjM1NDM0NzhhMzMxNjNj","shipment_id":null,"signed_by":null,"status":"error","status_detail":null,"tracking_code":"9400100105442286713012","tracking_details":[{"carrier_code":"","datetime":"2023-11-30T00:21:56Z","description":"","message":"In
      test mode, only test tracking numbers are valid. Test tracking numbers are EZ1000000001,
      EZ2000000002, ... , EZ7000000007","object":"TrackingDetail","source":"ProcessingError","status":"error","status_detail":null,"tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}}],"updated_at":"2023-11-30T00:21:56Z","weight":null},"tracking_code":"9400100105442286713012","updated_at":"2023-11-30T00:23:33Z"},{"amount":"100.00000","created_at":"2023-11-30T00:21:55Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-11-30T00:21:55+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_777c049c8f1611eeba31ac1f6bc539aa","mode":"test","name":"JACK
      SPAR[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/insurances/ins_9ac7e8ab94ba4b4991e5185d76fdbeda
    method: GET
  response:
    body: '{"amount":"100.00000","created_at":"2023-11-30T00:21:56Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-11-30T00:21:56+0[...]
