---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/scan_forms
    method: GET
  response:
    body: '{"scan_forms":[{"id":"sf_3aa0594dfc824d22a8d7341cf33b059c","object":"ScanForm","created_at":"2022-03-03T02:45:19Z","updated_at":"2022-03-03T02:45:19Z","tracking_codes":["9400100109361109730172"],"address":{"id":"adr_f65a672e9a9b11ecbdf7ac1f6b0a0d1e","object":"Address","created_at":"2022-03-03T02:45:18+00:00","updated_at":"2022-03-03T02:45:18+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220303/354837b27c094c558ee2f1a3ed32ac19.pdf","form_file_type":null,"batch_id":"batch_08c4f8ce0ae84a259c19f861896d0dd4","confirmation":null},{"id":"sf_165c941a40c94bed82259f1e8223c701","object":"ScanForm","created_at":"2022-03-03T02:45:18Z","updated_at":"2022-03-03T02:45:18Z","tracking_codes":["9400100109361109730165"],"address":{"id":"adr_f5829aa09a9b11ec8558ac1f6bc7b362","object":"Address","created_at":"2022-03-03T02:45:17+00:00","updated_at":"2022-03-03T02:45:17+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","count[...]
