---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/addresses
    method: GET
  response:
    body: '{"addresses":[{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2023-11-30T20:10:57+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_931983718fbc11eebbf5ac1f6bc539aa","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-11-30T20:10:57+00:00","verifications":{},"zip":"90277"},{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-11-30T20:10:57+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9317c3ff8fbc11eead39ac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-11-30T20:10:57+00:00","verifications":{},"zip":"94107"},{"carrier_facility":n[...]
[...]
