---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_d8ef711e9e5f11ecb091ac1f6bc7b362","object":"Address","created_at":"2022-03-07T21:45:04+00:00","updated_at":"2022-03-07T21:45:04+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2fb90c6d7f11c7b3dbd6696bcf897d1d"
      Location:
      - /api/v2/addresses/adr_d8ef711e9e5f11ecb091ac1f6bc7b362
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d4a3d8da62267cdfff102d9e003d3a18
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb3wdc 88c34981dc
      X-Version-Label:
      - easypost-202203042109-ebc16e3e74-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/addresses/adr_d8ef711e9e5f11ecb091ac1f6bc7b362/verify
    method: GET
  response:
    body: '{"address":{"id":"adr_d90e43219e5f11ecb0a5ac1f6bc7b362","object":"Address","created_at":"2022-03-07T21:45:04+00:00","updated_at":"2022-03-07T21:45:04+00:00","name":"JACK
      SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4822f7e2c3f789819874a4090b9c2f1c"
      Location:
      - /api/v2/addresses/adr_d90e43219e5f11ecb0a5ac1f6bc7b362
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d4a3d8da62267ce0ff102d9e003d3a32
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb3wdc 88c34981dc
      X-Version-Label:
      - easypost-202203042109-ebc16e3e74-master
    status: 200 OK
    code: 200
    duration: ""
