---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"created_at":"2022-09-21T18:22:05Z","id":"batch_d0b153e1ddd3423bb1a51a8c6257c3e7","label_url":null,"mode":"test","num_shipments":1,"object":"EasyPost::Entity::Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"creating","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-21T18:22:05Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"795de0729be5cb14bca51f4adb4ca361"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b564dec7d9989000d95d7
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_d0b153e1ddd3423bb1a51a8c6257c3e7
    method: GET
  response:
    body: '{"created_at":"2022-09-21T18:22:05Z","id":"batch_d0b153e1ddd3423bb1a51a8c6257c3e7","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"created","id":"shp_15d0b3c5a508488198866aea6520ccab","reference":null,"tracking_code":null}],"state":"created","status":{"created":1,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-21T18:22:05Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b10ce000ab2784a38c15bc2b67aae837"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b564dec7d9989000d95fb
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
