---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"GroundAdvantage","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:30:34+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_371e8a03512711efb9cfac1f6bc53342","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:30:34+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2024-08-02T23:30:34Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:30:34+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3720c2fb512711efa7c33cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:30:34+00:00","verifications":{},"zip":"90277"},"id":"shp_a17c33bb593f454494d0f5d3112da67c","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2024-08-02T23:30:34Z","height":4,"id":"prcl_3d834c84ffb04569ac452560f56dd456","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:30:34Z","weight":15.4,"width":8},"postage_label":{"created_at":"2024-08-02T23:30:34Z","date_advance":0,"id":"pl_523e8791ab354ad48e0a5207c3c01771","integrated_form":"none","label_date":"2024-08-02T23:30:34Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240802/e885c194a6f0634b2b9708a81a1efab97d.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2024-08-02T23:30:34Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:30:34Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_de5ce255a2d14497a863516a89037127","list_currency":"USD","list_rate":"8.25","mode":"test","object":"Rate","rate":"6.90","retail_currency":"USD","retail_rate":"9.80","service":"Priority","shipment_id":"shp_a17c33bb593f454494d0f5d3112da67c","updated_at":"2024-08-02T23:30:34Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:30:34Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_da99f0bd03604b5fa63e891990c63ec4","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_a17c33bb593f454494d0f5d3112da67c","updated_at":"2024-08-02T23:30:34Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:30:34Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_5edb7d9c037847279c6483efba71566e","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_a17c33bb593f454494d0f5d3112da67c","updated_at":"2024-08-02T23:30:34Z"}],"reference":null,"refund_status":null,"return_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:30:34+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3720c2fb512711efa7c33cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:30:34+00:00","verifications":{},"zip":"90277"},"scan_form":null,"selected_rate":{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:30:34Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_da99f0bd03604b5fa63e891990c63ec4","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_a17c33bb593f454494d0f5d3112da67c","updated_at":"2024-08-02T23:30:34Z"},"status":"unknown","to_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:30:34+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_371e8a03512711efb9cfac1f6bc53342","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:30:34+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"tracker":{"carrier":"USPS","carrier_detail":null,"created_at":"2024-08-02T23:30:35Z","est_delivery_date":null,"fees":[],"id":"trk_956ef84436a3473b9aac123129f39a25","mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrXzk1NmVmODQ0MzZhMzQ3M2I5YWFjMTIzMTI5ZjM5YTI1","shipment_id":"shp_a17c33bb593f454494d0f5d3112da67c","signed_by":null,"status":"unknown","status_detail":"unknown","tracking_code":"9400100110368070374936","tracking_details":[],"updated_at":"2024-08-02T23:30:35Z","weight":null},"tracking_code":"9400100110368070374936","updated_at":"2024-08-02T23:30:35Z","usps_zone":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/shipments/shp_a17c33bb593f454494d0f5d3112da67c
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - e77710fc66ad6c1af42be7aa003a4e54
      X-Node:
      - bigweb36nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb1nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"pickup":{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"instructions":"Pickup at front door","max_datetime":"2024-08-14T00:00:00Z","min_datetime":"2024-08-14T00:00:00Z","shipment":{"buyer_address":{"city":"SAN
      FRANCISCO","country":"US","created_at":"2024-08-02T23:30:34Z","email":"REDACTED","id":"adr_371e8a03512711efb9cfac1f6bc53342","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","street1":"388
      TOWNSEND ST APT 20","updated_at":"2024-08-02T23:30:34Z","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_331173c376d7455894588e1481dbf804
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2024-08-02T23:30:35+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_37bf31ff512711ef982fac1f6bc539ae","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:30:35+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2024-08-02T23:30:35Z","id":"pickup_331173c376d7455894588e1481dbf804","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2024-08-14T00:00:00Z","messages":[],"min_datetime":"2024-08-14T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2024-08-02T23:30:36Z","currency":"USD","id":"pickuprate_80721c4f86fb4e7786456b0989e8f163","mode":"test","object":"PickupRate","pickup_id":"pickup_331173c376d7455894588e1481dbf804","rate":"0.00","service":"NextDay","updated_at":"2024-08-02T23:30:36Z"}],"reference":null,"status":"unknown","updated_at":"2024-08-02T23:30:35Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - e77710fc66ad6c1cf42be7aa003a4f4b
      X-Node:
      - bigweb43nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb1nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
