---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/reports/shipment
    method: GET
  response:
    body: '{"has_more":true,"reports":[{"created_at":"2023-11-30T20:11:40Z","end_date":"2022-04-11","id":"shprep_20e852aff80248709caa58c9d8f0896e","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2023-11-30T20:11:40Z","url":null,"url_expires_at":null},{"created_at":"2023-11-30T20:11:40Z","end_date":"2022-04-11","id":"shprep_efb309d6ad034a97af49bd42162ff4b8","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2023-11-30T20:11:40Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20231130/e8c5b80694bbad441ba51cef00d0c1e08a.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20231130%2Fus-west-2%2Fs3%2Faws4_[...]
[...]
