---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/refunds
    method: GET
  response:
    body: '{"has_more":false,"refunds":[{"carrier":"USPS","confirmation_number":null,"created_at":"2022-09-21T16:20:05Z","id":"rfnd_4e2110fd30e14308bf05622d8c35b752","object":"Refund","shipment_id":"shp_0e7429c92dfc491f8d5c252bff19edc8","status":"submitted","tracking_code":"9400100109361138693479","updated_at":"2022-09-21T16:20:05Z"},{"carrier":"USPS","confirmation_number":null,"created_at":"2022-09-21T16:19:40Z","id":"rfnd_86ea21c4fe724da186adc4690fd4dd2e","object":"Refund","shipment_id":"shp_d5296a3d8eff4ce6b9c86496a2ebfc0f","status":"submitted","tracking_code":"9400100109361138693295","updated_at":"2022-09-21T16:19:40Z"},{"carrier":"USPS","confirmation_number":null,"created_at":"2022-09-20T23:29:24Z","id":"rfnd_cbdf38c206704e82ba257804b9b309e8","object":"Refund","shipment_id":"shp_ada67f5bfc584eb4b402fe9880368493","status":"submitted","tracking_code":"9400100109361138553643","updated_at":"2022-09-20T23:29:24Z"},{"carrier":"USPS","confirmation_number":null,"created_at":"2022-09-20T23:28:52Z","id":"rfnd_160ef5323ed6480db2d2857a9d33f1aa","object":"Refund","shipment_id":"shp_994110a9fef54ab986f713a4bbbe1a0f","status":"submitted","tracking_code":"9400100109361138553537","updated_at":"2022-09-20T23:28:52Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b5b4e9f433bd484d210ec5a84b6d64a9"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5678ec7d9989000daee3
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
