---
version: 1
interactions:
- request:
    body: '{"order":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"shipments":[{"to_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}],"is_return":false}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:05:12+00:00","email":null,"federal_tax_id":null,"id":"adr_3e09d7a6dd0511ecba85ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-26T15:05:12+00:00","verifications":{},"zip":"94107"},"created_at":"2022-05-26T15:05:12Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:05:12+00:00","email":null,"federal_tax_id":null,"id":"adr_3e0b4b4add0511ecba86ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-26T15:05:12+00:00","verifications":{},"zip":"94107"},"id":"order_5b2596d70fa449eda0bd4a0c2cc9fb61","is_return":false,"messages":[],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_eb9a7153313c4225871760cafefc9ec4","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate":"27.40","service":"Express","shipment_id":"shp_7d023def870f4409874acbb71f511c3f","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_e849ec73685a4e23b54c255756ab2633","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70","service":"Priority","shipment_id":[...]
- request:
    body: carrier=USPS&service=First
    form:
      carrier:
      - USPS
      service:
      - First
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/orders/order_5b2596d70fa449eda0bd4a0c2cc9fb61/buy
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-05-26T15:05:12+00:00","email":null,"federal_tax_id":null,"id":"adr_3e09d7a6dd0511ecba85ac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-05-26T15:05:13+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-05-26T15:05:12Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:05:12+00:00","email":null,"federal_tax_id":null,"id":"adr_3e0b4b4add0511ecba86ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
     [...]
