---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]},null]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_77325c23add040b88b926896fded85b4","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-05-26T15:04:52Z","updated_at":"2022-05-26T15:04:52Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"363a0499f22fbae7d90bd67ee22c7010"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 19577bfa628f9714e78b9ba7006bb1b7
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_77325c23add040b88b926896fded85b4/buy
    method: POST
  response:
    body: '{"id":"batch_77325c23add040b88b926896fded85b4","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-05-26T15:04:52Z","updated_at":"2022-05-26T15:04:52Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_44fdb3d8b6174c5a95ff50879a7914e9"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9fe420dd3e4cea79f2fbcafdd4efe6c4"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 19577bfa628f9714e78b9ba7006bb1ca
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: file_format=
    form:
      file_format:
      - ""
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches/batch_77325c23add040b88b926896fded85b4/scan_form
    method: POST
  response:
    body: '{"id":"batch_77325c23add040b88b926896fded85b4","object":"Batch","mode":"test","state":"purchased","num_shipments":1,"reference":null,"created_at":"2022-05-26T15:04:52Z","updated_at":"2022-05-26T15:04:57Z","scan_form":{"id":"sf_7ba69201b7f8453f9a9fd0847939f6c2","object":"ScanForm","created_at":"2022-05-26T15:04:57Z","updated_at":"2022-05-26T15:04:57Z","tracking_codes":[],"address":null,"status":"creating","message":null,"form_url":null,"form_file_type":null,"batch_id":"batch_77325c23add040b88b926896fded85b4","confirmation":null},"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361120898134","id":"shp_44fdb3d8b6174c5a95ff50879a7914e9"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"916347b4f0fd84954f20a7c83a31fdeb"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9719e78b9ba7006bb405
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
