---
version: 1
interactions:
- request:
    body: '{"user":{"email":"test@example.com","name":"Test Referral","phone":"5555555555"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers
    method: POST
  response:
    body: '{"api_keys":[],"balance":"0.00000","cc_fee_rate":"0.0375","children":[],"created_at":"2022-09-20T18:11:19Z","default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"id":"user_bbbd69123d1b40d19b24937d3e7b7b27","insurance_fee_minimum":"0.25","insurance_fee_rate":"0.005","name":"Test
      Referral","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4999e7279f8882fdcd0397c917000385"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - de45db6b632a0247eca351a70039af57
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      X-Version-Label:
      - easypost-202209201701-65cee99e9d-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"user":{"email":"email@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers/user_bbbd69123d1b40d19b24937d3e7b7b27
    method: PUT
  response:
    body: '{"message":"Referral Customer email updated successfully"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b30d603e3257aee787616dc99d6d4af"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - de45db6b632a0248eca351a70039afb3
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      X-Version-Label:
      - easypost-202209201701-65cee99e9d-master
    status: 200 OK
    code: 200
    duration: ""
