---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:08:59Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822358","updated_at":"2022-03-03T19:09:00Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_61c8e9159b2511eca6b9ac1f6bc7b362","object":"Address","created_at":"2022-03-03T19:08:59+00:00","updated_at":"2022-03-03T19:08:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a816e758b11540008c70a9edb49872b5","object":"Parcel","created_at":"2022-03-03T19:08:59Z","updated_at":"2022-03-03T19:08:59Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_aa0bb5aa244c46b58a110a2fd0d585a0","created_at":"2022-03-03T19:09:00Z","updated_at":"2022-03-03T19:09:00Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T19:09:00Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/dc40d76a80ca4eb18a8f739461607dee.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_71cd3e208fc240a9bb423860d436b11e","object":"Rate","created_at":"2022-03-03T19:08:59Z","updated_at":"2022-03-03T19:08:59Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_cf6ab50fd7424a2faa08f53e4159dd63","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_5b7a6a4d32b04f099d04f1d9fcb003d6","object":"Rate","created_at":"2022-03-03T19:08:59Z","updated_at":"2022-03-03T19:08:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_cf6ab50fd7424a2faa08f53e4159dd63","ca[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-03-04T14:09:00.672755-05:00","max_datetime":"2022-03-05T14:09:00.672756-05:00","instructions":"Pickup
      at front door","shipment":{"id":"shp_cf6ab50fd7424a2faa08f53e4159dd63","object":"Shipment","mode":"test","created_at":"2022-03-03T19:08:59Z","updated_at":"2022-03-03T19:09:00Z","to_address":{"id":"adr_61c725769b2511ecadf5ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-03-03T19:08:59Z","updated_at":"2022-03-03T19:09:00Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_61c8e9159b2511eca6b9ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-03-03T19:08:59Z","updated_at":"2022-03-03T19:08:59Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_61c8e9159b2511eca6b9ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-03-03T19:08:59Z","updated_at":"2022-03-03T19:08:59Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_61c725769b2511ecadf5ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-03-03T19:08:59Z","updated_at":"2022-03-03T19:09:00Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_68d2565eebb249489ac1dbf8a7ed9c33/buy
    method: POST
  response:
    body: '{"id":"pickup_68d2565eebb249489ac1dbf8a7ed9c33","object":"Pickup","created_at":"2022-03-03T19:09:01Z","updated_at":"2022-03-03T19:09:03Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2022-03-04T19:09:00Z","max_datetime":"2022-03-05T19:09:00Z","is_account_address":false,"instructions":"Pickup
      at front door","messages":[],"confirmation":"WTC61769812","address":{"id":"adr_6285a5e39b2511ec9f26ac1f6b0a0d1e","object":"Address","created_at":"2022-03-03T19:09:01+00:00","updated_at":"2022-03-03T19:09:01+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-03-03T19:09:02Z","updated_at":"2022-03-03T19:09:02Z","carrier":"USPS","pickup_id":"pickup_68d2565eebb249489ac1dbf8a7ed9c33","id":"pickuprate_029d74fbc5924e2da62ba6f5b64b5a0d","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"752fa07e03cd44d7dcdf17f2e83d50ce"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221124eff135a20001f23be
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
