---
version: 1
interactions:
- request:
    body: '{"shipment":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"error":{"code":"PARAMETER.REQUIRED","message":"Missing required parameter.","errors":[{"field":"shipment","message":"cannot
      be blank"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccc2ff246ba100701157
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
