---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-08-19T17:47:44Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{"credentials":{"client_id":{"label":"DHL
      eCommerce Solutions client ID","value":"123456","visibility":"visible"},"client_secret":{"label":"DHL
      eCommerce Solutions client secret","value":"********","visibility":"password"},"distribution_center":{"label":"DHL
      eCommerce Solutions distribution center","value":"USLAX1","visibility":"visible"},"pickup_id":{"label":"DHL
      eCommerce Solutions pickup ID","value":"123456","visibility":"visible"}},"test_credentials":{"client_id":{"label":"Test
      DHL eCommerce Solutions client ID","value":"123456","visibility":"visible"},"client_secret":{"label":"Test
      DHL eCommerce Solutions client secret","value":"********","visibility":"password"},"distribution_center":{"label":"Test
      DHL eCommerce Solutions distribution center","value":"USLAX1","visibility":"visible"},"pickup_id":{"label":"Test
      DHL eCommerce Solutions pickup ID","value":"123456","visibility":"visible"}}},"id":"ca_ace079f57d784bf8a3012bc8b4af1fc6","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-08-19T17:47:44Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf0071ccca932b77edbb9a0d4bcd6a31"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 2196158562ffccc0ff246ba100701051
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_ace079f57d784bf8a3012bc8b4af1fc6
    method: GET
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-08-19T17:47:44Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{"credentials":{"client_id":{"label":"DHL
      eCommerce Solutions client ID","value":"123456","visibility":"visible"},"client[...]
[...]
