---
version: 1
interactions:
- request:
    body: '{"user":{"name":"Test User"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users
    method: POST
  response:
    body: '{"api_keys":[{"active":true,"created_at":"2023-11-30T20:12:09Z","id":"ak_c08fe7b8ce10424ab6532f57d10c626a","key":"REDACTED","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2023-11-30T20:12:09Z","id":"ak_bb67d66d8bd64d71973873b304677f02","key":"REDACTED","mode":"production","object":"ApiKey"}],"children":[],"created_at":"2023-11-30T20:12:09Z","default_carbon_offset":false,"has_elevate_access":false,"id":"user_3d8dac28f4ba42729036133637356d40","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec99e7896122001b9b8a
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 201 Created
    code: 201
    duration: ""
