---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-01-31T21:11:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d8a7e800a1ab11edaeb4ac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2023-01-31T21:11:36+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2023-01-31T21:11:36Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"6.07000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-01-31T21:11:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d8a9c4d4a1ab11edaebbac1f6bc72124","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-01-31T21:11:36+00:00","verifications":{},"zip":"90277"},"id":"shp_cf242b652d154e7e8465a29ca8654cca","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-01-31T21:11:36Z","height":4,"id":"prcl_2da38b0e015b44eb9b524ddedd6ba740","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-01-31T21:11:36Z","weight":15.4,"width":8},"postage_label":{"created_at":"2023-01-31T21:11:37Z","date_advance":0,"id":"pl_843596de7332465c9ed49b974b3a8987","integrated_form":"none","label_date":"2023-01-31T21:11:37Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230131/d4d9eb2910e041b8ad8ca1496d95a47e.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2023-01-31T21:11:37Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-01-31T21:11:36Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_8d931b7d523f4f38833a585c09c26aaf","list_currency":"USD","list_rate":"31.25","mode":"test","object":"Rate","rate":"31.25","retail_currency":"USD","retail_rate":"35.80","service":"Express","shipment_id":"shp_cf242b652d154e7e8465a29ca8654cca","updated_at":"2023-01-31T21:11:36Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-01-31T21:11:36Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_a2b467dfaf2b4e378c8f0802838514f4","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/shipments/shp_cf242b652d154e7e8465a29ca8654cca
    method: GET
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-01-31T21:11:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d8a7e800a1ab11edaeb4ac1f6bc72124","mode[...]
- request:
    body: '{"refund":{"carrier":"USPS","tracking_codes":["9400100106089176582205"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/refunds
    method: POST
  response:
    body: '[{"carrier":"USPS","confirmation_number":null,"created_at":"2023-01-31T21:11:37Z","id":"rfnd_d6df4879724b4933a32bd023cfe7cde9","object":"Refund","shipment_id":"shp_cf242b652d154e7e8465a29ca8654cca","status":"submitted","tracking_code":"9400100106089176582205","updated_at":"2023-01-31T21:11:37Z"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc3af4e75e6da0c7ee77641900219894"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2e64157663d98409efb69991000de808
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202301311954-88b0b2bbd3-master
    status: 201 Created
    code: 201
    duration: ""
