---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers
    method: POST
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T16:19:11+00:00","email":"REDACTED","id":"es_4f3423a7368247fe9ca8a87f0e1d6de9","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-09-21T16:19:11+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"02827e7aa0c82afceaef9ba554c13e65"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397fec8e8d2900013685
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"address":{"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-09-21T16:19:11Z","email":"REDACTED","id":"es_4f3423a7368247fe9ca8a87f0e1d6de9","mode":"test","name":"Captain
      Sparrow","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-21T16:19:11Z","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers/es_4f3423a7368247fe9ca8a87f0e1d6de9
    method: PUT
  response:
    body: '{"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-09-21T16:19:11+00:00","email":"REDACTED","id":"es_4f3423a7368247fe9ca8a87f0e1d6de9","mode":"test","name":"CAPTAIN
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-09-21T16:19:11+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"450a4cb48088ec47bd87009784c9a47e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397fec8e8d29000136a8
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
