---
version: 1
interactions:
- request:
    body: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_c46487fc119a4377bc7ce0a25bf6fb2b","object":"Parcel","created_at":"2022-08-19T17:47:58Z","updated_at":"2022-08-19T17:47:58Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2fc079ce49faee02480292df1bdb3a58"
      Location:
      - /api/v2/parcels.prcl_c46487fc119a4377bc7ce0a25bf6fb2b
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffcccdff246ba100701676
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/parcels/prcl_c46487fc119a4377bc7ce0a25bf6fb2b
    method: GET
  response:
    body: '{"id":"prcl_c46487fc119a4377bc7ce0a25bf6fb2b","object":"Parcel","created_at":"2022-08-19T17:47:58Z","updated_at":"2022-08-19T17:47:58Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2fc079ce49faee02480292df1bdb3a58"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccceff246ba100701681
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
