---
version: 1
interactions:
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"id":"cstinfo_a99e8fbfdc904d2ca29b462bfa944c0f","object":"CustomsInfo","created_at":"2022-08-19T17:47:45Z","updated_at":"2022-08-19T17:47:45Z","contents_explanation":null,"contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_d645ccf2a2ee44dca4af409dc46fa61c","object":"CustomsItem","created_at":"2022-08-19T17:47:45Z","updated_at":"2022-08-19T17:47:45Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":null,"weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a9d0a8e7464bdddecc8338562406272"
      Location:
      - /api/v2/customs_infos/cstinfo_a99e8fbfdc904d2ca29b462bfa944c0f
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 2196158562ffccc1ff246ba1007010dd
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_infos/cstinfo_a99e8fbfdc904d2ca29b462bfa944c0f
    method: GET
  response:
    body: '{"id":"cstinfo_a99e8fbfdc904d2ca29b462bfa944c0f","object":"CustomsInfo","created_at":"2022-08-19T17:47:45Z","updated_at":"2022-08-19T17:47:45Z","contents_explanation":null,"contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30[...]
