---
version: 1
interactions:
- request:
    body: '{"parcel":{"height":4,"length":10,"weight":15.4,"width":8}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"created_at":"2023-11-30T20:11:12Z","height":4,"id":"prcl_c68f64b22cf849d1bf47d86e8308d776","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-11-30T20:11:12Z","weight":15.4,"width":8}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/parcels/prcl_c68f64b22cf849d1bf47d86e8308d776
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec60e7896122001b6706
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 201 Created
    code: 201
    duration: ""
