---
version: 1
interactions:
- request:
    body: '{"user":{"email":"REDACTED","name":"Test Referral","phone":"REDACTED"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers
    method: POST
  response:
    body: '{"api_keys":[],"balance":"0.00000","cc_fee_rate":"0.0375","children":[],"created_at":"2022-09-21T16:19:37Z","default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"id":"user_6eb07c5bce9e40b081c39aea1643cd42","insurance_fee_minimum":"0.25","insurance_fee_rate":"0.005","name":"Test
      Referral","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35f5f6bec1b1474e9bddf93cbdf3bc1d"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3999ec8e8d2900014430
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
