---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-20T23:32:08+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_71ad30ee393c11ed9b24ac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-20T23:32:08+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-20T23:32:08Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-20T23:32:08+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_71afdee5393c11eda0f2ac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-20T23:32:08+00:00","verifications":{},"zip":"90277"},"id":"shp_bdd8404e714c46459bcb6ca6b6e88020","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-20T23:32:08Z","height":4,"id":"prcl_ae6da502fc2847ee8434b13368e97bf0","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-20T23:32:08Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-20T23:32:09Z","date_advance":0,"id":"pl_d8efdeef3bea41bca32e20c4f716a94e","integrated_form":"none","label_date":"2022-09-20T23:32:09Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220920/9b92841be63948c58946aabb9c75b318.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-20T23:32:09Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:32:08Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_fd300118e38b40a088eacab44a80dce0","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45","service":"Priority","shipment_id":"shp_bdd8404e714c46459bcb6ca6b6e88020","updated_at":"2022-09-20T23:32:08Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:32:08Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_b55838e5032f4c78bff169ba0cdf018b","list_currency":"USD","list_rate":"5.57","mode":"test","object":"Rate","rate":"5.57","retail_currency":"USD","retail_rate":"5.57"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-09-22T00:00:00Z","max_datetime":"2022-09-22T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_bdd8404e714c46459bcb6ca6b6e88020","object":"Shipment","mode":"test","created_at":"2022-09-20T23:32:08Z","updated_at":"2022-09-20T23:32:09Z","to_address":{"id":"adr_71ad30ee393c11ed9b24ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-09-20T23:32:08Z","updated_at":"2022-09-20T23:32:08Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","phone":"5555555555","email":"TEST@EXAMPLE.COM","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_71afdee5393c11eda0f2ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-09-20T23:32:08Z","updated_at":"2022-09-20T23:32:08Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_71afdee5393c11eda0f2ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-09-20T23:32:08Z","updated_at":"2022-09-20T23:32:08Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_71ad30ee393c11ed9b24ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-09-20T23:32:0[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_4ca6308f7eca486ea4552bfabdc88fae/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-09-20T23:32:09+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_72659300393c11ed9b66ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-20T23:32:09+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC62216874","created_at":"2022-09-20T23:32:09Z","id":"pickup_4ca6308f7eca486ea4552bfabdc88fae","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-09-22T00:00:00Z","messages":[],"min_datetime":"2022-09-22T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-09-20T23:32:10Z","currency":"USD","id":"pickuprate_762e1070638f4c16a90ba0489627181a","mode":"test","object":"PickupRate","pickup_id":"pickup_4ca6308f7eca486ea4552bfabdc88fae","rate":"0.00","service":"NextDay","updated_at":"2022-09-20T23:32:10Z"}],"reference":null,"status":"scheduled","updated_at":"2022-09-20T23:32:12Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbeb4f71e4b72d1dc258809468fe2ed7"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 1ccf69c4632a4d7beca0ad8a00122870
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
