---
version: 1
interactions:
- request:
    body: '{"shipment":{"reference":"123","to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
      30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"invoice_number":"123","label_format":"PNG"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:12:41+00:00","email":null,"federal_tax_id":null,"id":"adr_480373e6f71611eca765ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:12:41+00:00","verifications":{},"zip":"94107"},"created_at":"2022-06-28T19:12:41Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-06-28T19:12:41Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-06-28T19:12:41Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_3a79bdbbc5a94f46b32f72382230e89b","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-06-28T19:12:41Z","value":"23.0","weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_256cefd2e01045b5bc787448db8f5619","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-06-28T19:12:41Z"},"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:12:41+00:00","email":null,"federal_tax_id":null,"id":"adr_48053061f71611eca444ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:12:41+00:00","verifications":{},"zip":"94107"},"id":"shp_0b9ab89a95af4a428d036214942a86d8","insurance":null,"is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_0b351eb47cac405dadaf54c659c0a0eb","message":"Invalid
      Access License number","type":"rate_error"},{"carrier":"UPS","carrier_account_id":"ca_ba94eaaacddb4bf2b135953b3067e817","message":"Invalid
      Access License number","type":"rate_error"},{"carrier":"UPS","carrier_account_id":"ca_34d97dc9d5df46e48c088455935bc518","message":"Invalid
      Access License number","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-28T19:12:41Z","height":4,"id":"prcl_91ade745f8f2484ba9ed5705657ca3b1","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-28T19:12:41Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_7642d249fdcf47bcb5da9ea34c96dfcf","created_at":"2022-06-28T19:12:41Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_d1da806a7f0b406bafc34474b42be52c","list_currency":"USD","list_rate":"5.49","mode":"test","object":"Rate","rate":"5.49","retail_currency":"USD","retail_rate":"5.49","service":"First","shipment_id":"shp_0b9ab89a95af4a428d036214942a86d8","updated_at":"2022-06-28T19:12:41Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_7642d249fdcf47bcb5da9ea34c96dfcf","created_at":"2022-06-28T19:12:41Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_00d43bfe81504f8b83fd4233c268d4f6","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate[...]
