---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups
    method: GET
  response:
    body: '{"has_more":true,"pickups":[{"address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2022-09-21T18:22:42+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_61a4409339da11edaf46ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-21T18:22:42+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2022-09-21T18:22:42Z","id":"pickup_568d64c702194c0883276fedc830610b","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-09-22T00:00:00Z","messages":[],"min_datetime":"2022-09-22T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-09-21T18:22:42Z","currency":"USD","id":"pickuprate_aef60c3ec45a4cca8d742311f691d0e3","mode":"test","object":"PickupRate","pickup_id":"pickup_568d64c702194c0883276fedc830610b","rate":"0.00","service":"NextDay","updated_at":"2022-09-21T18:22:42Z"}],"reference":null,"status":"unknown","updated_at":"2022-09-21T18:22:42Z"},{"address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2022-09-21T18:22:39+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_60419d5b39da11edb982ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-21T18:22:39+00:00","verif[...]
