---
version: 1
interactions:
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"id":"cstinfo_1a95e3744bbe46a3a460e1390c720406","object":"CustomsInfo","created_at":"2022-08-19T19:56:53Z","updated_at":"2022-08-19T19:56:53Z","contents_explanation":null,"contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_259dae1328f14556b35609d0148817df","object":"CustomsItem","created_at":"2022-08-19T19:56:53Z","updated_at":"2022-08-19T19:56:53Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":null,"weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be3b3a919eb3af163dde0c7b2153408e"
      Location:
      - /api/v2/customs_infos/cstinfo_1a95e3744bbe46a3a460e1390c720406
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9c287c3762ffeb05ff24e19c00087ea0
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 201 Created
    code: 201
    duration: ""
