---
version: 1
interactions:
- request:
    body: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_3a0282cf07b346cf940f3fca8db14908","object":"Parcel","created_at":"2022-05-26T15:05:16Z","updated_at":"2022-05-26T15:05:16Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e49339f402fc37c33b5b56a3c1250ba"
      Location:
      - /api/v2/parcels.prcl_3a0282cf07b346cf940f3fca8db14908
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f972ce78b9ba7006bbd17
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/parcels/prcl_3a0282cf07b346cf940f3fca8db14908
    method: GET
  response:
    body: '{"id":"prcl_3a0282cf07b346cf940f3fca8db14908","object":"Parcel","created_at":"2022-05-26T15:05:16Z","updated_at":"2022-05-26T15:05:16Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e49339f402fc37c33b5b56a3c1250ba"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f972ce78b9ba7006bbd2a
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
