---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches
    method: GET
  response:
    body: '{"batches":[{"created_at":"2022-08-22T18:42:33Z","id":"batch_aac730f823f44c9b9ad71c8fcb29d405","label_url":null,"mode":"test","num_shipments":0,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"created","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-08-22T18:42:33Z"},{"created_at":"2022-09-19T20:12:08Z","id":"batch_61d855ec55354e82accf9bb049731b14","label_url":null,"mode":"test","num_shipments":0,"object":"Batch","pickup":null,"reference":null,"scan_form":{"address":null,"batch_id":"batch_61d855ec55354e82accf9bb049731b14","confirmation":null,"created_at":"2022-09-19T20:12:08Z","form_file_type":null,"form_url":null,"id":"sf_632316f858164c4aab6f5e50282c0b90","message":"Please
      provide a valid list of shipments.","object":"ScanForm","status":"failed","tracking_codes":[],"updated_at":"2022-09-19T20:12:08Z"},"shipments":[],"state":"created","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-19T20:12:08Z"},{"created_at":"2022-09-19T20:22:23Z","id":"batch_3d5e339ae4a243be8ece39b774c34bf1","label_url":null,"mode":"test","num_shipments":0,"object":"Batch","pickup":null,"reference":null,"scan_form":{"address":null,"batch_id":"batch_3d5e339ae4a243be8ece39b774c34bf1","confirmation[...]
