---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches
    method: GET
  response:
    body: '{"batches":[{"created_at":"2022-05-05T21:06:04Z","id":"batch_d8dad82d0b0f4132baa4b61ec186a313","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":{"address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-05T21:06:04+00:00","email":null,"federal_tax_id":null,"id":"adr_2ce69232ccb711ecb472ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-05T21:06:04+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61777694","created_at":"2022-05-05T21:06:04Z","id":"pickup_5d3bc85d8f4041eaa81fb6a7d8a04e20","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-05-06T21:06:04Z","messages":[],"min_datetime":"2022-05-06T21:06:04Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-05-05T21:06:05Z","currency":"USD","id":"pickuprate_9942f364d5f841b094e8e70a8f3c5ded","mode":"test","object":"PickupRate","pickup_id":"pickup_5d3bc85d8f4041eaa81fb6a7d8a04e20","rate":"0.00","service":"NextDay","updated_at":"2022-05-05T21:06:05Z"}],"reference":null,"status":"scheduled","updated_at":"2022-05-05T21:06:06Z"},"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"postage_purchased","id":"shp_03860237ecce4d0ea812c685cb81dc28","reference":null,"tracking_code":"9400100109361117989906"}],"state":"creating","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":1,"queued_for_purchase":0},"updated_at":"2022-05-05T21:06:04Z"},{"created_at":"2022-05-05T21:06:07Z","id":"batch_fd3c42b44dee45ecb1497fbb469a062b","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":{"address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-05T21:06:07+00:00","email":null,"federal_tax_id":null,"id":"adr_2ed38a78ccb711ecb4f4ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555"[...]
