---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-14T19:29:15+00:00","email":null,"federal_tax_id":null,"id":"adr_46fcf48fec1811ecabf6ac1f6bc7bdc6","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-14T19:29:15+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-14T19:29:15Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-14T19:29:15+00:00","email":null,"federal_tax_id":null,"id":"adr_46ff10dbec1811ec9653ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-14T19:29:15+00:00","verifications":{},"zip":"94107"},"id":"shp_90c3959bbd6f4b6d9adfb006f44c7155","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-14T19:29:15Z","height":4,"id":"prcl_2825b1aecf864c818cecc644deb14097","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-14T19:29:15Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-14T19:29:16Z","date_advance":0,"id":"pl_9404306aa9164a6dba1d40c3364aca34","integrated_form":"none","label_date":"2022-06-14T19:29:16Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220614/09c57e8d69f849c28948253edd4b2f6b.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-14T19:29:16Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-14T19:29:15Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_75b42c8cbe734e5e9f94ff9444b22b92","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate":"27.40","service":"Express","shipment_id":"shp_90c3959bbd6f4b6d9adfb006f44c7155","updated_at":"2022-06-14T19:29:15Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-14T19:29:15Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_10d006ad87434075b07a46a7e596c24d","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70"[...]
[...]
- request:
    body: '{"batch":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_9036db3a6a354899876e16b174594cd9","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-06-14T19:29:17Z","updated_at":"2022-06-14T19:29:17Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c9b119eab300cbfc691afbeca7695d99"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 51cd47ee62a8e18de786afb80046420c
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":{"0":"shp_90c3959bbd6f4b6d9adfb006f44c7155","1":"shp_0cb1ab3927614a0c95f9dc3908cb4656"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/batch_9036db3a6a354899876e16b174594cd9/add_shipments
    method: POST
  response:
    body: '{"id":"batch_9036db3a6a354899876e16b174594cd9","object":"Batch","mode":"test","state":"created","num_shipments":2,"reference":null,"created_at":"2022-06-14T19:29:17Z","updated_at":"2022-06-14T19:29:17Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361123673134","id":"shp_0cb1ab3927614a0c95f9dc3908cb4656"},{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361123673127","id":"shp_90c3959bbd6f4b6d9adfb006f44c7155"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":2,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4b7d7d8c12f1305a2f7671772120c828"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 51cd47ee62a8e18de786afb80046421e
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":{"0":"shp_90c3959bbd6f4b6d9adfb006f44c7155","1":"shp_0cb1ab3927614a0c95f9dc3908cb4656"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/batch_9036db3a6a354899876e16b174594cd9/remove_shipments
    method: POST
  response:
    body: '{"id":"batch_9036db3a6a354899876e16b174594cd9","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2022-06-14T19:29:17Z","updated_at":"2022-06-14T19:29:17Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6f267f4196172077ba336103c0e4edb"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 51cd47ee62a8e18de786afb80046422e
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
