---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/addresses
    method: GET
  response:
    body: '{"addresses":[{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2023-06-29T16:54:00+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_8be79ca8169d11ee9e21ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-06-29T16:54:00+00:00","verifications":{},"zip":"94107"},{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-06-29T16:53:59+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_8b5f886a169d11eeb1abac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-06-29T16:53:59+00:00","verifications":{},"zip":"90277"},{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-06-29T16:53:59+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_8b5cdfd2169d11ee9dddac1f6bc539aa","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2023-06-29T16:54:00+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-06-29T16:44:37+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3c44d1fd169c11ee9204ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-06-29T16:44:37+00:00","verifications":{},"zip":"94107"},{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-06-29T16:44:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3ba43016169c11ee86fbac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-06-29T16:44:36+00:00","verifications":{},"zip":"90277"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a6467fa1c87b4c5a9d0bd941c222727"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5768950464a860f3f419ce86001219e3
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq d3d339cca1
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202307062235-b0632d93a9-master
    status: 200 OK
    code: 200
    duration: ""
[...]
