---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"test_credentials":{},"type":"DhlEcsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2025-05-23T20:12:46Z","credentials":{},"description":"DHL
      eCommerce Account","fields":{},"id":"ca_88bef94e6a394ffdbe5565527920b72e","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2025-05-23T20:12:46Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6ae239336830d6bee787d5c8009928de
      X-Node:
      - bigweb53nuq
      X-Proxied:
      - intlb4nuq 668d3fc830
      - extlb2nuq 99aac35317
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_88bef94e6a394ffdbe5565527920b72e
    method: GET
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2025-05-23T20:12:46Z","credentials":{},"description":"DHL
      eCommerce Account","fields":{},"id":"ca_88bef94e6a394ffdbe5565527920b72e","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2025-05-23T20:12:46Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 6ae239336830d6bee787d5c800992918
      X-Node:
      - bigweb43nuq
      X-Proxied:
      - intlb3nuq 668d3fc830
      - extlb2nuq 99aac35317
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
    status: 200 OK
    code: 200
    duration: ""
[...]
