---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]},null]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_0f12281009214aa9a686fae7f176b06f","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-03-07T22:07:31Z","updated_at":"2022-03-07T22:07:31Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ba279370cc51fb7d6df6bf97f602ae58"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d4a3d8d362268222ff103222003ed4c2
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb3wdc 88c34981dc
      X-Version-Label:
      - easypost-202203042109-ebc16e3e74-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/batches/batch_0f12281009214aa9a686fae7f176b06f/buy
    method: POST
  response:
    body: '{"id":"batch_0f12281009214aa9a686fae7f176b06f","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-03-07T22:07:31Z","updated_at":"2022-03-07T22:07:31Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_bac53d82cba74b83b4c731ac43be4f95"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81075ab4ed4b567f838baae2fb17b8e8"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d4a3d8d362268223ff103222003ed4f1
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb3wdc 88c34981dc
      X-Version-Label:
      - easypost-202203042109-ebc16e3e74-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: file_format=ZPL
    form:
      file_format:
      - ZPL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches/batch_0f12281009214aa9a686fae7f176b06f/label
    method: POST
  response:
    body: '{"id":"batch_0f12281009214aa9a686fae7f176b06f","object":"Batch","mode":"test","state":"label_generating","num_shipments":1,"reference":null,"created_at":"2022-03-07T22:07:31Z","updated_at":"2022-03-07T22:07:36Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361110241148","id":"shp_bac53d82cba74b83b4c731ac43be4f95"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b27ec6f1ae8480f8515ab9508de686c"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d4a3d8d362268228ff103222003ed6b2
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb3wdc 88c34981dc
      X-Version-Label:
      - easypost-202203042109-ebc16e3e74-master
    status: 200 OK
    code: 200
    duration: ""
