---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/refunds
    method: GET
  response:
    body: '{"refunds":[{"id":"rfnd_0d406c1971f4495e83ad7365180a15e7","object":"Refund","created_at":"2022-05-26T15:05:26Z","updated_at":"2022-05-26T15:05:26Z","tracking_code":"9400100109361120898257","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_8ab556d4e9f943ad9cba0fb887e88990"},{"id":"rfnd_ed74be879d1c4ff3a9d90539f68af4c5","object":"Refund","created_at":"2022-05-25T19:38:02Z","updated_at":"2022-05-25T19:38:02Z","tracking_code":"9400100109361120757882","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_637c0252e4d749708ff79cd293f45e9a"},{"id":"rfnd_7307f989d43d48abbe6fa4428b4bd001","object":"Refund","created_at":"2022-05-25T19:37:46Z","updated_at":"2022-05-25T19:37:46Z","tracking_code":"9400100109361120757394","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_31063c16e0ec428d80a41bec77f7815e"},{"id":"rfnd_e7796afd38d248a88f1443915c6a21c0","object":"Refund","created_at":"2022-05-25T18:03:32Z","updated_at":"2022-05-25T18:03:32Z","tracking_code":"9400100109361120747531","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_51d8199d7b5a4b3ba20c2c82b2d214de"},{"id":"rfnd_5f5baefd6aa347b780283b2f0f53ada3","object":"Refund","created_at":"2022-05-25T18:03:16Z","updated_at":"2022-05-25T18:03:16Z","tracking_code":"9400100109361120747463","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_3cfdd542e9584a098c6d3567d83e41c3"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63f6e5001df43000662486ac43f2b51e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9736e78b9ba7006bc2ec
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/refunds/rfnd_0d406c1971f4495e83ad7365180a15e7
    method: GET
  response:
    body: '{"id":"rfnd_0d406c1971f4495e83ad7365180a15e7","object":"Refund","created_at":"2022-05-26T15:05:26Z","updated_at":"2022-05-26T15:05:26Z","tracking_code":"9400100109361120898257","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_8ab556d4e9f943ad9cba0fb887e88990"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42ab0c507a6396bf4bfd4fc12be58c22"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9736e78b9ba7006bc2fe
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
