---
version: 1
interactions:
- request:
    body: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:35Z","height":4,"id":"prcl_74640c63dfb24f49b6cd2077c5752e13","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-20T23:28:35Z","weight":15.4,"width":8}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d810612ae0a5d124c3e8561074c1ee9c"
      Location:
      - /api/v2/parcels.prcl_74640c63dfb24f49b6cd2077c5752e13
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4ca2ec8cdb43001087bb
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/parcels/prcl_74640c63dfb24f49b6cd2077c5752e13
    method: GET
  response:
    body: '{"created_at":"2022-09-20T23:28:35Z","height":4,"id":"prcl_74640c63dfb24f49b6cd2077c5752e13","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-20T23:28:35Z","weight":15.4,"width":8}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d810612ae0a5d124c3e8561074c1ee9c"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4ca3ec8cdb43001087d1
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
