---
version: 1
interactions:
- request:
    body: '{"user":{"name":"Test User"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users
    method: POST
  response:
    body: '{"api_keys":[],"children":[],"created_at":"2022-09-21T16:20:09Z","id":"user_d29a2f56eb484029b165da34a6fb3261","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bf4bda3e0de0de0a03cabedfb6a97684"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b39b9ec8e8d290001563c
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users/user_d29a2f56eb484029b165da34a6fb3261
    method: DELETE
  response:
    body: ""
    headers:
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b39baec8e8d290001568d
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 204 No Content
    code: 204
    duration: ""
