---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]},null]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_beb36aa0c6bc45fb91258e77ab751c14","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-05-16T19:54:27Z","updated_at":"2022-05-16T19:54:27Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"661fe2da56714f18c9fdeb50e1d26740"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - a65f33786282abf3e78737b90008e163
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq c51cdb8bf2
      X-Version-Label:
      - easypost-202205161937-fdfdac8556-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/batches/batch_beb36aa0c6bc45fb91258e77ab751c14/buy
    method: POST
  response:
    body: '{"id":"batch_beb36aa0c6bc45fb91258e77ab751c14","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-05-16T19:54:27Z","updated_at":"2022-05-16T19:54:27Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_d6c68e90f7f84c5dbe9bd6c248eee1c5"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2716725a64a1a6ca49354b2e0c7b290"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - a65f33786282abf3e78737b90008e174
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq c51cdb8bf2
      X-Version-Label:
      - easypost-202205161937-fdfdac8556-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: file_format=ZPL
    form:
      file_format:
      - ZPL
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches/batch_beb36aa0c6bc45fb91258e77ab751c14/label
    method: POST
  response:
    body: '{"id":"batch_beb36aa0c6bc45fb91258e77ab751c14","object":"Batch","mode":"test","state":"label_generating","num_shipments":1,"reference":null,"created_at":"2022-05-16T19:54:27Z","updated_at":"2022-05-16T19:54:33Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361119372188","id":"shp_d6c68e90f7f84c5dbe9bd6c248eee1c5"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a450d9e79e87308367fcdb6a4692b7e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - a65f33786282abf9e78737b90008e482
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq c51cdb8bf2
      X-Version-Label:
      - easypost-202205161937-fdfdac8556-master
    status: 200 OK
    code: 200
    duration: ""
