---
version: 1
interactions:
- request:
    body: '{"payment_method":{"payment_method_reference":"ba_123","priority":"primary","stripe_customer_id":"cus_123"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/beta/referral_customers/payment_method
    method: POST
  response:
    body: '{"error":{"code":"BILLING.INVALID_PAYMENT_GATEWAY_REFERENCE","errors":[],"message":"Invalid
      Payment Gateway Reference."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 0698ac9263befa42e2b99038002b12a7
      X-Node:
      - bigweb12nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202301110111-1255a40c6a-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
