---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/reports/shipment
    method: GET
  response:
    body: '{"has_more":true,"reports":[{"created_at":"2022-06-27T21:06:20Z","end_date":"2022-04-11","id":"shprep_fa779aa90d8144558bde22be68f28ab6","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-06-27T21:06:20Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220627/a9032bbb2c4b499ebc5ee5c7fd79e663.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220819%2Fus-west-2%2Fs3%2Faws4_request\u0026X-Amz-Date=20220819T174811Z\u0026X-Amz-Expires=30\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=811731a7812b10488cc44b6e0eefa79c9b99ac38751df7c4255e68e3150a1423","url_expires_at":"2022-08-19T17:48:41Z"},{"created_at":"2022-06-27T21:06:20Z","end_date":"2022-04-11","id":"shprep_94a94ff66eb94be18ab368b9c0bf2c40","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-06-27T21:06:20Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220627/7ceaf6fd7b024dea97819c2a792a7bd2.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220819%2Fus-wes[...]
