---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"UpsAccount","credentials":{"access_license_number":"ALN","account_number":"A1A1A1","password":"PASSWORD","user_id":"USERID"},"test_credentials":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"id":"ca_9aaf5a74f16b4db3b0deb3d69d14fbba","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-04-11T20:27:23Z","updated_at":"2022-04-11T20:27:23Z","description":"UPS
      Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
      Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8684511cea8c5548fd30b6cccf99bd39"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 0991fb5262548f2be7873fff002e887c
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      X-Version-Label:
      - easypost-202204111913-07b6175514-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/carrier_accounts/ca_9aaf5a74f16b4db3b0deb3d69d14fbba
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 0991fb5262548f2be7873fff002e888c
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      X-Version-Label:
      - easypost-202204111913-07b6175514-master
    status: 200 OK
    code: 200
    duration: ""
