---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/end_shippers
    method: GET
  response:
    body: '{"end_shippers":[{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T15:54:21+00:00","email":"REDACTED","id":"es_b4d6563ab66249fa8b02c0e820bf9745","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T15:54:21+00:00","zip":"94107-1670"},{"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T15:54:21+00:00","email":"REDACTED","id":"es_195fab316cd54a4389e352f788fee7eb","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T15:54:21+00:00","zip":"94107-1670"},{"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-09-21T15:54:22+00:00","email":"REDACTED","id":"es_9e9e5459af2547dfb98ffdd3dd28a4f5","mode":"test","name":"CAPTAIN
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T15:54:22+00:00","zip":"94107-1670"}],"has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d78dbbc807a9843af74957e6df8099d9"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397eec8e8d2900013629
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
