---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-28T19:16:35+00:00","email":null,"federal_tax_id":null,"id":"adr_d3e4875ff71611ec90e9ac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-28T19:16:36+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-28T19:16:35Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:16:35+00:00","email":null,"federal_tax_id":null,"id":"adr_d3e6a74df71611ec90eaac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:16:35+00:00","verifications":{},"zip":"94107"},"id":"shp_f79267dd9ab3470f90290584d920edc9","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-28T19:16:35Z","height":4,"id":"prcl_bad8209d6b1c46e6ad4b99e08f7b822b","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-28T19:16:35Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-28T19:16:36Z","date_advance":0,"id":"pl_c85a82046d1747f3a981dac9b1543b0c","integrated_form":"none","label_date":"2022-06-28T19:16:36Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220628/cefde11fafb2436d8c96c1f41649d094.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-28T19:16:36Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-28T19:16:35Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_6b8c76ca8aef41e283c5532f3d7825a3","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70","service":"Priority","shipment_id":"shp_f79267dd9ab3470f90290584d920edc9","updated_at":"2022-06-28T19:16:35Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-28T19:16:35Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_4c5335e3cf224619b16e5232f1a91867","list_currency":"USD","list_rate":"5.49","mode":"test","object":"Rate","rate":"5.49","retail_currency":"USD","retail_rate":"5.49"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-07-06T00:00:00Z","max_datetime":"2022-07-06T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_f79267dd9ab3470f90290584d920edc9","object":"Shipment","mode":"test","created_at":"2022-06-28T19:16:35Z","updated_at":"2022-06-28T19:16:36Z","to_address":{"id":"adr_d3e4875ff71611ec90e9ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-28T19:16:35Z","updated_at":"2022-06-28T19:16:36Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_d3e6a74df71611ec90eaac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-28T19:16:35Z","updated_at":"2022-06-28T19:16:35Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_d3e6a74df71611ec90eaac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-28T19:16:35Z","updated_at":"2022-06-28T19:16:35Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_d3e4875ff71611ec90e9ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_ed5975e6c3a94a1fa5124f12c4023771
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:16:36+00:00","email":null,"federal_tax_id":null,"id":"adr_d490b240f71611ec92e9ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:16:36+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2022-06-28T19:16:36Z","id":"pickup_ed5975e6c3a94a1fa5124f12c4023771","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-07-06T00:00:00Z","messages":[],"min_datetime":"2022-07-06T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-28T19:16:37Z","currency":"USD","id":"pickuprate_4578ac2287b1499095af3f862ac4d69a","mode":"test","object":"PickupRate","pickup_id":"pickup_ed5975e6c3a94a1fa5124f12c4023771","rate":"0.00","service":"NextDay","updated_at":"2022-06-28T19:16:37Z"}],"reference":null,"status":"unknown","updated_at":"2022-06-28T19:16:36Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9e399457716d718dfcbb06798128f0d3"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - c675e63262bb5395ec87ca830038d2b9
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq a732742a48
      - intlb2wdc a732742a48
      - extlb3wdc 403f17ff97
      X-Version-Label:
      - easypost-202206272314-c14e8f7f31-master
    status: 200 OK
    code: 200
    duration: ""
