---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-11-30T20:11:16+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9e2ef0bf8fbc11eebf45ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2023-11-30T20:11:16+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2023-11-30T20:11:16Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-11-30T20:11:16+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9e3195b08fbc11ee8298ac1f6bc539aa","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-11-30T20:11:16+00:00","verifications":{},"zip":"90277"},"id":"shp_50f512bbeba84843bf03e26c30d05592","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-11-30T20:11:16Z","height":4,"id":"prcl_3957ecb9eb1846f4a610b5eb0f517c0d","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-11-30T20:11:16Z","weight":15.4,"width":8},"postage_label":{"created_at":"2023-11-30T20:11:17Z","date_advance":0,"id":"pl_ce04066a46594c3fae9dced76869c693","integrated_form":"none","label_date":"2023-11-30T20:11:17Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231130/e8439a62cfcd704fe9b46eb56241e9c5fe.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2023-11-30T20:11:17Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:11:16Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_db2d45b293344e45937c237bdecbdcbf","list_currency":"USD","list_rate":"31.25","mode":"test","object":"Rate","rate":"31.25","retail_currency":"USD","retail_rate":"35.80","service":"Express","shipment_id":"shp_50f512bbeba84843bf03e26c30d05592","updated_at":"2023-11-30T20:11:16Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:11:16Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_15fc6e75fac04c13a2591881b4de72d8","list_currency":"USD","list_rate":"8.24","mode":"test","object":"Rate","rate":"6.95","retail_currency":"USD","retail_rate":"10.20[...]
- request:
    body: '{"pickup":{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"instructions":"Pickup at front door","max_datetime":"2023-12-08T00:00:00Z","min_datetime":"2023-12-08T00:00:00Z","shipment":{"buyer_address":{"city":"SAN
      FRANCISCO","country":"US","created_at":"2023-11-30T20:11:16Z","email":"REDACTED","id":"adr_9e2ef0bf8fbc11eebf45ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","street1":"388
      TOWNSEND ST APT 20","updated_at":"2023-11-30T20:11:16Z","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_e24701cdf3dd4d0d85f13f8670e04c7f/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2023-11-30T20:11:17+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9eea7ae48fbc11eeb45fac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-11-30T20:11:17+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC63780364","created_at":"2023-11-30T20:11:17Z","id":"pickup_e24701cdf3dd4d0d85f13f8670e04c7f","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2023-12-08T00:00:00Z","messages":[],"min_datetime":"2023-12-08T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2023-11-30T20:11:18Z","currency":"USD","id":"pickuprate_9c8c87ebf3fc4d709872437f1bccdeef","mode":"test","object":"PickupRate","pickup_id":"pickup_e24701cdf3dd4d0d85f13f8670e04c7f","rate":"0.00","service":"NextDay","updated_at":"2023-11-30T20:11:18Z"}],"reference":null,"status":"scheduled","updated_at":"2023-11-30T20:11:19Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec66e7896122001b6c20
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_e24701cdf3dd4d0d85f13f8670e04c7f/cancel
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2023-11-30T20:11:17+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9eea7ae48fbc11eeb45fac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","pho[...]
