---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"created_at":"2022-09-21T16:19:08Z","id":"batch_8a2c6d4338f84a66863dbd641964d36e","label_url":null,"mode":"test","num_shipments":1,"object":"EasyPost::Entity::Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"creating","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-21T16:19:08Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c2463fe261aa23a0268b4b88532e979"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397cec8e8d290001349a
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_8a2c6d4338f84a66863dbd641964d36e
    method: GET
  response:
    body: '{"created_at":"2022-09-21T16:19:08Z","id":"batch_8a2c6d4338f84a66863dbd641964d36e","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"creating","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-21T16:19:08Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e01afec8801cc038d204952546d0e808"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - ad82a8bc632b397cec8e8d29000134a1
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
