---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"test_credentials":{},"type":"DhlEcsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-21T18:22:08Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_399a61d5f4d14333849fb3b6b2c17a8e","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-21T18:22:08Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"262d19850609170c1f81a77ef34ef300"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5650ec7d9989000d9817
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_399a61d5f4d14333849fb3b6b2c17a8e
    method: GET
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-21T18:22:08Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_399a61d5f4d14333849fb3b6b2c17a8e","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-21T18:22:08Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"262d19850609170c1f81a77ef34ef300"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5650ec7d9989000d984a
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
[...]
