---
version: 1
interactions:
- request:
    body: '{"payment_log_id":"paylog_..."}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/beta/referral_customers/refunds
    method: POST
  response:
    body: '{"error":{"code":"APIKEY.INACTIVE","errors":[],"message":"This api key
      is no longer active. Please use a different api key or reactivate this key."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6851f440b8c700374035
      X-Node:
      - bigweb36nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 403 Forbidden
    code: 403
    duration: ""
