---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-20T23:32:12+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_73cf3a0f393c11edaddfac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-20T23:32:12+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-20T23:32:12Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-20T23:32:12+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_73d19453393c11ed9be9ac1f6bc72124","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-20T23:32:12+00:00","verifications":{},"zip":"90277"},"id":"shp_11d63737e0434c2cb5733f2db3a2fd15","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-20T23:32:12Z","height":4,"id":"prcl_0f28144f0c4a4b60a1c4807d9dfc4493","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-20T23:32:12Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-20T23:32:12Z","date_advance":0,"id":"pl_5aede30ed38f4348a56e11f0cf699f62","integrated_form":"none","label_date":"2022-09-20T23:32:12Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220920/2d3619dabb3145038edbe6fd537a9146.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-20T23:32:13Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:32:12Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_b6271b92a650462d8dfbebd6bd88701a","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_11d63737e0434c2cb5733f2db3a2fd15","updated_at":"2022-09-20T23:32:12Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:32:12Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_55c611dbf764491c98928a02ed17fb7e","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-09-22T00:00:00Z","max_datetime":"2022-09-22T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_11d63737e0434c2cb5733f2db3a2fd15","object":"Shipment","mode":"test","created_at":"2022-09-20T23:32:12Z","updated_at":"2022-09-20T23:32:13Z","to_address":{"id":"adr_73cf3a0f393c11edaddfac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-09-20T23:32:12Z","updated_at":"2022-09-20T23:32:12Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","phone":"5555555555","email":"TEST@EXAMPLE.COM","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_73d19453393c11ed9be9ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-09-20T23:32:12Z","updated_at":"2022-09-20T23:32:12Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_73d19453393c11ed9be9ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-09-20T23:32:12Z","updated_at":"2022-09-20T23:32:12Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_73cf3a0f393c11edaddfac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-09-20T23:32:1[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_e935159ec9d94090a7d1870cf546cb37/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-09-20T23:32:13+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_748361fc393c11edae1fac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-20T23:32:13+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC62216876","created_at":"2022-09-20T23:32:13Z","id":"pickup_e935159ec9d94090a7d1870cf546cb37","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-09-22T00:00:00Z","messages":[],"min_datetime":"2022-09-22T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-09-20T23:32:14Z","currency":"USD","id":"pickuprate_c17030bd6ae84dd5bb205d4dbc3e77b3","mode":"test","object":"PickupRate","pickup_id":"pickup_e935159ec9d94090a7d1870cf546cb37","rate":"0.00","service":"NextDay","updated_at":"2022-09-20T23:32:14Z"}],"reference":null,"status":"scheduled","updated_at":"2022-09-20T23:32:14Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8cc0287d932991fa2cb00880876ce075"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 1ccf69c4632a4d7eeca0ad8a00122919
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_e935159ec9d94090a7d1870cf546cb37/cancel
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-09-20T23:32:13+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_748361fc393c11edae1fac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","pho[...]
