---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"code":null,"created_at":"2022-09-20T23:28:19Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_260640336cb94d3a9505fc60aadae663","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-20T23:28:19Z","value":null,"weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"428746b363beb8dc5180e76ba82c90f7"
      Location:
      - /api/v2/customs_items/cstitem_260640336cb94d3a9505fc60aadae663
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 924e0c20632a4c93ec8cdb4300108347
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201945-4c5c97ab34-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_items/cstitem_260640336cb94d3a9505fc60aadae663
    method: GET
  response:
    body: '{"code":null,"created_at":"2022-09-20T23:28:19Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_260640336cb94d3a9505fc60aadae663","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-20T23:28:19Z","value":null,"weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"428746b363beb8dc5180e76ba82c90f7"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c93ec8cdb430010835d
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
