---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/trackers
    method: GET
  response:
    body: '{"trackers":[{"id":"trk_90b7465d5c5949698bafd2e73170f15f","object":"Tracker","mode":"test","tracking_code":"9400100109361120898325","status":"pre_transit","status_detail":"status_update","created_at":"2022-05-26T15:05:41Z","updated_at":"2022-05-26T15:05:41Z","signed_by":null,"weight":null,"est_delivery_date":"2022-05-26T15:05:41Z","shipment_id":"shp_b66c7acd396d45d29dacf4b407c275c7","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-04-26T15:05:41Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-04-27T03:42:41Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"fees":[],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
      Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"public_url":"https://track.easypost.com/djE6dHJrXzkwYjc0NjVkNWM1OTQ5Njk4YmFmZDJlNzMxNzBmMTVm"},{"id":"trk_ebd6d33e3d834c79b7e20fe90c9a2e9d","object":"Tracker","mode":"test","tracking_code":"9400100109361120898318","status":"pre_transit","status_detail":"status_update","created_at":"2022-05-26T15:05:40Z","updated_at":"2022-05-26T15:05:40Z","signed_by":null,"weight":null,"est_delivery_date":"2022-05-26T15:05:40Z","shipment_id":"shp_e6be553f395047e595b11287a175b164","carrier":"USPS","tracking_details":[{"objec[...]
