---
version: 1
interactions:
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-09-20T23:28:19Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-09-20T23:28:19Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_abd76372ecc2474394098cc3d1c2441e","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-20T23:28:19Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_007bde955b0d4c4b861b3b31baf24b43","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-09-20T23:28:19Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"571a9da572dab9e9b1419025f525ba3d"
      Location:
      - /api/v2/customs_infos/cstinfo_007bde955b0d4c4b861b3b31baf24b43
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c92ec8cdb4300108305
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_infos/cstinfo_007bde955b0d4c4b861b3b31baf24b43
    method: GET
  response:
    body: '{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-09-20T23:28:19Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-09-20T23:28:19Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"[...]
