---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/reports/shipment
    method: GET
  response:
    body: '{"has_more":true,"reports":[{"created_at":"2022-09-21T18:22:52Z","end_date":"2022-04-11","id":"shprep_787f9f83014f49a4a1da9a5fa5cf33d6","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-09-21T18:22:52Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220921/3ba93fbc34734e65bc812167205801b6.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20230328%2Fus-west-2%2Fs3%2Faws4_request\u0026X-Amz-Date=20230328T203115Z\u0026X-Amz-Expires=30\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=f14c10d6644cb31db6a7de63b3a97c9601b6844d2e143f7f592394631f69888e","url_expires_at":"2023-03-28T20:31:45Z"},{"created_at":"2022-09-21T18:22:52Z","end_date":"2022-04-11","id":"shprep_34dd218b297743c68d5feda88d46018e","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-09-21T18:22:52Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220921/21ce1b5c375544c499e137b9db15cc56.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20230328%2Fus-wes[...]
[...]
