---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '{"events":[{"created_at":"2023-11-30T20:10:58.053Z","description":"batch.updated","id":"evt_9327ab808fbc11eebe704192e9ab1762","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2023-11-30T20:10:57.959Z","description":"batch.created","id":"evt_93194ec88fbc11ee902d6dab887e48ec","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2023-11-30T20:10:54.802Z","description":"tracker.created","id":"evt_91377be88fbc11ee9e042b145e73b990","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2023-11-30T20:10:53.827Z","description":"tracker.created","id":"evt_90a2b99a8fbc11ee844e17dc6198d24d","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2023-11-30T20:10:51.685Z","description":"tracker.created","id":"evt_8f5bfd088fbc11eeb933014a89249994","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec53e7896122001b5b8d
      X-Node:
      - bigweb42nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
[...]
