---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"id":"cstitem_0f33233b668d4c2ba62354eb426208ee","object":"CustomsItem","created_at":"2022-03-03T19:08:46Z","updated_at":"2022-03-03T19:08:46Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"172cea58368d3530511c21aef76bd64d"
      Location:
      - /api/v2/customs_items/cstitem_0f33233b668d4c2ba62354eb426208ee
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123eff135a20001f2039
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
