---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches
    method: GET
  response:
    body: '{"batches":[{"id":"batch_2dffde0589804fbe87169c522fe89c7e","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-08-16T20:24:11Z","updated_at":"2022-08-16T20:24:11Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null},{"id":"batch_435adfe37d784ff79c5eb810c94f58fc","object":"Batch","mode":"test","state":"purchase_failed","num_shipments":1,"reference":null,"created_at":"2022-08-16T20:24:11Z","updated_at":"2022-08-16T20:24:11Z","scan_form":null,"shipments":[{"batch_status":"postage_purchase_failed","batch_message":"A
      carrier and service must be provided to purchase through a Batch.","reference":null,"tracking_code":null,"id":"shp_5cff2c499ace470baf25b5642a307772"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":1},"pickup":null,"label_url":null},{"id":"batch_5a471b58218842e3a7dade0a4328dd1c","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-08-16T20:24:12Z","updated_at":"2022-08-16T20:24:12Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0[...]
