---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-07-25T19:18:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_06655f982b2011ee84eaac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2023-07-25T19:18:24+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2023-07-25T19:18:24Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"6.07000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-07-25T19:18:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_06675c9d2b2011ee92cfac1f6bc539aa","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-07-25T19:18:24+00:00","verifications":{},"zip":"90277"},"id":"shp_4e26484ceb744eafbbed64a198287abb","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-07-25T19:18:24Z","height":4,"id":"prcl_3a46cea1db684d988d70963b1e2f82bf","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-07-25T19:18:24Z","weight":15.4,"width":8},"postage_label":{"created_at":"2023-07-25T19:18:24Z","date_advance":0,"id":"pl_f07c6a81c5be454ba81c6db8068b11f8","integrated_form":"none","label_date":"2023-07-25T19:18:24Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230725/e8e1ea546d9f8a49a2aa6aff6cd5a430a5.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2023-07-25T19:18:24Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-07-25T19:18:24Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_6edb262eae11476aa12efdbcd165aecc","list_currency":"USD","list_rate":"6.07","mode":"test","object":"Rate","rate":"6.07","retail_currency":"USD","retail_rate":"6.07","service":"GroundAdvantage","shipment_id":"shp_4e26484ceb744eafbbed64a198287abb","updated_at":"2023-07-25T19:18:24Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-07-25T19:18:24Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_4a16f3aefe9f4820950fbff72e1fe651","list_currency":"USD","list_rate":"6.07","mode":"test","object":"Rate","rate":"6.07","retail_currency":"USD","retail_rate":"6.07"[...]
[...]
- request:
    body: '{"batch":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"created_at":"2023-07-25T19:18:26Z","id":"batch_dd987e5a6e3c43a5bfd116a7e33ba17f","label_url":null,"mode":"test","num_shipments":0,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"created","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2023-07-25T19:18:26Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69bff5b6192445a754e05e9436848429"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 1032454a64c02002f021935f0005aa90
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb1nuq d3d339cca1
      - intlb1wdc d3d339cca1
      - extlb4wdc 003ad9bca0
      X-Version-Label:
      - easypost-202307242114-8c5b7796df-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":[{"buyer_address":{"city":"SAN FRANCISCO","country":"US","created_at":"2023-07-25T19:18:24Z","email":"REDACTED","id":"adr_06655f982b2011ee84eaac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","street1":"388
      TOWNSEND ST APT 20","updated_at":"2023-07-25T19:18:24Z","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"e[...]
[...]
