---
version: 1
interactions:
- request:
    body: '{"shipment":{"reference":"123","to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
      30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"invoice_number":"123","label_format":"PNG"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-07-28T19:01:00+00:00","email":null,"federal_tax_id":null,"id":"adr_9e93b2e50ea711edb6f9ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-07-28T19:01:00+00:00","verifications":{},"zip":"94107"},"created_at":"2022-07-28T19:01:00Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-07-28T19:01:00Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-07-28T19:01:00Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_7308f9071f2443b8b2ad3561908b0b25","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-07-28T19:01:00Z","value":"23.0","weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_d88991b17e974e1db75c74e40925bc59","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-07-28T19:01:00Z"},"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-07-28T19:01:00+00:00","email":null,"federal_tax_id":null,"id":"adr_9e956eb60ea711edbac7ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-07-28T19:01:00+00:00","verifications":{},"zip":"94107"},"id":"shp_1728e3a769694ee1b0020a773dcac34d","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-07-28T19:01:00Z","height":4,"id":"prcl_439477768b4e40bc9c77b71195be1a3f","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-07-28T19:01:00Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-07-28T19:01:00Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_4b73707cae5a42758e5457bb5192e827","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70","service":"Priority","shipment_id":"shp_1728e3a769694ee1b0020a773dcac34d","updated_at":"2022-07-28T19:01:00Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-07-28T19:01:00Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_b2cd944604404e0e959800ba85bf40d0","list_currency":"USD","list_rate":"5.49","mode":"test","object":"Rate","rate":"5.49","retail_currency":"USD","retail_rate":"5.49"[...]
- request:
    body: '{}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_1728e3a769694ee1b0020a773dcac34d/rerate
    method: POST
  response:
    body: '{"rates":[{"id":"rate_591be2dd03ce4f91928262058cbb1cc6","object":"Rate","created_at":"2022-07-28T19:01:00Z","updated_at":"2022-07-28T19:01:00Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail[...]
