---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"id":"cstitem_1fb52c1b40b340f88e4667ea9a420d14","object":"CustomsItem","created_at":"2022-08-16T20:24:25Z","updated_at":"2022-08-16T20:24:25Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":null,"weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e5f4ce5fcddd625928dd22852b2382b"
      Location:
      - /api/v2/customs_items/cstitem_1fb52c1b40b340f88e4667ea9a420d14
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfcf9e78a92e70001a9d3
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 201 Created
    code: 201
    duration: ""
