---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"code":null,"created_at":"2022-09-21T17:53:46Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_650189c93a55416b875bced757b9c446","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T17:53:46Z","value":"23.25","weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b4628a990701162f04d36237d6077f5"
      Location:
      - /api/v2/customs_items/cstitem_650189c93a55416b875bced757b9c446
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bb632b4faaecc32082000bcd08
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_items/cstitem_650189c93a55416b875bced757b9c446
    method: GET
  response:
    body: '{"code":null,"created_at":"2022-09-21T17:53:46Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_650189c93a55416b875bced757b9c446","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T17:53:46Z","value":"23.25","weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2b4628a990701162f04d36237d6077f5"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - ad82a8bb632b4faaecc32082000bcd0f
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
