---
version: 1
interactions:
- request:
    body: '{"shipment":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"planned_ship_date":"2025-06-16","ruleset_name":"cheapest_delivery","to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/luma/promise
    method: POST
  response:
    body: '{"luma_info":{"ai_results":[{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-17","predicted_deliver_days":1,"rate_usd":"34.15","service":"Express"},{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-18","predicted_deliver_days":2,"rate_usd":"7.42","service":"Priority"},{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-19","predicted_deliver_days":3,"rate_usd":"6.07","service":"GroundAdvantage"}],"luma_selected_rate":{"carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","currency":"USD","luma_predicted_deliver_by_date":"2025-06-19","rate":"6.07","service":"GroundAdvantage"},"matching_rule_idx":0,"ruleset_description":"Buy
      the cheapest rate that satisfies all of the following:\nRule 0\n    \nOtherwise
      buy the cheapest rate"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6ebfb8b668505acce2bb176e0070fb70
      X-Node:
      - bigweb33nuq
      X-Proxied:
      - intlb3nuq ec99f2d065
      - extlb1nuq 99aac35317
      X-Version-Label:
      - easypost-202506161725-4166f0359d-master
    status: 200 OK
    code: 200
    duration: ""
