---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/trackers
    method: GET
  response:
    body: '{"has_more":true,"trackers":[{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":null,"object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"},"service":"First-Class
      Package Service"},"created_at":"2022-09-21T16:20:04Z","est_delivery_date":"2022-09-21T16:20:04Z","fees":[],"id":"trk_37a73cace653468ab20e493b45a2533c","mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrXzM3YTczY2FjZTY1MzQ2OGFiMjBlNDkzYjQ1YTI1MzNj","shipment_id":"shp_0e7429c92dfc491f8d5c252bff19edc8","signed_by":null,"status":"pre_transit","status_detail":"status_update","tracking_code":"9400100109361138693479","tracking_details":[{"carrier_code":null,"datetime":"2022-08-21T16:20:04Z","description":null,"message":"Pre-Shipment
      Info Sent to USPS","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":null,"datetime":"2022-08-22T04:57:04Z","description":null,"message":"Shipping
      Label Created","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"}}],"updated_at":"2022-09-21T16:20:04Z","weight":null},{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":null,"object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"},"service[...]
