---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:03Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822365","updated_at":"2022-03-03T19:09:04Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_643c21c29b2511ecae6fac1f6bc72124","object":"Address","created_at":"2022-03-03T19:09:03+00:00","updated_at":"2022-03-03T19:09:03+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_7441edf8bbc841c7b5a5e772e6accb40","object":"Parcel","created_at":"2022-03-03T19:09:03Z","updated_at":"2022-03-03T19:09:03Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_09d443f2ea26479c82b5846e445d78d2","created_at":"2022-03-03T19:09:04Z","updated_at":"2022-03-03T19:09:04Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T19:09:04Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/a3be4199c7bc411aae37aab87a9772ad.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_cadd89e3c2714e81ae0f39bdbc82784a","object":"Rate","created_at":"2022-03-03T19:09:04Z","updated_at":"2022-03-03T19:09:04Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ee9bcef3efe64cfb93497e92b9cd35dc","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_36fac4b42c2b4f28840dc8e66ed0e36f","object":"Rate","created_at":"2022-03-03T19:09:04Z","updated_at":"2022-03-03T19:09:04Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_ee9bcef3efe64cfb93497e92b9cd35dc","carrier_ac[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-03-04T14:09:04.645932-05:00","max_datetime":"2022-03-05T14:09:04.645933-05:00","instructions":"Pickup
      at front door","shipment":{"id":"shp_ee9bcef3efe64cfb93497e92b9cd35dc","object":"Shipment","mode":"test","created_at":"2022-03-03T19:09:03Z","updated_at":"2022-03-03T19:09:04Z","to_address":{"id":"adr_643a4f149b2511ecae6eac1f6bc72124","object":"Address","mode":"test","created_at":"2022-03-03T19:09:03Z","updated_at":"2022-03-03T19:09:04Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_643c21c29b2511ecae6fac1f6bc72124","object":"Address","mode":"test","created_at":"2022-03-03T19:09:03Z","updated_at":"2022-03-03T19:09:03Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_643c21c29b2511ecae6fac1f6bc72124","object":"Address","mode":"test","created_at":"2022-03-03T19:09:03Z","updated_at":"2022-03-03T19:09:03Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_643a4f149b2511ecae6eac1f6bc72124","object":"Address","mode":"test","created_at":"2022-03-03T19:09:03Z","updated_at":"2022-03-03T19:09:04Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_34c6d688174546cb86ea8ec7cfce09a2/buy
    method: POST
  response:
    body: '{"id":"pickup_34c6d688174546cb86ea8ec7cfce09a2","object":"Pickup","created_at":"2022-03-03T19:09:05Z","updated_at":"2022-03-03T19:09:06Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2022-03-04T19:09:04Z","max_datetime":"2022-03-05T19:09:04Z","is_account_address":false,"instructions":"Pickup
      at front door","messages":[],"confirmation":"WTC61769814","address":{"id":"adr_64e3f80f9b2511ec9fa7ac1f6b0a0d1e","object":"Address","created_at":"2022-03-03T19:09:05+00:00","updated_at":"2022-03-03T19:09:05+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-03-03T19:09:05Z","updated_at":"2022-03-03T19:09:05Z","carrier":"USPS","pickup_id":"pickup_34c6d688174546cb86ea8ec7cfce09a2","id":"pickuprate_439415502ec04c38a7cef4d59838bba1","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"883316b2fe2dffcbe4053e4599ec332e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211251ff135a20001f24d9
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/pickups/pickup_34c6d688174546cb86ea8ec7cfce09a2/cancel
    method: POST
  response:
    body: '{"id":"pickup_34c6d688174546cb86ea8ec7cfce09a2","object":"Pickup","created_at":"2022-03-03T19:09:05Z","updated_at":"2022-03-03T19:09:07Z","mode":"test","status":"canceled","reference":null,"min_datetime":"2022-03-04T19:09:04Z","max_datetime":"2022-03-05T19:09:04Z","is_account_address":false,"instructions":"Pickup
   [...]
