---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"id":"cstitem_fb0b3407c8924072a4ca4798e96b4f0c","object":"CustomsItem","created_at":"2022-08-19T17:47:46Z","updated_at":"2022-08-19T17:47:46Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":null,"weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bcebc3473cd356ffc768ae7b42b24c24"
      Location:
      - /api/v2/customs_items/cstitem_fb0b3407c8924072a4ca4798e96b4f0c
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccc2ff246ba10070111a
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_items/cstitem_fb0b3407c8924072a4ca4798e96b4f0c
    method: GET
  response:
    body: '{"id":"cstitem_fb0b3407c8924072a4ca4798e96b4f0c","object":"CustomsItem","created_at":"2022-08-19T17:47:46Z","updated_at":"2022-08-19T17:47:46Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":null,"weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bcebc3473cd356ffc768ae7b42b24c24"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccc2ff246ba10070113f
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
