---
version: 1
interactions:
- request:
    body: '{"shipment":{"customs_info":{"contents_type":"merchandise","customs_certify":true,"customs_items":[{"description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"weight":11}],"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_type":"none"},"from_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"},"options":{"invoice_number":"123","label_format":"PNG"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"reference":"123","to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-11-30T20:12:03+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ba5453d68fbc11ee9412ac1f6bc539aa","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-11-30T20:12:03+00:00","verifications":{},"zip":"90277"},"created_at":"2023-11-30T20:12:03Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2023-11-30T20:12:03Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2023-11-30T20:12:03Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_c49dccd7506d46ffb91e7517e9de6806","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2023-11-30T20:12:03Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_2723882b61e743eba5d0c1fee56a48a9","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2023-11-30T20:12:03Z"},"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-11-30T20:12:03+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ba56d95d8fbc11ee90b4ac1f6bc539ae","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-11-30T20:12:03+00:00","verifications":{},"zip":"94107"},"id":"shp_ed7ea0dd185842bfab0d3301fb794863","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"shipment.customs_info.customs_items.0.value:
      field required and shipment.customs_info.customs_items.0.code: field required","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-11-30T20:12:03Z","height":4,"id":"prcl_e38b2d76acbe4c87ab1a7a516fe9d06e","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-11-30T20:12:03Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:12:03Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_cfd91de286834d89bb5b1c81bd4cab30","list_currency":"USD","list_rate":"8.24","mode":"test","object":"Rate","rate":"6.95","retail_currency":"USD","retail_rate":"10.20","service":"Priority","shipment_id":"shp_ed7ea0dd185842bfab0d3301fb794863","updated_at":"2023-11-30T20:12:03Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:12:03Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_79a11eee50e04b0ea184f91812173f9b","list_currency":"USD","list_rate":"6.07","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.00"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/shipments/shp_ed7ea0dd185842bfab0d3301fb794863/rerate
    method: POST
  response:
    body: '{"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-11-30T20:12:04Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_b30b[...]
