---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-04-11","end_date":"2022-04-11"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:54Z","end_date":"2022-04-11","id":"shprep_39099805ffa242e592c7df83266304c3","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2022-09-20T23:28:54Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ecd20985b5f69ae5eb33952ca5317876"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4cb6ec8cdb4300108c58
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/reports/shipment/shprep_39099805ffa242e592c7df83266304c3
    method: GET
  response:
    body: '{"created_at":"2022-09-20T23:28:54Z","end_date":"2022-04-11","id":"shprep_39099805ffa242e592c7df83266304c3","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-09-20T23:28:54Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220920/c0cbc2fd3a7e40478b157c53b31564b5.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220920%2Fus-west-2%2Fs3%2Faws4_request\u0026X-Amz-Date=20220920T232854Z\u0026X-Amz-Expires=30\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=1f7d79b178e0cc15c7e4d253937ca001e9861a3a16a0a9b6d87341961a3ed01a","url_expires_at":"2022-09-20T23:29:24Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e47b701db312aadb72545297a560e70"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4cb6ec8cdb4300108c64
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
