---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-04-11T20:22:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114538039","updated_at":"2022-04-11T20:22:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_24bfcaf6b9d511ecbedfac1f6bc7b362","object":"Address","created_at":"2022-04-11T20:22:43+00:00","updated_at":"2022-04-11T20:22:43+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_0bb7dad6d41d45d29fae737ca6325bf0","object":"Parcel","created_at":"2022-04-11T20:22:43Z","updated_at":"2022-04-11T20:22:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_639f73156ba547f28b37515693c397f4","created_at":"2022-04-11T20:22:44Z","updated_at":"2022-04-11T20:22:44Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-11T20:22:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220411/45082db963fd44b888ab2d9dc21d267d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_fb4e0240c2944ad0a646b31d504ff76c","object":"Rate","created_at":"2022-04-11T20:22:43Z","updated_at":"2022-04-11T20:22:43Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_070f56b9b3084b959ee65060f891bdf5","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_5af60082791a451396be640adab4900c","object":"Rate","created_at":"2022-04-11T20:22:43Z","updated_at":"2022-04-11T20:22:43Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_070f56b9b3084b959ee65060f891bdf5","carrie[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-04-12T14:22:44.6015-06:00","max_datetime":"2022-04-12T14:22:44.6015-06:00","instructions":"Pickup
      at front door","shipment":{"id":"shp_070f56b9b3084b959ee65060f891bdf5","object":"Shipment","mode":"test","created_at":"2022-04-11T20:22:43Z","updated_at":"2022-04-11T20:22:44Z","to_address":{"id":"adr_24bd980cb9d511ec99caac1f6bc72124","object":"Address","mode":"test","created_at":"2022-04-11T20:22:43Z","updated_at":"2022-04-11T20:22:43Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_24bfcaf6b9d511ecbedfac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-04-11T20:22:43Z","updated_at":"2022-04-11T20:22:43Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_24bfcaf6b9d511ecbedfac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-04-11T20:22:43Z","updated_at":"2022-04-11T20:22:43Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_24bd980cb9d511ec99caac1f6bc72124","object":"Address","mode":"test","created_at":"2022-04-11T20:22:43Z","updated_at":"2022-04-11T20:22:43Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_981080f2f7454c10870efe8ca23e7887/buy
    method: POST
  response:
    body: '{"id":"pickup_981080f2f7454c10870efe8ca23e7887","object":"Pickup","created_at":"2022-04-11T20:22:44Z","updated_at":"2022-04-11T20:22:46Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2022-04-12T20:22:44Z","max_datetime":"2022-04-12T20:22:44Z","is_account_address":false,"instructions":"Pickup
      at front door","messages":[],"confirmation":"WTC61774814","address":{"id":"adr_2557a52bb9d511ec9a05ac1f6bc72124","object":"Address","created_at":"2022-04-11T20:22:44+00:00","updated_at":"2022-04-11T20:22:44+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-11T20:22:45Z","updated_at":"2022-04-11T20:22:45Z","carrier":"USPS","pickup_id":"pickup_981080f2f7454c10870efe8ca23e7887","id":"pickuprate_0c160cf6e05e40bb804c0cda5429b5c2","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cae5539fcf780b84ddfc5bb8a86cfe7c"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - df63cd0e62548e15e7873cc2002ed85c
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      X-Version-Label:
      - easypost-202204111913-07b6175514-master
    status: 200 OK
    code: 200
    duration: ""
