---
version: 1
interactions:
- request:
    body: '{"customs_info":{"contents_type":"merchandise","customs_certify":true,"customs_items":[{"description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"weight":11}],"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_type":"none"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-09-21T16:19:10Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-09-21T16:19:10Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_67612092747647c09af32adfb5eee073","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T16:19:10Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_0f0948dfbec44503bfc5be308c072f72","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-09-21T16:19:10Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5469ec8723a08d7ca61a38849388ac6b"
      Location:
      - /api/v2/customs_infos/cstinfo_0f0948dfbec44503bfc5be308c072f72
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397eec8e8d29000135e6
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_infos/cstinfo_0f0948dfbec44503bfc5be308c072f72
    method: GET
  response:
    body: '{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-09-21T16:19:10Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-09-21T16:19:10Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_67612092747647c09af32adfb5eee073","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T16:19:10Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_0f0948dfbec44503bfc5be308c072f72","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-09-21T16:19:10Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5469ec8723a08d7ca61a38849388ac6b"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b397eec8e8d29000135f2
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
