---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}},null]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_51da20b77ad948c49f39e752c6e569d1","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-03-03T19:08:40Z","updated_at":"2022-03-03T19:08:40Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9ce3b59b96a92c47c987f2a90716189"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211237ff135a20001f1eb4
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
