---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T20:09:36Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109828831","updated_at":"2022-03-03T20:09:37Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_d9ac632a9b2d11ec922fac1f6bc72124","object":"Address","created_at":"2022-03-03T20:09:36+00:00","updated_at":"2022-03-03T20:09:36+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_a97f0c410cfa47f6b4e96687af0419f0","object":"Parcel","created_at":"2022-03-03T20:09:36Z","updated_at":"2022-03-03T20:09:36Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_e066bbbdb7d84915b0f35b51eece8f07","created_at":"2022-03-03T20:09:37Z","updated_at":"2022-03-03T20:09:37Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T20:09:37Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/1d818b08957e49e5b411a55c980f3f86.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_9c7329c57db1478e9fe44af9500f6679","object":"Rate","created_at":"2022-03-03T20:09:37Z","updated_at":"2022-03-03T20:09:37Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_f47c317f6ac745328e8dd157d901b6de","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_2400e547f2e543c4a73db4b34acc5bae","object":"Rate","created_at":"2022-03-03T20:09:37Z","updated_at":"2022-03-03T20:09:37Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_f47c317f6ac745328e8dd157d901b6de","ca[...]
[...]
- request:
    body: '{"batch":{}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_59efa3505f6e44858c893f7e6d6e4d3d","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-03-03T20:09:39Z","updated_at":"2022-03-03T20:09:39Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41d1ea325e55a43bc2f881564070498c"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - e7339c3462212083ff1367240022cce8
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":{"0":"shp_f47c317f6ac745328e8dd157d901b6de","1":"shp_74fd5bd11fab46139672890d41a7abb2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/batch_59efa3505f6e44858c893f7e6d6e4d3d/add_shipments
    method: POST
  response:
    body: '{"id":"batch_59efa3505f6e44858c893f7e6d6e4d3d","object":"Batch","mode":"test","state":"created","num_shipments":2,"reference":null,"created_at":"2022-03-03T20:09:39Z","updated_at":"2022-03-03T20:09:39Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361109828848","id":"shp_74fd5bd11fab46139672890d41a7abb2"},{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361109828831","id":"shp_f47c317f6ac745328e8dd157d901b6de"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":2,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"69b16f634c9526beed19b4f11f1ea88a"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - e7339c3462212083ff1367240022ccf0
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":{"0":"shp_f47c317f6ac745328e8dd157d901b6de","1":"shp_74fd5bd11fab46139672890d41a7abb2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/batch_59efa3505f6e44858c893f7e6d6e4d3d/remove_shipments
    method: POST
  response:
    body: '{"id":"batch_59efa3505f6e44858c893f7e6d6e4d3d","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2022-03-03T20:09:39Z","updated_at":"2022-03-03T20:09:39Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3acaaaf4e0e102633d2ccebc7c97d392"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - e7339c3462212083ff1367240022ccf9
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
