---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-04-11","end_date":"2022-04-11"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"id":"shprep_fee7c4b6d72a4c3e9baa9cac5f457283","object":"ShipmentReport","created_at":"2022-04-11T20:19:33Z","updated_at":"2022-04-11T20:19:33Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"084af55cf04f5514279be62f69cfe95f"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 0991fb5162548d55e7873c80002dddea
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      X-Version-Label:
      - easypost-202204111913-07b6175514-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/reports/shipment/shprep_fee7c4b6d72a4c3e9baa9cac5f457283
    method: GET
  response:
    body: '{"id":"shprep_fee7c4b6d72a4c3e9baa9cac5f457283","object":"ShipmentReport","created_at":"2022-04-11T20:19:33Z","updated_at":"2022-04-11T20:19:33Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"290671ef0a5e5382591b9c3982c169b9"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 0991fb5162548d55e7873c80002dddf5
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      X-Version-Label:
      - easypost-202204111913-07b6175514-master
    status: 200 OK
    code: 200
    duration: ""
