---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/reports/shipment?page_size=5
    method: GET
  response:
    body: '{"has_more":true,"reports":[{"created_at":"2024-08-02T23:15:23Z","end_date":"2022-04-11","id":"shprep_b73b73da599b48269fc7354a858c1b77","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2024-08-02T23:15:23Z","url":null,"url_expires_at":null},{"created_at":"2024-08-02T23:15:23Z","end_date":"2022-04-11","id":"shprep_f17826a7eae84d4bb4cc1905075a60e9","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2024-08-02T23:15:23Z","url":null,"url_expires_at":null},{"created_at":"2024-08-02T23:15:23Z","end_date":"2022-04-11","id":"shprep_5fe310bd7cd246b28d39fc1fd4dd4e52","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"n[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/reports/shipment?before_id=shprep_2b97683aae5e4808a8e5340c04003033&page_size=5
    method: GET
  response:
    body: '{"has_more":true,"reports":[{"created_at":"2024-08-02T22:13:33Z","end_date":"2022-04-11","id":"shprep_95d6e4e991f94590b22076e4203cac14","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_[...]
