---
version: 1
interactions:
- request:
    body: '{"customs_info":{"contents_type":"merchandise","customs_certify":true,"customs_items":[{"description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11}],"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_type":"none"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-09-21T17:53:32Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-09-21T17:53:32Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_657c87506e6a4996b541b4cc95cc8807","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T17:53:32Z","value":"23.25","weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_15afc4fb6edc4fb19172a48bbe7f479b","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-09-21T17:53:32Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d25f6f29c0b739a6bb6d40d6cda91666"
      Location:
      - /api/v2/customs_infos/cstinfo_15afc4fb6edc4fb19172a48bbe7f479b
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2c330af6632b4f9cecc688950009a516
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 201 Created
    code: 201
    duration: ""
