---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]},null]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_fc7040a24ccb4e6489b0c32809b85250","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-05-16T19:53:59Z","updated_at":"2022-05-16T19:53:59Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e65e153e54159d329fa92f46de89011"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - a65f33796282abd7e78737b80008cee9
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq c51cdb8bf2
      X-Version-Label:
      - easypost-202205161937-fdfdac8556-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/batches/batch_fc7040a24ccb4e6489b0c32809b85250/buy
    method: POST
  response:
    body: '{"id":"batch_fc7040a24ccb4e6489b0c32809b85250","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-05-16T19:53:59Z","updated_at":"2022-05-16T19:53:59Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_02384a29fe074f4a88653cf149505676"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c774a46c9fffcb5d1138f1d09e63449"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - a65f33796282abd7e78737b80008cf19
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq c51cdb8bf2
      X-Version-Label:
      - easypost-202205161937-fdfdac8556-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: file_format=
    form:
      file_format:
      - ""
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches/batch_fc7040a24ccb4e6489b0c32809b85250/scan_form
    method: POST
  response:
    body: '{"id":"batch_fc7040a24ccb4e6489b0c32809b85250","object":"Batch","mode":"test","state":"purchased","num_shipments":1,"reference":null,"created_at":"2022-05-16T19:53:59Z","updated_at":"2022-05-16T19:54:04Z","scan_form":{"id":"sf_7ea69f1504ed4e05be977e8a7882156c","object":"ScanForm","created_at":"2022-05-16T19:54:04Z","updated_at":"2022-05-16T19:54:04Z","tracking_codes":[],"address":null,"status":"creating","message":null,"form_url":null,"form_file_type":null,"batch_id":"batch_fc7040a24ccb4e6489b0c32809b85250","confirmation":null},"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361119372119","id":"shp_02384a29fe074f4a88653cf149505676"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"01d0ed978610ee6cff4c857dd450065b"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - a65f33796282abdce78737b80008d26a
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq c51cdb8bf2
      X-Version-Label:
      - easypost-202205161937-fdfdac8556-master
    status: 200 OK
    code: 200
    duration: ""
