---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"registration_data":{"some":"data"},"test_credentials":{},"type":"FedexAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/register
    method: POST
  response:
    body: '{"error":{"code":"UNPROCESSABLE_ENTITY","errors":[{"field":"shipping_streets","message":"must
      be present and a string"},{"field":"shipping_city","message":"must be present
      and a string"},{"field":"shipping_state","message":"must be present and a string"},{"field":"shipping_postal_code","message":"must
      be present and a string"},{"field":"shipping_country_code","message":"must be
      present and a string"},{"field":"corporate_first_name","message":"must be present
      and a string"},{"field":"corporate_last_name","message":"must be present and
      a string"},{"field":"corporate_job_title","message":"must be present and a string"},{"field":"corporate_company_name","message":"must
      be present and a string"},{"field":"corporate_phone_number","message":"must
      be present and a string"},{"field":"corporate_email_address","message":"must
      be present and a string"},{"field":"corporate_streets","message":"must be present
      and a string"},{"field":"corporate_city","message":"must be present and a string"},{"field":"corporate_state","message":"must
      be present and a string"},{"field":"corporate_postal_code","message":"must be
      present and a string"},{"field":"corporate_country_code","message":"must be
      present and a string"},{"field":"account_number","message":"must be present
      and a string"}],"message":"The request was understood, but cannot be processed."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 35d2ed5f668f1278f41b62e9003cbcd8
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb3nuq fa152d4755
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202407102141-c1077ec6f9-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
