---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-20T23:28:14Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{"credentials":{},"test_credentials":{}},"id":"ca_0532230c4f6643b3ad278eba5ca7927c","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-20T23:28:14Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16aedd05a0d840576511491537499023"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c8eec8cdb43001081ee
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_0532230c4f6643b3ad278eba5ca7927c
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c8fec8cdb4300108201
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
