---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-04-11T20:22:46Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114538046","updated_at":"2022-04-11T20:22:47Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_26979429b9d511ec8621ac1f6b0a0d1e","object":"Address","created_at":"2022-04-11T20:22:46+00:00","updated_at":"2022-04-11T20:22:46+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8fc378eaf96a4043bccc87d1ec22df97","object":"Parcel","created_at":"2022-04-11T20:22:46Z","updated_at":"2022-04-11T20:22:46Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_0c8e00496440481c99ac1de5355ed111","created_at":"2022-04-11T20:22:47Z","updated_at":"2022-04-11T20:22:47Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-11T20:22:47Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220411/9fdb51bd352a4f60989097233a6f08bb.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_26d73a1afa8242bcb2c6727adb8c7bbc","object":"Rate","created_at":"2022-04-11T20:22:46Z","updated_at":"2022-04-11T20:22:46Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_a61d45bbc3e343b2846fc0bf1c6dc06a","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_87cf870e22ba41b096637095ffa8396a","object":"Rate","created_at":"2022-04-11T20:22:46Z","updated_at":"2022-04-11T20:22:46Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_a61d45bbc3e343b2846fc0bf1c6dc06a","carrier_accou[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-04-12T14:22:47.681169-06:00","max_datetime":"2022-04-12T14:22:47.681169-06:00","instructions":"Pickup
      at front door","shipment":{"id":"shp_a61d45bbc3e343b2846fc0bf1c6dc06a","object":"Shipment","mode":"test","created_at":"2022-04-11T20:22:46Z","updated_at":"2022-04-11T20:22:47Z","to_address":{"id":"adr_2696111fb9d511ecbf76ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-04-11T20:22:46Z","updated_at":"2022-04-11T20:22:47Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_26979429b9d511ec8621ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-04-11T20:22:46Z","updated_at":"2022-04-11T20:22:46Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_26979429b9d511ec8621ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-04-11T20:22:46Z","updated_at":"2022-04-11T20:22:46Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_2696111fb9d511ecbf76ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-04-11T20:22:46Z","updated_at":"2022-04-11T20:22:47Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_b2f5e692fb714ed591efb8234b671d4e/buy
    method: POST
  response:
    body: '{"id":"pickup_b2f5e692fb714ed591efb8234b671d4e","object":"Pickup","created_at":"2022-04-11T20:22:47Z","updated_at":"2022-04-11T20:22:49Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2022-04-12T20:22:47Z","max_datetime":"2022-04-12T20:22:47Z","is_account_address":false,"instructions":"Pickup
      at front door","messages":[],"confirmation":"WTC61774828","address":{"id":"adr_272dbfdeb9d511ec8657ac1f6b0a0d1e","object":"Address","created_at":"2022-04-11T20:22:47+00:00","updated_at":"2022-04-11T20:22:47+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-11T20:22:48Z","updated_at":"2022-04-11T20:22:48Z","carrier":"USPS","pickup_id":"pickup_b2f5e692fb714ed591efb8234b671d4e","id":"pickuprate_376976a88a004ba4a3d47fec06ad6306","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a4378e214fdb6eab23da3ca7c03e7e3"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - df63cd0e62548e18e7873cc2002ed9a1
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      X-Version-Label:
      - easypost-202204111913-07b6175514-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/pickups/pickup_b2f5e692fb714ed591efb8234b671d4e/cancel
    method: POST
  response:
    body: '{"id":"pickup_b2f5e692fb714ed591efb8234b671d4e","object":"Pickup","created_at":"2022-04-11T20:22:47Z","updated_at":"2022-04-11T20:22:50Z","mode":"test","status":"canceled","reference":null,"min_datetime":"2022-04-12T20:22:47Z","max_datetime":"2022-04-12T20:22:47Z","is_account_address":false,"instructions":"Pickup
   [...]
