---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-04-11","end_date":"2022-04-11","additional_columns":["from_name","from_company"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"id":"shprep_0c5ae220d86942df91786d6c075acb64","object":"ShipmentReport","created_at":"2022-04-11T20:19:32Z","updated_at":"2022-04-11T20:19:32Z","start_date":"2022-04-11","end_date":"2022-04-11","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2a77a74d9abf310cb981463067df172a"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 0991fb5162548d54e7873c80002dddd7
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      X-Version-Label:
      - easypost-202204111913-07b6175514-master
    status: 201 Created
    code: 201
    duration: ""
