---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/reports/shipment
    method: GET
  response:
    body: '{"has_more":true,"reports":[{"created_at":"2023-09-20T18:08:48Z","end_date":"2022-04-11","id":"shprep_9b9bda19aa9c4ac8a184dfa84f181644","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2023-09-20T18:08:49Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20230920/e8aa49979ec20649db917eb3fa6d812e35.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20231130%2Fus-west-2%2Fs3%2Faws4_request\u0026X-Amz-Date=20231130T201139Z\u0026X-Amz-Expires=30\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=6b03178665004c34b7dae840cd8b4b292c150129876147532e146c17e85056cb","url_expires_at":"2023-11-30T20:12:09Z"},{"created_at":"2023-09-20T18:08:48Z","end_date":"2022-04-11","id":"shprep_8705591cb02844d2a7220145bfa9a6f2","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2023-09-20T18:08:48Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20230920/e88191888f513a4546afcbb8109b17e7cc.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20231130%2Fus-w[...]
