---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"registration_data":null,"test_credentials":{},"type":"DhlEcsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-11-22T23:20:28Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_b4daadfeece445a4aae8e8a5369f8122","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-11-22T23:20:28Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44fa628ded3ed844ead839c89b1fbb14"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 632f8eb4637d593bf3c6c69200627471
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_b4daadfeece445a4aae8e8a5369f8122
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 632f8eb4637d593cf3c6c692006274c2
      X-Node:
      - bigweb12nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
    status: 200 OK
    code: 200
    duration: ""
