---
version: 1
interactions:
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"id":"cstinfo_2f2b3e55d53f4687bb900aca832daa84","object":"CustomsInfo","created_at":"2022-08-16T20:24:25Z","updated_at":"2022-08-16T20:24:25Z","contents_explanation":null,"contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_ca091ae7c52e457cafd606d5c9a12afa","object":"CustomsItem","created_at":"2022-08-16T20:24:25Z","updated_at":"2022-08-16T20:24:25Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":null,"weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d755272867911e6eb07322201a74fed6"
      Location:
      - /api/v2/customs_infos/cstinfo_2f2b3e55d53f4687bb900aca832daa84
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfcf9e78a92e70001a9ba
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 201 Created
    code: 201
    duration: ""
