---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/trackers
    method: GET
  response:
    body: '{"trackers":[{"id":"trk_e36a5edd7a4d45beb3a190b29f243ef1","object":"Tracker","mode":"test","tracking_code":"9400100109361109822563","status":"pre_transit","status_detail":"status_update","created_at":"2022-03-03T19:09:31Z","updated_at":"2022-03-03T19:09:31Z","signed_by":null,"weight":null,"est_delivery_date":"2022-03-03T19:09:31Z","shipment_id":"shp_b10fd3dbbc734d1dbe4917b1b0ee6a48","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-02-03T19:09:31Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-02-04T07:46:31Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"fees":[],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
      Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"public_url":"https://track.easypost.com/djE6dHJrX2UzNmE1ZWRkN2E0ZDQ1YmViM2ExOTBiMjlmMjQzZWYx"},{"id":"trk_f643dcf2598e423c94e86ade8f71808b","object":"Tracker","mode":"test","tracking_code":"9400100109361109822556","status":"pre_transit","status_detail":"status_update","created_at":"2022-03-03T19:09:30Z","updated_at":"2022-03-03T19:09:30Z","signed_by":null,"weight":null,"est_delivery_date":"2022-03-03T19:09:30Z","shipment_id":"shp_ab3d067e6ee54bc39dca6023289a14cc","carrier":"USPS","tracking_details":[{"objec[...]
