---
version: 1
interactions:
- request:
    body: '{"order":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"shipments":[{"to_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}],"is_return":false}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:12:37+00:00","email":null,"federal_tax_id":null,"id":"adr_461f7069f71611eca807ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:12:37+00:00","verifications":{},"zip":"94107"},"created_at":"2022-06-28T19:12:37Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:12:37+00:00","email":null,"federal_tax_id":null,"id":"adr_4621190df71611ec9b9dac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:12:37+00:00","verifications":{},"zip":"94107"},"id":"order_a62380bd39c04a83a3c8530b2ef69a5a","is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_34d97dc9d5df46e48c088455935bc518","message":"Invalid
      Access License number","type":"rate_error"},{"carrier":"UPS","carrier_account_id":"ca_ba94eaaacddb4bf2b135953b3067e817","message":"Invalid
      Access License number","type":"rate_error"},{"carrier":"UPS","carrier_account_id":"ca_0b351eb47cac405dadaf54c659c0a0eb","message":"Invalid
      Access License number","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_7642d249fdcf47bcb5da9ea34c96dfcf","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_1f0ef1fb373d448ca8eae7d842ebfb61","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate":"27.40","service":"Express","shipment_id":"shp_f4f56d7b611e4d8fab758559562c3a1c","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_7642d249fdcf47bcb5da9ea34c96dfcf","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_76af08a739344cdf9585ef851d56d4bb","list_currency":"USD","list_rate":"7.22","mode":"test","object":"Rate","rate":"7.22","retail_currency":"USD","retail_rate":"7.22","service":"ParcelSelect","shipment_[...]
