---
version: 1
interactions:
- request:
    body: '{"credit_card":{"payment_method_id":"pm_0Pn6bQDqT4huGUvd0CjpRerH","priority":"primary"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/credit_cards
    method: POST
  response:
    body: '{"error":{"code":"CREDIT_CARD.NOT_FOUND","errors":[],"message":"Stripe::PaymentMethod
      does not exist for the specified reference_id"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - b0beceb167dc5429e2b8ea0f0067fcf0
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb4nuq 284c5d344a
      - extlb1nuq 99aac35317
      X-Version-Label:
      - easypost-202503201600-7a0b554315-master
    status: 404 Not Found
    code: 404
    duration: ""
