---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-03-06T19:05:20+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d7204ec8bc5111ed91dbac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2023-03-06T19:05:20+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2023-03-06T19:05:20Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"6.07000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-03-06T19:05:20+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d725877fbc5111ed91e0ac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-03-06T19:05:20+00:00","verifications":{},"zip":"90277"},"id":"shp_49cdd7d0a71d498ba3e4547881118908","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-03-06T19:05:20Z","height":4,"id":"prcl_d384334ce1144958ac3ea35bc4d9415e","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-03-06T19:05:20Z","weight":15.4,"width":8},"postage_label":{"created_at":"2023-03-06T19:05:21Z","date_advance":0,"id":"pl_1f794b09a4d04289812fce644d367ca0","integrated_form":"none","label_date":"2023-03-06T19:05:21Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230306/6fcf0f0044b24fad90145901970d63fc.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2023-03-06T19:05:21Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-03-06T19:05:20Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_53e20d924315417ca9ea1dccd0be4979","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75","service":"ParcelSelect","shipment_id":"shp_49cdd7d0a71d498ba3e4547881118908","updated_at":"2023-03-06T19:05:20Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-03-06T19:05:20Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_483304aa7b284ea89d2844fe911f58ad","list_currency":"USD","list_rate":"6.07","mode":"test","object":"Rate","rate":"6.07","retail_currency":"USD","retail_rate":"6.07"[...]
- request:
    body: '{"pickup":{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"instructions":"Pickup at front door","max_datetime":"2023-03-08T00:00:00Z","min_datetime":"2023-03-08T00:00:00Z","shipment":{"buyer_address":{"city":"SAN
      FRANCISCO","country":"US","created_at":"2023-03-06T19:05:20Z","email":"REDACTED","id":"adr_d7204ec8bc5111ed91dbac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","street1":"388
      TOWNSEND ST APT 20","updated_at":"2023-03-06T19:05:20Z","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_7a229e6f3cfe4482b0bd74d95ad41318
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2023-03-06T19:05:21+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d7dcff02bc5111ed9ef1ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-03-06T19:05:21+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2023-03-06T19:05:21Z","id":"pickup_7a229e6f3cfe4482b0bd74d95ad41318","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2023-03-08T00:00:00Z","messages":[],"min_datetime":"2023-03-08T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2023-03-06T19:05:22Z","currency":"USD","id":"pickuprate_ab5119b6657644779fd7d828086315b3","mode":"test","object":"PickupRate","pickup_id":"pickup_7a229e6f3cfe4482b0bd74d95ad41318","rate":"0.00","service":"NextDay","updated_at":"2023-03-06T19:05:22Z"}],"reference":null,"status":"unknown","updated_at":"2023-03-06T19:05:21Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9afcf09bb45669384e4a5ed5d57d66a1"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - a33588b964063972e6773fd400048dd2
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq a40ea751fd
      - extlb2nuq a40ea751fd
      X-Version-Label:
      - easypost-202303032159-702d6b662a-master
    status: 200 OK
    code: 200
    duration: ""
