---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-04-11","end_date":"2022-04-11"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"created_at":"2022-05-26T15:05:27Z","end_date":"2022-04-11","id":"shprep_1ea1320a732149fba6cd5fef494a8c77","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2022-05-26T15:05:27Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f8683d0b89efd436fdc5f8633dc56143"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9737e78b9ba7006bc38e
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/reports/shipment/shprep_1ea1320a732149fba6cd5fef494a8c77
    method: GET
  response:
    body: '{"created_at":"2022-05-26T15:05:27Z","end_date":"2022-04-11","id":"shprep_1ea1320a732149fba6cd5fef494a8c77","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2022-05-26T15:05:27Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f8683d0b89efd436fdc5f8633dc56143"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 19577bfa628f9737e78b9ba7006bc3a5
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
