---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","company":"EasyPost","country":"US","email":"REDACTED","phone":"REDACTED","state":"CA","street1":"417
      montgomery street","street2":"FL 5","zip":"94104"},"verify":["delivery"]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses/create_and_verify
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-09-21T16:18:58+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_19073af839c911ed92aaac1f6b0a0d1e","mode":"test","name":null,"object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"417
      MONTGOMERY ST FL 5","street2":"","updated_at":"2022-09-21T16:18:58+00:00","verifications":{"delivery":{"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"},"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
      secondary information(Apt/Suite#)","suggestion":null}],"success":true}},"zip":"94104-1129"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b73bc5856c57d8057e5c9486a8359a5a"
      Location:
      - /api/v2/addresses/adr_19073af839c911ed92aaac1f6b0a0d1e
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3972ec8e8d2900012efa
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
