---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers
    method: POST
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2023-01-12T18:00:26+00:00","email":"REDACTED","id":"es_0a5df3d3333d4284b524600aadc16e31","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2023-01-12T18:00:26+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"04150563c8d27511128aec67c3e92c86"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 96e33f7563c04abaf3c884510007a60d
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      X-Version-Label:
      - easypost-202301112324-4be5aaac60-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipment":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-01-12T18:00:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fe4778dc92a211ed9ae3ac1f6bc7bdc6","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-01-12T18:00:26+00:00","verifications":{},"zip":"90277"},"created_at":"2023-01-12T18:00:26Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-01-12T18:00:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fe4b9ad792a211edacabac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-01-12T18:00:26+00:00","verifications":{},"zip":"94107"},"id":"shp_34b62114d03942979707aebe7730a552","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Unauthorized.
      Please check credentials and try again","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-01-12T18:00:26Z","height":4,"id":"prcl_83d46137b1cd4b788053b919c188d940","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-01-12T18:00:26Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-01-12T18:00:27Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_bbf62a786aff47dd990dba41d4a1346c","list_currency":"USD","list_rate":"8.15","mode":"test","object":"Rate","rate":"8.15","retail_currency":"USD","retail_rate":"9.75","service":"Priority","shipment_id":"shp_34b62114d03942979707aebe7730a552","updated_at":"2023-01-12T18:00:27Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-01-12T18:00:27Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_857776799c994d8c9e77bbbb33b4d9be","list_currency":"USD","list_rate":"5.82","mode":"test","object":"Rate","rate":"5.82","retail_currency":"USD","retail_rate":"5.82"[...]
- request:
    body: '{"end_shipper_id":"es_0a5df3d3333d4284b524600aadc16e31","rate":{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-01-12T18:00:27Z","currency":"USD","delivery_days":3,"est_delivery_days":3,"id":"rate_857776799c994d8c9e77bbbb33b4d9be","list_currency":"USD","list_rate":"5.82","mode":"test","object":"Rate","rate":"5.82","retail_currency":"USD","retail_rate":"5.82","service":"First","shipment_id":"shp_34b62114d03942979707aebe7730a552","updated_at":"2023-01-12T18:00:27Z"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_34b62114d03942979707aebe7730a552/buy
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2023-01-12T18:00:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fe4778dc92a211ed9ae3ac1f6bc7bdc6","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":null,"updated_at":"2023-01-12T18:00:27+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2023-01-12T18:00:26Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.82000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-01-12T18:00:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fe4b9ad792a211edacabac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-01-12T18:00:26+00:00","verifications":{},"zip":"94107"},"id":"shp_34b62114d03942979707aebe7730a552","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Unauthorized.
      Please check credentials and try again","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-01-12T18:00:26Z","height":4,"id":"prcl_83d46137b1cd4b788053b919c188d940","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-01-12T18:00:26Z","weight":15.4,"width":8},"postage_label":{"created_at":"2023-01-12T18:00:28Z","date_advance":0,"id":"pl_a3cc705ea1fd4925878b38503be9bc4c","integrated_form":"none","label_date":"2023-01-12T18:00:28Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230112/af22b511168e4d1c96f41c4f48408517.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2023-01-12T18:00:28Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-01-12T18:00:27Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_bbf62a786aff47dd990dba41d4a1346c","list_currency":"USD","list_rate":"8.15","mode":"test","object":"Rate","rate":"8.15","retail_currency":"USD","retail_rate":"9.75",[...]
