---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/insurances
    method: GET
  response:
    body: '{"insurances":[{"id":"ins_3fc3f4cd47d84f25bd8713a80454f726","object":"Insurance","mode":"test","reference":null,"status":"purchased","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_fc536bd49a9b11ecbebeac1f6b0a0d1e","object":"Address","created_at":"2022-03-03T02:45:28+00:00","updated_at":"2022-03-03T02:45:28+00:00","name":"JACK
      SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":null,"city":"SAN
      FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_fc5536be9a9b11ec8635ac1f6bc7b362","object":"Address","created_at":"2022-03-03T02:45:28+00:00","updated_at":"2022-03-03T02:45:28+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipment_id":"shp_e6e6c559e64a4fd99ccafbd0ca76a77e","tracker":{"id":"trk_4c327d8f3ed14d58a10eea07d544ef8b","object":"Tracker","mode":"test","tracking_code":"9400100109361109730219","status":"delivered","status_detail":"arrived_at_destination","created_at":"2022-03-03T02:45:29Z","updated_at":"2022-03-03T02:48:29Z","signed_by":"John
      Tester","weight":null,"est_delivery_date":"2022-03-03T02:48:29Z","shipment_id":"shp_e6e6c559e64a4fd99ccafbd0ca76a77e","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-02-03T02:48:29Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-02-03T15:25:29Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}},{"object":"TrackingDetail","message":"Arrived
      at USPS Origin Facility","description":null,[...]
