---
version: 1
interactions:
- request:
    body: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_b42e0129336c46d2b7bbbfa974e21a32","object":"Parcel","created_at":"2022-08-16T20:24:28Z","updated_at":"2022-08-16T20:24:28Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"88b20e0726e72097d38d57faa64801b2"
      Location:
      - /api/v2/parcels.prcl_b42e0129336c46d2b7bbbfa974e21a32
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfcfce78a92e70001ab28
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/parcels/prcl_b42e0129336c46d2b7bbbfa974e21a32
    method: GET
  response:
    body: '{"id":"prcl_b42e0129336c46d2b7bbbfa974e21a32","object":"Parcel","created_at":"2022-08-16T20:24:28Z","updated_at":"2022-08-16T20:24:28Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"88b20e0726e72097d38d57faa64801b2"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfcfce78a92e70001ab38
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 200 OK
    code: 200
    duration: ""
