---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers
    method: POST
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-08-24T21:38:01+00:00","email":"REDACTED","id":"es_26ab326c9d5f49cc93b88dd78c4ff5c7","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-08-24T21:38:01+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c4a471864b99e260e95893f15d9e989d"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - bffd75b363069a39e78a860500842adf
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208241853-b300c23ebd-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/end_shippers/es_26ab326c9d5f49cc93b88dd78c4ff5c7
    method: GET
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-08-24T21:38:01+00:00","email":"REDACTED","id":"es_26ab326c9d5f49cc93b88dd78c4ff5c7","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-08-24T21:38:01+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc67ede9df009997804e7144e7277de6"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - bffd75b363069a39e78a860500842ae5
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208241853-b300c23ebd-master
    status: 200 OK
    code: 200
    duration: ""
