---
version: 1
interactions:
- request:
    body: '{"customs_info":{"contents_type":"merchandise","customs_certify":true,"customs_items":[{"description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11}],"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_type":"none"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-09-21T17:53:46Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-09-21T17:53:46Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_7d6ac530453b43e28e22675a6c4a12d4","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T17:53:46Z","value":"23.25","weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_28626985958946f19600d3e68600055d","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-09-21T17:53:46Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"317002602d9acbde84292b3aea4e33fc"
      Location:
      - /api/v2/customs_infos/cstinfo_28626985958946f19600d3e68600055d
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bb632b4faaecc32082000bccfc
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_infos/cstinfo_28626985958946f19600d3e68600055d
    method: GET
  response:
    body: '{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-09-21T17:53:46Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-09-21T17:53:46Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_7d6ac530453b43e28e22675a6c4a12d4","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T17:53:46Z","value":"23.25","weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_28626985958946f19600d3e68600055d","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-09-21T17:53:46Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"317002602d9acbde84292b3aea4e33fc"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bb632b4faaecc32082000bcd03
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
