---
version: 1
interactions:
- request:
    body: '{"shipment":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2025-06-16T17:49:57+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_515f8dd84ada11f0b6a13cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2025-06-16T17:49:57+00:00","verifications":{},"zip":"90277"},"created_at":"2025-06-16T17:49:57Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2025-06-16T17:49:57+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_5161db6e4ada11f0a3e1ac1f6bc539ae","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2025-06-16T17:49:57+00:00","verifications":{},"zip":"94107"},"id":"shp_fba1164e4f894df5984aaba03ef414b1","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2025-06-16T17:49:57Z","height":4,"id":"prcl_2e3d1c62a5b5419982d974d8a9fb9fac","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2025-06-16T17:49:57Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2025-06-16T17:49:58Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_20841a0239a74ea783855b39ed9958ef","list_currency":"USD","list_rate":"8.34","mode":"test","object":"Rate","rate":"7.42","retail_currency":"USD","retail_rate":"9.90","service":"Priority","shipment_id":"shp_fba1164e4f894df5984aaba03ef414b1","updated_at":"2025-06-16T17:49:58Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2025-06-16T17:49:58Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_c5fca04a890a4b2b8a85a4bba3971ebb","list_currency":"USD","list_rate":"6.57","mode":"test","object":"Rate","rate":"6.07","retail_currency":"USD","retail_rate":"8.85","service":"GroundAdvantage","shipment_id":"shp_fba1164e4f894df5984aaba03ef414b1","updated_at":"2025-06-16T17:49:58Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2025-06-16T17:49:58Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_ff8286944726490fb49ff40b4cd1782d","list_currency":"USD","list_rate":"34.15","mode":"test","object":"Rate","rate":"34.15","retail_currency":"USD","retail_rate":"39.10","service":"Express","shipment_id":"shp_fba1164e4f894df5984aaba03ef414b1","updated_at":"2025-06-16T17:49:58Z"}],"reference":null,"refund_status":null,"return_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2025-06-16T17:49:57+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_5161db6e4ada11f0a3e1ac1f6bc539ae","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2025-06-16T17:49:57+00:00","verifications":{},"zip":"94107"},"scan_form":null,"selected_rate":null,"status":"unknown","to_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2025-06-16T17:49:57+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_515f8dd84ada11f0b6a13cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2025-06-16T17:49:57+00:00","verifications":{},"zip":"90277"},"tracker":null,"tracking_code":null,"updated_at":"2025-06-16T17:49:58Z","usps_zone":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/shipments/shp_fba1164e4f894df5984aaba03ef414b1
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - afd263ff68505945e2bb172d0070fa10
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb3nuq ec99f2d065
      - extlb2nuq 99aac35317
      X-Version-Label:
      - easypost-202506161725-4166f0359d-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"planned_ship_date":"2025-06-16","ruleset_name":"cheapest_delivery"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_fba1164e4f894df5984aaba03ef414b1/luma
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2025-06-16T17:49:57+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_515f8dd84ada11f0b6a13cecef1b359e","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":"","updated_at":"2025-06-16T17:49:58+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2025-06-16T17:49:57Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"6.07000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2025-06-16T17:49:57+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_5161db6e4ada11f0a3e1ac1f6bc539ae","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2025-06-16T17:49:57+00:00","verifications":{},"zip":"94107"},"id":"shp_fba1164e4f894df5984aaba03ef414b1","insurance":null,"is_return":null,"luma_info":{"ai_results":[{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-18","predicted_deliver_days":2,"rate_id":"rate_20841a0239a74ea783855b39ed9958ef","rate_usd":"7.42","service":"Priority"},{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-19","predicted_deliver_days":3,"rate_id":"rate_c5fca04a890a4b2b8a85a4bba3971ebb","rate_usd":"6.07","service":"GroundAdvantage"},{"carrier":"USPS","meets_ruleset_requirements":true,"predicted_deliver_by_date":"2025-06-17","predicted_deliver_days":1,"rate_id":"rate_ff8286944726490fb49ff40b4cd1782d","rate_usd":"34.15","service":"Express"}],"matching_rule_idx":0,"ruleset_description":"Buy
      the cheapest rate that satisfies all of the following:\nRule 0\n    \nOtherwise
      buy the cheapest rate"},"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"parcel":{"created_at":"2025-06-16T17:49:57Z","height":4,"id":"prcl_2e3d1c62a5b5419982d974d8a9fb9fac","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2025-06-16T17:49:57Z","weight":15.4,"width":8},"postage_label":{"created_at":"2025-06-16T17:49:58Z","date_advance":0,"id":"pl_e0b8cd588103498daf4151f1ed1e721a","integrated_form":"none","label_date":"2025-06-16T17:49:58Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20250616/e8081a968c6ed3447da141e034fc38e1ce.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2025-06-16T17:49:59Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2025-06-16T17:49:58Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_20841a0239a74ea783855b39ed9958ef","list_currency":"USD","list_rate":"8.34","mode":"test","object":"Rate","rate":"7.42","retail_currency":"USD","retail_rate":"9.90",[...]
