---
version: 1
interactions:
- request:
    body: '{"verify":["delivery"],"address":{"street1":"417 montgomery streat","street2":"FL
      5","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"415-123-4567"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses/create_and_verify
    method: POST
  response:
    body: '{"address":{"id":"adr_5a6e12049e6811ecbac9ac1f6bc72124","object":"Address","created_at":"2022-03-07T22:45:57+00:00","updated_at":"2022-03-07T22:45:57+00:00","name":null,"company":"EASYPOST","street1":"417
      MONTGOMERY ST STE 500","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1100","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c5eba43ee83bf545d155b60787c81ba"
      Location:
      - /api/v2/addresses/adr_5a6e12049e6811ecbac9ac1f6bc72124
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - ea6435fe62268b25ff109c14004b2a92
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - extlb1nuq 88c34981dc
      X-Version-Label:
      - easypost-202203042109-ebc16e3e74-master
    status: 200 OK
    code: 200
    duration: ""
