---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-28T19:16:01+00:00","email":null,"federal_tax_id":null,"id":"adr_bf3c090ef71611ec8a2aac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-28T19:16:01+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-28T19:16:01Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:16:01+00:00","email":null,"federal_tax_id":null,"id":"adr_bf3dcb64f71611ec8a2bac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:16:01+00:00","verifications":{},"zip":"94107"},"id":"shp_38383cf7b02244babdd843998249f703","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-28T19:16:01Z","height":4,"id":"prcl_579b573dde514faab0d651b2130d2203","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-28T19:16:01Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-28T19:16:01Z","date_advance":0,"id":"pl_d675c8c6263c41e3867f6607e951a1c1","integrated_form":"none","label_date":"2022-06-28T19:16:01Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220628/bfcad6e06b2f4defbe72dae26ee10e05.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-28T19:16:01Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-28T19:16:01Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_551488feb4224dcb8c7cf2bc6ba52fab","list_currency":"USD","list_rate":"7.22","mode":"test","object":"Rate","rate":"7.22","retail_currency":"USD","retail_rate":"7.22","service":"ParcelSelect","shipment_id":"shp_38383cf7b02244babdd843998249f703","updated_at":"2022-06-28T19:16:01Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-28T19:16:01Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_90cb1a7967784b44bb421d0ded8487b3","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-07-06T00:00:00Z","max_datetime":"2022-07-06T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_38383cf7b02244babdd843998249f703","object":"Shipment","mode":"test","created_at":"2022-06-28T19:16:01Z","updated_at":"2022-06-28T19:16:01Z","to_address":{"id":"adr_bf3c090ef71611ec8a2aac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-28T19:16:01Z","updated_at":"2022-06-28T19:16:01Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_bf3dcb64f71611ec8a2bac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-28T19:16:01Z","updated_at":"2022-06-28T19:16:01Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_bf3dcb64f71611ec8a2bac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-28T19:16:01Z","updated_at":"2022-06-28T19:16:01Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_bf3c090ef71611ec8a2aac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_cbc68d053fbc40bb8ff0f3abfd981a57/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:16:02+00:00","email":null,"federal_tax_id":null,"id":"adr_bfe6aa25f71611ec8c13ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:16:02+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61893786","created_at":"2022-06-28T19:16:02Z","id":"pickup_cbc68d053fbc40bb8ff0f3abfd981a57","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-07-06T00:00:00Z","messages":[],"min_datetime":"2022-07-06T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-28T19:16:03Z","currency":"USD","id":"pickuprate_aa94183275e2470f936594172da5355f","mode":"test","object":"PickupRate","pickup_id":"pickup_cbc68d053fbc40bb8ff0f3abfd981a57","rate":"0.00","service":"NextDay","updated_at":"2022-06-28T19:16:03Z"}],"reference":null,"status":"scheduled","updated_at":"2022-06-28T19:16:15Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"525284bb18d6b3e7ab5bfc9c69b2ad43"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - c675e63262bb5373ec87ca830038c26b
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq a732742a48
      - intlb1wdc a732742a48
      - extlb3wdc 403f17ff97
      X-Version-Label:
      - easypost-202206272314-c14e8f7f31-master
    status: 200 OK
    code: 200
    duration: ""
