---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"UpsAccount","credentials":{"access_license_number":"ALN","account_number":"A1A1A1","password":"PASSWORD","user_id":"USERID"},"test_credentials":null}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-05-31T18:41:58Z","credentials":{},"description":"UPS
      Account","fields":{"credentials":{"account_number":{"label":"UPS Account Number","value":"A1A1A1","visibility":"readonly"}}},"id":"ca_4fa57a126a3e47379b8cb85acea4ff37","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":{},"type":"UpsAccount","updated_at":"2022-05-31T18:41:58Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cc1c25e9a08bc2ca1e5b2bb3548273ae"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19be063a62966176f2d49d9f00025fa0
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - intlb1wdc 570dfcbc0a
      - extlb1wdc 0910011e7e
      X-Version-Label:
      - easypost-202205272233-af67cc8d0c-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"carrier_account":{"id":"ca_4fa57a126a3e47379b8cb85acea4ff37","object":"CarrierAccount","created_at":"2022-05-31T18:41:58Z","updated_at":"2022-05-31T18:41:58Z","type":"UpsAccount","fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
      Account Number","value":"A1A1A1"}}},"description":"My custom description","readable":"UPS","credentials":{"account_number":"A1A1A1"},"test_credentials":null}}'
    form: {}
    headers:
      Authorization:
    [...]
[...]
