---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-01T19:09:15Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100897846109549866","updated_at":"2022-03-01T19:09:16Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_165fc14c999311ec8565ac1f6bc72124","object":"Address","created_at":"2022-03-01T19:09:15+00:00","updated_at":"2022-03-01T19:09:15+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d71eb0f3b20244538184cf92a3423729","object":"Parcel","created_at":"2022-03-01T19:09:15Z","updated_at":"2022-03-01T19:09:15Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_15a31cbc2db5479c9deb994e6ee24037","created_at":"2022-03-01T19:09:16Z","updated_at":"2022-03-01T19:09:16Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-01T19:09:16Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220301/99811f8e7685461790f1a54002c623f0.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_6762c4ff1fe24b789c6c9298f28149e6","object":"Rate","created_at":"2022-03-01T19:09:15Z","updated_at":"2022-03-01T19:09:15Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2cc69ae5dde14e7ba0b796bdaf04266a","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_385edb04d3114dc29138a327439f6628","object":"Rate","created_at":"2022-03-01T19:09:15Z","updated_at":"2022-03-01T19:09:15Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_2cc69ae5dde14e7ba0b796bdaf04266a","carrier_ac[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/shipments/shp_2cc69ae5dde14e7ba0b796bdaf04266a
    method: GET
  response:
    body: '{"created_at":"2022-03-01T19:09:15Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100897846109549866","updated_at":"2022-03-01T19:09:16Z","batch_id":null,"batch_status":null,"batch_message":null,[...]
- request:
    body: '{"refund":{"carrier":"USPS","tracking_codes":"9400100897846109549866"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/refunds
    method: POST
  response:
    body: '[{"id":"rfnd_7b3b8b3f32ab44338cd7bc08a34d2fa2","object":"Refund","created_at":"2022-03-01T19:09:16Z","updated_at":"2022-03-01T19:09:16Z","tracking_code":"9400100897846109549866","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_2cc69ae5dde14e7ba0b796bdaf04266a"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b5a8ecf30fc568486afa0b77419588a2"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 7a24fa5c621e6f5cff23d5b50034727c
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203011826-45d0115384-master
    status: 201 Created
    code: 201
    duration: ""
