---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T16:19:39+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_314fa17739c911ed9803ac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T16:19:39+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-21T16:19:39Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-21T16:19:39+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3152177539c911ed9805ac1f6bc72124","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T16:19:39+00:00","verifications":{},"zip":"90277"},"id":"shp_d5296a3d8eff4ce6b9c86496a2ebfc0f","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-21T16:19:39Z","height":4,"id":"prcl_35bd6d5738d04154b7a5a7e823182b2e","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-21T16:19:39Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-21T16:19:40Z","date_advance":0,"id":"pl_6542554ef4c14539b71fbebe894f0e15","integrated_form":"none","label_date":"2022-09-21T16:19:40Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220921/21f1afc95f3e4c1b92a57f3da4988ffb.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-21T16:19:40Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-21T16:19:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_d0c8b31e58fe40b28b914147403dfb89","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_d5296a3d8eff4ce6b9c86496a2ebfc0f","updated_at":"2022-09-21T16:19:39Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-21T16:19:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_3bff5b2cf6e6435c8bf2c3e781cc7004","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/shipments/shp_d5296a3d8eff4ce6b9c86496a2ebfc0f
    method: GET
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T16:19:39+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_314fa17739c911ed9803ac1f6bc72124","mode[...]
- request:
    body: '{"refund":{"carrier":"USPS","tracking_codes":"9400100109361138693295"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/refunds
    method: POST
  response:
    body: '[{"carrier":"USPS","confirmation_number":null,"created_at":"2022-09-21T16:19:40Z","id":"rfnd_86ea21c4fe724da186adc4690fd4dd2e","object":"Refund","shipment_id":"shp_d5296a3d8eff4ce6b9c86496a2ebfc0f","status":"submitted","tracking_code":"9400100109361138693295","updated_at":"2022-09-21T16:19:40Z"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14110934b16586246952298a12cff3e8"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b399cec8e8d2900014637
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
