---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"id":"cstitem_ae3bd42092bd43108c552eac8bd12f49","object":"CustomsItem","created_at":"2022-08-19T20:08:37Z","updated_at":"2022-08-19T20:08:37Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a3138115da6d4db9482b99b70b3c05ed"
      Location:
      - /api/v2/customs_items/cstitem_ae3bd42092bd43108c552eac8bd12f49
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9c287c3d62ffedc5ff24e25c00098f68
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 201 Created
    code: 201
    duration: ""
