---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"id":"cstitem_3d5c73450512444ea6520c7c4c984cd5","object":"CustomsItem","created_at":"2022-05-26T15:05:07Z","updated_at":"2022-05-26T15:05:07Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0d7ffa90eb0c206ce04b3488faeca8cc"
      Location:
      - /api/v2/customs_items/cstitem_3d5c73450512444ea6520c7c4c984cd5
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9723e78b9ba7006bb8b7
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 201 Created
    code: 201
    duration: ""
