---
version: 1
interactions:
- request:
    body: '{"shipment":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"error":{"code":"SHIPMENT.INVALID_PARAMS","message":"Unable to create
      shipment, one or more parameters were invalid.","errors":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123fff135a20001f2057
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
