---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups
    method: GET
  response:
    body: '{"has_more":true,"pickups":[{"address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-11-30T20:11:26+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_a3f0c3588fbc11ee830fac1f6bc539ae","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-11-30T20:11:26+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2023-11-30T20:11:26Z","id":"pickup_dab0a398d2884d46834891e18bd419a5","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2023-12-08T00:00:00Z","messages":[],"min_datetime":"2023-12-08T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2023-11-30T20:11:26Z","currency":"USD","id":"pickuprate_72f082d6d7664f528769d1b365889125","mode":"test","object":"PickupRate","pickup_id":"pickup_dab0a398d2884d46834891e18bd419a5","rate":"0.00","service":"NextDay","updated_at":"2023-11-30T20:11:26Z"}],"reference":null,"status":"unknown","updated_at":"2023-11-30T20:11:26Z"},{"address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-11-30T20:11:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_a2ad2af68fbc11eebe133cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-11-30T20:11:24+00:00","verif[...]
[...]
