---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-13T17:14:29+00:00","email":null,"federal_tax_id":null,"id":"adr_48caafbfeb3c11eca0a7ac1f6bc7bdc6","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-13T17:14:29+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-13T17:14:29Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-13T17:14:29+00:00","email":null,"federal_tax_id":null,"id":"adr_48cca03deb3c11ec8375ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-13T17:14:29+00:00","verifications":{},"zip":"94107"},"id":"shp_32516b12e4a1463e93fa814f37804b0f","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-13T17:14:29Z","height":4,"id":"prcl_e5c0584e12c14298b3351cd28b10521e","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-13T17:14:29Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-13T17:14:29Z","date_advance":0,"id":"pl_9a548e8e9e004c2584084272d320fcd3","integrated_form":"none","label_date":"2022-06-13T17:14:29Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220613/d7c35b43eaa94656a98914d05d367bcf.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-13T17:14:30Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-13T17:14:29Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_6461b8300d67443e95b8af1d4b64fae6","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate":"27.40","service":"Express","shipment_id":"shp_32516b12e4a1463e93fa814f37804b0f","updated_at":"2022-06-13T17:14:29Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-13T17:14:29Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_8f0501341b514139be783c284666c19a","list_currency":"USD","list_rate":"7.22","mode":"test","object":"Rate","rate":"7.22","retail_currency":"USD","retail_rate":"7.22"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-06-15T00:00:00Z","max_datetime":"2022-06-15T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_32516b12e4a1463e93fa814f37804b0f","object":"Shipment","mode":"test","created_at":"2022-06-13T17:14:29Z","updated_at":"2022-06-13T17:14:30Z","to_address":{"id":"adr_48caafbfeb3c11eca0a7ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-06-13T17:14:29Z","updated_at":"2022-06-13T17:14:29Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_48cca03deb3c11ec8375ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-13T17:14:29Z","updated_at":"2022-06-13T17:14:29Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_48cca03deb3c11ec8375ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-13T17:14:29Z","updated_at":"2022-06-13T17:14:29Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_48caafbfeb3c11eca0a7ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-06[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_b8ad56097aba4cd2a2e0008ca21da84e/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-13T17:14:30+00:00","email":null,"federal_tax_id":null,"id":"adr_4963d177eb3c11ec8170ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-13T17:14:30+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61857410","created_at":"2022-06-13T17:14:30Z","id":"pickup_b8ad56097aba4cd2a2e0008ca21da84e","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-06-15T00:00:00Z","messages":[],"min_datetime":"2022-06-15T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-13T17:14:31Z","currency":"USD","id":"pickuprate_71dbb063fd1041258b0a4940a177b76c","mode":"test","object":"PickupRate","pickup_id":"pickup_b8ad56097aba4cd2a2e0008ca21da84e","rate":"0.00","service":"NextDay","updated_at":"2022-06-13T17:14:31Z"}],"reference":null,"status":"scheduled","updated_at":"2022-06-13T17:14:33Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ee11433eb33a67e391c262c6a4de6676"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3f45987962a77078e786b4430040f06f
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb2nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206121724-be513874fb-master
    status: 200 OK
    code: 200
    duration: ""
