---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-13T17:14:33+00:00","email":null,"federal_tax_id":null,"id":"adr_4b2ad0f4eb3c11ec822cac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-13T17:14:33+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-13T17:14:33Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-13T17:14:33+00:00","email":null,"federal_tax_id":null,"id":"adr_4b2cbfc2eb3c11ec867bac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-13T17:14:33+00:00","verifications":{},"zip":"94107"},"id":"shp_e635be29141c4a47a5d63cc3b4592c6f","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-13T17:14:33Z","height":4,"id":"prcl_2499efca3dd1458fadef2b5a7b180d64","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-13T17:14:33Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-13T17:14:33Z","date_advance":0,"id":"pl_7c095a749e60495594f419b57ae2c6a5","integrated_form":"none","label_date":"2022-06-13T17:14:33Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220613/cc7367bf9d0b449ca5158aa65213b3bf.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-13T17:14:34Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-13T17:14:33Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_2fe5e6950f714f54a9ba1a5f13fd42c8","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate":"27.40","service":"Express","shipment_id":"shp_e635be29141c4a47a5d63cc3b4592c6f","updated_at":"2022-06-13T17:14:33Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-13T17:14:33Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_4eca05ef2870492496c04b16ab7c4c14","list_currency":"USD","list_rate":"7.22","mode":"test","object":"Rate","rate":"7.22","retail_currency":"USD","retail_rate":"7.22"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-06-15T00:00:00Z","max_datetime":"2022-06-15T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_e635be29141c4a47a5d63cc3b4592c6f","object":"Shipment","mode":"test","created_at":"2022-06-13T17:14:33Z","updated_at":"2022-06-13T17:14:34Z","to_address":{"id":"adr_4b2ad0f4eb3c11ec822cac1f6bc72124","object":"Address","mode":"test","created_at":"2022-06-13T17:14:33Z","updated_at":"2022-06-13T17:14:33Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_4b2cbfc2eb3c11ec867bac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-06-13T17:14:33Z","updated_at":"2022-06-13T17:14:33Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_4b2cbfc2eb3c11ec867bac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-06-13T17:14:33Z","updated_at":"2022-06-13T17:14:33Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_4b2ad0f4eb3c11ec822cac1f6bc72124","object":"Address","mode":"test","created_at":"2022-06[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_f13d736d528d48c4a5cf676b2762c07b/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-13T17:14:34+00:00","email":null,"federal_tax_id":null,"id":"adr_4bed2784eb3c11ec84a5ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-13T17:14:34+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61857412","created_at":"2022-06-13T17:14:34Z","id":"pickup_f13d736d528d48c4a5cf676b2762c07b","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-06-15T00:00:00Z","messages":[],"min_datetime":"2022-06-15T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-13T17:14:35Z","currency":"USD","id":"pickuprate_791fb689cc064e3f84e1177a005c3805","mode":"test","object":"PickupRate","pickup_id":"pickup_f13d736d528d48c4a5cf676b2762c07b","rate":"0.00","service":"NextDay","updated_at":"2022-06-13T17:14:35Z"}],"reference":null,"status":"scheduled","updated_at":"2022-06-13T17:14:36Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3e95012a7ac48d889afc3fef1514eae"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3f45987962a7707be786b4430040f1b1
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206121724-be513874fb-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_f13d736d528d48c4a5cf676b2762c07b/cancel
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-13T17:14:34+00:00","email":null,"federal_tax_id":null,"id":"adr_4bed2784eb3c11ec84a5ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","pho[...]
