---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users
    method: GET
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.03","children":[],"created_at":"2020-05-07T23:43:48Z","default_insurance_amount":null,"email":"REDACTED","has_billing_method":false,"id":"user_a76997d126dd488f8ad22d52301300b0","insurance_fee_minimum":"1.00","insurance_fee_rate":"0.01","name":"Test
      User","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":"100.00","recharge_threshold":"0.00","secondary_recharge_amount":"100.00","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4171cdd8e7fe69820858cb34e4162fe5"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfd09e78a92e70001af60
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users/user_a76997d126dd488f8ad22d52301300b0
    method: GET
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.03","children":[],"created_at":"2020-05-07T23:43:48Z","default_insurance_amount":null,"email":"REDACTED","has_billing_method":false,"id":"user_a76997d126dd488f8ad22d52301300b0","insurance_fee_minimum":"1.00","insurance_fee_rate":"0.01","name":"Test
      User","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":"100.00","recharge_threshold":"0.00","secondary_recharge_amount":"100.00","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4171cdd8e7fe69820858cb34e4162fe5"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfd0ae78a92e70001af75
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 200 OK
    code: 200
    duration: ""
