---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '{"events":[{"description":"batch.created","id":"evt_6a6e7edc1da111edbca3630740e44345","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-08-16T20:24:23.091Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_6756021a1da111ed8cfc1b1217f540b3","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-08-16T20:24:17.898Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_673c3af61da111edb2c831d52b83eea1","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-08-16T20:24:17.729Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_6732342a1da111ed84b01506f223bd75","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-08-16T20:24:17.663Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_6418f7e21da111eda01459c9b7cceb95","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-08-16T20:24:12.465Z","mode":"test","object":"Event"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"006e15b97085a71469bb0ea87e804ba5"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfcfae78a92e70001aa0e
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/events/evt_6a6e7edc1da111edbca3630740e44345
    method: GET
  response:
    body: '{"description":"batch.created","mode":"test","previous_attributes":{},"created_at":"2022-08-16T20:24:23.000Z","pending_urls":[],"completed_urls":[],"updated_at":"2022-08-16T20:24:23.000Z","id":"evt_6a6e7edc1da111edbca3630740e44345","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","object":"Event"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a07804d4f70da8e0bbea3613b68bf9ed"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfcfae78a92e70001aa2e
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 200 OK
    code: 200
    duration: ""
