---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '{"events":[{"description":"batch.updated","id":"evt_39754090dd0511ecab2719221796cfe7","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-05-26T15:05:05.020Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_38a1b8d8dd0511ecbb1d3d810a662a3f","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-05-26T15:05:03.634Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_38971af4dd0511ecaf6007134b22fe64","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-05-26T15:05:03.564Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_38826456dd0511ec8ed8670adfb84d3d","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-05-26T15:05:03.428Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_36165268dd0511ecbb052b82914692f2","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-05-26T15:04:59.365Z","mode":"test","object":"Event"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca5c89ea76e72e49acc4c1aec40cb71d"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9724e78b9ba7006bb912
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/events/evt_39754090dd0511ecab2719221796cfe7
    method: GET
  response:
    body: '{"description":"batch.updated","mode":"test","previous_attributes":{"state":"label_generating"},"created_at":"2022-05-26T15:05:05.000Z","pending_urls":[],"completed_urls":[],"updated_at":"2022-05-26T15:05:05.000Z","id":"evt_39754090dd0511ecab2719221796cfe7","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","object":"Event"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6db64c3a19761e11c91bc276dafa6b93"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9724e78b9ba7006bb931
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
