---
version: 1
interactions:
- request:
    body: '{"end_date":"2022-04-11","start_date":"2022-04-11"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"created_at":"2022-09-21T16:19:41Z","end_date":"2022-04-11","id":"shprep_0520f2add3d34597b16da516fac746c7","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2022-09-21T16:19:41Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"973aecc2bc8dc34644686fc9660cdc69"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b399dec8e8d29000146a8
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/reports/shipment/shprep_0520f2add3d34597b16da516fac746c7
    method: GET
  response:
    body: '{"created_at":"2022-09-21T16:19:41Z","end_date":"2022-04-11","id":"shprep_0520f2add3d34597b16da516fac746c7","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2022-09-21T16:19:41Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"973aecc2bc8dc34644686fc9660cdc69"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b399dec8e8d29000146b4
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
