---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:12:39+00:00","email":null,"federal_tax_id":null,"id":"adr_46d87422f71611eca411ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:12:39+00:00","verifications":{},"zip":"94107"},"created_at":"2022-06-28T19:12:39Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:12:39+00:00","email":null,"federal_tax_id":null,"id":"adr_46da8c85f71611ec9bd1ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:12:39+00:00","verifications":{},"zip":"94107"},"id":"shp_05a2e8958b594ccd8abd6f33eb20812c","insurance":null,"is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_0b351eb47cac405dadaf54c659c0a0eb","message":"Invalid
      Access License number","type":"rate_error"},{"carrier":"UPS","carrier_account_id":"ca_34d97dc9d5df46e48c088455935bc518","message":"Invalid
      Access License number","type":"rate_error"},{"carrier":"UPS","carrier_account_id":"ca_ba94eaaacddb4bf2b135953b3067e817","message":"Invalid
      Access License number","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-28T19:12:39Z","height":4,"id":"prcl_6011d944257645b6bd0f872c020dc94d","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-28T19:12:39Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_7642d249fdcf47bcb5da9ea34c96dfcf","created_at":"2022-06-28T19:12:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_ddc71661c6cb4553ae8bffb75e42bdc0","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate":"27.40","service":"Express","shipment_id":"shp_05a2e8958b594ccd8abd6f33eb20812c","updated_at":"2022-06-28T19:12:39Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_7642d249fdcf47bcb5da9ea34c96dfcf","created_at":"2022-06-28T19:12:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_d3dd829db79a4c148881c337235f0836","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/shipments/shp_05a2e8958b594ccd8abd6f33eb20812c/smartrate
    method: GET
  response:
    body: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_7642d249fdcf47bcb5da9ea34c96dfcf","created_at":"2022-06-28T19:12:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_ddc71661c6cb4553ae8bffb75e42bdc0","list_currency":"USD","list_rate":23.75,"mode":"test","object":"Rate","rate":23.75,"retail_currency":"USD","retail_rate":27.4,"service":"Express","shipment_id":"shp_05a2e8958b594ccd8abd6f33eb20812c","time_in_transit":{"percentile_50":1,"percentile_75":1,"percentile_85":1,"percentile_90":1,"percentile_95":2,"percentile_97":2,"percentile_99":4},"updated_at":"2022-06-28T19:12:39Z"},{"carrier":"USPS","carrier_account_id":"ca_7642d249fdcf47bcb5da9ea34c96dfcf","created_at":"2022-06-28T19:12:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_d3dd829db79a4c148881c337235f0836","list_currency":"USD","list_rate":7.37,"mode":"test","object":"Rate","rate":7.37,"retail_currency":"USD","retail_rate":8.7,"service":"Priority","shipment_id":"shp_05a2e8958b594ccd8abd6f33eb20[...]
[...]
