---
version: 1
interactions:
- request:
    body: '{"verify_strict":["true"],"address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","phone":"5555555555","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-09-20T23:27:56+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_db2cb726393b11ed83dfac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-09-20T23:27:56+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16fcaaafa8a2ed6476c0bcd16784b901"
      Location:
      - /api/v2/addresses/adr_db2cb726393b11ed83dfac1f6bc7b362
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c7bec8cdb4300107c89
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
