---
version: 1
interactions:
- request:
    body: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/trackers
    method: POST
  response:
    body: '{"id":"trk_95c61df731524d9aa85e980e9e470d50","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2022-05-26T15:05:44Z","updated_at":"2022-05-26T15:05:44Z","signed_by":null,"weight":17.6,"est_delivery_date":"2022-05-26T15:05:44Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-04-26T15:05:44Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-04-27T09:54:44Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzk1YzYxZGY3MzE1MjRkOWFhODVlOTgwZTllNDcwZDUw","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.02000","charged":false,"refunded":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"011d16df876e701358204b919d68c0a8"
      Location:
      - /api/v2/trackers/trk_95c61df731524d9aa85e980e9e470d50
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9748e78b9ba7006bcb8f
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 201 Created
    code: 201
    duration: ""
