---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/end_shippers
    method: GET
  response:
    body: '{"end_shippers":[{"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-08-17T21:16:16+00:00","email":"TEST@EXAMPLE.COM","id":"es_8d2455918db745e68ad1b4e3cb17fdcb","name":"JACK
      SPARROW","object":"EndShipper","phone":"5555555555","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-08-17T21:16:16+00:00","zip":"94107-1670"},{"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-08-17T22:05:32+00:00","email":"TEST@EXAMPLE.COM","id":"es_9904839af4974a75976f4406ae1888c2","name":"JACK
      SPARROW","object":"EndShipper","phone":"5555555555","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-08-17T22:05:32+00:00","zip":"94107-1670"},{"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-08-17T22:06:41+00:00","[...]
