---
version: 1
interactions:
- request:
    body: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_29c5ff222427403facfed6e9b3857bd1","object":"Parcel","created_at":"2022-08-16T20:24:28Z","updated_at":"2022-08-16T20:24:28Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ae465630fe4ce13b2e25190b280f383"
      Location:
      - /api/v2/parcels.prcl_29c5ff222427403facfed6e9b3857bd1
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfcfce78a92e70001aaec
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 201 Created
    code: 201
    duration: ""
