---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:17Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822419","updated_at":"2022-03-03T19:09:18Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6c2e0dcc9b2511eca8ffac1f6bc7b362","object":"Address","created_at":"2022-03-03T19:09:17+00:00","updated_at":"2022-03-03T19:09:17+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_075a0acda2c2420e9e3b46d321289257","object":"Parcel","created_at":"2022-03-03T19:09:17Z","updated_at":"2022-03-03T19:09:17Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c62dc02fdc8e4402afeab97ec1adcd34","created_at":"2022-03-03T19:09:17Z","updated_at":"2022-03-03T19:09:17Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T19:09:17Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/5139722359514b5ca81a80e1ecbe6cf6.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_94f4baea01494cd7b1359c0d4f2f984a","object":"Rate","created_at":"2022-03-03T19:09:17Z","updated_at":"2022-03-03T19:09:17Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_94688975426f4c24a75fa586f5b01a94","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_cd2f5f4c88b64e90b9229c4523fb428b","object":"Rate","created_at":"2022-03-03T19:09:17Z","updated_at":"2022-03-03T19:09:17Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_94688975426f4c24a75fa586f5b01a94","carrier_ac[...]
- request:
    body: '{"shipments":[{"id":"shp_94688975426f4c24a75fa586f5b01a94"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/scan_forms
    method: POST
  response:
    body: '{"id":"sf_73d3a82edb3b454581b9bae47b0a6f9d","object":"ScanForm","created_at":"2022-03-03T19:09:18Z","updated_at":"2022-03-03T19:09:18Z","tracking_codes":["9400100109361109822419"],"address":{"id":"adr_6c2e0dcc9b2511eca8ffac1f6bc7b362","object":"Address","created_at":"2022-03-03T19:09:17+00:00","updated_at":"2022-03-03T19:09:17+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220303/9c771e94fbc54646bc9b68cfa1d2664c.pdf","form_file_type":null,"batch_id":"batch_7e093962f3be40acaab1c98751798989","confirmation":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5841dc2b6ae16934f9591d54630b0001"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125eff135a20001f2761
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
