---
version: 1
interactions:
- request:
    body: '{"user":{"email":"REDACTED","name":"Test Referral","phone":"REDACTED"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers
    method: POST
  response:
    body: '{"api_keys":[{"active":true,"created_at":"2024-08-02T23:15:19Z","id":"ak_9e6940c3ac8e42869ccdb340df10517a","key":"REDACTED","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2024-08-02T23:15:19Z","id":"ak_bd0b73b04f46486e914bbfde241f594c","key":"REDACTED","mode":"production","object":"ApiKey"}],"balance":"0.00000","cc_fee_rate":"0.0375","children":[],"created_at":"2024-08-02T23:15:19Z","default_carbon_offset":false,"default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"has_elevate_access":false,"id":"user_a97008e9c299427885d68a0331ab0015","insurance_fee_minimum":"0.50","insurance_fee_rate":"0.01","name":"Test
      Referral","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6887f440b8c70037640d
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
