---
version: 1
interactions:
- request:
    body: '{"ups_oauth_registrations":{"account_number":"123456789","type":"UpsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/ups_oauth_registrations
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2024-08-02T23:14:30Z","credentials":{},"description":null,"fields":{},"id":"ca_0d04aceeb2f1422da13a796b8515a6dd","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2024-08-02T23:14:30Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6856f440b8c700374314
      X-Node:
      - bigweb36nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_0d04aceeb2f1422da13a796b8515a6dd
    method: GET
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2024-08-02T23:14:30Z","credentials":{},"description":null,"fields":{},"id":"ca_0d04aceeb2f1422da13a796b8515a6dd","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2024-08-02T23:14:30Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6856f440b8c700374324
      X-Node:
      - bigweb42nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ups_oauth_registrations":{"account_number":"987654321"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/ups_oauth_registrations/ca_0d04aceeb2f1422da13a796b8515a6dd
    method: PATCH
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2024-08-02T23:14:30Z","credentials":{},"description":null,"fields":{},"id":"ca_0d04aceeb2f1422da13a796b8515a6dd","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2024-08-02T23:14:30Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 4d57346d66ad6856f440b8c70037432d
      X-Node:
      - bigweb32nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
[...]
