---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-19T21:09:16Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{"credentials":{"client_id":{"label":"DHL
      eCommerce Solutions client ID","value":"123456","visibility":"visible"},"client_secret":{"label":"DHL
      eCommerce Solutions client secret","value":"********","visibility":"password"},"distribution_center":{"label":"DHL
      eCommerce Solutions distribution center","value":"USLAX1","visibility":"visible"},"pickup_id":{"label":"DHL
      eCommerce Solutions pickup ID","value":"123456","visibility":"visible"}},"test_credentials":{"client_id":{"label":"Test
      DHL eCommerce Solutions client ID","value":"123456","visibility":"visible"},"client_secret":{"label":"Test
      DHL eCommerce Solutions client secret","value":"********","visibility":"password"},"distribution_center":{"label":"Test
      DHL eCommerce Solutions distribution center","value":"USLAX1","visibility":"visible"},"pickup_id":{"label":"Test
      DHL eCommerce Solutions pickup ID","value":"123456","visibility":"visible"}}},"id":"ca_145f3b337d7a44149ff677fa6dfbdf40","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-19T21:09:16Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e93da959f4b0b70a9e81ea828a5b1779"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - dcb58cf26328da7ce7886e22000a0969
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209191945-2356362378-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"carrier_account":{"id":"ca_145f3b337d7a44149ff677fa6dfbdf40","description":"My
      custom description","credentials":null,"test_credentials":null}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/ca_145f3b337d7a44149ff677fa6dfbdf40
    method: PATCH
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-19T21:09:16Z","credenti[...]
[...]
