---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/reports/shipment
    method: GET
  response:
    body: '{"has_more":true,"reports":[{"created_at":"2022-08-19T17:48:12Z","end_date":"2022-04-11","id":"shprep_f3f348e2615e4b8d88a081b1f5479e5c","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-08-19T17:48:12Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220819/3bdcae5cf3354adf9ad5216ec13ae9b3.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220920%2Fus-west-2%2Fs3%2Faws4_request\u0026X-Amz-Date=20220920T232853Z\u0026X-Amz-Expires=30\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=81011e38b586a8901b8d36efa51b8f7fa1dbd385bf8c33949f77f7aadda489f8","url_expires_at":"2022-09-20T23:29:23Z"},{"created_at":"2022-08-19T17:48:12Z","end_date":"2022-04-11","id":"shprep_4989b0087f9f4e1791a76452462c1f5d","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-08-19T17:48:12Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220819/d053ab3e1c134c0fa442d9d2430474b1.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220920%2Fus-wes[...]
