---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/claims?page_size=5
    method: GET
  response:
    body: '{"claims":[{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/37018247af1c4db5bf530461fdb16a99.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/2ce44a1ec77f402ca2cec6e84c90f836.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/166c1c8570604489a83130bc7b57eeb3.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-08-02T23:14:35","description":"Test
      description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-08-02T23:14:35"}],"id":"clm_097fc5a2147b4448bc482a92a33217f8","insurance_amount":"100.00","insurance_id":"ins_5ae9a272413d4d5faf9cdde11cb2ba5d","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_589db68882e24ee5815a68f3e6b8cf02","status":"submitted","status_detail":"Claim
      was created.","status_timestamp":"2024-08-02T23:14:35","tracking_code":"9400100110368070372000","type":"damage","updated_at":"2024-08-02T23:14:35"},{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/c791c4f854b94b84b72f97cf17db59f9.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/9f595e23d80948cd8ae68cccf9881d48.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/cd2111904a454981897f9f1f4ff1c5b5.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-08-02T23:14:32","description"[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/claims?before_id=clm_097fa3774bc148cda6beb673810064e5&page_size=5
    method: GET
  response:
    body: '{"claims":[{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240726/7a71dd377af0486db08317356a37da79.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240726/5693a7cba59848e09661f245f9badee7.png","htt[...]
