---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups
    method: GET
  response:
    body: '{"has_more":true,"pickups":[{"address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-11-30T20:10:46+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_8c6170f48fbc11eeb0383cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-11-30T20:10:46+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2023-11-30T20:10:46Z","id":"pickup_9414b16274fa4f52ba78736996430609","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2023-12-08T00:00:00Z","messages":[],"min_datetime":"2023-12-08T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2023-11-30T20:10:48Z","currency":"USD","id":"pickuprate_b78dc388c6d544b68b536a4260921049","mode":"test","object":"PickupRate","pickup_id":"pickup_9414b16274fa4f52ba78736996430609","rate":"0.00","service":"NextDay","updated_at":"2023-11-30T20:10:48Z"}],"reference":null,"status":"unknown","updated_at":"2023-11-30T20:10:46Z"},{"address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-09-20T18:08:33+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_b61372a057e011ee87b73cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-09-20T18:08:33+00:00","verif[...]
