---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/shipments
    method: GET
  response:
    body: '{"shipments":[{"created_at":"2022-03-03T19:09:18Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822426","updated_at":"2022-03-03T19:09:19Z","batch_id":"batch_47eea2157b9b449390f13dd9c8f2b6e8","batch_status":"postage_purchased","batch_message":null,"customs_info":null,"from_address":{"id":"adr_6d0c614d9b2511eca92eac1f6bc7b362","object":"Address","created_at":"2022-03-03T19:09:18+00:00","updated_at":"2022-03-03T19:09:18+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_844ad7bae8a44a2eb73233f66785b41c","object":"Parcel","created_at":"2022-03-03T19:09:18Z","updated_at":"2022-03-03T19:09:18Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c73eebd537524ef490d8d13a2f6b84e3","created_at":"2022-03-03T19:09:19Z","updated_at":"2022-03-03T19:09:19Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T19:09:19Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/9fbbc3b716a540b8be067358af7df38d.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_97fbad3647bc4ac4b49da4c718e8cf39","object":"Rate","created_at":"2022-03-03T19:09:18Z","updated_at":"2022-03-03T19:09:18Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_c73eee5aef1140198749000c33299503","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_02b4c12f78d04c799f07eb23abefb782","object":"Rate","created_at":"2022-03-03T19:09:18Z","updated_at":"2022-03-03T19:09:18Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_c73eee5aef1140198749000c33299503","carrie[...]
