---
version: 1
interactions:
- request:
    body: '{"shipment":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"error":{"code":"PARAMETER.REQUIRED","errors":[{"field":"shipment","message":"cannot
      be blank"}],"message":"Missing required parameter."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c95ec8cdb43001083f5
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
