---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-08-19T17:55:33+00:00","email":"TEST@EXAMPLE.COM","federal_tax_id":null,"id":"adr_1f67ccd61fe811ed8ceeac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-08-19T17:55:34+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-08-19T17:55:33Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-08-19T17:55:33+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_1f6a97891fe811ed8cf3ac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-08-19T17:55:33+00:00","verifications":{},"zip":"90277"},"id":"shp_ef54e397537f4bc5987d8ad6881b5857","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-08-19T17:55:33Z","height":4,"id":"prcl_063abb5317c843a29088e7a2f2624636","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-08-19T17:55:33Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-08-19T17:55:34Z","date_advance":0,"id":"pl_e498862d75fd48b5b95698e8af9d63f2","integrated_form":"none","label_date":"2022-08-19T17:55:34Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220819/1c8b1f16ffd34f4eb8afbe9d6a07a624.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-08-19T17:55:34Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:55:33Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_a8a5082314484ef889b2a1fc3e39ffc6","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_ef54e397537f4bc5987d8ad6881b5857","updated_at":"2022-08-19T17:55:33Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:55:33Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_f8e9ecde16874574977ac0fadab37c78","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-08-22T00:00:00Z","max_datetime":"2022-08-22T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_ef54e397537f4bc5987d8ad6881b5857","object":"Shipment","mode":"test","created_at":"2022-08-19T17:55:33Z","updated_at":"2022-08-19T17:55:34Z","to_address":{"id":"adr_1f67ccd61fe811ed8ceeac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-08-19T17:55:33Z","updated_at":"2022-08-19T17:55:34Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","phone":"5555555555","email":"TEST@EXAMPLE.COM","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_1f6a97891fe811ed8cf3ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-08-19T17:55:33Z","updated_at":"2022-08-19T17:55:33Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_1f6a97891fe811ed8cf3ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-08-19T17:55:33Z","updated_at":"2022-08-19T17:55:33Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_1f67ccd61fe811ed8ceeac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-08-19T17:55:3[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_787be9e75c1a479d9e1877788c622fcc/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-08-19T17:55:34+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_200d24bf1fe811edb6a4ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-08-19T17:55:34+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC62056230","created_at":"2022-08-19T17:55:34Z","id":"pickup_787be9e75c1a479d9e1877788c622fcc","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-08-22T00:00:00Z","messages":[],"min_datetime":"2022-08-22T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-08-19T17:55:36Z","currency":"USD","id":"pickuprate_47b7992516b846e7ba61ff52af522c87","mode":"test","object":"PickupRate","pickup_id":"pickup_787be9e75c1a479d9e1877788c622fcc","rate":"0.00","service":"NextDay","updated_at":"2022-08-19T17:55:36Z"}],"reference":null,"status":"scheduled","updated_at":"2022-08-19T17:55:37Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e0b3afd9f849b49b51ed05b7495afaec"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - cbe71dcb62ffce98ff246f1f0078d9cc
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
