---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-09-21T18:21:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_4184ab4139da11eda31eac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-21T18:21:48+00:00","verifications":{},"zip":"94107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fb6f1d51302395f22aff6c1854d3b1e6"
      Location:
      - /api/v2/addresses/adr_4184ab4139da11eda31eac1f6b0a0d1e
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b563cec7d9989000d8d1a
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/addresses/adr_4184ab4139da11eda31eac1f6b0a0d1e/verify
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T18:21:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_41ac623939da11eda532ac1f6bc7bdc6","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-09-21T18:21:48+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e8841395dd7f88e4371498a408a926f7"
      Location:
      - /api/v2/addresses/adr_41ac623939da11eda532ac1f6bc7bdc6
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b563cec7d9989000d8d45
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
