---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-05-26T15:06:54+00:00","email":null,"federal_tax_id":null,"id":"adr_7aa02696dd0511eca6d1ac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-05-26T15:06:54+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-05-26T15:06:54Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:06:54+00:00","email":null,"federal_tax_id":null,"id":"adr_7aa1e9a7dd0511ec90b6ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-26T15:06:54+00:00","verifications":{},"zip":"94107"},"id":"shp_f9df78d11d3f4042ab5dbae2926e439a","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-05-26T15:06:54Z","height":4,"id":"prcl_66da750d5d5f48159b275b03cf577d69","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-05-26T15:06:54Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-05-26T15:06:54Z","date_advance":0,"id":"pl_40bbaae1f86147d280d47f84d5152e0c","integrated_form":"none","label_date":"2022-05-26T15:06:54Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220526/169437b31e57429f9ef893a8b62b7cf5.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-05-26T15:06:55Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-05-26T15:06:54Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_c9e388e1415340cd8b77ce9dd9b488a3","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70","service":"Priority","shipment_id":"shp_f9df78d11d3f4042ab5dbae2926e439a","updated_at":"2022-05-26T15:06:54Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-05-26T15:06:54Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_253f1a843f4a401bb2733fb3f2faee22","list_currency":"USD","list_rate":"5.49","mode":"test","object":"Rate","rate":"5.49","retail_currency":"USD","retail_rate":"5.49"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-05-27T00:00:00Z","max_datetime":"2022-05-27T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_f9df78d11d3f4042ab5dbae2926e439a","object":"Shipment","mode":"test","created_at":"2022-05-26T15:06:54Z","updated_at":"2022-05-26T15:06:55Z","to_address":{"id":"adr_7aa02696dd0511eca6d1ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-05-26T15:06:54Z","updated_at":"2022-05-26T15:06:54Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_7aa1e9a7dd0511ec90b6ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-05-26T15:06:54Z","updated_at":"2022-05-26T15:06:54Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_7aa1e9a7dd0511ec90b6ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-05-26T15:06:54Z","updated_at":"2022-05-26T15:06:54Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_7aa02696dd0511eca6d1ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-05[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_50aeecc3a9e84701adf07be13b9391e4/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:06:55+00:00","email":null,"federal_tax_id":null,"id":"adr_7b51c6abdd0511ec8119ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-26T15:06:55+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61804874","created_at":"2022-05-26T15:06:55Z","id":"pickup_50aeecc3a9e84701adf07be13b9391e4","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-05-27T00:00:00Z","messages":[],"min_datetime":"2022-05-27T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-05-26T15:06:56Z","currency":"USD","id":"pickuprate_e03bfcc1d22f4ea28f0d2deec801cc6a","mode":"test","object":"PickupRate","pickup_id":"pickup_50aeecc3a9e84701adf07be13b9391e4","rate":"0.00","service":"NextDay","updated_at":"2022-05-26T15:06:56Z"}],"reference":null,"status":"scheduled","updated_at":"2022-05-26T15:06:57Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9351f88e7e3f084d69230300305b5608"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bf7628f9790e78b9ebf006be9ff
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_50aeecc3a9e84701adf07be13b9391e4/cancel
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:06:55+00:00","email":null,"federal_tax_id":null,"id":"adr_7b51c6abdd0511ec8119ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","pho[...]
