---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_5380456c0ccb4179adf19d2d5ed321b7","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-06-14T19:29:19Z","updated_at":"2022-06-14T19:29:19Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a85a2a383222d7d9dd480e5da5fa1c11"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 51cd47ee62a8e18ee786afb8004642b3
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_5380456c0ccb4179adf19d2d5ed321b7/buy
    method: POST
  response:
    body: '{"id":"batch_5380456c0ccb4179adf19d2d5ed321b7","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-06-14T19:29:19Z","updated_at":"2022-06-14T19:29:19Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_105da38592a54afcae23eaf49462d0d1"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58b4cdcd08fc6c70ee577ff5db728086"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 51cd47ee62a8e18fe786afb8004642c3
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: file_format=
    form:
      file_format:
      - ""
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches/batch_5380456c0ccb4179adf19d2d5ed321b7/scan_form
    method: POST
  response:
    body: '{"id":"batch_5380456c0ccb4179adf19d2d5ed321b7","object":"Batch","mode":"test","state":"purchased","num_shipments":1,"reference":null,"created_at":"2022-06-14T19:29:19Z","updated_at":"2022-06-14T19:29:24Z","scan_form":{"id":"sf_1d9e677998264d68898a642d85a0789a","object":"ScanForm","created_at":"2022-06-14T19:29:24Z","updated_at":"2022-06-14T19:29:24Z","tracking_codes":[],"address":null,"status":"creating","message":null,"form_url":null,"form_file_type":null,"batch_id":"batch_5380456c0ccb4179adf19d2d5ed321b7","confirmation":null},"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361123673165","id":"shp_105da38592a54afcae23eaf49462d0d1"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7f4a380815cae4882c1f4f933b677f91"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 51cd47ee62a8e194e786afb8004644f4
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
