---
version: 1
interactions:
- request:
    body: '{"address":{"city":"Not A City","company":"EasyPost","country":"US","email":"REDACTED","phone":"REDACTED","state":"ZZ","street1":"000
      unknown street","zip":"00001"},"verify":true,"verify_carrier":"UPS"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"NOT A CITY","company":"EASYPOST","country":"US","created_at":"2025-11-07T18:37:21Z","email":"REDACTED","federal_tax_id":null,"id":"adr_cc165879bc0811f09e4dac1f6bc539aa","mode":"test","name":null,"object":"Address","phone":"REDACTED","residential":null,"state":"ZZ","state_tax_id":null,"street1":"000
      UNKNOWN STREET","street2":"","updated_at":"2025-11-07T18:37:21Z","verifications":{"delivery":{"details":{"latitude":null,"longitude":null,"time_zone":null},"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
      not found","suggestion":null}],"success":true},"verify_carrier":"ups","zip4":{"details":null,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
      not found","suggestion":null}],"success":true}},"zip":"00001"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_cc165879bc0811f09e4dac1f6bc539aa
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - bcd4371f690e3c61e78733e002ae8e5e
      X-Node:
      - bigweb58nuq
      X-Proxied:
      - intlb3nuq c0061e0a2e
      - extlb2nuq cbbd141214
      X-Version-Label:
      - easypost-202511071754-85836cab32-master
    status: 201 Created
    code: 201
    duration: ""
