---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-08-16T20:24:10+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_62dd538b1da111edba6bac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-08-16T20:24:10+00:00","verifications":{},"zip":"94107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3e1fde0cbe58ddd91500ff282245e4e"
      Location:
      - /api/v2/addresses/adr_62dd538b1da111edba6bac1f6bc7bdc6
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfceae78a92e70001a591
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/addresses/adr_62dd538b1da111edba6bac1f6bc7bdc6/verify
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-08-16T20:24:10+00:00","email":"TEST@EXAMPLE.COM","federal_tax_id":null,"id":"adr_62f0b3fb1da111edba71ac1f6bc7bdc6","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-08-16T20:24:10+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4c4dc31aaf3d5aa87882c5aa6623c67b"
      Location:
      - /api/v2/addresses/adr_62f0b3fb1da111edba71ac1f6bc7bdc6
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfceae78a92e70001a599
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 200 OK
    code: 200
    duration: ""
