---
version: 1
interactions:
- request:
    body: '{"order":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"shipments":[{"to_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}],"is_return":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-11T20:33:00Z","updated_at":"2022-04-11T20:33:00Z","customs_info":null,"from_address":{"id":"adr_94561340b9d611ecb6d1ac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:33:00+00:00","updated_at":"2022-04-11T20:33:00+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_9454cfdeb9d611ecb6d0ac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:33:00+00:00","updated_at":"2022-04-11T20:33:00+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_9454cfdeb9d611ecb6d0ac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:33:00+00:00","updated_at":"2022-04-11T20:33:00+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_94561340b9d611ecb6d1ac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:33:00+00:00","updated_at":"2022-04-11T20:33:00+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-04-11T20:33:00Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-04-11T20:33:00Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_94561340b9d611ecb6d1ac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:33:00+00:00","updated_at":"2022-04-11T20:33:00+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_96254dea5e8f4ed4803dac2c50063f69","parcel":{"id":"prcl_99780da1841645e7b482475f414245e9","object":"Parcel","created_at":"2022-04-11T20:33:00Z","updated_at":"2022-04-11T20:33:00Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_1f3ec273519e497481d78fd74952f26f","object":"Rate","created_at":"2022-04-11T20:33:00Z","updated_at":"2022-04-11T20:33:00Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_6b4f1f239892443ebcdfabdd92142419","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_8f038fc2af994327a0c5572f382610ab","object":"Rate","created_at":"2022-04-11T20:33:00Z","updated_at":"2022-04-11T20:33:00Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_6b4f1f239892443ebcdfabdd92142419","carrier_ac[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/orders/order_96254dea5e8f4ed4803dac2c50063f69
    method: GET
  response:
    body: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-11T20:33:00Z","updated_at":"2022-04-11T20:33:00Z","customs_info":null,"from_address":{"id":"adr_94561340b9d611ecb6d1ac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:33:00+00[...]
