---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/addresses
    method: GET
  response:
    body: '{"addresses":[{"id":"adr_e999de359b1a11ec8a26ac1f6b0a0d1e","object":"Address","created_at":"2022-03-03T17:54:03+00:00","updated_at":"2022-03-03T17:54:03+00:00","name":null,"company":"EasyPost","street1":"417
      montgomery streat","street2":"FL 5","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_ffc2fd199a9b11ec903bac1f6bc72124","object":"Address","created_at":"2022-03-03T02:45:34+00:00","updated_at":"2022-03-03T02:45:34+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},{"id":"adr_ffc1037f9a9b11ec903[...]
