---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"GroundAdvantage","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:30:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3fa5ec08512711ef9a27ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:30:48+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2024-08-02T23:30:48Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:30:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3fa805b6512711ef9a28ac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:30:48+00:00","verifications":{},"zip":"90277"},"id":"shp_2b75ca68e9e7443e8374ae96bf8c29fb","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2024-08-02T23:30:48Z","height":4,"id":"prcl_a667b1863a9448608c0cb5de9b53b40f","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:30:48Z","weight":15.4,"width":8},"postage_label":{"created_at":"2024-08-02T23:30:49Z","date_advance":0,"id":"pl_6384fa04d33a4003b2191af6053fd1c1","integrated_form":"none","label_date":"2024-08-02T23:30:49Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240802/e8fced8876a57b4d04b7be23b44908bf0f.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2024-08-02T23:30:49Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:30:48Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_72d7949a7b5d4babaa681c2b515aa97b","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_2b75ca68e9e7443e8374ae96bf8c29fb","updated_at":"2024-08-02T23:30:48Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:30:48Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_8605f27ae69b432eae4704ae88e048aa","list_currency":"USD","list_rate":"8.25","mode":"test","object":"Rate","rate":"6.90","retail_currency":"USD","retail_rate":"9.80","service":"Priority","shipment_id":"shp_2b75ca68e9e7443e8374ae96bf8c29fb","updated_at":"2024-08-02T23:30:48Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:30:48Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_0979dc78516b42309789fbd67f36946d","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_2b75ca68e9e7443e8374ae96bf8c29fb","updated_at":"2024-08-02T23:30:48Z"}],"reference":null,"refund_status":null,"return_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:30:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3fa805b6512711ef9a28ac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:30:48+00:00","verifications":{},"zip":"90277"},"scan_form":null,"selected_rate":{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:30:49Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_0979dc78516b42309789fbd67f36946d","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_2b75ca68e9e7443e8374ae96bf8c29fb","updated_at":"2024-08-02T23:30:49Z"},"status":"unknown","to_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:30:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_3fa5ec08512711ef9a27ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:30:48+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"tracker":{"carrier":"USPS","carrier_detail":null,"created_at":"2024-08-02T23:30:49Z","est_delivery_date":null,"fees":[],"id":"trk_9b25755fb70246cc809520533079a252","mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrXzliMjU3NTVmYjcwMjQ2Y2M4MDk1MjA1MzMwNzlhMjUy","shipment_id":"shp_2b75ca68e9e7443e8374ae96bf8c29fb","signed_by":null,"status":"unknown","status_detail":"unknown","tracking_code":"9400100110368070375018","tracking_details":[],"updated_at":"2024-08-02T23:30:49Z","weight":null},"tracking_code":"9400100110368070375018","updated_at":"2024-08-02T23:30:49Z","usps_zone":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/shipments/shp_2b75ca68e9e7443e8374ae96bf8c29fb
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346b66ad6c28f42bdac8003989b7
      X-Node:
      - bigweb53nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"pickup":{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"instructions":"Pickup at front door","max_datetime":"2024-08-14T00:00:00Z","min_datetime":"2024-08-14T00:00:00Z","shipment":{"buyer_address":{"city":"SAN
      FRANCISCO","country":"US","created_at":"2024-08-02T23:30:48Z","email":"REDACTED","id":"adr_3fa5ec08512711ef9a27ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","street1":"388
      TOWNSEND ST APT 20","updated_at":"2024-08-02T23:30:48Z","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"[...]
- request:
    body: '{"carrier":"USPS","service":"NextDay"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/pickups/pickup_8ff98ceacba6446f8706d192e1c2d609/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2024-08-02T23:30:49+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_40681b02512711ef9a3eac1f6bc539ae","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:30:49+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC64743900","created_at":"2024-08-02T23:30:49Z","id":"pickup_8ff98ceacba6446f8706d192e1c2d609","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2024-08-14T00:00:00Z","messages":[],"min_datetime":"2024-08-14T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2024-08-02T23:30:50Z","currency":"USD","id":"pickuprate_1a8ed2d8d2b84351bbb289a4263b90ff","mode":"test","object":"PickupRate","pickup_id":"pickup_8ff98ceacba6446f8706d192e1c2d609","rate":"0.00","service":"NextDay","updated_at":"2024-08-02T23:30:50Z"}],"reference":null,"status":"scheduled","updated_at":"2024-08-02T23:30:52Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346b66ad6c2af42bdac800398bf3
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: "null"
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/pickups/pickup_8ff98ceacba6446f8706d192e1c2d609/cancel
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2024-08-02T23:30:49+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_40681b02512711ef9a3eac1f6bc539ae","mode":"test","n[...]
