---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-05-26T15:04:48+00:00","email":null,"federal_tax_id":null,"id":"adr_2f9a9ba1dd0511ec8c36ac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-05-26T15:04:48+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-05-26T15:04:48Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:04:48+00:00","email":null,"federal_tax_id":null,"id":"adr_2f9c4d3add0511ecb60cac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-26T15:04:48+00:00","verifications":{},"zip":"94107"},"id":"shp_5dc700e09191424e8d2720c27e5aa22c","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-05-26T15:04:48Z","height":4,"id":"prcl_54d8a6935dce43a88821dd4030a0698b","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-05-26T15:04:48Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-05-26T15:04:49Z","date_advance":0,"id":"pl_c2486344a7f34ce58b8d1773540cfa94","integrated_form":"none","label_date":"2022-05-26T15:04:49Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220526/e2cc35da79c241489c85ccc033aea981.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-05-26T15:04:49Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-05-26T15:04:48Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_feb5f46013544138a8a80fc06b5db75a","list_currency":"USD","list_rate":"7.22","mode":"test","object":"Rate","rate":"7.22","retail_currency":"USD","retail_rate":"7.22","service":"ParcelSelect","shipment_id":"shp_5dc700e09191424e8d2720c27e5aa22c","updated_at":"2022-05-26T15:04:48Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-05-26T15:04:48Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_1c86b2b91e7c425ead9744713d62f735","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70"[...]
[...]
- request:
    body: '{"batch":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_f2b553cb0ec64419aac7ae51f63de65c","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-05-26T15:04:50Z","updated_at":"2022-05-26T15:04:50Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"99a169154e74a16dc49e8c014561304c"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9712e78b9ba7006bb10f
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":{"0":"shp_5dc700e09191424e8d2720c27e5aa22c","1":"shp_e6eb009132ff4adba0f5d7d268982ad5"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/batch_f2b553cb0ec64419aac7ae51f63de65c/add_shipments
    method: POST
  response:
    body: '{"id":"batch_f2b553cb0ec64419aac7ae51f63de65c","object":"Batch","mode":"test","state":"created","num_shipments":2,"reference":null,"created_at":"2022-05-26T15:04:50Z","updated_at":"2022-05-26T15:04:50Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361120898080","id":"shp_5dc700e09191424e8d2720c27e5aa22c"},{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361120898097","id":"shp_e6eb009132ff4adba0f5d7d268982ad5"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":2,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c2ecb6361a7e91f2bc88ba97c211e43"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9713e78b9ba7006bb13f
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":{"0":"shp_5dc700e09191424e8d2720c27e5aa22c","1":"shp_e6eb009132ff4adba0f5d7d268982ad5"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/batch_f2b553cb0ec64419aac7ae51f63de65c/remove_shipments
    method: POST
  response:
    body: '{"id":"batch_f2b553cb0ec64419aac7ae51f63de65c","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2022-05-26T15:04:50Z","updated_at":"2022-05-26T15:04:51Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a7b6e4e62b8c68f5481ea1df76f2ff0"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9713e78b9ba7006bb14a
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
