---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers
    method: POST
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-09-20T23:28:21+00:00","email":"REDACTED","id":"es_64941a2621bf472b910bf6caa2260765","mode":"production","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-09-20T23:28:21+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cdd1f42dbe436fb11320cbeb2ce89693"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c95ec8cdb43001083c0
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"address":{"id":"es_64941a2621bf472b910bf6caa2260765","object":"EndShipper","mode":"production","created_at":"2022-09-20T23:28:21Z","updated_at":"2022-09-20T23:28:21Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Captain
      Sparrow","company":"EasyPost","phone":"9999999999","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
    [...]
