---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-04-11T20:22:50Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114538053","updated_at":"2022-04-11T20:22:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_28f1bb27b9d511ec86e3ac1f6b0a0d1e","object":"Address","created_at":"2022-04-11T20:22:50+00:00","updated_at":"2022-04-11T20:22:50+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_d0e023f7d4bc449ba981bbc9b3dc623c","object":"Parcel","created_at":"2022-04-11T20:22:50Z","updated_at":"2022-04-11T20:22:50Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_202d8a25194446508c5a35a185f92f9f","created_at":"2022-04-11T20:22:51Z","updated_at":"2022-04-11T20:22:51Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-11T20:22:51Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220411/457834342b7840f2a5225edb556dd9e2.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_8c89bc942ad9442faad98243645560ed","object":"Rate","created_at":"2022-04-11T20:22:50Z","updated_at":"2022-04-11T20:22:50Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_324ef5ea2982411cb157a1810d95838e","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_388e32f1850a407a8a13e078e0ff9ccd","object":"Rate","created_at":"2022-04-11T20:22:50Z","updated_at":"2022-04-11T20:22:50Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_324ef5ea2982411cb157a1810d95838e","ca[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-04-12T14:22:51.903384-06:00","max_datetime":"2022-04-12T14:22:51.903384-06:00","instructions":"Pickup
      at front door","shipment":{"id":"shp_324ef5ea2982411cb157a1810d95838e","object":"Shipment","mode":"test","created_at":"2022-04-11T20:22:50Z","updated_at":"2022-04-11T20:22:51Z","to_address":{"id":"adr_28efea6cb9d511ec86e2ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-04-11T20:22:50Z","updated_at":"2022-04-11T20:22:50Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_28f1bb27b9d511ec86e3ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-04-11T20:22:50Z","updated_at":"2022-04-11T20:22:50Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_28f1bb27b9d511ec86e3ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-04-11T20:22:50Z","updated_at":"2022-04-11T20:22:50Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_28efea6cb9d511ec86e2ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-04-11T20:22:50Z","updated_at":"2022-04-11T20:22:50Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
