---
version: 1
interactions:
- request:
    body: '{"order":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"is_return":false,"shipments":[{"parcel":{"weight":10.2}},{"parcel":{"weight":17.5}}],"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-06-14T16:17:35+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9c8494b12a6911efb63cac1f6bc539aa","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-06-14T16:17:35+00:00","verifications":{},"zip":"90277"},"created_at":"2024-06-14T16:17:35Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-06-14T16:17:35+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9c86e92d2a6911efb6c7ac1f6bc539ae","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-06-14T16:17:35+00:00","verifications":{},"zip":"94107"},"id":"order_a9300b03bd9c46cb9d66eb01110db549","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_ddbdb0c085e947dc9f00812aa3830ab5","list_currency":"USD","list_rate":"17.22","mode":"test","object":"Rate","rate":"13.79","retail_currency":"USD","retail_rate":"22.30","service":"Priority","shipment_id":"shp_bcbee5bd0338406298c064b226d9f274","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_ff124a380c8943608ddc843a7083e76b","list_currency":"USD","list_rate":"12.82","mode":"test","object":"Rate","rate":"11.33","retail_currency":"USD","retail_rate":"17.50","service":"GroundAdvantage","shi[...]
