---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"DhlEcsAccount","credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"},"test_credentials":{"client_id":"123456","client_secret":"123abc","distribution_center":"USLAX1","pickup_id":"123456"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-20T23:28:16Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{"credentials":{},"test_credentials":{}},"id":"ca_4a8c7d0e1b3843b098263653fbdd9e47","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-20T23:28:16Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b8d4a1d09e547bd707bfc9452cbfb650"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c90ec8cdb430010824b
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_4a8c7d0e1b3843b098263653fbdd9e47
    method: GET
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-09-20T23:28:16Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{"credentials":{},"test_credentials":{}},"id":"ca_4a8c7d0e1b3843b098263653fbdd9e47","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-20T23:28:16Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b8d4a1d09e547bd707bfc9452cbfb650"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c90ec8cdb4300108269
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
[...]
