---
version: 1
interactions:
- request:
    body: "null"
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/
    method: POST
  response:
    body: '{"error":{"code":"NOT_FOUND","message":"The requested resource could not
      be found.","errors":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211259ff135a20001f266b
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 404 Not Found
    code: 404
    duration: ""
