---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2023-03-06T19:05:09+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d0a1a6c5bc5111ed9d01ac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2023-03-06T19:05:09+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2023-03-06T19:05:09Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"6.07000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-03-06T19:05:09+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d0a51984bc5111ed8e8dac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-03-06T19:05:09+00:00","verifications":{},"zip":"90277"},"id":"shp_c61d64ab71dd457e98cdf5f23d13cc30","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2023-03-06T19:05:09Z","height":4,"id":"prcl_9b523f24743d430f9c558c66697c9b41","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2023-03-06T19:05:09Z","weight":15.4,"width":8},"postage_label":{"created_at":"2023-03-06T19:05:10Z","date_advance":0,"id":"pl_626c14dea5174a4ab921c16fd231f744","integrated_form":"none","label_date":"2023-03-06T19:05:10Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230306/8d645e5488e64155a50088bc8f505c50.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2023-03-06T19:05:10Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-03-06T19:05:09Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_3bee3a4262854f8c981e1d1691fb071b","list_currency":"USD","list_rate":"8.24","mode":"test","object":"Rate","rate":"7.58","retail_currency":"USD","retail_rate":"10.20","service":"Priority","shipment_id":"shp_c61d64ab71dd457e98cdf5f23d13cc30","updated_at":"2023-03-06T19:05:09Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2023-03-06T19:05:09Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_de38d495370542eca5ada040b460dad8","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75"[...]
- request:
    body: '{"pickup":{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"instructions":"Pickup at front door","max_datetime":"2023-03-08T00:00:00Z","min_datetime":"2023-03-08T00:00:00Z","shipment":{"buyer_address":{"city":"SAN
      FRANCISCO","country":"US","created_at":"2023-03-06T19:05:09Z","email":"REDACTED","id":"adr_d0a1a6c5bc5111ed9d01ac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","street1":"388
      TOWNSEND ST APT 20","updated_at":"2023-03-06T19:05:09Z","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_af5ec770b9064d0592e91ac55ac177b2/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2023-03-06T19:05:10+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d14e25afbc5111ed8ef0ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-03-06T19:05:10+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC62744368","created_at":"2023-03-06T19:05:10Z","id":"pickup_af5ec770b9064d0592e91ac55ac177b2","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2023-03-08T00:00:00Z","messages":[],"min_datetime":"2023-03-08T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2023-03-06T19:05:11Z","currency":"USD","id":"pickuprate_d8f36e17025340a783c1ebb27502eff5","mode":"test","object":"PickupRate","pickup_id":"pickup_af5ec770b9064d0592e91ac55ac177b2","rate":"0.00","service":"NextDay","updated_at":"2023-03-06T19:05:11Z"}],"reference":null,"status":"scheduled","updated_at":"2023-03-06T19:05:12Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c6c194bed62951838c471fae825f0878"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - a33588b964063967e6773fd4000488ec
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq a40ea751fd
      - extlb2nuq a40ea751fd
      X-Version-Label:
      - easypost-202303032159-702d6b662a-master
    status: 200 OK
    code: 200
    duration: ""
