---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"179 N Harbor Dr","city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","name":"Dr. Steve Brule","phone":"3331114444"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]},"carbon_offset":true}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2022-07-28T19:45:56+00:00","email":null,"federal_tax_id":null,"id":"adr_e57431c40ead11edbaebac1f6bc72124","mode":"test","name":"DR.
      STEVE BRULE","object":"Address","phone":"3331114444","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":null,"updated_at":"2022-07-28T19:45:56+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2022-07-28T19:45:56Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"},{"amount":"0.11000","charged":true,"object":"Fee","refunded":false,"type":"CarbonOffsetFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-07-28T19:45:56+00:00","email":null,"federal_tax_id":null,"id":"adr_e57600f70ead11edbaecac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-07-28T19:45:56+00:00","verifications":{},"zip":"94107"},"id":"shp_362f860c561f4814a17518793375a36c","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-07-28T19:45:56Z","height":4,"id":"prcl_1fbb845272a0407a8114ff9894c1815a","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-07-28T19:45:56Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-07-28T19:45:56Z","date_advance":0,"id":"pl_9972910a45f64a74b32bf387f644cb71","integrated_form":"none","label_date":"2022-07-28T19:45:56Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/619d1798f8ac4bf48757087ae9f6b9b9.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-07-28T19:45:57Z"},"rates":[{"billing_type":"easypost","carbon_offset":{"currency":"USD","grams":36,"object":"CarbonOffset","price":"0.11"},"carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-07-28T19:45:56Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_57f9663e0a774b679d5823c87a63d690","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45","service":"Priority","shipment_id":"shp_362f860c561f4814a17518793375a36c","updated_at":"2022-07-28T19:45:56Z"},{"billing_type":"easypost","carbon_offset":{"currency":"USD","grams":36,"object":"CarbonOffset","price":"0.11"},"carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-07-28T19:45:56Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_e189792ee2fb43c68a11d2052ab6cd7c","list_currency":"USD","list_rate":"7.75","mo[...]
