---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts
    method: GET
  response:
    body: '[{"billing_type":"easypost","clone":false,"created_at":"2020-05-07T23:43:48Z","credentials":{},"description":"USPS
      Account","fields":{"credentials":{"address_city":{"label":"City","value":"","visibility":"visible"},"address_state":{"label":"State","value":"","visibility":"visible"},"address_street":{"label":"Street
      Address","value":"","visibility":"visible"},"address_zip":{"label":"ZIP Code","value":"","visibility":"visible"},"company_name":{"label":"Account
      Holder Name","value":"","visibility":"visible"},"email":{"label":"Email Address","value":null,"visibility":"visible"},"phone":{"label":"Phone
      Number","value":"","visibility":"visible"},"shipper_id":{"label":"Shipper Identifier
      (Optional)","value":"","visibility":"visible"}}},"id":"ca_e606176ddb314afe896733636dba2f3b","logo":null,"object":"CarrierAccount","readable":"USPS","reference":null,"test_credentials":{},"type":"UspsAccount","updated_at":"2020-05-08T02:33:20Z"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"00b9f4caf48afe55b116350f299f1588"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f971fe78b9ba7006bb6bc
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
