---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
<<<<<<< HEAD
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-06T16:39:40+00:00","email":null,"federal_tax_id":null,"id":"adr_42d1150be5b711ecbf0aac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-06T16:39:40+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-06T16:39:40Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-06T16:39:40+00:00","email":null,"federal_tax_id":null,"id":"adr_42d28794e5b711eca0e4ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-06T16:39:40+00:00","verifications":{},"zip":"94107"},"id":"shp_725f1aa0b3e045669baef201c2f7b753","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-06T16:39:40Z","height":4,"id":"prcl_0410bef497c94a8baec2a117e2d8e026","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-06T16:39:40Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-06T16:39:40Z","date_advance":0,"id":"pl_975193e1a9054493be7cc8b8047118d6","integrated_form":"none","label_date":"2022-06-06T16:39:40Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220606/8f0a415fcbf74019b99f5556d840d36e.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-06T16:39:41Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-06T16:39:40Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_55d6d1e8a2f94e4e8cf650256308b133","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate":"27.40","service":"Express","shipment_id":"shp_725f1aa0b3e045669baef201c2f7b753","updated_at":"2022-06-06T16:39:40Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-06T16:39:40Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_07465de08094452fa0360aedb4e5ca21","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70"[...]
- request:
<<<<<<< HEAD
    body: '{"pickup":{"min_datetime":"2022-06-27T00:00:00Z","max_datetime":"2022-06-27T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_725f1aa0b3e045669baef201c2f7b753","object":"Shipment","mode":"test","created_at":"2022-06-06T16:39:40Z","updated_at":"2022-06-06T16:39:41Z","to_address":{"id":"adr_42d1150be5b711ecbf0aac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06-06T16:39:40Z","updated_at":"2022-06-06T16:39:40Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_42d28794e5b711eca0e4ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-06-06T16:39:40Z","updated_at":"2022-06-06T16:39:40Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_42d28794e5b711eca0e4ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-06-06T16:39:40Z","updated_at":"2022-06-06T16:39:40Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_42d1150be5b711ecbf0aac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-06[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
<<<<<<< HEAD
    url: https://api.easypost.com/v2/pickups/pickup_2fd448f0b6ed4c94bf6d2ccde606b9d8/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-06T16:39:41+00:00","email":null,"federal_tax_id":null,"id":"adr_4378e472e5b711eca118ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-06T16:39:41+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61834666","created_at":"2022-06-06T16:39:41Z","id":"pickup_2fd448f0b6ed4c94bf6d2ccde606b9d8","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-06-27T00:00:00Z","messages":[],"min_datetime":"2022-06-27T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-06T16:39:42Z","currency":"USD","id":"pickuprate_f95c401fecfa4b249622534a35ee2270","mode":"test","object":"PickupRate","pickup_id":"pickup_2fd448f0b6ed4c94bf6d2ccde606b9d8","rate":"0.00","service":"NextDay","updated_at":"2022-06-06T16:39:42Z"}],"reference":null,"status":"scheduled","updated_at":"2022-06-06T16:39:43Z"}'
=======
    url: https://api.easypost.com/v2/pickups/pickup_0431478c5b324c9282291cc112ca3380/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-03T17:21:23+00:00","email":null,"federal_tax_id":null,"id":"adr_97401d06e36111eca459ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-03T17:21:23+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61825680","created_at":"2022-06-03T17:21:23Z","id":"pickup_0431478c5b324c9282291cc112ca3380","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-06-04T00:00:00Z","messages":[],"min_datetime":"2022-06-04T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-03T17:21:23Z","currency":"USD","id":"pickuprate_50fb34879b754d34a7f825d6de33f3fd","mode":"test","object":"PickupRate","pickup_id":"pickup_0431478c5b324c9282291cc112ca3380","rate":"0.00","service":"NextDay","updated_at":"2022-06-03T17:21:23Z"}],"reference":null,"status":"scheduled","updated_at":"2022-06-03T17:21:24Z"}'
>>>>>>> d549808 (re-record cassettes.)
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
<<<<<<< HEAD
      - W/"10a284ef07cb9681f402c2ecba793155"
=======
      - W/"a19d92506e3d31418a349ea50c1b2918"
>>>>>>> d549808 (re-record cassettes.)
      Expires:
      - "0"
      Pragma:
      - no-cache
      Referrer-Policy:
      - strict-origin-when-cross-origin
      Strict-Transport-Security:
      - max-age=31536000; includeSubDomains; preload
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Content-Type-Options:
      - nosniff
      X-Download-Options:
      - noopen
      X-Ep-Request-Uuid:
<<<<<<< HEAD
      - 60001ede629e2dcee62fa04a0018ab64
      X-Frame-Options:
      - SAMEORIGIN
      X-Node:
      - bigweb7nuq
      X-Permitted-Cross-Domain-Policies:
      - none
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq 0910011e7e
      X-Runtime:
      - "0.975296"
=======
      - db920f87629a4313ff235f60001b0a29
      X-Frame-Options:
      - SAMEORIGIN
      X-Node:
      - bigweb2nuq
      X-Permitted-Cross-Domain-Policies:
      - none
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - extlb2nuq 0910011e7e
      X-Runtime:
      - "0.893646"
>>>>>>> d549808 (re-record cassettes.)
      X-Version-Label:
      - easypost-202206030043-0fd9609f83-master
      X-Xss-Protection:
      - 1; mode=block
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
<<<<<<< HEAD
    url: https://api.easypost.com/v2/pickups/pickup_2fd448f0b6ed4c94bf6d2ccde606b9d8/cancel
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-06T16:39:41+00:00","email":null,"federal_tax_id":null,"id":"adr_4378e472e5b711eca118ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"[...]
