---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/insurances
    method: GET
  response:
    body: '{"has_more":true,"insurances":[{"amount":"100.00000","created_at":"2022-05-25T19:38:01Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-25T19:37:59+00:00","email":null,"federal_tax_id":null,"id":"adr_2f378d98dc6211ecb57eac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-25T19:37:59+00:00","verifications":{},"zip":"94107"},"id":"ins_c422bbcd40344ad8bb88cef3234f7ca1","messages":[],"mode":"test","object":"Insurance","provider":"easypost","provider_id":null,"reference":null,"shipment_id":"shp_a7f8eb7dc779416eb3fcca7bcb23b382","status":"purchased","to_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-05-25T19:37:59+00:00","email":null,"federal_tax_id":null,"id":"adr_2f35164edc6211ecb57cac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-05-25T19:38:00+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"tracker":{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":{"city":"CHARLESTON","country":null,"object":"TrackingLocation","state":"SC","zip":"29407"},"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":"2022-04-28T09:32:01Z","object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"NORTH HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77315"},"service":"First-Class
      Package Service"},"created_at":"2022-05-25T19:38:00Z","est_delivery_date":"2022-05-25T19:41:01Z","fees":[],"finalized":true,"id":"trk_daeffc6f7f4a4952a3cee9b620c28c4b","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2RhZWZmYzZmN2Y0YTQ5NTJhM2NlZTliNjIwYzI4YzRi","shipment_id":"shp_a7f8eb7dc779416eb3fcca7bcb23b382","signed_by":"John
      Tester","status":"delivered","status_detail":"arrived_at_destination","tracking_code":"9400100109361120757707","tracking_details":[{"carrier_code":null,"datetime":"2022-04-25T19:41:01Z","description":null,"message":"Pre-Shipment
      Info Sent to USPS","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":null,"datetime":"2022-04-26T08:18:01Z","description":null,"message":"Shipping
      Label Created","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"}},{"carrier_code":null,"datetime":"2022-04-26T18:23:01Z","description":null,"message":"Arrived
   [...]
