---
version: 1
interactions:
- request:
    body: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_ba2a4277eb6e43afb7d994df2b7fba59","object":"Parcel","created_at":"2022-03-03T19:08:59Z","updated_at":"2022-03-03T19:08:59Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f22c6920d48a47fd7bdf25e3bc0dbccd"
      Location:
      - /api/v2/parcels.prcl_ba2a4277eb6e43afb7d994df2b7fba59
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221124bff135a20001f2312
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/parcels/prcl_ba2a4277eb6e43afb7d994df2b7fba59
    method: GET
  response:
    body: '{"id":"prcl_ba2a4277eb6e43afb7d994df2b7fba59","object":"Parcel","created_at":"2022-03-03T19:08:59Z","updated_at":"2022-03-03T19:08:59Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f22c6920d48a47fd7bdf25e3bc0dbccd"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221124bff135a20001f2317
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
