---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-08-19T17:48:12+00:00","email":"TEST@EXAMPLE.COM","federal_tax_id":null,"id":"adr_18a165ab1fe711edbca2ac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-08-19T17:48:13+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-08-19T17:48:12Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-08-19T17:48:12+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_18a312c01fe711ed94b5ac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-08-19T17:48:12+00:00","verifications":{},"zip":"90277"},"id":"shp_3170e76410bf4b9c857b0d4d87301a3c","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-08-19T17:48:12Z","height":4,"id":"prcl_7dd900f7c3ef40bc90f88c5251911e51","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-08-19T17:48:12Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-08-19T17:48:13Z","date_advance":0,"id":"pl_72dd4deef33c4d82816c6750a5b09d75","integrated_form":"none","label_date":"2022-08-19T17:48:13Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220819/ceeb0d66521d4f01899528c0cd797e78.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-08-19T17:48:13Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:48:13Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_efb8e3a94b15402abfa422464c720ed2","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_3170e76410bf4b9c857b0d4d87301a3c","updated_at":"2022-08-19T17:48:13Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:48:13Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_6bc1047399ad480fb9e89d28e2372967","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75"[...]
- request:
    body: '{"shipments":[{"id":"shp_3170e76410bf4b9c857b0d4d87301a3c"}]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/scan_forms
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2022-08-19T17:48:12+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_18a312c01fe711ed94b5ac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-08-19T17:48:12+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_3d9307808eb74b4799f028de804bd4fb","confirmation":null,"created_at":"2022-08-19T17:48:14Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220819/857f0766ad4840e09ca0906f9c4737f3.pdf","id":"sf_31c6dcda6c0c4e9ea61f7d7d1e2f0353","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100109361133884018"],"updated_at":"2022-08-19T17:48:14Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bca8ecc1a7c58be503edf90ab01c1dc2"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccddff246ba100701eb1
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - intlb2wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
