---
version: 1
interactions:
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"id":"cstinfo_f1b5347d93f24494955000a750c6869a","object":"CustomsInfo","created_at":"2022-03-03T19:08:46Z","updated_at":"2022-03-03T19:08:46Z","contents_explanation":null,"contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_b2f33712046044139519ce0fb8a2e1a6","object":"CustomsItem","created_at":"2022-03-03T19:08:46Z","updated_at":"2022-03-03T19:08:46Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47f661a96c0b8ec65d8a925beacbb89e"
      Location:
      - /api/v2/customs_infos/cstinfo_f1b5347d93f24494955000a750c6869a
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123eff135a20001f2029
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/customs_infos/cstinfo_f1b5347d93f24494955000a750c6869a
    method: GET
  response:
    body: '{"id":"cstinfo_f1b5347d93f24494955000a750c6869a","object":"CustomsInfo","created_at":"2022-03-03T19:08:46Z","updated_at":"2022-03-03T19:08:46Z","contents_explanation":null,"contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_b2f33712046044139519ce0fb8a2e1a6","object":"CustomsItem","created_at":"2022-03-03T19:08:46Z","updated_at":"2022-03-03T19:08:46Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"47f661a96c0b8ec65d8a925beacbb89e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123eff135a20001f2035
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
