---
version: 1
interactions:
- request:
    body: '{"order":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"shipments":[{"to_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}],"is_return":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[{"carrier":"UPS","carrier_account_id":"ca_ee74825f4fb64de6b2d2782df384b4a8","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_2dbd13dff1f14fdebb42c7a9b5f45b2b","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_3837b40338d24421aa9fa760d426daf6","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_adda9cf45ed0468eafa9ce36d9186121","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/orders/order_7b293084389b40bf83079d88f0fa4e0f
    method: GET
  response:
    body: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[{"carrier":"UPS","carrier_account_id":"ca_ee74825f4fb64de6b2d2782df384b4a8","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_2dbd13dff1f14fdebb42c7[...]
