---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users
    method: GET
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.03","children":[],"created_at":"2020-05-07T23:43:48Z","default_insurance_amount":null,"email":"REDACTED","has_billing_method":null,"id":"user_a76997d126dd488f8ad22d52301300b0","insurance_fee_minimum":"1.00","insurance_fee_rate":"0.01","name":"EasyPost
      Go Client Tests","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"43b5e99ec4f7546926629af34b4932df"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6d86f1b36297a5e2e786af58001ef906
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206010206-f8352cdc94-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user":{"name":"Test User"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users/user_a76997d126dd488f8ad22d52301300b0
    method: PATCH
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.03","children":[],"created_at":"2020-05-07T23:43:48Z","default_insurance_amount":null,"email":"REDACTED","has_billing_method":null,"id":"user_a76997d126dd488f8ad22d52301300b0","insurance_fee_minimum":"1.00","insurance_fee_rate":"0.01","name":"Test
      User","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e82ae7b8768d187412ab44d9c79b53aa"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6d86f1b36297a5e2e786af58001ef926
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206010206-f8352cdc94-master
    status: 200 OK
    code: 200
    duration: ""
