---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_types
    method: GET
  response:
    body: '[{"fields":{"credentials":{"access_key_id":{"label":"AWS Access Key ID","visibility":"visible"},"merchant_id":{"label":"Seller
      ID","visibility":"visible"},"secret_key":{"label":"Secret Key","visibility":"password"}}},"logo":null,"object":"CarrierType","readable":"Amazon
      MWS","type":"AmazonMwsAccount"},{"fields":{"credentials":{"facility":{"label":"APC
      Facility (e.g., NJ, LA)","visibility":"visible"},"password":{"label":"APC Password","visibility":"password"},"shipper_id":{"label":"APC
      Shipper ID","visibility":"visible"}}},"logo":null,"object":"CarrierType","readable":"APC","type":"ApcAccount"},{"fields":{"credentials":{"account_number":{"label":"Asendia
      Account Number","visibility":"visible"},"company_name":{"label":"Company Name","visibility":"visible"},"epacket":{"label":"ePacket","visibility":"checkbox"},"ftp_password":{"label":"FTP
      Password","visibility":"password"},"ftp_username":{"label":"FTP Username","visibility":"visible"},"internationalexpress":{"label":"International
      Express","visibility":"checkbox"},"ipa":{"label":"IPA","visibility":"checkbox"},"isal":{"label":"ISAL","visibility":"checkbox"},"other":{"label":"Other","visibility":"checkbox"},"pmei":{"label":"PMEI","visibility":"checkbox"},"pmi":{"label":"PMI","visibility":"checkbox"},"prioritytracked":{"label":"Priority
      Tracked","visibility":"checkbox"}}},"logo":null,"object":"CarrierType","readable":"Asendia
      USA (Legacy)","type":"AsendiaAccount"},{"fields":{"credentials":{"account_number":{"label":"AsendiaUsa
      Account Number","visibility":"visible"},"api_key":{"label":"AsendiaUsa API key","visibility":"masked"},"carrier_facility":{"label":"AsendiaUsa
      Carrier Facility / Processing Location (Optional)","visibility":"select"},"password":{"label":"AsendiaUsa
      Password","visibility":"password"},"sub_account_number":{"label":"AsendiaUsa
      Sub Account Number","visibility":"visible"},"username":{"label":"AsendiaUsa
      Username","visibility":"visible"}},"test_credentials":{"account_number":{"label":"Test
      AsendiaUsa Account Number","visibility":"visible"},"api_key":{"label":"Test
      AsendiaUsa API key","visibility":"masked"},"carrier_facility":{"label":"Test
      AsendiaUsa Carrier Facility / Processing Location (Optional)","visibility":"select"},"password":{"label":"Test
      AsendiaUsa Password","visibility":"password"},"sub_account_number":{"label":"Test
      AsendiaUsa Sub Account Number","visibility":"visible"},"username":{"label":"Test
      AsendiaUsa Username","visibility":"visible"}}},"logo":null,"object":"CarrierType","readable":"Asendia
      USA","type":"AsendiaUsaAccount"},{"fields":{"credentials":{"account_number":{"label":"Australia
      Post Account Number","visibility":"visible"},"api_key":{"label":"Australia Post
      API Key","visibility":"masked"},"api_secret":{"label":"Australia Post Secret
      Key","visibility":"password"},"print_as_you_go":{"label":"Print as you go","visibility":"checkbox"}}},"logo":null,"object":"CarrierType","readable":"Australia
      Post","type":"AustraliaPostAccount"},{"fields":{"credentials":{"api_key":{"label":"Client
      Secret","visibility":"masked"}},"test_credentials":{"api_key":{"label":"Client
      Secret","visibility":"masked"}}},"logo":null,"object":"CarrierType","readable":"AxlehireV3","type":"AxlehireV3Account"},{"fields":{"credentials":{"api_key":{"label":"Better
      Trucks API key","visibility":"masked"}},"test_credentials":{"api_key":{"label":"Test
      Better Trucks API key","visibility":"masked"}}},"logo":null,"object":"CarrierType","readable":"Better
      Trucks","type":"BetterTrucksAccount"},{"fields":{"credentials":{"api_key":{"label":"Bond
      API key","visibility":"masked"}},"test_credentials":{"api_key":{"label":"Test
      Bond API key","visibility":"masked"}}},"logo":null,"object":"CarrierType","readable":"Bond","type":"BondAccount"},{"fields":{"credentials":{"api_key":{"label":"CanadaPost
      API Key","visibility":"masked"},"contract_id":{"label":"CanadaPost Contract
      ID (contract customers only)","visibility":"visible"},"customer_number":{"label":"CanadaPost
      Customer Number","visibility":"visible"},"has_credit_card":{"label":"CanadaPost
      account has credit card?","visibility":"checkbox"},"not_platform":{"label":"CanadaPost
      account not registered through platform?","visibility":"invisible"}},"custom_workflow":true,"test_credentials":{"api_key":{"label":"CanadaPost
      Test API Key","visibility":"masked"},"contract_id":{"label":"CanadaPost Test
      Contract ID (contract customers only)","visibility":"visible"},"customer_number":{"label":"CanadaPost
      Test Customer Number","visibility":"visible"},"has_credit_card":{"label":"CanadaPost
      Test account has credit card?","visibility":"checkbox"},"not_platform":{"label":"CanadaPost
      Test account not registered through platform?","visibility":"invisible"}}},"logo":null,"object":"CarrierType","readable":"Canada
      Post","type":"CanadaPostAccount"},{"fields":{"credentials":{"account_number":{"label":"Canpar
      Account Number","visibility":"visible"},"password":{"label":"Canpar Password","visibility":"password"},"username":{"label":"Canpar
      Username","visibility":"visible"}},"test_credentials":{"account_number":{"label":"Test
      Canpar Account Number","visibility":"visible"},"password":{"label":"Test Canpar
      Password","visibility":"password"},"username":{"label":"Test Canpar Username","visibility":"visible"}}},"logo":null,"object":"CarrierType","readable":"Canpar","type":"CanparAccount"},{"fields":{"credentials":{"password":{"label":"CDL
      Last Mile Solutions customer password","visibility":"password"},"tracking_code_prefix":{"label":"CDL
      Last Mile Solutions tracking code prefix","visibility":"visible"},"username":{"label":"CDL
      Last Mile Solutions customer username","visibility":"visible"}},"test_credentials":{"password":{"label":"CDL
      Last Mile Solutions customer test password","visibility":"password"},"tracking_code_prefix":{"label":"CDL
      Last Mile Solutions tracking code prefix","visibility":"visible"},"username":{"label":"CDL
      Last Mile Solutions customer test username","visibility":"v[...]
