---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-09-21T16:18:59+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_192fba5839c911eda1a5ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-21T16:18:59+00:00","verifications":{},"zip":"94107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad58e45aed6ebc6fe11056bb9d9d07b9"
      Location:
      - /api/v2/addresses/adr_192fba5839c911eda1a5ac1f6bc7b362
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3973ec8e8d2900012f1c
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/addresses/adr_192fba5839c911eda1a5ac1f6bc7b362
    method: GET
  response:
    body: '{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-09-21T16:18:59+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_192fba5839c911eda1a5ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-21T16:18:59+00:00","verifications":{},"zip":"94107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ad58e45aed6ebc6fe11056bb9d9d07b9"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3973ec8e8d2900012f3a
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
