---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/trackers?page_size=5
    method: GET
  response:
    body: '{"has_more":true,"trackers":[{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":null,"object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"},"service":"First-Class
      Package Service"},"created_at":"2024-08-02T23:15:45Z","est_delivery_date":"2024-08-02T23:15:45Z","fees":[{"amount":"0.02000","charged":false,"object":"Fee","refunded":false,"type":"TrackerFee"}],"id":"trk_2ab6174da6424db8a9b0e2ff7adf81db","mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrXzJhYjYxNzRkYTY0MjRkYjhhOWIwZTJmZjdhZGY4MWRi","shipment_id":null,"signed_by":null,"status":"pre_transit","status_detail":"status_update","tracking_code":"EZ1000000001","tracking_details":[{"carrier_code":"","datetime":"2024-07-02T23:15:45Z","description":"","message":"Pre-Shipment
      Info Sent to USPS","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":"","datetime":"2024-07-03T11:52:45Z","description":"","message":"Shipping
      Label Created","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"}}],"updated_at":"2024-08-02T23:15:45Z","weight":null},{"carrier":"USPS","carrier_detail":null,"created_at":"2024-08-02T23:15:45Z","est_delivery_date":null,"fees":[{"amount":"0.02000","charged":false,"object":"Fee","refunded":false,"type":"TrackerFee"}],"id":"trk_dce304f9129d46dca6d9d1d136f325e2","mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2RjZTMwNGY5MTI5ZDQ2ZGNhNmQ5ZDFkMTM2ZjMyNWUy","shipment_id":null,"signed_by":null,"status":"error","status_detail":"unknown","tracking_code":"EZ1000000003","tracking_det[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/trackers?before_id=trk_ec400b14a2b24683bb741388dec8bc35&page_size=5
    method: GET
  response:
    body: '{"has_more":true,"trackers":[{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"g[...]
