---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches
    method: GET
  response:
    body: '{"batches":[{"created_at":"2023-11-30T20:10:21Z","id":"batch_f22fb74a118b485ab53ca91d0e8d2c4c","label_url":null,"mode":"test","num_shipments":0,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"created","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2023-11-30T20:10:22Z"}],"has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec2ee7896122001b38ce
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
