---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_types
    method: GET
  response:
    body: '[{"fields":{},"logo":null,"object":"CarrierType","readable":"Amazon MWS","type":"AmazonMwsAccount"},{"fields":{},"logo":null,"object":"CarrierType","readable":"APC","type":"ApcAccount"},{"fields":{},"logo":null,"object":"CarrierType","readable":"Asendia
      USA (Legacy)","type":"AsendiaAccount"},{"fields":{},"logo":null,"object":"CarrierType","readable":"Asendia
      USA","type":"AsendiaUsaAccount"},{"fields":{},"logo":null,"object":"CarrierType","readable":"Australia
      Post","type":"AustraliaPostAccount"},{"fields":{},"logo":null,"object":"CarrierType","readable":"A[...]
