---
version: 1
interactions:
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-09-20T23:28:18Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-09-20T23:28:18Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_3c80d809dfb74da9a1a424c08d094324","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-20T23:28:18Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_9b22bd0a48b74e0180beb681b1edec17","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-09-20T23:28:18Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5845f10dd80913fa815aeda42589ba3d"
      Location:
      - /api/v2/customs_infos/cstinfo_9b22bd0a48b74e0180beb681b1edec17
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c92ec8cdb43001082f2
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
