---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/addresses
    method: GET
  response:
    body: '{"addresses":[{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2023-09-20T18:09:19+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d1802da757e011ee938f3cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-09-20T18:09:19+00:00","verifications":{},"zip":"94107"},{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-09-20T18:09:19+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d17d8a3857e011ee938e3cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-09-20T18:09:19+00:00","verifications":{},"zip":"90277"},{"carrier_facility":nul[...]
