---
version: 1
interactions:
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"id":"cstinfo_fe10fe4c4dfa43e2a911d4cd1685b89a","object":"CustomsInfo","created_at":"2022-05-26T15:05:07Z","updated_at":"2022-05-26T15:05:07Z","contents_explanation":null,"contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_147390161ca948e8bd80c1ec06939968","object":"CustomsItem","created_at":"2022-05-26T15:05:07Z","updated_at":"2022-05-26T15:05:07Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b6f3ef077f0a9bfc998fc7f1725cd83"
      Location:
      - /api/v2/customs_infos/cstinfo_fe10fe4c4dfa43e2a911d4cd1685b89a
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9723e78b9ba7006bb889
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 201 Created
    code: 201
    duration: ""
