---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"insurance":"0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:29Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822556","updated_at":"2022-03-03T19:09:30Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_735f9e019b2511ecbea1ac1f6bc7bdc6","object":"Address","created_at":"2022-03-03T19:09:29+00:00","updated_at":"2022-03-03T19:09:29+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_27c39f1475024be8a96dfce76438eda8","object":"Parcel","created_at":"2022-03-03T19:09:29Z","updated_at":"2022-03-03T19:09:29Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_b67b3e2c98144cbb8d0550a3a43afa24","created_at":"2022-03-03T19:09:29Z","updated_at":"2022-03-03T19:09:30Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T19:09:29Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/e3efac351f084c8384d25154ed2ddd91.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_dfe585b45f174b82a5337059baec3518","object":"Rate","created_at":"2022-03-03T19:09:29Z","updated_at":"2022-03-03T19:09:29Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_ab3d067e6ee54bc39dca6023289a14cc","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_8d26c20bdffd45ed96b1f1f197880663","object":"Rate","created_at":"2022-03-03T19:09:29Z","updated_at":"2022-03-03T19:09:29Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ab3d067e6ee54bc39dca6023289a14cc","carrie[...]
- request:
    body: amount=100
    form:
      amount:
      - "100"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/shipments/shp_ab3d067e6ee54bc39dca6023289a14cc/insure
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:29Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822556","updated_at":"2022-03-03T19:09:30Z","batch_id[...]
