---
version: 1
interactions:
- request:
    body: '{"verify":["delivery"],"address":{"street1":"417 montgomery streat","street2":"FL
      5","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"415-123-4567"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_5427b37e9b2511ecba34ac1f6bc7bdc6","object":"Address","created_at":"2022-03-03T19:08:36+00:00","updated_at":"2022-03-03T19:08:36+00:00","name":null,"company":"EASYPOST","street1":"417
      MONTGOMERY ST STE 500","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1100","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"129c675b7caea030fd1299b4cda52402"
      Location:
      - /api/v2/addresses/adr_5427b37e9b2511ecba34ac1f6bc7bdc6
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 9cb90d0e62211234ff135a20001f1e04
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
