---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/end_shippers
    method: GET
  response:
    body: '{"end_shippers":[{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2022-08-25T15:32:56+00:00","email":"REDACTED","id":"es_bfad05376d144d18a4f1ae56c14d5e88","mode":"production","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-08-25T15:32:56+00:00","zip":"94107-1670"},{"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-08-25T15:32:56+00:00","email":"REDACTED","id":"es_5aebf7b322594630b182072b91132a36","mode":"production","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-08-25T15:32:56+00:00","zip":"94107-1670"},{"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-08-25T15:32:56+00:00","email":"REDACTED","id":"es_91de673d57594edcb48dd70f17841885","mode":"production","name":"CAPTAIN
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-08-25T15:32:56+00:00","zip":"94107-1670"}],"has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"39e42281ec505bbba195c71a7ee09065"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c94ec8cdb430010836d
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
