---
version: 1
interactions:
- request:
    body: '{"order":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"is_return":false,"shipments":[{"from_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}],"to_address":{"city":"Redondo Beach","country":"US","email":"REDACTED","name":"Elizabeth
      Swan","phone":"REDACTED","state":"CA","street1":"179 N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2022-09-21T18:22:19+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_5448b90139da11eda2f1ac1f6bc72124","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T18:22:19+00:00","verifications":{},"zip":"90277"},"created_at":"2022-09-21T18:22:19Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2022-09-21T18:22:19+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_544a2b8039da11eda952ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-21T18:22:19+00:00","verifications":{},"zip":"94107"},"id":"order_0cb05eb1f22a4793a07614ab72959f6e","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Unauthorized.
      Please check credentials and try again","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_16e82f855b9e438b891e7306af0f1eef","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45","service":"Priority","shipment_id":"shp_426798b6b5844b378d350ad44f1cfcf3","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_a717d23971904d47a5d6b0e1d7a15b1b","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipm[...]
- request:
    body: carrier=USPS&service=First
    form:
      carrier:
      - USPS
      service:
      - First
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/orders/order_0cb05eb1f22a4793a07614ab72959f6e/buy
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"REDONDO BEACH","company":null,"country":"US","created_at":"2022-09-21T18:22:19+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_5448b90139da11eda2f1ac1f6bc72124","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":null,"updated_at":"2022-09-21T18:22:20+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2022-09-21T18:22:19Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2022-09-21T18:22:19+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_544a2b8039da11eda952ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      T[...]
