---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T21:38:40Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109838373","updated_at":"2022-03-03T21:38:41Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4adb11e19b3a11ecae4aac1f6bc72124","object":"Address","created_at":"2022-03-03T21:38:40+00:00","updated_at":"2022-03-03T21:38:40+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_7b5d0938c5fc4c91bdb8d6c8915d8015","object":"Parcel","created_at":"2022-03-03T21:38:40Z","updated_at":"2022-03-03T21:38:40Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_1ad7c76559a84cc5b4d9c6378a62b72f","created_at":"2022-03-03T21:38:41Z","updated_at":"2022-03-03T21:38:41Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T21:38:41Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/a2abfd8115984863aff59be415193846.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_6ed6158f422c4910a63fd056b9c7fe4f","object":"Rate","created_at":"2022-03-03T21:38:40Z","updated_at":"2022-03-03T21:38:40Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_86725b6f3a1341b29d87141b526db5f5","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_f5ce14efd3e647b7b081307ef91bb40b","object":"Rate","created_at":"2022-03-03T21:38:40Z","updated_at":"2022-03-03T21:38:40Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_86725b6f3a1341b29d87141b526db5f5","carrie[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/shipments/shp_86725b6f3a1341b29d87141b526db5f5
    method: GET
  response:
    body: '{"created_at":"2022-03-03T21:38:40Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109838373","updated_at":"2022-03-03T21:38:41Z","batch_id":null,"batch_status":null,"batch_message":null,[...]
- request:
    body: '{"refund":{"carrier":"USPS","tracking_codes":"9400100109361109838373"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/refunds
    method: POST
  response:
    body: '[{"id":"rfnd_649ec9199e8e44d69153e393e3835e82","object":"Refund","created_at":"2022-03-03T21:38:42Z","updated_at":"2022-03-03T21:38:42Z","tracking_code":"9400100109361109838373","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_86725b6f3a1341b29d87141b526db5f5"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63055be92574d3189c7fe2398a259328"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 898f4ee062213562ff137be100055701
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
