---
version: 1
interactions:
- request:
    body: '{"end_date":"2022-04-11","start_date":"2022-04-11"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"created_at":"2023-11-30T20:11:40Z","end_date":"2022-04-11","id":"shprep_20e852aff80248709caa58c9d8f0896e","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2023-11-30T20:11:40Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec7ce7896122001b801b
      X-Node:
      - bigweb38nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/reports/shipment/shprep_20e852aff80248709caa58c9d8f0896e
    method: GET
  response:
    body: '{"created_at":"2023-11-30T20:11:40Z","end_date":"2022-04-11","id":"shprep_20e852aff80248709caa58c9d8f0896e","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2023-11-30T20:11:40Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec7ce7896122001b804f
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
