---
version: 1
interactions:
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"id":"cstinfo_a9fc264ce67841bcb1237094cee04510","object":"CustomsInfo","created_at":"2022-05-26T15:05:07Z","updated_at":"2022-05-26T15:05:07Z","contents_explanation":null,"contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_f06b6db4b0414c729b9b2359b435f264","object":"CustomsItem","created_at":"2022-05-26T15:05:07Z","updated_at":"2022-05-26T15:05:07Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0811e51ae68330d9dabfa662e94e91c8"
      Location:
      - /api/v2/customs_infos/cstinfo_a9fc264ce67841bcb1237094cee04510
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9723e78b9ba7006bb89b
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_infos/cstinfo_a9fc264ce67841bcb1237094cee04510
    method: GET
  response:
    body: '{"id":"cstinfo_a9fc264ce67841bcb1237094cee04510","object":"CustomsInfo","created_at":"2022-05-26T15:05:07Z","updated_at":"2022-05-26T15:05:07Z","contents_explanation":null,"contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_f06b6db4b0414c729b9b2359b435f264","object":"CustomsItem","created_at":"2022-05-26T15:05:07Z","updated_at":"2022-05-26T15:05:07Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0811e51ae68330d9dabfa662e94e91c8"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bfa628f9723e78b9ba7006bb8a9
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
