---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/reports/
    method: GET
  response:
    body: '{"error":{"code":"NOT_FOUND","message":"The requested resource could not
      be found.","errors":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211259ff135a20001f2665
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 404 Not Found
    code: 404
    duration: ""
