---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"179 N Harbor Dr","city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","name":"Dr. Steve Brule","phone":"3331114444"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2022-07-28T18:56:56+00:00","email":null,"federal_tax_id":null,"id":"adr_0da032900ea711eda89dac1f6bc7b362","mode":"test","name":"DR.
      STEVE BRULE","object":"Address","phone":"3331114444","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":null,"updated_at":"2022-07-28T18:56:57+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2022-07-28T18:56:56Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-07-28T18:56:56+00:00","email":null,"federal_tax_id":null,"id":"adr_0da1e5440ea711edad06ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-07-28T18:56:56+00:00","verifications":{},"zip":"94107"},"id":"shp_2f344c9c0f1e418ab2d8d0f4cce54eba","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-07-28T18:56:56Z","height":4,"id":"prcl_a70c006088454d8384a1b6931389e2e4","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-07-28T18:56:56Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-07-28T18:56:57Z","date_advance":0,"id":"pl_a556923517974d1c88e86550f6459d86","integrated_form":"none","label_date":"2022-07-28T18:56:57Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/1baadd041b514912b56cb28652f2a881.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-07-28T18:56:57Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-07-28T18:56:57Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_93035fb38f8044568b1a6bbbd9dcafd2","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75","service":"ParcelSelect","shipment_id":"shp_2f344c9c0f1e418ab2d8d0f4cce54eba","updated_at":"2022-07-28T18:56:57Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-07-28T18:56:57Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_7e9b9956cde442c89def84be7733c1ab","list_currency":"USD","list_rate":"5.57","mode":"test","object":"Rate","rate":"5.57","retail_currency":"USD","retail_rate":"5.57"[...]
- request:
    body: '{"carbon_offset":true}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_2f344c9c0f1e418ab2d8d0f4cce54eba/rerate
    method: POST
  response:
    body: '{"rates":[{"id":"rate_472d14e612c0441c914b197df74b997b","object":"Rate","created_at":"2022-07-28T18:56:58Z","updated_at":"2022-07-28T18:56:58Z","mode":"test","service":"Express","carrier":"USPS","rate":"29.50","currency":"USD","retail_rate":"33.55","retail_currency":"USD","list_rate":"29.50","list_currency":"USD","billing_type":"easypost","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2f344c9c0f1e418ab2d8d0f4cce54eba","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","carbon_offset":{"object":"CarbonOffset","grams":36,"price":"0.11","currency":"USD"}},{"id":"rate_031ac4c24cee4650834aa708dd041af9","object":"Rate","created_at":"2022-07-28T18:56:58Z","updated_at":"2022-07-28T18:56:58Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.75","currency":"USD","retail_rate":"7.75","retail_currency":"USD","list_rate":"7.75","list_currency":"USD","billing_type":"easypost","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_2f344c9c0f1e418ab2d8d0f4cce5[...]
[...]
