---
version: 1
interactions:
- request:
    body: '{"shipment":{"reference":"123","to_address":{"street1":"179 N Harbor Dr","city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth Swan","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
      30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"invoice_number":"123","label_format":"PNG"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-08-19T17:48:17+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_1b175b451fe711ed97acac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-08-19T17:48:17+00:00","verifications":{},"zip":"90277"},"created_at":"2022-08-19T17:48:17Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-08-19T17:48:17Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-08-19T17:48:17Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_fccd3624ef564096a1e2361dbf5f3f71","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-08-19T17:48:17Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_8210fbdf5f024ddb9cb585114ebc0a2f","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-08-19T17:48:17Z"},"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2022-08-19T17:48:17+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_1b1943c41fe711ed8ab5ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-08-19T17:48:17+00:00","verifications":{},"zip":"94107"},"id":"shp_954ad2e0ea0f4a55b8f2718d66e355cf","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-08-19T17:48:17Z","height":4,"id":"prcl_e93e05c403f24d28acc80ebbe20b6758","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-08-19T17:48:17Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:48:17Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_a620df710eac4f4b8cfce4782f049a5c","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45","service":"Priority","shipment_id":"shp_954ad2e0ea0f4a55b8f2718d66e355cf","updated_at":"2022-08-19T17:48:17Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:48:17Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_7158cfddb72d42a38fd32e72b2e50d4b","list_currency":"USD","list_rate":"5.57","mode":"test","object":"Rate","rate":"5.57","retail_currency":"USD","retail_rate":"5.57"[...]
- request:
    body: '{"rate":{"id":"rate_7158cfddb72d42a38fd32e72b2e50d4b","object":"Rate","mode":"test","created_at":"2022-08-19T17:48:17Z","updated_at":"2022-08-19T17:48:17Z","service":"First","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","shipment_id":"shp_954ad2e0ea0f4a55b8f2718d66e355cf","rate":"5.57","currency":"USD","retail_rate":"5.57","retail_currency":"USD","list_rate":"5.57","list_currency":"USD","delivery_days":3,"est_delivery_days":3,"billing_type":"easypost"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_954ad2e0ea0f4a55b8f2718d66e355cf/buy
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2022-08-19T17:48:17+00:00","email":"TEST@EXAMPLE.COM","federal_tax_id":null,"id":"adr_1b175b451fe711ed97acac1f6bc7b362","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"5555555555","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":null,"updated_at":"2022-08-19T17:48:17+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2022-08-19T17:48:17Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-08-19T17:48:17Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-08-19T17:48:17Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_fccd3624ef564096a1e2361dbf5f3f71","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-08-19T17:48:17Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_8210fbdf5f024ddb9cb585114ebc0a2f","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-08-19T17:48:17Z"},"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2022-08-19T17:48:17+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_1b1943c41fe711ed8ab5ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-08-19T17:48:17+00:00","verifications":{},"zip":"94107"},"id":"shp_954ad2e0ea0f4a55b8f2718d66e355cf","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-08-19T17:48:17Z","height":4,"id":"prcl_e93e05c403f24d28acc80ebbe20b6758","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-08-19T17:48:17Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-08-19T17:48:18Z","date_advance":0,"id":"pl_e15f1e23a2aa4c9187c3e0984bbc14f2","integrated_form":"none","label_date":"2022-08-19T17:48:18Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220819/8e51b8ac4a0f448ca52c1f7298f04bd5.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-08-19T17:48:18Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-19T17:48:17Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_a620df710eac4f4b8cfce4782f049a5c","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45",[...]
