---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-28T19:16:33+00:00","email":null,"federal_tax_id":null,"id":"adr_d2aa14d9f71611ec9243ac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-28T19:16:33+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-28T19:16:33Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:16:33+00:00","email":null,"federal_tax_id":null,"id":"adr_d2ac2e13f71611ecbcc2ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:16:33+00:00","verifications":{},"zip":"94107"},"id":"shp_c1fc6a33cca0492184fc62656f988344","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-28T19:16:33Z","height":4,"id":"prcl_dd1d3cc26c5542538dad171c3b92ddfe","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-28T19:16:33Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-28T19:16:34Z","date_advance":0,"id":"pl_dcd97c349d1a4339bc6e3f02f533247c","integrated_form":"none","label_date":"2022-06-28T19:16:34Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220628/a988824b7f2c436cb1960e442e1ba70c.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-28T19:16:34Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-28T19:16:33Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_6d5e28d34c244ad6ab8211a9194a34ea","list_currency":"USD","list_rate":"7.22","mode":"test","object":"Rate","rate":"7.22","retail_currency":"USD","retail_rate":"7.22","service":"ParcelSelect","shipment_id":"shp_c1fc6a33cca0492184fc62656f988344","updated_at":"2022-06-28T19:16:33Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-28T19:16:33Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_04a4f8f49f0c42f390df181d358e7af9","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-07-06T00:00:00Z","max_datetime":"2022-07-06T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_c1fc6a33cca0492184fc62656f988344","object":"Shipment","mode":"test","created_at":"2022-06-28T19:16:33Z","updated_at":"2022-06-28T19:16:34Z","to_address":{"id":"adr_d2aa14d9f71611ec9243ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-06-28T19:16:33Z","updated_at":"2022-06-28T19:16:33Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_d2ac2e13f71611ecbcc2ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-06-28T19:16:33Z","updated_at":"2022-06-28T19:16:33Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_d2ac2e13f71611ecbcc2ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-06-28T19:16:33Z","updated_at":"2022-06-28T19:16:33Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_d2aa14d9f71611ec9243ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-06[...]
