---
version: 1
interactions:
- request:
    body: '{"shipment":{"customs_info":{"contents_type":"merchandise","customs_certify":true,"customs_items":[{"description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"weight":11}],"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_type":"none"},"from_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"},"options":{"invoice_number":"123","label_format":"PNG"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"reference":"123","to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-07-23T20:42:21+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_0f58de86493411ef85b3ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-07-23T20:42:21+00:00","verifications":{},"zip":"90277"},"created_at":"2024-07-23T20:42:21Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2024-07-23T20:42:21Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2024-07-23T20:42:21Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_9e25f535cfe84252bf8d120c692c5cbe","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2024-07-23T20:42:21Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_c2848f5bd0b4452f814b428b07d16533","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2024-07-23T20:42:21Z"},"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-07-23T20:42:21+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_0f5a9f28493411efbc613cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-07-23T20:42:21+00:00","verifications":{},"zip":"94107"},"id":"shp_9fa021a939f742f49192af14edbfbe5c","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"shipment.customs_info.customs_items.0.value:
      field required and shipment.customs_info.customs_items.0.code: field required","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2024-07-23T20:42:21Z","height":4,"id":"prcl_b7339d9ca8d141039d8da7953ce95557","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-07-23T20:42:21Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-07-23T20:42:21Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_dcb3f4b5be4a46d2ad42a9be4ca8f2bb","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_9fa021a939f742f49192af14edbfbe5c","updated_at":"2024-07-23T20:42:21Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-07-23T20:42:21Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_44b0d2c8bc214819adc7da90ffdc0824","list_currency":"USD","list_rate":"8.25","mode":"test","object":"Rate","rate":"6.90","retail_currency":"USD","retail_rate":"9.80","service":"Priority","shipment_id":"shp_9fa021a939f742f49192af14edbfbe5c","updated_at":"2024-07-23T20:42:21Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-07-23T20:42:21Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_30779544ad514ffaa9365b3d186c5c18","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_9fa021a939f742f49192af14edbfbe5c","updated_at":"2024-07-23T20:42:21Z"}],"reference":"123","refund_status":null,"return_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-07-23T20:42:21+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_0f5a9f28493411efbc613cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-07-23T20:42:21+00:00","verifications":{},"zip":"94107"},"scan_form":null,"selected_rate":null,"status":"unknown","to_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-07-23T20:42:21+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_0f58de86493411ef85b3ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-07-23T20:42:21+00:00","verifications":{},"zip":"90277"},"tracker":null,"tracking_code":null,"updated_at":"2024-07-23T20:42:21Z","usps_zone":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/shipments/shp_9fa021a939f742f49192af14edbfbe5c
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 98f5faea66a015adf42f248c00230dde
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb1nuq fa152d4755
      X-Version-Label:
      - easypost-202407231832-14d334dc13-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"insurance":"100.00","rate":{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-07-23T20:42:21Z","currency":"USD","delivery_days":3,"est_delivery_days":3,"id":"rate_30779544ad514ffaa9365b3d186c5c18","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_9fa021a939f742f49192af14edbfbe5c","updated_at":"2024-07-23T20:42:21Z"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_9fa021a939f742f49192af14edbfbe5c/buy
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2024-07-23T20:42:21+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_0f58de86493411ef85b3ac1f6bc53342","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":"","updated_at":"2024-07-23T20:42:22+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2024-07-23T20:42:21Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2024-07-23T20:42:21Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2024-07-23T20:42:21Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_9e25f535cfe84252bf8d120c692c5cbe","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2024-07-23T20:42:21Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_c2848f5bd0b4452f814b428b07d16533","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2024-07-23T20:42:21Z"},"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"},{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-07-23T20:42:21+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_0f5a9f28493411efbc613cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address"[...]
- request:
    body: '{"amount":100,"contact_email":"test@example.com","description":"Test description","email_evidence_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"invoice_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"supporting_documentation_attachments":["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],"tracking_code":"9400100110368066410150","type":"damage"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/claims
    method: POST
  response:
    body: '{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/a286dceba155434d9c8236be77041569.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/f5e694f03dec4b95be379d716f5cb5cb.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/c75f8f4d64a548aa8891724d4eb27d11.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-07-23T20:42:22","description":"Test
      description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-07-23T20:42:22"}],"id":"clm_097e094345d74d319a9f252c072e824d","insurance_amount":"100.00","insurance_id":"ins_d25fcb11efcf4f44a1120b527c7c360b","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_9fa021a939f742f49192af14edbfbe5c","status":"submitted","status_detail":"Claim
      was created.","status_timestamp":"2024-07-23T20:42:22","tracking_code":"9400100110368066410150","type":"damage","updated_at":"2024-07-23T20:42:22"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 98f5faea66a015aef42f248c00230f31
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb1nuq fa152d4755
      X-Version-Label:
      - easypost-202407231832-14d334dc13-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/claims/clm_097e094345d74d319a9f252c072e824d
    method: GET
  response:
    body: '{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/a286dceba155434d9c8236be77041569.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/f5e694f03dec4b95be379d716f5cb5cb.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/c75f8f4d64a548aa8891724d4eb27d11.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-07-23T20:42:22","description":"Test
      description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-07-23T20:42:22"}],"id":"clm_097e094345d74d319a9f252c072e824d","insurance_amount":"100.00","insurance_id":"ins_d25fcb11efcf4f44a1120b527c7c360b","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_9fa021a939f742f49192af14edbfbe5c","status":"submitted","status_detail":"Claim
      was created.","status_timestamp":"2024-07-23T20:42:22","tracking_code":"9400100110368066410150","type":"damage","updated_at":"2024-07-23T20:42:22"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 98f5faea66a015aff42f248c0023100a
      X-Node:
      - bigweb32nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb1nuq fa152d4755
      X-Version-Label:
      - easypost-202407231832-14d334dc13-master
    status: 200 OK
    code: 200
    duration: ""
