---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-05-26T15:06:50+00:00","email":null,"federal_tax_id":null,"id":"adr_7889b9fddd0511ec800bac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-05-26T15:06:51+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-05-26T15:06:50Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:06:50+00:00","email":null,"federal_tax_id":null,"id":"adr_788b9e59dd0511eca613ac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-26T15:06:50+00:00","verifications":{},"zip":"94107"},"id":"shp_a8eccae655e84a8a97a0c50cc11fa824","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-05-26T15:06:50Z","height":4,"id":"prcl_3d7049c000354f548a820ac789cfbc06","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-05-26T15:06:50Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-05-26T15:06:51Z","date_advance":0,"id":"pl_739e481bb92f47668775de2e93f84964","integrated_form":"none","label_date":"2022-05-26T15:06:51Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220526/56cd76dc05884f97b370b7a1b2abb4af.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-05-26T15:06:51Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-05-26T15:06:50Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":1,"est_delivery_days":1,"id":"rate_3f12898d36c44b098c66c5ed62c3d4c0","list_currency":"USD","list_rate":"7.37","mode":"test","object":"Rate","rate":"7.37","retail_currency":"USD","retail_rate":"8.70","service":"Priority","shipment_id":"shp_a8eccae655e84a8a97a0c50cc11fa824","updated_at":"2022-05-26T15:06:50Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-05-26T15:06:50Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_51bd60f486544d29a2cf6c77b3d26418","list_currency":"USD","list_rate":"5.49","mode":"test","object":"Rate","rate":"5.49","retail_currency":"USD","retail_rate":"5.49"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-05-27T00:00:00Z","max_datetime":"2022-05-27T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_a8eccae655e84a8a97a0c50cc11fa824","object":"Shipment","mode":"test","created_at":"2022-05-26T15:06:50Z","updated_at":"2022-05-26T15:06:51Z","to_address":{"id":"adr_7889b9fddd0511ec800bac1f6bc72124","object":"Address","mode":"test","created_at":"2022-05-26T15:06:50Z","updated_at":"2022-05-26T15:06:51Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_788b9e59dd0511eca613ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-05-26T15:06:50Z","updated_at":"2022-05-26T15:06:50Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_788b9e59dd0511eca613ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-05-26T15:06:50Z","updated_at":"2022-05-26T15:06:50Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_7889b9fddd0511ec800bac1f6bc72124","object":"Address","mode":"test","created_at":"2022-05[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_de95c459a5dc42e48332d53e31d20e82/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:06:52+00:00","email":null,"federal_tax_id":null,"id":"adr_795d96eddd0511ec8071ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-26T15:06:52+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61804872","created_at":"2022-05-26T15:06:52Z","id":"pickup_de95c459a5dc42e48332d53e31d20e82","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-05-27T00:00:00Z","messages":[],"min_datetime":"2022-05-27T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-05-26T15:06:53Z","currency":"USD","id":"pickuprate_7d455a2a270f4a78a88e7dcc72cd7e21","mode":"test","object":"PickupRate","pickup_id":"pickup_de95c459a5dc42e48332d53e31d20e82","rate":"0.00","service":"NextDay","updated_at":"2022-05-26T15:06:53Z"}],"reference":null,"status":"scheduled","updated_at":"2022-05-26T15:06:54Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9087f1c25c89010ee044585858cd948"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19577bf7628f978de78b9ebf006be918
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      X-Version-Label:
      - easypost-202205252316-1f08f7be53-master
    status: 200 OK
    code: 200
    duration: ""
