---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-20T23:27:58+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_dc4a4821393b11ed842cac1f6bc7b362","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-20T23:27:58+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-20T23:27:58Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-20T23:27:58+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_dc4c4118393b11edb209ac1f6bc72124","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-20T23:27:58+00:00","verifications":{},"zip":"90277"},"id":"shp_16220e2cde9143bab2cc166809978ea2","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-20T23:27:58Z","height":4,"id":"prcl_e5cdd022ba0345a5962ec777561dcd83","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-20T23:27:58Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-20T23:27:58Z","date_advance":0,"id":"pl_d9087eaf6bc14890b2408ac22a7dd64f","integrated_form":"none","label_date":"2022-09-20T23:27:58Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220920/f6e7b93063454dbb872fbe74082d36d9.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-20T23:27:58Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:27:58Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_4959879ca4f24339a47a0c74987b644b","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75","service":"ParcelSelect","shipment_id":"shp_16220e2cde9143bab2cc166809978ea2","updated_at":"2022-09-20T23:27:58Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:27:58Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_37435a8181d649d3b86791ff35f61598","list_currency":"USD","list_rate":"5.57","mode":"test","object":"Rate","rate":"5.57","retail_currency":"USD","retail_rate":"5.57"[...]
[...]
- request:
    body: '{"batch":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:00Z","id":"batch_7d095c7f36ba451b858b78758c240da9","label_url":null,"mode":"test","num_shipments":0,"object":"EasyPost::Entity::Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"created","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c925781699a6ebf7213c7ce511596d12"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c80ec8cdb4300107d85
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":{"0":"shp_16220e2cde9143bab2cc166809978ea2","1":"shp_5511fea195ed4b4685137bfd1404603f"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/batch_7d095c7f36ba451b858b78758c240da9/add_shipments
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:00Z","id":"batch_7d095c7f36ba451b858b78758c240da9","label_url":null,"mode":"test","num_shipments":2,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"postage_purchased","id":"shp_16220e2cde9143bab2cc166809978ea2","reference":null,"tracking_code":"9400100109361138553346"},{"batch_message":null,"batch_status":"postage_purchased","id":"shp_5511fea195ed4b4685137bfd1404603f","reference":null,"tracking_code":"9400100109361138553353"}],"state":"created","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":2,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93dfbc455ac3471d488cfc1e674f1a1c"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c80ec8cdb4300107d93
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":{"0":"shp_16220e2cde9143bab2cc166809978ea2","1":"shp_5511fea195ed4b4685137bfd1404603f"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/batch_7d095c7f36ba451b858b78758c240da9/remove_shipments
    method: POST
  response:
    body: '{"created_at":"2022-09-20T23:28:00Z","id":"batch_7d095c7f36ba451b858b78758c240da9","label_url":null,"mode":"test","num_shipments":0,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"purchased","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-20T23:28:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2ec380e5cf35ee0c0979a9789a21a73"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c80ec8cdb4300107daf
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
