---
version: 1
interactions:
- request:
    body: '{"parcel":{"height":4,"length":10,"weight":15.4,"width":8}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"created_at":"2022-09-21T18:22:27Z","height":4,"id":"prcl_d80b5990a83c41a9b9f6db9975fb5318","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-21T18:22:27Z","weight":15.4,"width":8}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6cbc11226cae61e0f59a852b25f4b4d9"
      Location:
      - /api/v2/parcels.prcl_d80b5990a83c41a9b9f6db9975fb5318
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5663ec7d9989000da205
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/parcels/prcl_d80b5990a83c41a9b9f6db9975fb5318
    method: GET
  response:
    body: '{"created_at":"2022-09-21T18:22:27Z","height":4,"id":"prcl_d80b5990a83c41a9b9f6db9975fb5318","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-21T18:22:27Z","weight":15.4,"width":8}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6cbc11226cae61e0f59a852b25f4b4d9"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5663ec7d9989000da237
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
