---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:08Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361109822389","updated_at":"2022-03-03T19:09:08Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_66b710069b2511eca7caac1f6bc7b362","object":"Address","created_at":"2022-03-03T19:09:08+00:00","updated_at":"2022-03-03T19:09:08+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ed239498635e4a959a93a847a395acd0","object":"Parcel","created_at":"2022-03-03T19:09:08Z","updated_at":"2022-03-03T19:09:08Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_5a5f4c594d344ff2baee2d4debe93c11","created_at":"2022-03-03T19:09:08Z","updated_at":"2022-03-03T19:09:08Z","date_advance":0,"integrated_form":"none","label_date":"2022-03-03T19:09:08Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220303/42e4b40ff21f42c2a1bec65793b2baec.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_b47c7b8eed8b43b2a35c2663ddea0c40","object":"Rate","created_at":"2022-03-03T19:09:08Z","updated_at":"2022-03-03T19:09:08Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_80d1b56c90bb4f56bfb9e93ea20df285","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_d8440af68de84d12bd40aae9f8ceb7da","object":"Rate","created_at":"2022-03-03T19:09:08Z","updated_at":"2022-03-03T19:09:08Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_80d1b56c90bb4f56bfb9e93ea20df285","ca[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-03-04T14:09:08.858381-05:00","max_datetime":"2022-03-05T14:09:08.858382-05:00","instructions":"Pickup
      at front door","shipment":{"id":"shp_80d1b56c90bb4f56bfb9e93ea20df285","object":"Shipment","mode":"test","created_at":"2022-03-03T19:09:08Z","updated_at":"2022-03-03T19:09:08Z","to_address":{"id":"adr_66b53f369b2511eca022ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-03-03T19:09:08Z","updated_at":"2022-03-03T19:09:08Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_66b710069b2511eca7caac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-03-03T19:09:08Z","updated_at":"2022-03-03T19:09:08Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_66b710069b2511eca7caac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-03-03T19:09:08Z","updated_at":"2022-03-03T19:09:08Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_66b53f369b2511eca022ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-03-03T19:09:08Z","updated_at":"2022-03-03T19:09:08Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
