---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","quantity":2,"weight":11,"hs_tariff_number":"654321","origin_country":"US"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"code":null,"created_at":"2022-09-20T23:32:08Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_8c582a1469b84064a95d2ac5b896e50d","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-20T23:32:08Z","value":null,"weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a17af24fd1db162de28b5f4dc7a1de9"
      Location:
      - /api/v2/customs_items/cstitem_8c582a1469b84064a95d2ac5b896e50d
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 1ccf69c4632a4d78eca0ad8a0012278c
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
