---
version: 1
interactions:
- request:
    body: '{"order":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"shipments":[{"to_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}],"is_return":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-11T20:32:59Z","updated_at":"2022-04-11T20:32:59Z","customs_info":null,"from_address":{"id":"adr_93c08013b9d611ecb6bbac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:32:59+00:00","updated_at":"2022-04-11T20:32:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_93bf40f2b9d611ecb6baac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:32:59+00:00","updated_at":"2022-04-11T20:32:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_93bf40f2b9d611ecb6baac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:32:59+00:00","updated_at":"2022-04-11T20:32:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_93c08013b9d611ecb6bbac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:32:59+00:00","updated_at":"2022-04-11T20:32:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-04-11T20:32:59Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-04-11T20:32:59Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_93c08013b9d611ecb6bbac1f6bc7bdc6","object":"Address","created_at":"2022-04-11T20:32:59+00:00","updated_at":"2022-04-11T20:32:59+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_7fe1b000d5114e978ab3895e43193ad0","parcel":{"id":"prcl_78f238f71cba4b05a60b82fa97ee6df4","object":"Parcel","created_at":"2022-04-11T20:32:59Z","updated_at":"2022-04-11T20:32:59Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_6b029dfa434640bdb94f3e3629fa4407","object":"Rate","created_at":"2022-04-11T20:32:59Z","updated_at":"2022-04-11T20:32:59Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_d69b1dda06f547bd9fd50b60c5f7e7cd","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_cbb008c371f34323b56edd37704e58dd","object":"Rate","created_at":"2022-04-11T20:32:59Z","updated_at":"2022-04-11T20:32:59Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d69b1dda06f547bd9fd50b60c5f7e7cd","carrie[...]
