---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-02-26","end_date":"2022-02-27"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment_invoice
    method: POST
  response:
    body: '{"id":"shpinvrep_35c2edafbadf44eaaa9d2c152ecaa728","object":"ShipmentInvoiceReport","created_at":"2022-03-03T19:09:15Z","updated_at":"2022-03-03T19:09:15Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"41f9752879ca346f414da3147346db76"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125bff135a20001f26c2
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/reports/shipment_invoice/shpinvrep_35c2edafbadf44eaaa9d2c152ecaa728
    method: GET
  response:
    body: '{"id":"shpinvrep_35c2edafbadf44eaaa9d2c152ecaa728","object":"ShipmentInvoiceReport","created_at":"2022-03-03T19:09:15Z","updated_at":"2022-03-03T19:09:15Z","start_date":"2022-02-26","end_date":"2022-02-27","mode":"test","status":"empty","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5707b094b5e2b52a02fb51d88b8b1ffd"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 9cb90d0e6221125bff135a20001f26c8
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
