---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T16:19:43+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_338e93a039c911ed98b7ac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T16:19:43+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-21T16:19:43Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-21T16:19:43+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_339096f139c911ed9be9ac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T16:19:43+00:00","verifications":{},"zip":"90277"},"id":"shp_b19abd6b3244441a989f8c052e9998db","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-21T16:19:43Z","height":4,"id":"prcl_8ea66ee82771497f86d257fcaa193c0e","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-21T16:19:43Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-21T16:19:43Z","date_advance":0,"id":"pl_300946e9e6344ea48b50fd3cdba3c497","integrated_form":"none","label_date":"2022-09-21T16:19:43Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220921/663a368392e54e64be223a1c71e6bef7.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-21T16:19:44Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-21T16:19:43Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_6dc4ba4ee57c4cf4bd5d9b8caba1cbfc","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_b19abd6b3244441a989f8c052e9998db","updated_at":"2022-09-21T16:19:43Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-21T16:19:43Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_52de0b3d09d74b30817e6c56e935d15c","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75"[...]
- request:
    body: '{"shipments":[{"id":"shp_b19abd6b3244441a989f8c052e9998db"}]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/scan_forms
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2022-09-21T16:19:43+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_339096f139c911ed9be9ac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T16:19:43+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_ee87a87e29c34c58aceed07980ba00b5","confirmation":null,"created_at":"2022-09-21T16:19:44Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220921/61ce4fc177c04469b94caa0442e14b7b.pdf","id":"sf_fbc8d8ceb26a47efb32ffe66b6db44af","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100109361138693318"],"updated_at":"2022-09-21T16:19:44Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f7c90e713f69483316064f36a6287837"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b39a0ec8e8d29000147ea
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/scan_forms/sf_fbc8d8ceb26a47efb32ffe66b6db44af
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2022-09-21T16:19:43+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_339096f139c911ed9be9ac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"RE[...]
