---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]},null]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_0d9d9099a3b445f688dac0bb4e0e3e4b","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-03-09T20:03:59Z","updated_at":"2022-03-09T20:03:59Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36b68bd9b4feb8c4e8361354a2ccb5f1"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - aa457d286229082fff223a2500772590
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - extlb1nuq 88c34981dc
      X-Version-Label:
      - easypost-202203091837-b9ce1b6b0d-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/batches/batch_0d9d9099a3b445f688dac0bb4e0e3e4b
    method: GET
  response:
    body: '{"id":"batch_0d9d9099a3b445f688dac0bb4e0e3e4b","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-03-09T20:03:59Z","updated_at":"2022-03-09T20:03:59Z","scan_form":null,"shipments":[{"batch_status":"created","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_727eb8afc4a149b0b488060e993db804"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0cc888518e3e8958b7bbfffe4ed901eb"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - aa457d286229082fff223a250077259c
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - extlb1nuq 88c34981dc
      X-Version-Label:
      - easypost-202203091837-b9ce1b6b0d-master
    status: 200 OK
    code: 200
    duration: ""
