---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-05-05T21:33:42Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117993156","updated_at":"2022-05-05T21:33:43Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_090e2434ccbb11ecbfd3ac1f6bc7bdc6","object":"Address","created_at":"2022-05-05T21:33:42+00:00","updated_at":"2022-05-05T21:33:42+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_7b7b2b8ae34f40b6860e97ff6769e77a","object":"Parcel","created_at":"2022-05-05T21:33:42Z","updated_at":"2022-05-05T21:33:42Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_281d178eb8bd4cb08a090980e20ebd66","created_at":"2022-05-05T21:33:42Z","updated_at":"2022-05-05T21:33:43Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-05T21:33:42Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220505/6b22855db24f4807b3669fac7d27ac33.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_7161af986a234c7088b3d9bf93ac9d52","object":"Rate","created_at":"2022-05-05T21:33:42Z","updated_at":"2022-05-05T21:33:42Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_36ab2631b7d346aaa03dc52039bbef56","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_e8bedc2864ec4d0cafbf13bcb116537d","object":"Rate","created_at":"2022-05-05T21:33:42Z","updated_at":"2022-05-05T21:33:42Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_36ab2631b7d346aaa03dc52039bbef56","carrier_ac[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-05-09T00:00:00Z","max_datetime":"2022-05-09T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_36ab2631b7d346aaa03dc52039bbef56","object":"Shipment","mode":"test","created_at":"2022-05-05T21:33:42Z","updated_at":"2022-05-05T21:33:43Z","to_address":{"id":"adr_090bc69fccbb11ecb508ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-05-05T21:33:42Z","updated_at":"2022-05-05T21:33:42Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_090e2434ccbb11ecbfd3ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-05-05T21:33:42Z","updated_at":"2022-05-05T21:33:42Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_090e2434ccbb11ecbfd3ac1f6bc7bdc6","object":"Address","mode":"test","created_at":"2022-05-05T21:33:42Z","updated_at":"2022-05-05T21:33:42Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_090bc69fccbb11ecb508ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-05-05T21:33:42Z","updated_at":"2022-05-05T21:33:42Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_37653187a35445b29d61b6e66497c79d/buy
    method: POST
  response:
    body: '{"id":"pickup_37653187a35445b29d61b6e66497c79d","object":"Pickup","created_at":"2022-05-05T21:33:43Z","updated_at":"2022-05-05T21:33:44Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2022-05-09T00:00:00Z","max_datetime":"2022-05-09T00:00:00Z","is_account_address":false,"instructions":"Pickup
      at front door","messages":[],"confirmation":"WTC61777704","address":{"id":"adr_099fbddcccbb11ecb519ac1f6bc72124","object":"Address","created_at":"2022-05-05T21:33:43+00:00","updated_at":"2022-05-05T21:33:43+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-05T21:33:43Z","updated_at":"2022-05-05T21:33:43Z","carrier":"USPS","pickup_id":"pickup_37653187a35445b29d61b6e66497c79d","id":"pickuprate_9294bb5d14964e5590ac37037906fedb","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9da050924d741953411816235bc84297"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 844d31c8627442b8e787d5a5003e28b3
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      X-Version-Label:
      - easypost-202205052025-12b8594e25-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/pickups/pickup_37653187a35445b29d61b6e66497c79d/cancel
    method: POST
  response:
    body: '{"id":"pickup_37653187a35445b29d61b6e66497c79d","object":"Pickup","created_at":"2022-05-05T21:33:43Z","updated_at":"2022-05-05T21:33:45Z","mode":"test","status":"canceled","reference":null,"min_datetime":"2022-05-09T00:00:00Z","max_datetime":"2022-05-09T00:00:00Z","is_account_address":false,"instructions":"Pickup
   [...]
