---
version: 1
interactions:
- request:
    body: '{"shipment":{"reference":"123","to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"customs_info":{"eel_pfc":"NOEEI
      30.37(a)","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
      Brule","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"Sweet
      shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}]},"options":{"invoice_number":"123","label_format":"PNG"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:20Z","is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_2dbd13dff1f14fdebb42c7a9b5f45b2b","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_82e3beda2f6641299205a7d1779fc7ad","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_024286b898e346f4b17de43a0677fc7d","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_9bf8286878e8466ba03a563a5f2db15a","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_[...]
- request:
    body: '{"rate":{"id":"rate_2b96c6dbe7f148beba0f91a11ed31b34","object":"Rate","mode":"test","created_at":"2022-03-03T19:09:21Z","updated_at":"2022-03-03T19:09:21Z","service":"First","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","shipment_id":"shp_fe047ca320004663b01f74a85305827c","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_fe047ca320004663b01f74a85305827c/buy
    method: POST
  response:
    body: '{"created_at":"2022-03-03T19:09:20Z","is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_2dbd13dff1f14fdebb42c7a9b5f45b2b","type":"rate_error","message":"Invalid
      Access License number"},{"carrier":"UPS","carrier_account_id":"ca_82e3beda2f6641299205a7d1779fc7ad","type":"[...]
