---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"GroundAdvantage","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:15:34+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_1ee81899512511efa864ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:15:34+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2024-08-02T23:15:34Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:34+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_1eeb02a6512511ef8942ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:34+00:00","verifications":{},"zip":"90277"},"id":"shp_842d83c73e4b46f4a84e26e87fdb0f58","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2024-08-02T23:15:34Z","height":4,"id":"prcl_d0a62bed75ae438284400a18d0cda117","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:15:34Z","weight":15.4,"width":8},"postage_label":{"created_at":"2024-08-02T23:15:35Z","date_advance":0,"id":"pl_88a0a1873a804c7986c636e16cda4473","integrated_form":"none","label_date":"2024-08-02T23:15:35Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240802/e81639462c077546899f4a26faa924b3a7.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2024-08-02T23:15:35Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:34Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_cd342ee9670d4c4ea7c42c495f003353","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_842d83c73e4b46f4a84e26e87fdb0f58","updated_at":"2024-08-02T23:15:34Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:34Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_651d84a2d84246978cf06f44414f1dfc","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_842d83c73e4b46f4a84e26e87fdb0f58","updated_at":"2024-08-02T23:15:34Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:34Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_455cb83af43b4d538d4b55b637ef5f36","list_currency":"USD","list_rate":"8.25","mode":"test","object":"Rate","rate":"6.90","retail_currency":"USD","retail_rate":"9.80","service":"Priority","shipment_id":"shp_842d83c73e4b46f4a84e26e87fdb0f58","updated_at":"2024-08-02T23:15:34Z"}],"reference":null,"refund_status":null,"return_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:34+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_1eeb02a6512511ef8942ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:34+00:00","verifications":{},"zip":"90277"},"scan_form":null,"selected_rate":{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:35Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_cd342ee9670d4c4ea7c42c495f003353","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_842d83c73e4b46f4a84e26e87fdb0f58","updated_at":"2024-08-02T23:15:35Z"},"status":"unknown","to_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:15:34+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_1ee81899512511efa864ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:15:34+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"tracker":{"carrier":"USPS","carrier_detail":null,"created_at":"2024-08-02T23:15:35Z","est_delivery_date":null,"fees":[],"id":"trk_5d4c5abf898044e59136394fe0c1f450","mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrXzVkNGM1YWJmODk4MDQ0ZTU5MTM2Mzk0ZmUwYzFmNDUw","shipment_id":"shp_842d83c73e4b46f4a84e26e87fdb0f58","signed_by":null,"status":"unknown","status_detail":"unknown","tracking_code":"9400100110368070372208","tracking_details":[],"updated_at":"2024-08-02T23:15:35Z","weight":null},"tracking_code":"9400100110368070372208","updated_at":"2024-08-02T23:15:35Z","usps_zone":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/shipments/shp_842d83c73e4b46f4a84e26e87fdb0f58
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6896f440b8c700377001
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"form":{"type":"return_packing_slip"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_842d83c73e4b46f4a84e26e87fdb0f58/forms
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:15:34+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_1ee81899512511efa864ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2024-08-02T23:15:34+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2024-08-02T23:15:34Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[{"created_at":"2024-08-02T23:15:35Z","form_type":"return_packing_slip","form_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/form/20240802/f563350753bd4da5af1e527c4d79c09c.pdf","id":"form_71b35165d3294cc0bc44ab019b4ee6ce","mode":"test","object":"Form","submitted_electronically":null,"updated_at":"2024-08-02T23:15:36Z"}],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:34+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_1eeb02a6512511ef8942ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:34+00:00","verific[...]
- request:
    body: '{"form":{"barcode":"RMA12345678900","line_items":[{"product":{"barcode":"855658003251","title":"Square
      Reader"},"units":8}],"type":"return_packing_slip"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments/shp_842d83c73e4b46f4a84e26e87fdb0f58/forms
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:15:34+00:00","email":"REDACTED","federa[...]
