---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/addresses?page_size=5
    method: GET
  response:
    body: '{"addresses":[{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-08-02T23:14:50+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_0495c68c512511efa207ac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:14:50+00:00","verifications":{},"zip":"90277"},{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:14:50+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_049354d6512511efb25d3cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:14:50+00:00","verifications":{},"zip":"94107"},{"carrier_facility":n[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/addresses?before_id=adr_fe631eb4512411efb1393cecef1b359e&page_size=5
    method: GET
  response:
    body: '{"addresses":[{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-08-02T23:14:38+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fdaf749e512411efa0bcac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:14:38+00:00","verifications":{},"zip":"90277"},{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:14:38+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fdad206f512411efb1c0ac1f6bc539aa","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2024-08-02T23:14:39+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:14:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fc0ec204512411efb15cac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:14:36+00:00"[...]
