---
version: 1
interactions:
- request:
    body: '{"user":{"name":"Test User"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users
    method: POST
  response:
    body: '{"api_keys":[{"active":true,"created_at":"2023-11-30T20:12:10Z","id":"ak_ba13234fc6bd43a4b03ec0a819275c5b","key":"REDACTED","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2023-11-30T20:12:10Z","id":"ak_be10e59e6e564073b3be32cd86e4bcc0","key":"REDACTED","mode":"production","object":"ApiKey"}],"children":[],"created_at":"2023-11-30T20:12:10Z","default_carbon_offset":false,"has_elevate_access":false,"id":"user_fea59601143a43538d923e3ff06f4e02","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec9ae7896122001b9caf
      X-Node:
      - bigweb34nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users/user_fea59601143a43538d923e3ff06f4e02
    method: DELETE
  response:
    body: ""
    headers:
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec9be7896122001b9dad
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 204 No Content
    code: 204
    duration: ""
