---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/beta/metadata%3Fcarriers=usps&types=service_levels,predefined_packages
    method: GET
  response:
    body: '{"error":{"code":"NOT_FOUND","errors":[],"message":"The requested resource
      could not be found."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 481ca07d643eff04e7885500000aecfe
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq a29e4ad05c
      - extlb1nuq a29e4ad05c
      X-Version-Label:
      - easypost-202304181954-9fae929cfd-master
    status: 404 Not Found
    code: 404
    duration: ""
