---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/reports/shipment
    method: GET
  response:
    body: '{"has_more":true,"reports":[{"created_at":"2022-05-25T19:37:48Z","end_date":"2022-04-11","id":"shprep_aec743e692264754b4dc3702738aab28","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-05-25T19:37:48Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220525/6fb9da3abba54bd193454d9d665d378d.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220526%2Fus-west-2%2Fs3%2Faws4_request\u0026X-Amz-Date=20220526T150526Z\u0026X-Amz-Expires=30\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=c710720226f03f21073ece1bc028e56c6997a4e757143bf943d486047a9ad5c2","url_expires_at":"2022-05-26T15:05:56Z"},{"created_at":"2022-05-25T19:37:48Z","end_date":"2022-04-11","id":"shprep_152c5a4191e24a6ab997a51fd6caa5b4","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-05-25T19:37:48Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220525/2bf0d4246d1040b4b7d07d8de9929d56.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220526%2Fus-wes[...]
