---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","quantity":2,"value":"23","weight":11,"hs_tariff_number":"654321","origin_country":"US"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"id":"cstitem_a1ecee2a76954793a4ec51c591060c88","object":"CustomsItem","created_at":"2022-03-03T19:08:46Z","updated_at":"2022-03-03T19:08:46Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d2a0b7967167ecc69d1000a42c754dc3"
      Location:
      - /api/v2/customs_items/cstitem_a1ecee2a76954793a4ec51c591060c88
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123eff135a20001f2042
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/customs_items/cstitem_a1ecee2a76954793a4ec51c591060c88
    method: GET
  response:
    body: '{"id":"cstitem_a1ecee2a76954793a4ec51c591060c88","object":"CustomsItem","created_at":"2022-03-03T19:08:46Z","updated_at":"2022-03-03T19:08:46Z","description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d2a0b7967167ecc69d1000a42c754dc3"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123eff135a20001f2048
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
