---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/scan_forms
    method: GET
  response:
    body: '{"has_more":false,"scan_forms":[{"address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2023-11-30T20:10:23+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_7e9980198fbc11eea8213cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2023-11-30T20:10:23+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_0f1512b0b2ab4b59a008ce06e209c6c1","confirmation":null,"created_at":"2023-11-30T20:10:28Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20231130/e878f8b1185e1c41098852d50aa6e9fa73.pdf","id":"sf_f39d531b6e7a4ed79e61f90a4ea03608","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100105442287382941"],"updated_at":"2023-11-30T20:10:29Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec7de7896122001b80c7
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
