---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"388 Townsend St","street2":"Apt
      20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_6cb1d95bf6444800af162b202213ab1c","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-06-14T19:29:55Z","updated_at":"2022-06-14T19:29:55Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e538b434fea1b724c2326c2f7b11594a"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 51cd47ef62a8e1b3e786afbc004652dd
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches/batch_6cb1d95bf6444800af162b202213ab1c/buy
    method: POST
  response:
    body: '{"id":"batch_6cb1d95bf6444800af162b202213ab1c","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-06-14T19:29:55Z","updated_at":"2022-06-14T19:29:55Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_72f5fff60bbf45b4904989ac0ee43bc8"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"08483c6f68762cacf6038ebfc2d2af12"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 51cd47ef62a8e1b3e786afbc004652f1
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb2nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: file_format=ZPL
    form:
      file_format:
      - ZPL
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/batches/batch_6cb1d95bf6444800af162b202213ab1c/label
    method: POST
  response:
    body: '{"id":"batch_6cb1d95bf6444800af162b202213ab1c","object":"Batch","mode":"test","state":"label_generating","num_shipments":1,"reference":null,"created_at":"2022-06-14T19:29:55Z","updated_at":"2022-06-14T19:30:01Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361123673530","id":"shp_72f5fff60bbf45b4904989ac0ee43bc8"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"eab1c78e616254cbba45b16a05530ba3"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 51cd47ef62a8e1b8e786afbc00465528
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 0910011e7e
      - extlb2nuq 0910011e7e
      X-Version-Label:
      - easypost-202206132308-7d97d52c17-master
    status: 200 OK
    code: 200
    duration: ""
