---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/api_keys
    method: GET
  response:
    body: '{"children":[{"children":[],"id":"user_5f0c48e7a66b42398740b0149b1bb24c","keys":[{"active":true,"created_at":"2023-09-20T18:01:26Z","id":"ak_88e217ee1f0c483c80f7ab83de73bb5b","key":"REDACTED","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2023-09-20T18:01:26Z","id":"ak_62c5b384a6b1422bb0b99f5578ba59ee","key":"REDACTED","mode":"production","object":"ApiKey"}]},{"children":[],"id":"user_97f56192c53d490aa7851087b88618a4","keys":[{"active":true,"created_at":"2023-09-20T18:09:24Z","id":"ak_ef2cf7363e65470e9ae62a9f8656adf7","key":"REDACTED","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2023-09-20T18:09:24Z","id":"ak_e19b18ca12f14ab78c5fdd80e8697bad","key":"REDACTED","mode":"production","object":"ApiKey"}]}],"id":"user_a76997d126dd488f8ad22d52301300b0","keys":[{"active":true,"created_at":"2022-02-24T20:56:44Z","id":"ak_67dc6b8292554e67aa2134f9ca6a314a","key":"REDACTED","mode":"production","object":"ApiKey"},{"active":true,"created_at":"2022-02-24T20:56:47Z","id":"ak_c3114bfc14c24041b04f959a1f364924","key":"REDACTED","mode":"test","object":"ApiKey"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec2ae7896122001b34cc
      X-Node:
      - bigweb39nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
