---
version: 1
interactions:
- request:
    body: '{"payment_log_id":"paylog_..."}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/beta/referral_customers/refunds
    method: POST
  response:
    body: '{"error":{"code":"TRANSACTION.DOES_NOT_EXIST","errors":[],"message":"We
      could not find a transaction with that id."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 994e51ba63bc4d3de79a8767001bd8da
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202301070110-985e8fd384-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
