---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/carrier_accounts
    method: GET
  response:
    body: '[{"id":"ca_e606176ddb314afe896733636dba2f3b","object":"CarrierAccount","type":"UspsAccount","clone":false,"created_at":"2020-05-07T23:43:48Z","updated_at":"2020-05-08T02:33:20Z","description":"USPS
      Account","reference":null,"readable":"USPS","logo":null,"fields":{"credentials":{"company_name":{"visibility":"visible","label":"Account
      Holder Name","value":""},"address_street":{"visibility":"visible","label":"Street
      Address","value":""},"address_city":{"visibility":"visible","label":"City","value":""},"address_state":{"visibility":"visible","label":"State","value":""},"address_zip":{"visibility":"visible","label":"ZIP
      Code","value":""},"phone":{"visibility":"visible","label":"Phone Number","value":""},"email":{"visibility":"visible","label":"Email
      Address","value":null},"shipper_id":{"visibility":"visible","label":"Shipper
      Identifier (Optional)","value":""}}},"credentials":{"company_name":"","address_street":"","address_city":"","address_state":"","address_zip":"","phone":"","email":null,"shipper_id":""},"test_credentials":null},{"id":"ca_e64063166bfe4e92a45c959dc9a720aa","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-02-28T21:43:34Z","updated_at":"2022-02-28T21:43:34Z","description":"UPS
      Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
      Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null},{"id":"ca_e2e30792c1b84bc2b863dbea38b0b80f","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-03-01T19:59:36Z","updated_at":"2022-03-01T19:59:36Z","description":"UPS
      Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
      Account Num[...]
