---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-05-05T21:33:39Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117993149","updated_at":"2022-05-05T21:33:40Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_071463eeccbb11ec9ab0ac1f6bc7b362","object":"Address","created_at":"2022-05-05T21:33:39+00:00","updated_at":"2022-05-05T21:33:39+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_dad21e1ac908457f86aacc170d662dbf","object":"Parcel","created_at":"2022-05-05T21:33:39Z","updated_at":"2022-05-05T21:33:39Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_11720b89fdcb40a98ff57b6f18b3fc58","created_at":"2022-05-05T21:33:39Z","updated_at":"2022-05-05T21:33:39Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-05T21:33:39Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220505/516f088fab78401b9a568112a045abb3.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_eda1e1398dd44b74bcf2bb384421c6f4","object":"Rate","created_at":"2022-05-05T21:33:39Z","updated_at":"2022-05-05T21:33:39Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_fcb331cab1e9420d864e8c811fcf2fd2","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_2fc5ba8fe6074879a57340a6bdbe67d7","object":"Rate","created_at":"2022-05-05T21:33:39Z","updated_at":"2022-05-05T21:33:39Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_fcb331cab1e9420d864e8c811fcf2fd2","carrie[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-05-09T00:00:00Z","max_datetime":"2022-05-09T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_fcb331cab1e9420d864e8c811fcf2fd2","object":"Shipment","mode":"test","created_at":"2022-05-05T21:33:39Z","updated_at":"2022-05-05T21:33:40Z","to_address":{"id":"adr_071252afccbb11eca00fac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-05-05T21:33:39Z","updated_at":"2022-05-05T21:33:39Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_071463eeccbb11ec9ab0ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-05-05T21:33:39Z","updated_at":"2022-05-05T21:33:39Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_071463eeccbb11ec9ab0ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-05-05T21:33:39Z","updated_at":"2022-05-05T21:33:39Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_071252afccbb11eca00fac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-05-05T21:33:39Z","updated_at":"2022-05-05T21:33:39Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_e7a0ba7012454eb887d8a2f03be0f163/buy
    method: POST
  response:
    body: '{"id":"pickup_e7a0ba7012454eb887d8a2f03be0f163","object":"Pickup","created_at":"2022-05-05T21:33:40Z","updated_at":"2022-05-05T21:33:42Z","mode":"test","status":"scheduled","reference":null,"min_datetime":"2022-05-09T00:00:00Z","max_datetime":"2022-05-09T00:00:00Z","is_account_address":false,"instructions":"Pickup
      at front door","messages":[],"confirmation":"WTC61777702","address":{"id":"adr_07b6fe4accbb11eca030ac1f6b0a0d1e","object":"Address","created_at":"2022-05-05T21:33:40+00:00","updated_at":"2022-05-05T21:33:40+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-05T21:33:41Z","updated_at":"2022-05-05T21:33:41Z","carrier":"USPS","pickup_id":"pickup_e7a0ba7012454eb887d8a2f03be0f163","id":"pickuprate_1ab1cb09b9e4458c9751d3f98899fc6f","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13624660c38dd6c3ce72bedefbfb639c"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 844d31c8627442b5e787d5a5003e27fb
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      X-Version-Label:
      - easypost-202205052025-12b8594e25-master
    status: 200 OK
    code: 200
    duration: ""
