---
version: 1
interactions:
- request:
    body: '{"carrier_account_oauth_registrations":{"account_number":"123456789","type":"UpsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/register_oauth
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2025-05-23T20:12:46Z","credentials":{},"description":null,"fields":{},"id":"ca_5be400f92a6a4a529d371c0eccc56628","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2025-05-23T20:12:46Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6ae239336830d6bee787d5c800992882
      X-Node:
      - bigweb34nuq
      X-Proxied:
      - intlb3nuq 668d3fc830
      - extlb2nuq 99aac35317
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_5be400f92a6a4a529d371c0eccc56628
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6ae239336830d6bee787d5c8009928af
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb3nuq 668d3fc830
      - extlb2nuq 99aac35317
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
    status: 200 OK
    code: 200
    duration: ""
