---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups
    method: GET
  response:
    body: '{"has_more":true,"pickups":[{"address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-03-06T19:05:21+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d7dcff02bc5111ed9ef1ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-03-06T19:05:21+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2023-03-06T19:05:21Z","id":"pickup_7a229e6f3cfe4482b0bd74d95ad41318","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2023-03-08T00:00:00Z","messages":[],"min_datetime":"2023-03-08T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2023-03-06T19:05:22Z","currency":"USD","id":"pickuprate_ab5119b6657644779fd7d828086315b3","mode":"test","object":"PickupRate","pickup_id":"pickup_7a229e6f3cfe4482b0bd74d95ad41318","rate":"0.00","service":"NextDay","updated_at":"2023-03-06T19:05:22Z"}],"reference":null,"status":"unknown","updated_at":"2023-03-06T19:05:21Z"},{"address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2023-03-06T19:05:19+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_d6b56832bc5111ed9e87ac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2023-03-06T19:05:19+00:00","verif[...]
[...]
