---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '{"events":[{"description":"batch.updated","id":"evt_578b6ae09b2511ec93b60758133d4dea","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-03-03T19:08:42.649Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_5739d3249b2511eca47607704a2a46ac","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-03-03T19:08:42.114Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_56f748d89b2511ecabc543f81c401b90","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-03-03T19:08:41.678Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_56f545d89b2511ecb5900ff746552a92","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-03-03T19:08:41.665Z","mode":"test","object":"Event"},{"description":"batch.created","id":"evt_56ebdb609b2511ec94216b825356bbf3","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","created_at":"2022-03-03T19:08:41.603Z","mode":"test","object":"Event"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"68ea6a6666111539a82380433ab70f57"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123fff135a20001f2076
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/events/evt_578b6ae09b2511ec93b60758133d4dea
    method: GET
  response:
    body: '{"description":"batch.updated","mode":"test","previous_attributes":{"state":"purchasing"},"created_at":"2022-03-03T19:08:43.000Z","pending_urls":[],"completed_urls":[],"updated_at":"2022-03-03T19:08:43.000Z","id":"evt_578b6ae09b2511ec93b60758133d4dea","user_id":"user_a76997d126dd488f8ad22d52301300b0","status":"pending","object":"Event"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b75a50fbee7c5cca3f63027e29aadf6f"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211240ff135a20001f208a
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
