---
version: 1
interactions:
- request:
    body: '{"start_date":"2022-04-11","end_date":"2022-04-11","additional_columns":["from_name","from_company"]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"created_at":"2022-08-19T17:48:11Z","end_date":"2022-04-11","id":"shprep_ed79ae8a48ab47d682c629d06e3439a6","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"new","updated_at":"2022-08-19T17:48:11Z","url":null,"url_expires_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e7a4d7edf0fc2b79a8fd66df0faddfbb"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccdbff246ba100701d7f
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 201 Created
    code: 201
    duration: ""
