---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '{"events":[{"created_at":"2022-09-21T18:22:06.561Z","description":"batch.updated","id":"evt_4c63c6b839da11ed8d685d48e2c697ba","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-21T18:22:05.563Z","description":"batch.updated","id":"evt_4bcb6cec39da11eda0947fe3e4b3e967","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-21T18:22:05.462Z","description":"batch.created","id":"evt_4bbc1e2239da11ed97c50bd3489501b3","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-21T18:22:05.240Z","description":"batch.updated","id":"evt_4b9a473439da11edb64a1fdc09b9363a","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2022-09-21T18:22:00.920Z","description":"batch.updated","id":"evt_49070b3839da11edaef8653a6b54a761","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3bbe2343c6d080ba7e41030e598c16eb"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5655ec7d9989000d9b4b
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
