---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-20T23:28:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ec3d5d10393b11edbcefac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-20T23:28:24+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-20T23:28:24Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-20T23:28:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ec3fd3b2393b11ed8938ac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-20T23:28:24+00:00","verifications":{},"zip":"90277"},"id":"shp_02c93281b70243209fabd0eec7bfc88b","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-20T23:28:24Z","height":4,"id":"prcl_0493b337701f48c48afe1bf200e63da6","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-20T23:28:24Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-20T23:28:25Z","date_advance":0,"id":"pl_ea23d3b23737404c821f338c7c2b919b","integrated_form":"none","label_date":"2022-09-20T23:28:25Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220920/0558ddfc469f4213ab781547965366bc.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-20T23:28:25Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:28:24Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_be33e08f828e4836af6637188c896cce","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_02c93281b70243209fabd0eec7bfc88b","updated_at":"2022-09-20T23:28:24Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-20T23:28:24Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_450a0bd07ed64d28aa43f1e348e11da2","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75"[...]
- request:
    body: '{"insurance":{"amount":"100","carrier":"USPS","tracking_code":"9400100109361138553421","to_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","phone":"5555555555","email":"test@example.com"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/insurances
    method: POST
  response:
    body: '{"amount":"100.00000","created_at":"2022-09-20T23:28:26Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-20T23:28:25+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ecf9c1e4393b11edbd26ac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2022-09-20T23:28:25+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"id":"ins_bbef4eaa64cb460bbd5a970c41d17a9e","messages":[],"mode":"test","object":"Insurance","provider":"easypost","provider_id":null,"reference":null,"shipment_id":null,"status":"pending","to_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2022-09-20T23:28:25+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ecf5ddc4393b11edb72bac1f6bc72124","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":"","updated_at":"2022-09-20T23:28:25+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"tracker":{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":null,"object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"},"service":"First-Class
      Package Service"},"created_at":"2022-09-20T23:28:25Z","est_delivery_date":"2022-09-20T23:28:25Z","fees":[],"finalized":true,"id":"trk_8be5c21a072b433db9e619a5ab08534b","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrXzhiZTVjMjFhMDcyYjQzM2RiOWU2MTlhNWFiMDg1MzRi","shipment_id":"shp_02c93281b70243209fabd0eec7bfc88b","signed_by":null,"status":"pre_transit","status_detail":"status_update","tracking_code":"9400100109361138553421","tracking_details":[{"carrier_code":null,"datetime":"2022-08-20T23:28:25Z","description":null,"message":"Pre-Shipment
      Info Sent to USPS","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":null,"datetime":"2022-08-21T12:05:25Z","description":null,"message":"Shipping
      Label Created","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"}}],"updated_at":"2022-09-20T23:28:25Z","weight":null},"tracking_code":"9400100109361138553421","updated_at":"2022-09-20T23:28:26Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e15d2bd08eecb0d4ecfbcf8663556f7"
      Location:
      - /api/v2/insurances/ins_bbef4eaa64cb460bbd5a970c41d17a9e
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4c99ec8cdb4300108536
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 201 Created
    code: 201
    duration: ""
