---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":"EASYPOST","country":"US","created_at":"2022-06-28T19:16:15+00:00","email":null,"federal_tax_id":null,"id":"adr_c7f16d2af71611ec8299ac1f6b0a0d1e","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"5555555555","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-06-28T19:16:15+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-06-28T19:16:15Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.49000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:16:15+00:00","email":null,"federal_tax_id":null,"id":"adr_c7f32f25f71611ec8eb0ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:16:15+00:00","verifications":{},"zip":"94107"},"id":"shp_9aaac89ef62b4ac89b02a75fd02c76f6","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-06-28T19:16:15Z","height":4,"id":"prcl_9e2f1ae79634443cb66e02e74241ec4a","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-06-28T19:16:15Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-06-28T19:16:16Z","date_advance":0,"id":"pl_7884bff216f44aa7821337bf5d843eab","integrated_form":"none","label_date":"2022-06-28T19:16:16Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220628/0f3a2bcd2aea4d9d8f5685963d293854.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-06-28T19:16:16Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-28T19:16:15Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_17760f4edb944890aee81fdeba18ea0d","list_currency":"USD","list_rate":"23.75","mode":"test","object":"Rate","rate":"23.75","retail_currency":"USD","retail_rate":"27.40","service":"Express","shipment_id":"shp_9aaac89ef62b4ac89b02a75fd02c76f6","updated_at":"2022-06-28T19:16:15Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-06-28T19:16:15Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_5bec9b485d3c4e41a93b003f623ae885","list_currency":"USD","list_rate":"7.22","mode":"test","object":"Rate","rate":"7.22","retail_currency":"USD","retail_rate":"7.22"[...]
- request:
    body: '{"pickup":{"min_datetime":"2022-07-06T00:00:00Z","max_datetime":"2022-07-06T00:00:00Z","instructions":"Pickup
      at front door","shipment":{"id":"shp_9aaac89ef62b4ac89b02a75fd02c76f6","object":"Shipment","mode":"test","created_at":"2022-06-28T19:16:15Z","updated_at":"2022-06-28T19:16:16Z","to_address":{"id":"adr_c7f16d2af71611ec8299ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-06-28T19:16:15Z","updated_at":"2022-06-28T19:16:15Z","street1":"388
      TOWNSEND ST APT 20","city":"SAN FRANCISCO","state":"CA","zip":"94107-1670","country":"US","name":"JACK
      SPARROW","company":"EASYPOST","phone":"5555555555","residential":true,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_c7f32f25f71611ec8eb0ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-06-28T19:16:15Z","updated_at":"2022-06-28T19:16:15Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"return_address":{"id":"adr_c7f32f25f71611ec8eb0ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-06-28T19:16:15Z","updated_at":"2022-06-28T19:16:15Z","street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555","verifications":{"zip4":null,"delivery":null}},"buyer_address":{"id":"adr_c7f16d2af71611ec8299ac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-06[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_619ca4c44d7545cea1eef32d5d9b9829/buy
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:16:16+00:00","email":null,"federal_tax_id":null,"id":"adr_c89b9665f71611ecbadcac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-06-28T19:16:16+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":"WTC61893788","created_at":"2022-06-28T19:16:16Z","id":"pickup_619ca4c44d7545cea1eef32d5d9b9829","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2022-07-06T00:00:00Z","messages":[],"min_datetime":"2022-07-06T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2022-06-28T19:16:17Z","currency":"USD","id":"pickuprate_4c2c267103144f1f9cb77278de5ac184","mode":"test","object":"PickupRate","pickup_id":"pickup_619ca4c44d7545cea1eef32d5d9b9829","rate":"0.00","service":"NextDay","updated_at":"2022-06-28T19:16:17Z"}],"reference":null,"status":"scheduled","updated_at":"2022-06-28T19:16:30Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2992ba4d5af3876e027856b0a7fe0614"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - c675e63262bb5381ec87ca830038ca98
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq a732742a48
      - intlb2wdc a732742a48
      - extlb3wdc 403f17ff97
      X-Version-Label:
      - easypost-202206272314-c14e8f7f31-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups/pickup_619ca4c44d7545cea1eef32d5d9b9829/cancel
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2022-06-28T19:16:16+00:00","email":null,"federal_tax_id":null,"id":"adr_c89b9665f71611ecbadcac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","pho[...]
