---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"type":"UpsAccount","credentials":{"access_license_number":"ALN","account_number":"A1A1A1","password":"PASSWORD","user_id":"USERID"},"test_credentials":null}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"id":"ca_2c044e03eb7e4a2cb43ec394e6b30bf8","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-03-03T19:08:43Z","updated_at":"2022-03-03T19:08:43Z","description":"UPS
      Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
      Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"53f229894e94d6a76290a5933a8fb8a4"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123bff135a20001f1f67
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - intlb1wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/carrier_accounts/ca_2c044e03eb7e4a2cb43ec394e6b30bf8
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e6221123bff135a20001f1f7a
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 200 OK
    code: 200
    duration: ""
