---
version: 1
interactions:
- request:
    body: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/trackers
    method: POST
  response:
    body: '{"carrier":"USPS","carrier_detail":null,"created_at":"2022-09-21T16:20:08Z","est_delivery_date":"2022-09-21T16:20:08Z","fees":[{"amount":"0.02000","charged":false,"object":"Fee","refunded":false,"type":"TrackerFee"}],"finalized":true,"id":"trk_d82e245176814642b6657ea71610d9be","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2Q4MmUyNDUxNzY4MTQ2NDJiNjY1N2VhNzE2MTBkOWJl","shipment_id":null,"signed_by":null,"status":"pre_transit","status_detail":"unknown","tracking_code":"EZ1000000001","tracking_details":[{"carrier_code":null,"datetime":"2022-08-21T16:20:08Z","description":null,"message":"Pre-Shipment
      information received","object":"TrackingDetail","source":"EasyPost","status":"pre_transit","status_detail":null,"tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":null,"datetime":"2022-08-22T11:09:08Z","description":null,"message":"Shipping
      label created","object":"TrackingDetail","source":"EasyPost","status":"pre_transit","status_detail":null,"tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}}],"updated_at":"2022-09-21T16:20:08Z","weight":17.6}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c881751fa86f78a42ac72a69f954bc92"
      Location:
      - /api/v2/trackers/trk_d82e245176814642b6657ea71610d9be
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b39b8ec8e8d290001557d
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/trackers/trk_d82e245176814642b6657ea71610d9be
    method: GET
  response:
    body: '{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":null,"object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"},"service":"First-Class
      Package Service"},"created_at":"2022-09-21T16:20:08Z","est_delivery_date":"2022-09-21T16:20:08Z","fees":[{"amount":"0.02000","charged":false,"object":"Fee","refunded":false,"type":"TrackerFee"}],"id":"trk_d82e245176814642b6657ea71610d9be","mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2Q4MmUyNDUxNzY4MTQ2NDJiNjY1N2VhNzE2MTBkOWJl","shipment_id":null,"signed_by":null,"status":"pre_transit","status_detail":"status_update","tracking_code":"EZ1000[...]
