---
version: 1
interactions:
- request:
    body: '{"order":{"to_address":{"street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","phone":"5555555555","email":"test@example.com"},"shipments":[{"to_address":{"street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth
      Swan","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}],"is_return":false}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2022-09-20T23:28:28+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ee44d506393b11edb548ac1f6bc7bdc6","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-20T23:28:28+00:00","verifications":{},"zip":"90277"},"created_at":"2022-09-20T23:28:28Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2022-09-20T23:28:28+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ee45fcc8393b11edb7b6ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-09-20T23:28:28+00:00","verifications":{},"zip":"94107"},"id":"order_1e0184093c1047bcbab3da51efc66076","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Unauthorized.
      Please check credentials and try again","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_bb9a950d6cce453489a325c286509437","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_33ece16e4d6340b9ad408e8f8342bcd4","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_ef79d96223264482be3f286a98a248bb","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75","service":"ParcelSelect","shipment_[...]
- request:
    body: carrier=USPS&service=First
    form:
      carrier:
      - USPS
      service:
      - First
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/orders/order_1e0184093c1047bcbab3da51efc66076/buy
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"REDONDO BEACH","company":null,"country":"US","created_at":"2022-09-20T23:28:28+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ee44d506393b11edb548ac1f6bc7bdc6","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":null,"updated_at":"2022-09-20T23:28:29+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"created_at":"2022-09-20T23:28:28Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2022-09-20T23:28:28+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_ee45fcc8393b11edb7b6ac1f6bc72124","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      T[...]
