---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/scan_forms
    method: GET
  response:
    body: '{"has_more":true,"scan_forms":[{"address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-26T15:04:52+00:00","email":null,"federal_tax_id":null,"id":"adr_31f84c40dd0511ec8cffac1f6b0a0d1e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-26T15:04:52+00:00","verifications":{},"zip":"94107"},"batch_id":"batch_77325c23add040b88b926896fded85b4","confirmation":null,"created_at":"2022-05-26T15:04:57Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220526/26c063a121794b10a9763c259aebe06e.pdf","id":"sf_7ba69201b7f8453f9a9fd0847939f6c2","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100109361120898134"],"updated_at":"2022-05-26T15:04:57Z"},{"address":{"carrier_facility":null,"city":"San
      Francisco","company":"EasyPost","country":"US","created_at":"2022-05-25T19:37:50+00:00","email":null,"federal_tax_id":null,"id":"adr_29b37728dc6211ecb422ac1f6bc7b362","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-05-25T19:[...]
