---
version: 1
interactions:
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"179 N Harbor Dr","city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","name":"Elizabeth Swan","phone":"5555555555","email":"test@example.com"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","country":"US","name":"Jack
      Sparrow","phone":"5555555555","email":"test@example.com"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}]}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"id":"batch_580bd7aa863042caa210d0d2b7d509b7","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-08-19T17:47:30Z","updated_at":"2022-08-19T17:47:30Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81ecb192269d69badafc4ac9732f4980"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 2196158562ffccb2ff246ba100700a69
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - intlb1wdc 6aa9972c1e
      - extlb4wdc 9ce216bfac
      X-Version-Label:
      - easypost-202208182050-2b41e8e3e0-master
    status: 200 OK
    code: 200
    duration: ""
