---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts
    method: GET
  response:
    body: '[{"billing_type":"easypost","clone":false,"created_at":"2020-05-07T23:43:48Z","credentials":{},"description":"USPS
      Account","fields":{},"id":"ca_e606176ddb314afe896733636dba2f3b","logo":null,"object":"CarrierAccount","readable":"USPS","reference":null,"test_credentials":null,"type":"UspsAccount","updated_at":"2020-05-08T02:33:20Z"},{"billing_type":"carrier","clone":false,"created_at":"2022-09-19T21:06:35Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-09-19T21:06:35Z"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 32e015fa6568ec40e7896122001b4a0f
      X-Node:
      - bigweb43nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
