---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"test_credentials":{},"type":"DhlEcsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-11-23T20:39:09Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_c2243290438a4ba4ada4905dc43f2202","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-11-23T20:39:09Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"741af583b81ebe268af57aaf6c4c341c"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - fa9a2bd8637e84edecc6666b000f4b92
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202211231902-b75422a88e-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"carrier_account":{"description":"My custom description","id":"ca_c2243290438a4ba4ada4905dc43f2202"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/ca_c2243290438a4ba4ada4905dc43f2202
    method: PATCH
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-11-23T20:39:09Z","credentials":{},"description":"My
      custom description","fields":{},"id":"ca_c2243290438a4ba4ada4905dc43f2202","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-11-23T20:39:09Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ec387d5ed03d380d4e2b3e8458e8b5da"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - fa9a2bd8637e84edecc6666b000f4bb2
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202211231902-b75422a88e-master
    status: 200 OK
    code: 200
    duration: ""
[...]
