---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","name":"Jack Sparrow","phone":"5555555555","email":"test@example.com"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2022-08-22T18:59:18+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_86902396224c11edab5fac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-08-22T18:59:18+00:00","verifications":{},"zip":"94107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca5726bdaba1d5916bb86190a6b08d2d"
      Location:
      - /api/v2/addresses/adr_86902396224c11edab5fac1f6bc7bdc6
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 15e0297d6303d206e2b972750010a177
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208221725-fc32be9ffa-master
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"parcel":{"length":10,"width":8,"height":4,"weight":15.4}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_1bc0b2d5725449ebb516a9585793e340","object":"Parcel","created_at":"2022-08-22T18:59:19Z","updated_at":"2022-08-22T18:59:19Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"229129ee7ff3c5f4cce59e8b9a8e1af9"
      Location:
      - /api/v2/parcels.prcl_1bc0b2d5725449ebb516a9585793e340
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 15e0297d6303d206e2b972750010a181
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208221725-fc32be9ffa-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipment":{"to_address":{"id":"adr_869af82f224c11eda05cac1f6b0a0d1e"},"from_address":{"id":"adr_86902396224c11edab5fac1f6bc7bdc6"},"parcel":{"id":"prcl_1bc0b2d5725449ebb516a9585793e340"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-08-22T18:59:18+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_869af82f224c11eda05cac1f6b0a0d1e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-08-22T18:59:18+00:00","verifications":{},"zip":"90277"},"created_at":"2022-08-22T18:59:19Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2022-08-22T18:59:18+00:00","email":"test@example.com","federal_tax_id":null,"id":"adr_86902396224c11edab5fac1f6bc7bdc6","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"5555555555","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2022-08-22T18:59:18+00:00","verifications":{},"zip":"94107"},"id":"shp_cd15c9bb5c7a4621bca5c37e5eab76d2","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-08-22T18:59:19Z","height":4,"id":"prcl_1bc0b2d5725449ebb516a9585793e340","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-08-22T18:59:19Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-22T18:59:19Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_ef363e8546064c058e241e57320c40a3","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75","service":"ParcelSelect","shipment_id":"shp_cd15c9bb5c7a4621bca5c37e5eab76d2","updated_at":"2022-08-22T18:59:19Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-08-22T18:59:19Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_d97b6b98af974737b0e999367c6274de","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45"[...]
