---
version: 1
interactions:
- request:
    body: '{"carriers":["USPS"],"desired_delivery_date":"2024-07-17","from_zip":"94107","to_zip":"90277"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/smartrate/deliver_on
    method: POST
  response:
    body: '{"carriers_without_tint_estimates":null,"desired_delivery_date":"2024-07-17","from_zip":"94107","results":[{"carrier":"USPS","easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":1,"percentile_75":2,"percentile_85":2,"percentile_90":3,"percentile_95":3,"percentile_97":4,"percentile_99":6},"delivery_date_confidence":0.46,"estimated_transit_days":1,"ship_on_date":"2024-07-16"},"service":"express"},{"carrier":"USPS","easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":3,"percentile_75":3,"percentile_85":3,"percentile_90":4,"percentile_95":4,"percentile_97":5,"percentile_99":8},"delivery_date_confidence":0.43,"estimated_transit_days":2,"ship_on_date":"2024-07-15"},"service":"groundadvantage"},{"carrier":"USPS","easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":3,"percentile_75":3,"percentile_85":3,"percentile_90":4,"percentile_95":4,"percentile_97":5,"percentile_99":7},"delivery_date_confidence":0.47,"estimated_transit_days":2,"ship_on_date":"2024-07-15"},"service":"librarymail"},{"carrier":"USPS","easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":3,"percentile_75":3,"percentile_85":3,"percentile_90":4,"percentile_95":4,"percentile_97":5,"percentile_99":7},"delivery_date_confidence":0.4,"estimated_transit_days":2,"ship_on_date":"2024-07-15"},"service":"mediamail"},{"carrier":"USPS","easypost_time_in_transit_data":{"days_in_transit":{"percentile_50":2,"percentile_75":3,"percentile_85":3,"percentile_90":4,"percentile_95":4,"percentile_97":5,"percentile_99":7},"delivery_date_confidence":0.49,"estimated_transit_days":2,"ship_on_date":"2024-07-15"},"service":"priority"}],"saturday_delivery":null,"to_zip":"90277"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - d02331d1669182e9f3f6ba64000fa82b
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb4nuq fa152d4755
      - extlb1nuq fa152d4755
      X-Version-Label:
      - easypost-202407121702-a82cfb9ac3-master
    status: 200 OK
    code: 200
    duration: ""
