---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/trackers
    method: GET
  response:
    body: '{"trackers":[{"id":"trk_b9e47f4a62fd41ea817cf08441de8e3e","object":"Tracker","mode":"test","tracking_code":"9400100109361133884131","status":"pre_transit","status_detail":"status_update","created_at":"2022-08-19T17:48:36Z","updated_at":"2022-08-19T17:48:36Z","signed_by":null,"weight":null,"est_delivery_date":"2022-08-19T17:48:36Z","shipment_id":"shp_43ac04a00edb4ff1bd477fab9b380df1","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-07-19T17:48:36Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-07-20T06:25:36Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"fees":[],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
      Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"public_url":"https://track.easypost.com/djE6dHJrX2I5ZTQ3ZjRhNjJmZDQxZWE4MTdjZjA4NDQxZGU4ZTNl"},{"id":"trk_ebd0a92738de4fac91d55fb0e24163ec","object":"Tracker","mode":"test","tracking_code":"9400100109361133884124","status":"pre_transit","status_detail":"status_update","created_at":"2022-08-19T17:48:35Z","updated_at":"2022-08-19T17:48:35Z","signed_by":null,"weight":null,"est_delivery_date":"2022-08-19T17:48:35Z","shipment_id":"shp_ee868601aa7043e2a1e5247147a1bc3d","carrier":"USPS","tracking_details":[{"objec[...]
