---
version: 1
interactions:
- request:
    body: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/trackers
    method: POST
  response:
    body: '{"carrier":"USPS","carrier_detail":null,"created_at":"2022-09-21T18:23:25Z","est_delivery_date":"2022-09-21T18:23:25Z","fees":[{"amount":"0.02000","charged":false,"object":"Fee","refunded":false,"type":"TrackerFee"}],"finalized":true,"id":"trk_c6c2b14e38214df3aab4d05390b9f188","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2M2YzJiMTRlMzgyMTRkZjNhYWI0ZDA1MzkwYjlmMTg4","shipment_id":null,"signed_by":null,"status":"pre_transit","status_detail":"unknown","tracking_code":"EZ1000000001","tracking_details":[{"carrier_code":null,"datetime":"2022-08-21T18:23:25Z","description":null,"message":"Pre-Shipment
      information received","object":"TrackingDetail","source":"EasyPost","status":"pre_transit","status_detail":null,"tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":null,"datetime":"2022-08-22T13:12:25Z","description":null,"message":"Shipping
      label created","object":"TrackingDetail","source":"EasyPost","status":"pre_transit","status_detail":null,"tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}}],"updated_at":"2022-09-21T18:23:25Z","weight":17.6}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"913df1a79fa27d17ea70b7d30e753a00"
      Location:
      - /api/v2/trackers/trk_c6c2b14e38214df3aab4d05390b9f188
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b569dec7d9989000dbe19
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 201 Created
    code: 201
    duration: ""
