---
version: 1
interactions:
- request:
    body: '{"user":{"email":"test@example.com","name":"Test Referral","phone":"5555555555"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers
    method: POST
  response:
    body: '{"api_keys":[],"balance":"0.00000","cc_fee_rate":"0.0375","children":[],"created_at":"2022-09-20T18:12:57Z","default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"id":"user_4939519a6ac541f3b3a089a24093edcd","insurance_fee_minimum":"0.25","insurance_fee_rate":"0.005","name":"Test
      Referral","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e230db0dc91f25072edc9df01b680a5a"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - de45db68632a02a9ecc7a5160039da4e
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      X-Version-Label:
      - easypost-202209201701-65cee99e9d-master
    status: 201 Created
    code: 201
    duration: ""
