---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users
    method: GET
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.03","children":[],"created_at":"2020-05-07T23:43:48Z","default_insurance_amount":null,"email":"REDACTED","has_billing_method":false,"id":"user_a76997d126dd488f8ad22d52301300b0","insurance_fee_minimum":"1.00","insurance_fee_rate":"0.01","name":"Test
      User","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":"100.00","recharge_threshold":"0.00","secondary_recharge_amount":"100.00","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c90d6624e55f8b7ce879d6c3da4f46c4"
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 924e0c20632a4cdeec8cdb430010960c
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201945-4c5c97ab34-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"brand":{"color":"#123456"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users/user_a76997d126dd488f8ad22d52301300b0/brand
    method: PATCH
  response:
    body: '{"ad":null,"ad_href":null,"background_color":null,"color":"#123456","id":"brd_3930aba34a0743228c75c1e71c8b0883","logo":"https://assets.easypost.com/assets/images/branding/easypost-primary-logo-7a2cf535f2.svg","logo_href":"https://www.easypost.com","name":"EasyPost","object":"Brand","theme":"theme1","user_id":"user_a76997d126dd488f8ad22d52301300b0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a6bf0943796a2bda2357663c77d41a6"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 924e0c20632a4cdeec8cdb430010962c
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209201859-4397aee39f-master
    status: 200 OK
    code: 200
    duration: ""
