---
version: 1
interactions:
- request:
    body: '{"order":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"error":{"code":"ORDER.TO_ADDRESS.REQUIRED","message":"Invalid request,
      ''to_address'' is required.","errors":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 3eb5807562fbfcfbe78a92e70001aa9c
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      X-Version-Label:
      - easypost-202208152354-15cac62d1c-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
