---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T16:18:59+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_196d6cd239c911ed8f86ac1f6bc72124","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T16:18:59+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-21T16:18:59Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-21T16:18:59+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_196fe4e639c911edb5adac1f6bc7bdc6","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T16:18:59+00:00","verifications":{},"zip":"90277"},"id":"shp_2411e9359745459b860c41b0a5a67634","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-21T16:18:59Z","height":4,"id":"prcl_ee4d22f2d4164d678a6fdc77fecffe07","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-21T16:18:59Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-21T16:19:00Z","date_advance":0,"id":"pl_671f4de0f921408eb7b2979c9bfc1837","integrated_form":"none","label_date":"2022-09-21T16:19:00Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220921/0cc388277d3f421283027179e9021cdf.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-21T16:19:00Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-21T16:18:59Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_d9a2e74a2813496aba86efb88d7b10a5","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_2411e9359745459b860c41b0a5a67634","updated_at":"2022-09-21T16:18:59Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-21T16:18:59Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":5,"est_delivery_days":5,"id":"rate_cb035932e29a4120a7e2ef0771a8a93a","list_currency":"USD","list_rate":"7.75","mode":"test","object":"Rate","rate":"7.75","retail_currency":"USD","retail_rate":"7.75"[...]
[...]
- request:
    body: '{"batch":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches
    method: POST
  response:
    body: '{"created_at":"2022-09-21T16:19:01Z","id":"batch_5d9e884fe0284f5389db3c7ebc17a524","label_url":null,"mode":"test","num_shipments":0,"object":"EasyPost::Entity::Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"created","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-21T16:19:01Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63128aff124aa8c0781c2694aaf63608"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3975ec8e8d290001309d
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":{"0":"shp_2411e9359745459b860c41b0a5a67634","1":"shp_81b32e95fc46492f939bf5a1213eb314"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/batch_5d9e884fe0284f5389db3c7ebc17a524/add_shipments
    method: POST
  response:
    body: '{"created_at":"2022-09-21T16:19:01Z","id":"batch_5d9e884fe0284f5389db3c7ebc17a524","label_url":null,"mode":"test","num_shipments":2,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"postage_purchased","id":"shp_2411e9359745459b860c41b0a5a67634","reference":null,"tracking_code":"9400100109361138693059"},{"batch_message":null,"batch_status":"postage_purchased","id":"shp_81b32e95fc46492f939bf5a1213eb314","reference":null,"tracking_code":"9400100109361138693066"}],"state":"created","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":2,"queued_for_purchase":0},"updated_at":"2022-09-21T16:19:01Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"09b645a2aa27c4f7c8053ce9b82e87a0"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3975ec8e8d29000130b6
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"shipments":{"0":"shp_2411e9359745459b860c41b0a5a67634","1":"shp_81b32e95fc46492f939bf5a1213eb314"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/batch_5d9e884fe0284f5389db3c7ebc17a524/remove_shipments
    method: POST
  response:
    body: '{"created_at":"2022-09-21T16:19:01Z","id":"batch_5d9e884fe0284f5389db3c7ebc17a524","label_url":null,"mode":"test","num_shipments":0,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[],"state":"purchased","status":{"created":0,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2022-09-21T16:19:01Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f56304a0a293cfa1101390a4dea2fe7"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ad82a8bc632b3975ec8e8d29000130c5
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209210008-610ad55e3f-master
    status: 200 OK
    code: 200
    duration: ""
