---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users
    method: GET
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.0325","children":[],"created_at":"2022-05-23T17:43:47Z","default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"id":"user_2cfd34d1261a4a9b93d56c313a9a824b","insurance_fee_minimum":"0.25","insurance_fee_rate":"0.005","name":"Ryan
      Nguyen","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e67cce23fee900986d910af43877bdf2"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19be063a62966177f2d49d9f00026026
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 570dfcbc0a
      - intlb2wdc 570dfcbc0a
      - extlb1wdc 0910011e7e
      X-Version-Label:
      - easypost-202205272233-af67cc8d0c-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"user":{"phone_number":"5555555555"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users/user_2cfd34d1261a4a9b93d56c313a9a824b
    method: PATCH
  response:
    body: '{"balance":"0.00000","cc_fee_rate":"0.0325","children":[],"created_at":"2022-05-23T17:43:47Z","default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"id":"user_2cfd34d1261a4a9b93d56c313a9a824b","insurance_fee_minimum":"0.25","insurance_fee_rate":"0.005","name":"Ryan
      Nguyen","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18024e4cde702fde15dcd1444d4c7ab3"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 19be063a62966177f2d49d9f0002604a
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 570dfcbc0a
      - intlb1wdc 570dfcbc0a
      - extlb1wdc 0910011e7e
      X-Version-Label:
      - easypost-202205272233-af67cc8d0c-master
    status: 200 OK
    code: 200
    duration: ""
