---
version: 1
interactions:
- request:
    body: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/trackers
    method: POST
  response:
    body: '{"id":"trk_a6223f1392dd4ea9ac30035e421719c1","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2022-03-03T19:09:37Z","updated_at":"2022-03-03T19:09:37Z","signed_by":null,"weight":17.6,"est_delivery_date":"2022-03-03T19:09:37Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-02-03T19:09:37Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-02-04T13:58:37Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrX2E2MjIzZjEzOTJkZDRlYTlhYzMwMDM1ZTQyMTcxOWMx","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.02000","charged":false,"refunded":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9938baec2162bf5b605ed2ab20b8445d"
      Location:
      - /api/v2/trackers/trk_a6223f1392dd4ea9ac30035e421719c1
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 9cb90d0e62211271ff135a20001f2bd1
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - intlb2wdc 88c34981dc
      - extlb1wdc 88c34981dc
      X-Version-Label:
      - easypost-202203031834-4b65a7cdf4-master
    status: 201 Created
    code: 201
    duration: ""
