---
version: 1
interactions:
- request:
    body: '{"customs_info":{"contents_type":"merchandise","customs_certify":true,"customs_items":[{"description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.250000","weight":11}],"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_type":"none"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-09-21T20:43:00Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-09-21T20:43:00Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_884504c775a445afb99e88cba9db38ca","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T20:43:00Z","value":"23.25","weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_7e00f579a10443b1bac18f5aeed243a1","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-09-21T20:43:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fc5eef71acdc2051c6dda07487513c4"
      Location:
      - /api/v2/customs_infos/cstinfo_7e00f579a10443b1bac18f5aeed243a1
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ece79f35632b7754ecc3c2270002f444
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209212025-b1bc460ca8-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_infos/cstinfo_7e00f579a10443b1bac18f5aeed243a1
    method: GET
  response:
    body: '{"contents_explanation":null,"contents_type":"merchandise","created_at":"2022-09-21T20:43:00Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2022-09-21T20:43:00Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_884504c775a445afb99e88cba9db38ca","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T20:43:00Z","value":"23.25","weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_7e00f579a10443b1bac18f5aeed243a1","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2022-09-21T20:43:00Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fc5eef71acdc2051c6dda07487513c4"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ece79f35632b7754ecc3c2270002f44b
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209212025-b1bc460ca8-master
    status: 200 OK
    code: 200
    duration: ""
