---
version: 1
interactions:
- request:
    body: '{"carrier_account":{"credentials":{},"registration_data":null,"test_credentials":{},"type":"DhlEcsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-11-22T23:20:30Z","credentials":{},"description":"DHL
      eCommerce Solutions Account","fields":{},"id":"ca_3e92c12b641c41c1891c2cb3a091ab3e","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-11-22T23:20:30Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e6af61aa44b22427dccc4f0c546aed9"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 632f8eb4637d593df3c6c6920062769f
      X-Node:
      - bigweb4nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"carrier_account":{"credentials":null,"description":"My custom description","id":"ca_3e92c12b641c41c1891c2cb3a091ab3e","registration_data":null,"test_credentials":null}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/ca_3e92c12b641c41c1891c2cb3a091ab3e
    method: PATCH
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2022-11-22T23:20:30Z","credentials":{},"description":"My
      custom description","fields":{},"id":"ca_3e92c12b641c41c1891c2cb3a091ab3e","logo":null,"object":"CarrierAccount","readable":"DHL
      eCommerce Solutions","reference":null,"test_credentials":{},"type":"DhlEcsAccount","updated_at":"2022-11-22T23:20:30Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da2f6c2c07c48242f7cd7da1cb91e76d"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 632f8eb4637d593ef3c6c6920062776d
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202211222057-6fd042c9a6-master
    status: 200 OK
    code: 200
    duration: ""
[...]
