---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"First","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2022-09-21T18:22:55+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_6978ade539da11edade7ac1f6bc7bdc6","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2022-09-21T18:22:55+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2022-09-21T18:22:55Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.57000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-21T18:22:55+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_697a882439da11edbcf0ac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T18:22:55+00:00","verifications":{},"zip":"90277"},"id":"shp_4dfd5924810b424ea67cba0b8146ed0e","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2022-09-21T18:22:55Z","height":4,"id":"prcl_9a5ba865a996499a8f5b044b98054682","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2022-09-21T18:22:55Z","weight":15.4,"width":8},"postage_label":{"created_at":"2022-09-21T18:22:55Z","date_advance":0,"id":"pl_483d640c503a4b4daaf30e03a40c1ddb","integrated_form":"none","label_date":"2022-09-21T18:22:55Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220921/61ddada44adb45df972070eba2256ba2.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2022-09-21T18:22:56Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-21T18:22:55Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_a18fda89938a45558a61e34268426cac","list_currency":"USD","list_rate":"29.50","mode":"test","object":"Rate","rate":"29.50","retail_currency":"USD","retail_rate":"33.55","service":"Express","shipment_id":"shp_4dfd5924810b424ea67cba0b8146ed0e","updated_at":"2022-09-21T18:22:55Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-09-21T18:22:55Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_f86e77b556c74bac942232f2765b6d7f","list_currency":"USD","list_rate":"7.90","mode":"test","object":"Rate","rate":"7.90","retail_currency":"USD","retail_rate":"9.45"[...]
- request:
    body: '{"shipments":[{"id":"shp_4dfd5924810b424ea67cba0b8146ed0e"}]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/scan_forms
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2022-09-21T18:22:55+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_697a882439da11edbcf0ac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-21T18:22:55+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_5424d9b2e06e46acae6507e32f4d559a","confirmation":null,"created_at":"2022-09-21T18:22:56Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220921/833e6603a6e94ed4a449ec84a969e086.pdf","id":"sf_1b68c49c017145e0a37a05a8dc3eefad","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100109361138710268"],"updated_at":"2022-09-21T18:22:56Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63bc09855f296ceb04ecbe2b4e83e5ab"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 8f5eb2cf632b5680ec7d9989000db24d
      X-Node:
      - bigweb9nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      X-Version-Label:
      - easypost-202209211654-799b9c9ff9-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/scan_forms/sf_1b68c49c017145e0a37a05a8dc3eefad
    method: GET
  response:
    body: '{"address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2022-09-21T18:22:55+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_697a882439da11edbcf0ac1f6bc7b362","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"RE[...]
