---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","name":"Jack Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"parcel":{"length":10,"width":8,"height":4,"weight":15.4},"carrier":"USPS","service":"First","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-04-11T20:31:28Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361114539098","updated_at":"2022-04-11T20:31:29Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5d862e89b9d611ecb416ac1f6b0a0d1e","object":"Address","created_at":"2022-04-11T20:31:28+00:00","updated_at":"2022-04-11T20:31:28+00:00","name":"Jack
      Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
      Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b6b20d30a65949838bfb9e2791ab8d39","object":"Parcel","created_at":"2022-04-11T20:31:28Z","updated_at":"2022-04-11T20:31:28Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_cf3527c95f4d42e7a4676aab2cbaefc3","created_at":"2022-04-11T20:31:28Z","updated_at":"2022-04-11T20:31:29Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-11T20:31:28Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220411/09142f0449d746709d77ac90004f7d9a.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_876b7844ad5842a596713b465cf2a9c5","object":"Rate","created_at":"2022-04-11T20:31:28Z","updated_at":"2022-04-11T20:31:28Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_60f7e6be658e49c082ed24f7af453101","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_fd300301d31546a4a438a842b9886b4a","object":"Rate","created_at":"2022-04-11T20:31:28Z","updated_at":"2022-04-11T20:31:28Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_60f7e6be658e49c082ed24f7af453101","carrie[...]
- request:
    body: '{"insurance":{"amount":"100","carrier":"USPS","tracking_code":"9400100109361114539098","to_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"},"from_address":{"street1":"388
      Townsend St","street2":"Apt 20","city":"San Francisco","state":"CA","zip":"94107","name":"Jack
      Sparrow","company":"EasyPost","phone":"5555555555"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/insurances
    method: POST
  response:
    body: '{"id":"ins_4ae872e79f2d4ddc881d57a159585215","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_5e2229f4b9d611ecadbfac1f6bc7b362","object":"Address","created_at":"2022-04-11T20:31:29+00:00","updated_at":"2022-04-11T20:31:29+00:00","name":"JACK
      SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_5e260bb5b9d611ecb458ac1f6b0a0d1e","object":"Address","created_at":"2022-04-11T20:31:29+00:00","updated_at":"2022-04-11T20:31:29+00:00","name":"JACK
      SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_29f840db0e6f47bc94a887465c56a865","object":"Tracker","mode":"test","tracking_code":"9400100109361114539098","status":"pre_transit","status_detail":"status_update","created_at":"2022-04-11T20:31:29Z","updated_at":"2022-04-11T20:31:29Z","signed_by":null,"weight":null,"est_delivery_date":"2022-04-11T20:31:29Z","shipment_id":"shp_60f7e6be658e49c082ed24f7af453101","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-03-11T20:31:29Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-03-12T09:08:29Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
      Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzI5Zjg0MGRiMGU2ZjQ3YmM5NGE4ODc0NjVjNTZhODY1","fees":[]},"tracking_code":"9400100109361114539098","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-04-11T20:31:29Z","updated_at":"2022-04-11T20:31:29Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"581ad64fd66b5e3f23a21c6ab82ff7c1"
      Location:
      - /api/v2/insurances/ins_4ae872e79f2d4ddc881d57a159585215
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - df63cd0862549021e787405e002f9577
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      X-Version-Label:
      - easypost-202204111913-07b6175514-master
    status: 201 Created
    code: 201
    duration: ""
