---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/reports/shipment
    method: GET
  response:
    body: '{"has_more":true,"reports":[{"created_at":"2022-09-21T16:19:41Z","end_date":"2022-04-11","id":"shprep_0520f2add3d34597b16da516fac746c7","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-09-21T16:19:42Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220921/cb134396391a4ab286fb005f991bc87b.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220921%2Fus-west-2%2Fs3%2Faws4_request\u0026X-Amz-Date=20220921T182251Z\u0026X-Amz-Expires=30\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=583f0772cedf75358a4688c8cd73b8f5745fd4d9eaf5bc9854c94dfbda772847","url_expires_at":"2022-09-21T18:23:21Z"},{"created_at":"2022-09-21T16:19:41Z","end_date":"2022-04-11","id":"shprep_e41685f2a1fb41a89798c5bfc3fdab23","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2022-09-21T16:19:42Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220921/17bc091616934f0596969d88d4b2b4c0.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220921%2Fus-wes[...]
