---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.250000","weight":11}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"code":null,"created_at":"2022-09-21T20:43:00Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_27ef63b1a731472ab313c6f0d86ba315","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T20:43:00Z","value":"23.25","weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c198ea2b934ab3a588f1ad75f4dff949"
      Location:
      - /api/v2/customs_items/cstitem_27ef63b1a731472ab313c6f0d86ba315
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ece79f35632b7754ecc3c2270002f460
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209212025-b1bc460ca8-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_items/cstitem_27ef63b1a731472ab313c6f0d86ba315
    method: GET
  response:
    body: '{"code":null,"created_at":"2022-09-21T20:43:00Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_27ef63b1a731472ab313c6f0d86ba315","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2022-09-21T20:43:00Z","value":"23.25","weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c198ea2b934ab3a588f1ad75f4dff949"
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - ece79f35632b7754ecc3c2270002f466
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      X-Version-Label:
      - easypost-202209212025-b1bc460ca8-master
    status: 200 OK
    code: 200
    duration: ""
