---
version: 1
interactions:
- request:
    body: page_size=5
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/scan_forms
    method: GET
  response:
    body: '{"has_more":false,"scan_forms":[{"address":null,"batch_id":"batch_61d855ec55354e82accf9bb049731b14","confirmation":null,"created_at":"2022-09-19T20:12:08Z","form_file_type":null,"form_url":null,"id":"sf_632316f858164c4aab6f5e50282c0b90","message":"Please
      provide a valid list of shipments.","object":"ScanForm","status":"failed","tracking_codes":[],"updated_at":"2022-09-19T20:12:08Z"},{"address":null,"batch_id":"batch_3d5e339ae4a243be8ece39b774c34bf1","confirmation":null,"created_at":"2022-09-19T20:22:23Z","form_file_type":null,"form_url":null,"id":"sf_8e8ee5cabc3a4ff6bfdea19a9f060caa","message":"Please
      provide a valid list of shipments.","object":"ScanForm","status":"failed","tracking_codes":[],"updated_at":"2022-09-19T20:22:23Z"},{"address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2022-09-20T23:28:02+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_df1a7d66393b11edb2bdac1f6bc72124","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2022-09-20T23:28:02+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_458f99a0b5384400bdfbcf15072bae71","confirmation":null,"created_at":"2022-09-20T23:28:08Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220920/448046628a5a4197b1290423fbe2e8a8.pdf","id":"sf_671fdcd0935847e98df698c5244a566b","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100109361138553384"],"updated_at":"2022-09-20T23:28:08Z"},{"address":{"carrier_facility":null,"city":"Redondo
      [...]
