---
version: 1
interactions:
- request:
    body: include_children=false&purchased=false
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/shipments
    method: GET
  response:
    body: '{"shipments":[{"created_at":"2020-05-30T01:43:58Z","is_return":false,"messages":[{"carrier":"EasyPost","carrier_account_id":"ca_c3c24e1bf39949c9b17bdb608c879bdc","type":"rate_error","message":"this
      service is no longer available"}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-30T01:44:01Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_174f863f759943b48b8c2580fd6ea48e","object":"Address","created_at":"2020-05-30T01:43:58Z","updated_at":"2020-05-30T01:43:58Z","name":"Dr.
      Steve Brule","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","phone":"8573875756","email":"dr_steve_brule@gmail.com","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_19bf7f5ebd074d3f8ec7e136487f5213","object":"Parcel","created_at":"2020-05-30T01:43:58Z","updated_at":"2020-05-30T01:43:58Z","length":20.2,"width":10.9,"height":5.0,"predefined_package":null,"weight":65.9,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_18412360876d4d93ae4ce1c6d06624d2","object":"Rate","created_at":"2020-05-30T01:44:01Z","updated_at":"2020-05-30T01:44:01Z","mode":"test","service":"Priority","carrier":"USPS","rate":"8.04","currency":"USD","retail_rate":"10.20","retail_currency":"USD","list_rate":"8.04","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_9281f508c3af4580b2f5d511f2124ee8","carrier_account_id":"ca_ad6004b084b34b9bbe99ae4596bed102"},{"id":"rate_05f08696c66f450686be2d43d01be15e","object":"Rate","created_at":"2020-05-30T01:44:01Z","updated_at":"2020-05-30T01:44:01Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.94","currency":"USD","retail_rate":"7.94","retail_currency":"USD","list_rate":"7.94","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,[...]
