---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"4000 Warner Blvd","city":"Burbank","state":"CA","zip":"91522","name":"Bugs
      Bunny","phone":"818-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_867ab7aab0414ac48e437e6b654f419b","object":"Address","created_at":"2020-05-08T05:00:38Z","updated_at":"2020-05-08T05:00:38Z","name":"Bugs
      Bunny","company":null,"street1":"4000 Warner Blvd","street2":null,"city":"Burbank","state":"CA","zip":"91522","country":"US","phone":"8185551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_867ab7aab0414ac48e437e6b654f419b
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e776fd4b987300009de5
      X-Node:
      - bigweb8sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"insurance":{"amount":"101.00","carrier":"USPS","tracking_code":"EZ2000000002","to_address":{"id":"adr_867ab7aab0414ac48e437e6b654f419b","object":"Address","mode":"test","created_at":"2020-05-08T05:00:38Z","updated_at":"2020-05-08T05:00:38Z","street1":"4000
      Warner Blvd","city":"Burbank","state":"CA","zip":"91522","country":"US","name":"Bugs
      Bunny","phone":"8185551212","verifications":{"zip4":null,"delivery":null}},"from_address":{"id":"adr_cf301525152140df9262f93bb6b29bf9","object":"Address","mode":"test","created_at":"2020-05-08T05:00:38Z","updated_at":"2020-05-08T05:00:38Z","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"4155551212","verifications":{"zip4":null,"delivery":null}}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/insurances
    method: POST
  response:
    body: '{"id":"ins_f1838b81b72141afa437e2a698dd51f8","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"101.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_867ab7aab0414ac48e437e6b654f419b","object":"Address","created_at":"2020-05-08T05:00:38Z","updated_at":"2020-05-08T05:00:38Z","name":"BUGS
      BUNNY","company":null,"street1":"4000 WARNER BLVD","street2":"","city":"BURBANK","state":"CA","zip":"91522-0001","country":"US","phone":"8185551212","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":34.15095,"longitude":-118.33922,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_cf301525152140df9262f93bb6b29bf9","object":"Address","created_at":"2020-05-08T05:00:38Z","updated_at":"2020-05-08T05:00:38Z","name":null,"company":"EASYPOST","street1":"1
      MONTGOMERY ST STE 400","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-4533","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_fcf0c375e769476ab3bdf38547ab3fbe","object":"Tracker","mode":null,"tracking_code":null,"status":"unknown","status_detail":"unknown","created_at":"2020-05-08T05:00:39Z","updated_at":"2020-05-08T05:00:39Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":null,"carrier":null,"tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrX2ZjZjBjMzc1ZTc2OTQ3NmFiM2JkZjM4NTQ3YWIzZmJl"},"tracking_code":"EZ2000000002","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.01000","charged":true,"refunded":false},"messages":[],"created_at":"2020-05-08T05:00:39Z","updated_at":"2020-05-08T05:00:39Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/insurances/ins_f1838b81b72141afa437e2a698dd51f8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e776fd4b987300009df0
      X-Node:
      - bigweb11sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/insurances/ins_f1838b81b72141afa437e2a698dd51f8
    method: GET
  response:
    body: '{"id":"ins_f1838b81b72141afa437e2a698dd51f8","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"101.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_867ab7aab0414ac48e437e6b654f419b","object":"Address","created_at":"2020-05-08T05:00:38Z","updated_at":"2020-05-08T05:00:38Z","name":"Bugs
      Bunny","company":null,"street1":"4000 Warner Blvd","street2":null,"city":"Burbank","state":"CA","zip":"91522","country":"US","phone":"8185551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"from_address":{"id":"adr_cf301525152140df9262f93bb6b29bf9","object":"Address","created_at":"2020-05-08T05:00:38Z","updated_at":"2020-05-08T05:00:38Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipment_id":null,"tracker":{"id":"trk_fcf0c375e769476ab3bdf38547ab3fbe","user_id":47636,"object":"Tracker","mode":"test","tracking_code":"EZ2000000002","status":"in_transit","status_detail":"status_update","created_at":"2020-05-08T05:00:39Z","updated_at":"2020-05-08T05:00:39Z","signed_by":null,"weight":null,"est_delivery_date":"2020-05-08T05:00:39Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2020-04-08T05:00:39Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2020-04-08T17:37:39Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}},{"object":"TrackingDetail","message":"Arrived
      at USPS Origin Facility","description":null,[...]
- request:
    body: '{"page_size":5}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/insurances
    method: GET
  response:
    body: '{"insurances":[{"id":"ins_f1838b81b72141afa437e2a698dd51f8","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"101.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_867ab7aab0414ac48e437e6b654f419b","object":"Address","created_at":"2020-05-08T05:00:38Z","updated_at":"2020-05-08T05:00:38Z","name":"Bugs
      Bunny","company":null,"street1":"4000 Warner Blvd","street2":null,"city":"Burbank","state":"CA","zip":"91522","country":"US","phone":"8185551212","email"[...]
