---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '
      {
        "events": [
          {
            "description": "tracker.updated",
            "mode": "test",
            "previous_attributes": {
              "status": "out_for_delivery"
            },
            "created_at": "2020-06-09T21:00:02.000Z",
            "pending_urls": [],
            "completed_urls": [
              "https://webhook.site/6db0d77f-77bb-48b7-ba65-b3bc141025d0"
            ],
            "updated_at": "2020-06-09T21:00:32.000Z",
            "id": "evt_36940ed69d634b92bfec365705549936",
            "user_id": "user_66bb044575114f29930ae33901f6c9a6",
            "status": "completed",
            "object": "Event"
          },
          {
            "description": "tracker.updated",
            "mode": "test",
            "previous_attributes": {
              "status": "in_transit"
            },
            "created_at": "2020-06-09T20:59:02.000Z",
            "pending_urls": [],
            "completed_urls": [
              "https://webhook.site/6db0d77f-77bb-48b7-ba65-b3bc141025d0"
            ],
            "updated_at": "2020-06-09T20:59:32.000Z",
            "id": "evt_c5fa871c225441b4ac0[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/events/evt_36940ed69d634b92bfec365705549936/payloads
    method: GET
  response:
    body: '
      {
        "payloads": [
          {
            "id": "payload_f6dc012918e54e2ca1f3808f0f811145",
            "object": "Payload",
            "created_at": "2020-06-09T21:00:32Z",
            "updated_at": "2020-06-09T21:00:32Z",
            "request_url": "https://webhook.site/6db0d77f-77bb-48b7-ba65-b3bc141025d0",
            "request_headers": {
              "User-Agent": "EasyPost WebHook Agent 1.0",
              "Content-Type": "application/json",
              "Connection": "close",
              "Expect": "",
              "X-Webhook-User-Id": "user_66bb044575114f29930ae33901f6c9a6"
            },
            "request_body": "{\"description\":\"tracker.updated\",\"mode\":\"test\",\"previous_attributes\":{\"status\":\"out_for_delivery\"},\"created_at\":\"2020-06-09T21:00:02.000Z\",\"pending_urls\":[\"https://webhook.site/6db0d77f-77bb-48b7-ba65-b3bc141025d0\"],\"completed_urls\":[],\"updated_at\":\"2020-06-09T21:00:02.000Z\",\"id\":\"evt_36940ed69d634b92bfec365705549936\",\"user_id\":\"user_66bb044575114f29930ae33901f6c9a6\",\"status\":\"pending\",\"object\":\"Event\",\"result\":{\"id\":\"trk_9508c8ccb51f4eb4aa276957fcc9c923\",\"user_id\":599470,\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9470100897846040813025\",\"status\":\"delivered\",\"status_detail\":\"arrived_at_destination\",\"created_at\":\"2020-06-09T20:56:01Z\",\"updated_at\":\"2020-06-09T20:59:02Z\",\"signed_by\":\"John
                            Tester\",\"weight\":null,\"est_delivery_date\":\"2020-06-09T20:59:02Z\",\"shipment_id\":\"shp_88374a87390c49dabd536fad7b9714d6\",\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment
                            Info Sent to USPS\",\"description\":null,\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2020-05-09T20:59:02Z\",\"source\":\"USPS\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}},{\"object\":\"TrackingDetail\",\"message\":\"Shipping
                            Label Created\",\"description\":null,\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2020-05-10T09:36:02Z\",\"source\":\"USPS\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"}},{\"object\":\"TrackingDetail\",\"message\":\"Arrived
                            at USPS Origin Facil[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/events/evt_8dab6a095ace4d01a90d393f37447ea2/payloads
    method: GET
  response:
    body: '
      {
        "payloads": [
          {
            "id": "payload_8a26e14a8ecd44c6a446ef88d139d5ae",
            "object": "Payload",
            "created_at": "2020-06-08T21:39:54Z",
            "updated_at": "2020-06-08T21:39:54Z",
            "request_url": "https://webhook.site/6db0d77f-77bb-48b7-ba65-b3bc141025d0",
            "request_headers": {
              "User-Agent": "EasyPost WebHook Agent 1.0",
              "Content-Type": "application/json",
              "Connection": "close",
              "Expect": "",
              "X-Webhook-User-Id": "user_66bb044575114f29930ae33901f6c9a6"
            },
            "request_body": "{\"result\":{\"id\":\"rfnd_c09a2ba9be1a4c03ac6beadabb33097f\",\"object\":\"Refund\",\"created_at\":\"2020-05-25T15:54:02Z\",\"updated_at\":\"2020-06-09T15:54:07Z\",\"tracking_code\":\"1234567890123456789012\",\"confirmation_number\":null,\"status\":\"refunded\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_c637bb9ed55949c58ba7a8286d3d2bae\"},\"description\":\"refund.successful\",\"mode\":\"production\",\"previous_attributes\":null,\"completed_urls\":[\"https://webhook.site/6db0d77f-77bb-48b7-ba65-b3bc141025d0\"],\"user_id\":\"user_66bb044575114f29930ae33901f6c9a6\",\"status\":\"completed\",\"object\":\"Event\",\"id\":\"evt_8dab6a095ace4d01a90d393f37447ea2\"}",
            "response_headers": {
              "Server": "nginx/1.14.2",
              "Content-Type": "text/plain; charset=UTF-8",
              "Transfer-Encoding": "chunked",
              "Connection":" close",
              "Vary": "Accept-Encoding",
              "X-Request-Id": "10c18413-010b-4c05-b891-9d360e88fb63",
              "X-Token-Id":" 6db0d77f-77bb-48b7-ba65-b3bc141025d0",
              "Cache-Control": "no-cache, private",
              "Date": "Mon, 08 Jun 2020 21:39:54 GMT",
              "Set-Cookie": "laravel_session=mHLcf3EXgcSFawoQ8s1wWpTmJDoY6UZTvdahtVGj; expires=Mon, 08-Jun-2020 23:39:54 GMT; Max-Age=7200; path=/; httponly",
              "X-Faraday-Runtime": "652.8"
            },
            "response_body": null,
            "response_code": 200,
            "total_time": 652
          }
        ]
      }
    '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - cc3597b95ee000a4ec54aa090002a57f
      X-Node:
      - bigweb11sj
      X-Proxied:
      - intlb2sj a38b562602
      - extlb1sj 5834894b53
      X-Version-Label:
      - easypost-202006091919-12f0b90a2e-master
    status: 200 OK
    code: 200
    duration: ""
[...]
