---
version: 1
interactions:
- request:
    body: '{"webhook":{"url":"example.com/2020050722012281"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/webhooks
    method: POST
  response:
    body: '{"id":"hook_19d504c7c90a471ba2dbcb8028c30b57","object":"Webhook","mode":"test","url":"http://example.com/2020050722012281","disabled_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e7a2fd4b98730000a91d
      X-Node:
      - bigweb2sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/webhooks/hook_19d504c7c90a471ba2dbcb8028c30b57
    method: GET
  response:
    body: '{"id":"hook_19d504c7c90a471ba2dbcb8028c30b57","object":"Webhook","mode":"test","url":"http://example.com/2020050722012281","disabled_at":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e7a2fd4b98730000a920
      X-Node:
      - bigweb10sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/webhooks
    method: GET
  response:
    body: '{"webhooks":[{"id":"hook_c701517667154f02a1c4d373a35fea60","object":"Webhook","mode":"test","url":"http://example.com/sample","disabled_at":"2019-11-04T23:04:26Z"},{"id":"hook_37a70fb4eb08494b9432e61aed89f97a","object":"Webhook","mode":"test","url":"http://example.com/sample","disabled_at":"2019-11-04T23:04:27Z"},{"id":"hook_1898f865e1a24fc384141ca1c4c95b2e","object":"Webhook","mode":"test","url":"http://example.com/sample","disabled_at":"2019-11-04T23:04:27Z"},{"id":"hook_19d504c7c90a471ba2dbcb8028c30b57","object":"Webhook","mode":"test","url":"http://example.com/2020050722012281","disabled_at":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e7a3fd4b98730000a926
      X-Node:
      - bigweb9sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/webhooks/hook_19d504c7c90a471ba2dbcb8028c30b57
    method: GET
  response:
    body: '{"error":{"code":"NOT_FOUND","message":"The requested resource could not
      be found.","errors":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e7a3fd4b98730000a92e
      X-Node:
      - bigweb10sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 404 Not Found
    code: 404
    duration: ""
