---
version: 1
interactions:
- request:
    body: '{"verify":["delivery"],"address":{"street1":"1 MONTGOMERY ST STE 400","city":"San
      Francisco","state":"CA","zip":"94104","name":"Homer Simpson","company":"EasyPost","phone":"415-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_e05e5d20a77643fc9f7b90c2d3d362a9","object":"Address","created_at":"2020-05-08T05:00:51Z","updated_at":"2020-05-08T05:00:51Z","name":"HOMER
      SIMPSON","company":"EASYPOST","street1":"1 MONTGOMERY ST STE 400","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94104-4533","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_e05e5d20a77643fc9f7b90c2d3d362a9
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e783fd4b98730000a187
      X-Node:
      - bigweb11sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"batch":{"shipments":[{"to_address":{"street1":"4000 Warner Blvd","city":"Burbank","state":"CA","zip":"91522","name":"Bugs
      Bunny","phone":"818-555-1212"},"from_address":{"id":"adr_e05e5d20a77643fc9f7b90c2d3d362a9","object":"Address","mode":"test","created_at":"2020-05-08T05:00:51Z","updated_at":"2020-05-08T05:00:51Z","street1":"1
      MONTGOMERY ST STE 400","city":"SAN FRANCISCO","state":"CA","zip":"94104-4533","country":"US","name":"HOMER
      SIMPSON","company":"EASYPOST","phone":"4155551212","verifications":{"zip4":null,"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}},"parcel":{"weight":10.2},"carrier":"USPS","service":"Priority"},{"to_address":{"street1":"4000
      Warner Blvd","city":"Burbank","state":"CA","zip":"91522","name":"Bugs Bunny","phone":"818-555-1212"},"from_address":{"street1":"1
      Market St","state":"CA","zip":"94105","name":"Yosemite Sam","company":"EasyPost","phone":"415-555-1212","carrier_facility":"San
      Francisco"},"parcel":{"weight":10.2},"carrier":"USPS","service":"Priority"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/create_and_buy
    method: POST
  response:
    body: '{"id":"batch_62350fe600704b01b027d08f812f9fa1","object":"Batch","mode":"test","state":"creating","num_shipments":2,"reference":null,"created_at":"2020-05-08T05:00:52Z","updated_at":"2020-05-08T05:00:52Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e784fd4b98730000a18c
      X-Node:
      - bigweb6sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/batches/batch_62350fe600704b01b027d08f812f9fa1
    method: GET
  response:
    body: '{"id":"batch_62350fe600704b01b027d08f812f9fa1","object":"Batch","mode":"test","state":"purchasing","num_shipments":2,"reference":null,"created_at":"2020-05-08T05:00:52Z","updated_at":"2020-05-08T05:00:52Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_e2d175915e884c44b3d1d90f90d76b82"},{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_ff00be36c6fc414989ab112ff207d7d2"}],"status":{"created":0,"queued_for_purchase":2,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e785fd4b98730000a1c9
      X-Node:
      - bigweb6sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: amount=100.00
    form:
      amount:
      - "100.00"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/shipments/shp_e2d175915e884c44b3d1d90f90d76b82/insure
    method: POST
  response:
    body: '{"created_at":"2020-05-08T05:00:52Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9405500897846038518103","updated_at":"2020-05-08T05:00:54Z","batch_id":"batch_62350fe600704b01b027d08f812f9fa1","batch_status":"postage_purchased","batch_message":null,"customs_info":null,"from_address":{"id":"adr_e05e5d20a77643fc9f7b90c2d3d362a9","object":"Address","created_at":"2020-05-08T05:00:51Z","updated_at":"2020-05-08T05:00:51Z","name":"HOMER
      SIMPSON","company":"EASYPOST","street1":"1 MONTGOMERY ST STE 400","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94104-4533","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}},"insurance":"100.00","order_id":null,"parcel":{"id":"prcl_058e6797f2694d9890b602723e3e3153","object":"Parcel","created_at":"2020-05-08T05:00:52Z","updated_at":"2020-05-08T05:00:52Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.2,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_ed63d074d14a4e96b829cae245e18396","created_at":"2020-05-08T05:00:54Z","updated_at":"2020-05-08T05:00:54Z","date_advance":0,"integrated_form":"none","label_date":"2020-05-08T05:00:54Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20200508/d55c06bddf6640e08125352febeac5c5.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_df1e3d9741ed47bfa87bb3d4a99a9979","object":"Rate","created_at":"2020-05-08T05:00:53Z","updated_at":"2020-05-08T05:00:53Z","mode":"test","service":"Express","carrier":"USPS","rate":"25.20","currency":"USD","retail_rate":"28.85","retail_currency":"USD","list_rate":"25.20","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e2d175915e884c44b3d1d90f90d76b82","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_22db3a0eadfb46e790c3d91ac02076c3","object":"Rate","created_at":"2020-05-08T05:00:53Z","updated_at":"2020-05-08T05:00:53Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.35","currency":"USD","retail_rate":"7.85","retail_currency":"USD","list_rate":"7.35","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e2d175915e884c44b3d1d90f90d76b82","carrier_ac[...]
[...]
- request:
    body: '{"pickup":{"reference":"internal_id_1234","min_datetime":"2020-05-11T12:00:00-07:00","max_datetime":"2020-05-12T12:00:00-07:00","is_account_address":true,"instructions":"Special
      pickup instructions","address":{"id":"adr_e05e5d20a77643fc9f7b90c2d3d362a9","object":"Address","mode":"test","created_at":"2020-05-08T05:00:51Z","updated_at":"2020-05-08T05:00:51Z","street1":"1
      MONTGOMERY ST STE 400","city":"SAN FRANCISCO","state":"CA","zip":"94104-4533","country":"US","name":"HOMER
      SIMPSON","company":"EASYPOST","phone":"4155551212","verifications":{"zip4":null,"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_927017fa2575496a922d9f6513e36c3b/buy
    method: POST
  response:
    body: '{"id":"pickup_927017fa2575496a922d9f6513e36c3b","object":"Pickup","created_at":"2020-05-08T05:00:59Z","updated_at":"2020-05-08T05:01:02Z","mode":"test","status":"scheduled","reference":"internal_id_1234","min_datetime":"2020-05-11T19:00:00Z","max_datetime":"2020-05-12T19:00:00Z","is_account_address":true,"instructions":"Special
      pickup instructions","messages":[],"confirmation":"WTC60167810","address":{"id":"adr_e05e5d20a77643fc9f7b90c2d3d362a9","object":"Address","created_at":"2020-05-08T05:00:51Z","updated_at":"2020-05-08T05:00:51Z","name":"HOMER
      SIMPSON","company":"EASYPOST","street1":"1 MONTGOMERY ST STE 400","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94104-4533","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2020-05-08T05:01:00Z","updated_at":"2020-05-08T05:01:00Z","carrier":"USPS","pickup_id":"pickup_927017fa2575496a922d9f6513e36c3b","id":"pickuprate_01a1038943db411aac60dbc2a8591aa6","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e78dfd4b98730000a3c8
      X-Node:
      - bigweb6sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
