---
version: 1
interactions:
- request:
    body: '{"start_date":"2012-12-01","end_date":"2013-01-01"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: POST
  response:
    body: '{"error":{"code":"REPORT.ALREADY_EXISTS","message":"The report already
      exists please use id to find report","errors":[{"field":"existing_report","id":"shprep_4bcd3bd8e61d4e5cb0614136b1411287"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e799fd4b98730000a6aa
      X-Node:
      - bigweb10sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 409 Conflict
    code: 409
    duration: ""
- request:
    body: '{"start_datetime":"2012-12-01","end_datetime":"2013-01-01"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/reports/shipment
    method: GET
  response:
    body: '{"reports":[{"id":"shprep_d4e8387860844473a98d577972a94855","object":"ShipmentReport","created_at":"2020-05-07T23:06:22Z","updated_at":"2020-05-07T23:06:41Z","start_date":"2020-04-07","end_date":"2020-05-07","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200507/shprep_d4e8387860844473a98d577972a94855.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200508%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200508T050113Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=754881fc8384fa49bb89dc7ab1f78675892e15a1920bcbb0e359be058590f035","url_expires_at":"2020-05-08T05:01:43+00:00","include_children":false},{"id":"shprep_e1bbb4eec5ea4418b0a0d99046630203","object":"ShipmentReport","created_at":"2020-05-06T01:35:30Z","updated_at":"2020-05-06T01:35:56Z","start_date":"2020-04-06","end_date":"2020-05-06","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200506/shprep_e1bbb4eec5ea4418b0a0d99046630203.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200508%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/reports/shipment/shprep_d4e8387860844473a98d577972a94855
    method: GET
  response:
    body: '{"id":"shprep_d4e8387860844473a98d577972a94855","object":"ShipmentReport","created_at":"2020-05-07T23:06:22Z","updated_at":"2020-05-07T23:06:41Z","start_date":"2020-04-07","end_date":"2020-05-07","mode":"test","status":"available","url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/shipment_report/20200507/shprep_d4e8387860844473a98d577972a94855.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOR7PKFCRZS3YA6Q%2F20200508%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200508T050113Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=754881fc8384fa49bb89dc7ab1f78675892e15a1920bcbb0e359be058590f035","url_expires_at":"2020-05-08T05:01:43+00:00","include_children":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e799fd4b98730000a6b9
      X-Node:
      - bigweb2sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
[...]
