---
version: 1
interactions:
- request:
    body: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/trackers
    method: POST
  response:
    body: '{"id":"trk_3db794660d394485adfd2738eb5c0f45","user_id":47636,"object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2020-05-08T05:01:21Z","updated_at":"2020-05-08T05:01:21Z","signed_by":null,"weight":17.6,"est_delivery_date":"2020-05-08T05:01:21Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2020-04-08T05:01:21Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2020-04-08T23:50:21Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzNkYjc5NDY2MGQzOTQ0ODVhZGZkMjczOGViNWMwZjQ1","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/trackers/trk_3db794660d394485adfd2738eb5c0f45
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e7a1fd4b98730000a8b1
      X-Node:
      - bigweb3sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"tracker":{"tracking_code":"EZ7000000007"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/trackers
    method: POST
  response:
    body: '{"id":"trk_d65f4d1c3fb74a8db98939ffbc3fd769","user_id":47636,"object":"Tracker","mode":"test","tracking_code":"EZ7000000007","status":"unknown","status_detail":"unknown","created_at":"2020-05-08T05:01:22Z","updated_at":"2020-05-08T05:01:22Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Shipment
      Information Unavailable","description":null,"status":"unknown","status_detail":null,"datetime":null,"source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrX2Q2NWY0ZDFjM2ZiNzRhOGRiOTg5MzlmZmJjM2ZkNzY5","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.00000","charged":false,"refunded":false}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/trackers/trk_d65f4d1c3fb74a8db98939ffbc3fd769
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 5c7017075eb4e7a2fd4b98730000a900
      X-Node:
      - bigweb7sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
