---
version: 1
interactions:
- request:
    body: '{"verify":["delivery"],"address":{"street1":"One Montgomery St","street2":"Ste
      400","city":"San Francisco","state":"CA","zip":"94104","company":"EasyPost","phone":"415-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_53645e8d78aa4930b5b68630e7c703ef","object":"Address","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","name":null,"company":"EASYPOST","street1":"1
      MONTGOMERY ST STE 400","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-4533","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_53645e8d78aa4930b5b68630e7c703ef
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e74bfd4b987300008dcf
      X-Node:
      - bigweb10sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
