---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"55 Sparks St.","city":"Ottawa","state":"ON","zip":"k1p5a5","country":"CA","name":"Elmer
      Fudd","phone":"613-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_a577fee229964510b708104cc89c0d78","object":"Address","created_at":"2020-05-08T05:01:08Z","updated_at":"2020-05-08T05:01:08Z","name":"Elmer
      Fudd","company":null,"street1":"55 Sparks St.","street2":null,"city":"Ottawa","state":"ON","zip":"k1p5a5","country":"CA","phone":"6135551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_a577fee229964510b708104cc89c0d78
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e794fd4b98730000a59d
      X-Node:
      - bigweb6sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"parcel":{"length":10.2,"width":7.8,"height":4.3,"weight":21.2}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_9a59315fabf74506955faafa5b988a0a","object":"Parcel","created_at":"2020-05-08T05:01:08Z","updated_at":"2020-05-08T05:01:08Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/parcels/prcl_9a59315fabf74506955faafa5b988a0a
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 5c7017075eb4e794fd4b98730000a5a2
      X-Node:
      - bigweb7sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"customs_item":{"description":"EasyPost t-shirts","quantity":2,"value":"96.27","weight":21.1,"hs_tariff_number":"123456","origin_country":"US"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"id":"cstitem_91d60e11269a4e5b88646555df57daf0","object":"CustomsItem","created_at":"2020-05-08T05:01:09Z","updated_at":"2020-05-08T05:01:09Z","description":"EasyPost
      t-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"96.27","weight":21.1,"code":null,"mode":"test","manufacturer":null,"currency":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/customs_items/cstitem_91d60e11269a4e5b88646555df57daf0
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e794fd4b98730000a5a7
      X-Node:
      - bigweb8sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"gift","customs_certify":true,"customs_signer":"Wile
      E. Coyote","non_delivery_option":"return","restriction_type":"none","customs_items":[{"id":"cstitem_91d60e11269a4e5b88646555df57daf0","object":"CustomsItem","created_at":"2020-05-08T05:01:09Z","updated_at":"2020-05-08T05:01:09Z","description":"EasyPost
      t-shirts","quantity":2,"value":"96.27","weight":21.1,"hs_tariff_number":"123456","origin_country":"US"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"id":"cstinfo_25bd62f203174529b9b3d96d3ed6652a","object":"CustomsInfo","created_at":"2020-05-08T05:01:09Z","updated_at":"2020-05-08T05:01:09Z","contents_explanation":null,"contents_type":"gift","customs_certify":true,"customs_signer":"Wile
      E. Coyote","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_91d60e11269a4e5b88646555df57daf0","object":"CustomsItem","created_at":"2020-05-08T05:01:09Z","updated_at":"2020-05-08T05:01:09Z","description":"EasyPost
      t-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"96.27","weight":21.1,"code":null,"mode":"test","manufacturer":null,"currency":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/customs_infos/cstinfo_25bd62f203174529b9b3d96d3ed6652a
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e795fd4b98730000a5ac
      X-Node:
      - bigweb8sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipment":{"to_address":{"id":"adr_a577fee229964510b708104cc89c0d78","object":"Address","mode":"test","created_at":"2020-05-08T05:01:08Z","updated_at":"2020-05-08T05:01:08Z","street1":"55
      Sparks St.","city":"Ottawa","state":"ON","zip":"k1p5a5","country":"CA","name":"Elmer
      Fudd","phone":"6135551212","verifications":{"zip4":null,"delivery":null}},"from_address":{"id":"adr_3efe47af92d140d2b583d6e6d1ad214e","object":"Address","mode":"test","created_at":"2020-05-08T05:01:08Z","updated_at":"2020-05-08T05:01:08Z","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"4154567890","verifications":{"zip4":null,"delivery":null}},"parcel":{"id":"prcl_9a59315fabf74506955faafa5b988a0a","object":"Parcel","mode":"test","created_at":"2020-05-08T05:01:08Z","updated_at":"2020-05-08T05:01:08Z","length":10.2,"width":7.8,"height":4.3,"weight":21.2},"customs_info":{"id":"cstinfo_25bd62f203174529b9b3d96d3ed6652a","object":"CustomsInfo","created_at":"2020-05-08T05:01:09Z","updated_at":"2020-05-08T05:01:09Z","eel_pfc":"NOEEI
      30.37(a)","contents_type":"gift","customs_certify":true,"customs_signer":"Wile
      E. Coyote","non_delivery_option":"return","restriction_type":"none","customs_items":[{"id":"cstitem_91d60e11269a4e5b88646555df57daf0","object":"CustomsItem","created_at":"2020-05-08T05:01:09Z","updated_at":"2020-05-08T05:01:09Z","description":"EasyPost
      t-shirts","quantity":2,"value":"96.27","weight":21.1,"hs_tariff_number":"123456","origin_country":"US"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2020-05-08T05:01:09Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-08T05:01:09Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_25bd62f203174529b9b3d96d3ed6652a","object":"CustomsInfo","created_at":"2020-05-08T05:01:09Z","updated_at":"2020-05-08T05:01:09Z","contents_explanation":null,"contents_type":"gift","customs_certify":true,"customs_signer":"Wile
      E. Coyote","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_91d60e11269a4e5b88646555df57daf0","object":"CustomsItem","created_at":"2020-05-08T05:01:09Z","updated_at":"2020-05-08T05:01:09Z","description":"EasyPost
      t-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"96.27","weight":21.1,"code":null,"mode":"test","manufacturer":null,"currency":null}]},"from_address":{"id":"adr_3efe47af92d140d2b583d6e6d1ad214e","object":"Address","created_at":"2020-05-08T05:01:08Z","updated_at":"2020-05-08T05:01:08Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9a59315fabf74506955faafa5b988a0a","object":"Parcel","created_at":"2020-05-08T05:01:08Z","updated_at":"2020-05-08T05:01:08Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_c847bb22167341b58d1119b514cb4a42","object":"Rate","created_at":"2020-05-08T05:01:10Z","updated_at":"2020-05-08T05:01:10Z","mode":"test","service":"ExpressMailInternational","carrier":"USPS","rate":"51.81","currency":"USD","retail_rate":"55.65","retail_currency":"USD","list_rate":"51.81","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_40fb1e44700e4669ba9531b2ff93ad30","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_57d78bd324cd4b1784787e688365e6f9","object":"Rate","created_at":"2020-05-08T05:01:10Z","updated_at":"2020-05-08T05:01:10Z","mode":"test","service":"FirstClassPackageInternationalService","carrier":"USPS","rate":"19.71","currency":"USD","retail_rate":"20.75","retail_currency":"USD","list_rate":"19.71","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_40fb1e4[...]
- request:
    body: '{"rate":{"id":"rate_4a90e6d7765049b582868241a53ea3f3","object":"Rate","mode":"test","created_at":"2020-05-08T05:01:10Z","updated_at":"2020-05-08T05:01:10Z","service":"PriorityMailInternational","carrier":"USPS","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e","shipment_id":"shp_40fb1e44700e4669ba9531b2ff93ad30","rate":"37.34","currency":"USD","retail_rate":"39.30","retail_currency":"USD","list_rate":"37.34","list_currency":"USD"},"insurance":"100.00"}'
    form: {[...]
