---
version: 1
interactions:
- request:
    body: '{"parcel":{"length":10.2,"width":7.8,"height":4.3,"predefined_package":"RegionalRateBoxA","weight":21.2}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_63af1d0cf1124dc3ae0e7472757aec07","object":"Parcel","created_at":"2020-05-08T05:00:51Z","updated_at":"2020-05-08T05:00:51Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":"RegionalRateBoxA","weight":21.2,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/parcels/prcl_63af1d0cf1124dc3ae0e7472757aec07
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e783fd4b98730000a182
      X-Node:
      - bigweb6sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
