---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/events
    method: GET
  response:
    body: '
      {
        "events": [
          {
            "description": "tracker.updated",
            "mode": "test",
            "previous_attributes": {
              "status": "out_for_delivery"
            },
            "created_at": "2020-06-09T21:00:02.000Z",
            "pending_urls": [],
            "completed_urls": [
              "https://webhook.site/6db0d77f-77bb-48b7-ba65-b3bc141025d0"
            ],
            "updated_at": "2020-06-09T21:00:32.000Z",
            "id": "evt_36940ed69d634b92bfec365705549936",
            "user_id": "user_66bb044575114f29930ae33901f6c9a6",
            "status": "completed",
            "object": "Event"
          },
          {
            "description": "tracker.updated",
            "mode": "test",
            "previous_attributes": {
              "status": "in_transit"
            },
            "created_at": "2020-06-09T20:59:02.000Z",
            "pending_urls": [],
            "completed_urls": [
              "https://webhook.site/6db0d77f-77bb-48b7-ba65-b3bc141025d0"
            ],
            "updated_at": "2020-06-09T20:59:32.000Z",
            "id": "evt_c5fa871c225441b4ac0[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/events/evt_36940ed69d634b92bfec365705549936
    method: GET
  response:
    body: '
      {
        "description": "tracker.updated",
        "mode": "test",
        "previous_attributes": {
          "status": "out_for_delivery"
        },
        "created_at": "2020-06-09T21:00:02.000Z",
        "pending_urls": [],
        "completed_urls": [
          "https://webhook.site/6db0d77f-77bb-48b7-ba65-b3bc141025d0"
        ],
        "updated_at": "2020-06-09T21:00:32.000Z",
        "id": "evt_36940ed69d634b92bfec365705549936",
        "user_id": "user_66bb044575114f29930ae33901f6c9a6",
        "status": "completed",
        "object": "Event"
      }
    '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6ed1139d5edff95eec6624e200031431
      X-Node:
      - bigweb8sj
      X-Proxied:
      - intlb2sj a38b562602
      - intlb2wdc a38b562602
      - extlb1wdc 5834894b53
      X-Version-Label:
      - easypost-202006091919-12f0b90a2e-master
    status: 200 OK
    code: 200
    duration: ""
