---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elmer
      Fudd","phone":"613-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_6521e48856b844f3b69cbc38d251e207","object":"Address","created_at":"2021-05-21T21:20:38+00:00","updated_at":"2021-05-21T21:20:38+00:00","name":"Elmer
      Fudd","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","phone":"6135551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bfddc8284337a301c8dc171371ddb1ba"
      Location:
      - /api/v2/addresses/adr_6521e48856b844f3b69cbc38d251e207
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - c2b10e7960a82426e78755620159f0e8
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 7ba176609e
      - extlb1nuq 15c8815ace
      X-Version-Label:
      - easypost-202105212044-9f976cba01-master
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"parcel":{"length":10.2,"width":7.8,"height":4.3,"weight":21.2}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_675a7e0da6744ebc825c29f2bce3f0a5","object":"Parcel","created_at":"2021-05-21T21:20:38Z","updated_at":"2021-05-21T21:20:38Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cdf0c5893750e8257633c2a73d512bd4"
      Location:
      - /api/v2/parcels.prcl_675a7e0da6744ebc825c29f2bce3f0a5
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - c2b10e7960a82426e78755620159f0fb
      X-Node:
      - bigweb7nuq
      X-Proxied:
      - intlb2nuq 7ba176609e
      - extlb1nuq 15c8815ace
      X-Version-Label:
      - easypost-202105212044-9f976cba01-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipment":{"to_address":{"id":"adr_6521e48856b844f3b69cbc38d251e207","object":"Address","mode":"test","created_at":"2021-05-21T21:20:38Z","updated_at":"2021-05-21T21:20:38Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elmer
      Fudd","phone":"6135551212","verifications":{"zip4":null,"delivery":null}},"from_address":{"id":"adr_8a9ec7ca5277481d892654e1bb26acf7","object":"Address","mode":"test","created_at":"2021-05-21T21:20:38Z","updated_at":"2021-05-21T21:20:38Z","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"4154567890","verifications":{"zip4":null,"delivery":null}},"parcel":{"id":"prcl_675a7e0da6744ebc825c29f2bce3f0a5","object":"Parcel","mode":"test","created_at":"2021-05-21T21:20:38Z","updated_at":"2021-05-21T21:20:38Z","length":10.2,"width":7.8,"height":4.3,"weight":21.2}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2021-05-21T21:20:38Z","is_return":false,"messages":[{"carrier":"Canpar","carrier_account_id":"ca_58451e27b5bc4f6cb419d9be15705847","type":"rate_error","message":"Unable
      to retrieve Canpar rates for non-CA origin shipments."}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2021-05-21T21:20:40Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8a9ec7ca5277481d892654e1bb26acf7","object":"Address","created_at":"2021-05-21T21:20:38+00:00","updated_at":"2021-05-21T21:20:38+00:00","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_675a7e0da6744ebc825c29f2bce3f0a5","object":"Parcel","created_at":"2021-05-21T21:20:38Z","updated_at":"2021-05-21T21:20:38Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_c93998aa4f274a609690375f55448d09","object":"Rate","created_at":"2021-05-21T21:20:40Z","updated_at":"2021-05-21T21:20:40Z","mode":"test","service":"Express","carrier":"USPS","rate":"32.10","currency":"USD","retail_rate":"36.90","retail_currency":"USD","list_rate":"32.10","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e9928c6434d54e23ba232afa8c745305","carrier_account_id":"ca_qn6QC6fd"},{"id":"rate_c40d303213564cbdb77b63c345a79c11","object":"Rate","created_at":"2021-05-21T21:20:40Z","updated_at":"2021-05-21T21:20:40Z","mode":"test","service":"Priority","carrier":"USPS","rate":"8.24","currency":"USD","retail_rate":"10.10","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e9928c64[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/shipments/shp_e9928c6434d54e23ba232afa8c745305/smartrate
    method: GET
  response:
    body: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_qn6QC6fd","created_at":"2021-05-21T21:20:40Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_c93998aa4f274a609690375f55448d09","list_currency":"USD","list_rate":32.1,"mode":"test","object":"Rate","rate":32.1,"retail_currency":"USD","retail_rate":36.9,"service":"Express","shipment_id":"shp_e9928c6434d54e23ba232afa8c745305","time_in_transit":{"percentile_50":1,"percentile_75":2,"percentile_85":2,"percentile_90":3,"percentile_95":3,"percentile_97":4,"percentile_99":5},"updated_at":"2021-05-21T21:20:40Z"},{"carrier":"USPS","carrier_account_id":"ca_qn6QC6fd","created_at":"2021-05-21T21:20:40Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_c40d303213564cbdb77b63c345a79c11","list_currency":"USD","list_rate":8.24,"mode":"test","object":"Rate","rate":8.24,"retail_currency":"USD","retail_rate":10.1,"service":"Priority","shipment_id":"shp_e9928c6434d54e23ba232afa8c745305","time_in_transit"[...]
