---
version: 1
interactions:
- request:
    body: '{"shipment":{"to_address":{"street1":"55 Sparks St.","city":"Ottawa","state":"ON","zip":"k1p5a5","country":"CA","name":"Elmer
      Fudd","phone":"613-555-1212"},"from_address":{"street1":"One Montgomery St","street2":"Ste
      400","city":"San Francisco","state":"CA","zip":"94104","company":"EasyPost","phone":"415-456-7890"},"parcel":{"length":10.2,"width":7.8,"height":4.3,"weight":21.2},"customs_info":{"eel_pfc":"NOEEI
      30.37(a)","contents_type":"gift","customs_certify":true,"customs_signer":"Wile
      E. Coyote","non_delivery_option":"return","restriction_type":"none","customs_items":[{"description":"EasyPost
      t-shirts","quantity":2,"value":"96.27","weight":21.1,"hs_tariff_number":"123456","origin_country":"US"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2020-05-08T05:01:03Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-08T05:01:03Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_d523b29c021d42009013fa3bcb7eabc2","object":"CustomsInfo","created_at":"2020-05-08T05:01:03Z","updated_at":"2020-05-08T05:01:03Z","contents_explanation":null,"contents_type":"gift","customs_certify":true,"customs_signer":"Wile
      E. Coyote","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_92c73df6b550498f9b17b1fb8834e9b5","object":"CustomsItem","created_at":"2020-05-08T05:01:03Z","updated_at":"2020-05-08T05:01:03Z","description":"EasyPost
      t-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"96.27","weight":21.1,"code":null,"mode":"test","manufacturer":null,"currency":null}]},"from_address":{"id":"adr_c05d7b434eb24a60a1f0170f0579625c","object":"Address","created_at":"2020-05-08T05:01:03Z","updated_at":"2020-05-08T05:01:03Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1214a769bed640bbaf4d2ebf0f753c33","object":"Parcel","created_at":"2020-05-08T05:01:03Z","updated_at":"2020-05-08T05:01:03Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e9bd928cb2354590a8281995d0934c44","object":"Rate","created_at":"2020-05-08T05:01:03Z","updated_at":"2020-05-08T05:01:03Z","mode":"test","service":"ExpressMailInternational","carrier":"USPS","rate":"51.81","currency":"USD","retail_rate":"55.65","retail_currency":"USD","list_rate":"51.81","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7ac1316fe48844129ffd12be35551070","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_574da557b7074d41b3f5cf319fcac5c7","object":"Rate","created_at":"2020-05-08T05:01:03Z","updated_at":"2020-05-08T05:01:03Z","mode":"test","service":"FirstClassPackageInternationalService","carrier":"USPS","rate":"19.71","currency":"USD","retail_rate":"20.75","retail_currency":"USD","list_rate":"19.71","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7ac1316[...]
- request:
    body: '{"rate":{"id":"rate_574da557b7074d41b3f5cf319fcac5c7","object":"Rate","mode":"test","created_at":"2020-05-08T05:01:03Z","updated_at":"2020-05-08T05:01:03Z","service":"FirstClassPackageInternationalService","carrier":"USPS","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e","shipment_id":"shp_7ac1316fe48844129ffd12be35551070","rate":"19.71","currency":"USD","retail_rate":"20.75","retail_currency":"USD","list_rate":"19.71","list_currency":"USD"},"insurance":"100.00"}'[...]
- request:
    body: '{"shipments":[{"id":"shp_7ac1316fe48844129ffd12be35551070"}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/scan_forms
    method: POST
  response:
    body: '{"id":"sf_8abf3df7d8a04f01987110143fa4392c","object":"ScanForm","created_at":"2020-05-08T05:01:07Z","updated_at":"2020-05-08T05:01:08Z","tracking_codes":["LM985029673US"],"address":{"id":"adr_c05d7b434eb24a60a1f0170f0579625c","object":"Address","created_at":"2020-05-08T05:01:03Z","updated_at":"2020-05-08T05:01:03Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/scan_form/20200508/51c49ed087a2480bbeba529ac7da770e.pdf","form_file_type":null,"batch_id":"batch_d923514ebbba4234aa0d7243ff4e8c0d","confirmation":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e793fd4b98730000a565
      X-Node:
      - bigweb3sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/scan_forms/sf_8abf3df7d8a04f01987110143fa4392c
    method: GET
  response:
    body: '{"id":"sf_8abf3df7d8a04f01987110143fa4392c","object":"ScanForm","created_at":"2020-05-08T05:01:07Z","updated_at":"2020-05-08T05:01:08Z","tracking_codes":["LM985029673US"],"address":{"id":"adr_c05d7b434eb24a60a1f0170f0579625c","object":"Address","created_at":"2020-05-08T05:01:03Z","updated_at":"2020-05-08T05:01:03Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/scan_form/20200508/51c49ed087a2480bbeba529ac7da770e.pdf","form_file_type":null,"batch_id":"batch_d923514ebbba4234aa0d7243ff4e8c0d","confirmation":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e794fd4b98730000a596
      X-Node:
      - bigweb3sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"page_size":2}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/scan_forms
    method: GET
  response:
    body: '{"scan_forms":[{"id":"sf_8abf3df7d8a04f01987110143fa4392c","object":"ScanForm","created_at":"2020-05-08T05:01:07Z","updated_at":"2020-05-08T05:01:08Z","tracking_codes":["LM985029673US"],"address":{"id":"adr_c05d7b434eb24a60a1f0170f0579625c","object":"Address","created_at":"2020-05-08T05:01:03Z","updated_at":"2020-05-08T05:01:03Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4154567890","email"[...]
