---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elmer
      Fudd","phone":"613-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_d0c57484196644a09ac1ecd148b436f7","object":"Address","created_at":"2021-05-24T17:51:49+00:00","updated_at":"2021-05-24T17:51:49+00:00","name":"Elmer
      Fudd","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","phone":"6135551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f74ff8e8439797f37f429f933695e32e"
      Location:
      - /api/v2/addresses/adr_d0c57484196644a09ac1ecd148b436f7
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - bc7536fa60abe7b5e786b39a0058197b
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb2nuq 7ba176609e
      - extlb2nuq 15c8815ace
      X-Version-Label:
      - easypost-202105212044-9f976cba01-master
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"parcel":{"length":10.2,"width":7.8,"height":4.3,"weight":21.2}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_5f1060fd51654936a0050d354211e5f1","object":"Parcel","created_at":"2021-05-24T17:51:49Z","updated_at":"2021-05-24T17:51:49Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd6880102ed5156e29e9d7b6abd41b30"
      Location:
      - /api/v2/parcels.prcl_5f1060fd51654936a0050d354211e5f1
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - bc7536fa60abe7b5e786b39a0058198a
      X-Node:
      - bigweb2nuq
      X-Proxied:
      - intlb1nuq 7ba176609e
      - extlb2nuq 15c8815ace
      X-Version-Label:
      - easypost-202105212044-9f976cba01-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipment":{"to_address":{"id":"adr_d0c57484196644a09ac1ecd148b436f7","object":"Address","mode":"test","created_at":"2021-05-24T17:51:49Z","updated_at":"2021-05-24T17:51:49Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elmer
      Fudd","phone":"6135551212","verifications":{"zip4":null,"delivery":null}},"from_address":{"id":"adr_820db84392314aa0b6fe8c88a51d0f21","object":"Address","mode":"test","created_at":"2021-05-24T17:51:49Z","updated_at":"2021-05-24T17:51:49Z","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"4154567890","verifications":{"zip4":null,"delivery":null}},"parcel":{"id":"prcl_5f1060fd51654936a0050d354211e5f1","object":"Parcel","mode":"test","created_at":"2021-05-24T17:51:49Z","updated_at":"2021-05-24T17:51:49Z","length":10.2,"width":7.8,"height":4.3,"weight":21.2}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2021-05-24T17:51:49Z","is_return":false,"messages":[{"carrier":"Canpar","carrier_account_id":"ca_58451e27b5bc4f6cb419d9be15705847","type":"rate_error","message":"Unable
      to retrieve Canpar rates for non-CA origin shipments."}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2021-05-24T17:51:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_820db84392314aa0b6fe8c88a51d0f21","object":"Address","created_at":"2021-05-24T17:51:49+00:00","updated_at":"2021-05-24T17:51:49+00:00","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5f1060fd51654936a0050d354211e5f1","object":"Parcel","created_at":"2021-05-24T17:51:49Z","updated_at":"2021-05-24T17:51:49Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_83f3141a48164e368889e364cc6c8874","object":"Rate","created_at":"2021-05-24T17:51:51Z","updated_at":"2021-05-24T17:51:51Z","mode":"test","service":"Express","carrier":"USPS","rate":"32.10","currency":"USD","retail_rate":"36.90","retail_currency":"USD","list_rate":"32.10","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_94c311d5187a412da03ab102a7f89adc","carrier_account_id":"ca_qn6QC6fd"},{"id":"rate_ab87ffdaf18c4e7cbf9415d2f9206481","object":"Rate","created_at":"2021-05-24T17:51:51Z","updated_at":"2021-05-24T17:51:51Z","mode":"test","service":"Priority","carrier":"USPS","rate":"8.24","currency":"USD","retail_rate":"10.10","retail_currency":"USD","list_rate":"8.24","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_94c311d5[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/shipments/shp_94c311d5187a412da03ab102a7f89adc/smartrate
    method: GET
  response:
    body: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_qn6QC6fd","created_at":"2021-05-24T17:51:51Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_83f3141a48164e368889e364cc6c8874","list_currency":"USD","list_rate":32.1,"mode":"test","object":"Rate","rate":32.1,"retail_currency":"USD","retail_rate":36.9,"service":"Express","shipment_id":"shp_94c311d5187a412da03ab102a7f89adc","time_in_transit":{"percentile_50":1,"percentile_75":2,"percentile_85":2,"percentile_90":3,"percentile_95":3,"percentile_97":4,"percentile_99":5},"updated_at":"2021-05-24T17:51:51Z"},{"carrier":"USPS","carrier_account_id":"ca_qn6QC6fd","created_at":"2021-05-24T17:51:51Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_ab87ffdaf18c4e7cbf9415d2f9206481","list_currency":"USD","list_rate":8.24,"mode":"test","object":"Rate","rate":8.24,"retail_currency":"USD","retail_rate":10.1,"service":"Priority","shipment_id":"shp_94c311d5187a412da03ab102a7f89adc","time_in_transit"[...]
