---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"One Montgomery St","street2":"Ste 400","city":"San
      Francisco","state":"CA","zip":"94104","company":"EasyPost","phone":"415-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_0c78520564d4452a88bc3dfcc098d827","object":"Address","created_at":"2020-05-08T04:59:53Z","updated_at":"2020-05-08T04:59:53Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_0c78520564d4452a88bc3dfcc098d827
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e749fd4b987300008d8d
      X-Node:
      - bigweb2sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/addresses/adr_0c78520564d4452a88bc3dfcc098d827/verify
    method: GET
  response:
    body: '{"address":{"id":"adr_a6ef43a896264947bb128d2837028ba5","object":"Address","created_at":"2020-05-08T04:59:53Z","updated_at":"2020-05-08T04:59:53Z","name":null,"company":"EASYPOST","street1":"1
      MONTGOMERY ST STE 400","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-4533","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_a6ef43a896264947bb128d2837028ba5
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e749fd4b987300008d90
      X-Node:
      - bigweb9sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/addresses/adr_a6ef43a896264947bb128d2837028ba5
    method: GET
  response:
    body: '{"id":"adr_a6ef43a896264947bb128d2837028ba5","object":"Address","created_at":"2020-05-08T04:59:53Z","updated_at":"2020-05-08T04:59:53Z","name":null,"company":"EASYPOST","street1":"1
      MONTGOMERY ST STE 400","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-4533","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e74bfd4b987300008dcd
      X-Node:
      - bigweb8sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
