---
version: 1
interactions:
- request:
    body: '{"address":{"state":"DELEGACIóN BENITO JUáREZ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_f5dbc8b474884233aa8992542851c7d2","object":"Address","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","name":null,"company":null,"street1":null,"street2":null,"city":null,"state":"DELEGACIóN
      BENITO JUáREZ","zip":null,"country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_f5dbc8b474884233aa8992542851c7d2
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e74bfd4b987300008dde
      X-Node:
      - bigweb3sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
