---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"55 Sparks St.","city":"Ottawa","state":"ON","zip":"k1p5a5","country":"CA","name":"Elmer
      Fudd","phone":"613-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_6453ad50861311ecbb48ac1f6bc7b362","object":"Address","created_at":"2022-02-04T23:37:18+00:00","updated_at":"2022-02-04T23:37:18+00:00","name":"Elmer
      Fudd","company":null,"street1":"55 Sparks St.","street2":null,"city":"Ottawa","state":"ON","zip":"k1p5a5","country":"CA","phone":"6135551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d1456e76719882e81490713aee1c107"
      Location:
      - /api/v2/addresses/adr_6453ad50861311ecbb48ac1f6bc7b362
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 80dc0e2161fdb8aeff136b43003ccde8
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202202042220-76f9648007-master
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"parcel":{"length":10.2,"width":7.8,"height":4.3,"weight":21.2}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_26cfd61dc3ff4665a489e7b2cee60758","object":"Parcel","created_at":"2022-02-04T23:37:18Z","updated_at":"2022-02-04T23:37:18Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6620f300f71e5322395dffb5694e192"
      Location:
      - /api/v2/parcels.prcl_26cfd61dc3ff4665a489e7b2cee60758
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 80dc0e2161fdb8aeff136b43003ccdf4
      X-Node:
      - bigweb6nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202202042220-76f9648007-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"customs_item":{"description":"EasyPost t-shirts","quantity":2,"value":"96.27","weight":21.1,"hs_tariff_number":"123456","origin_country":"US"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"id":"cstitem_cace473ad9a54faa883bc3e2da1db68f","object":"CustomsItem","created_at":"2022-02-04T23:37:19Z","updated_at":"2022-02-04T23:37:19Z","description":"EasyPost
      t-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"96.27","weight":21.1,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c58cf9ffb7e628d8a47230295c2807f7"
      Location:
      - /api/v2/customs_items/cstitem_cace473ad9a54faa883bc3e2da1db68f
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 80dc0e2161fdb8afff136b43003ccdfd
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202202042220-76f9648007-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"customs_info":{"eel_pfc":"NOEEI 30.37(a)","contents_type":"gift","customs_certify":true,"customs_signer":"Wile
      E. Coyote","non_delivery_option":"return","restriction_type":"none","customs_items":[{"id":"cstitem_cace473ad9a54faa883bc3e2da1db68f","object":"CustomsItem","created_at":"2022-02-04T23:37:19Z","updated_at":"2022-02-04T23:37:19Z","description":"EasyPost
      t-shirts","quantity":2,"value":"96.27","weight":21.1,"hs_tariff_number":"123456","origin_country":"US"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_infos
    method: POST
  response:
    body: '{"id":"cstinfo_74e4d750844645c79165056bbb54f006","object":"CustomsInfo","created_at":"2022-02-04T23:37:19Z","updated_at":"2022-02-04T23:37:19Z","contents_explanation":null,"contents_type":"gift","customs_certify":true,"customs_signer":"Wile
      E. Coyote","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_cace473ad9a54faa883bc3e2da1db68f","object":"CustomsItem","created_at":"2022-02-04T23:37:19Z","updated_at":"2022-02-04T23:37:19Z","description":"EasyPost
      t-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"96.27","weight":21.1,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d514385fc700a4c01a6b1d03272610b9"
      Location:
      - /api/v2/customs_infos/cstinfo_74e4d750844645c79165056bbb54f006
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 80dc0e2161fdb8afff136b43003cce09
      X-Node:
      - bigweb3nuq
      X-Proxied:
      - intlb2nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202202042220-76f9648007-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipment":{"to_address":{"id":"adr_6453ad50861311ecbb48ac1f6bc7b362","object":"Address","mode":"test","created_at":"2022-02-04T23:37:18Z","updated_at":"2022-02-04T23:37:18Z","street1":"55
      Sparks St.","city":"Ottawa","state":"ON","zip":"k1p5a5","country":"CA","name":"Elmer
      Fudd","phone":"6135551212","verifications":{"zip4":null,"delivery":null}},"from_address":{"id":"adr_64652f03861311eca1ccac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-02-04T23:37:18Z","updated_at":"2022-02-04T23:37:18Z","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"4154567890","verifications":{"zip4":null,"delivery":null}},"parcel":{"id":"prcl_26cfd61dc3ff4665a489e7b2cee60758","object":"Parcel","mode":"test","created_at":"2022-02-04T23:37:18Z","updated_at":"2022-02-04T23:37:18Z","length":10.2,"width":7.8,"height":4.3,"weight":21.2},"customs_info":{"id":"cstinfo_74e4d750844645c79165056bbb54f006","object":"CustomsInfo","created_at":"2022-02-04T23:37:19Z","updated_at":"2022-02-04T23:37:19Z","eel_pfc":"NOEEI
      30.37(a)","contents_type":"gift","customs_certify":true,"customs_signer":"Wile
      E. Coyote","non_delivery_option":"return","restriction_type":"none","customs_items":[{"id":"cstitem_cace473ad9a54faa883bc3e2da1db68f","object":"CustomsItem","created_at":"2022-02-04T23:37:19Z","updated_at":"2022-02-04T23:37:19Z","description":"EasyPost
      t-shirts","quantity":2,"value":"96.27","weight":21.1,"hs_tariff_number":"123456","origin_country":"US"}]}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-02-04T23:37:19Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-02-04T23:37:19Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_74e4d750844645c79165056bbb54f006","object":"CustomsInfo","created_at":"2022-02-04T23:37:19Z","updated_at":"2022-02-04T23:37:19Z","contents_explanation":null,"contents_type":"gift","customs_certify":true,"customs_signer":"Wile
      E. Coyote","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_cace473ad9a54faa883bc3e2da1db68f","object":"CustomsItem","created_at":"2022-02-04T23:37:19Z","updated_at":"2022-02-04T23:37:19Z","description":"EasyPost
      t-shirts","hs_tariff_number":"123456","origin_country":"US","quantity":2,"value":"96.27","weight":21.1,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_64652f03861311eca1ccac1f6b0a0d1e","object":"Address","created_at":"2022-02-04T23:37:18+00:00","updated_at":"2022-02-04T23:37:18+00:00","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_26cfd61dc3ff4665a489e7b2cee60758","object":"Parcel","created_at":"2022-02-04T23:37:18Z","updated_at":"2022-02-04T23:37:18Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_8604219b976d42eb97818155af4a9669","object":"Rate","created_at":"2022-02-04T23:37:20Z","updated_at":"2022-02-04T23:37:20Z","mode":"test","service":"ExpressWorldwide","carrier":"DHLExpress","rate":"20.38","currency":"USD","retail_rate":"20.38","retail_currency":null,"list_rate":"20.38","list_currency":null,"delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7f2446fdc79f488c98463a007a6c9de3","carrier_account_id":"ca_71d5ceee9aa14a72a5d1a3183b13e8ba"},{"id":"rate_2b068215873b4a158ad89ec5d8a8a761","object":"Rate","created_at":"2022-02-04T23:37:20Z","updated_at":"2022-02-04T23:37:20Z","mode":"test","service":"ExpressWorldwideNonDoc","carrier":"DHLExpress","rate":"33.11","currency":"USD","retail_rate":"33.11","retail_currency":null,"list_rate":"33.11","list_currency":null,"delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_7f2446fdc79f488c98[...]
