---
version: 1
interactions:
- request:
    body: '{"verify":["delivery"],"address":{"street1":"UNDELIEVRABLE ST","city":"San
      Francisco","state":"CA","zip":"94105","country":"US","company":"EasyPost","phone":"415-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_ab82ec2d06ca4071a1077e9589bbd4d9","object":"Address","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","name":null,"company":"EasyPost","street1":"UNDELIEVRABLE
      ST","street2":null,"city":"San Francisco","state":"CA","zip":"94105","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":false,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
      not found","suggestion":null},{"code":"E.HOUSE_NUMBER.MISSING","field":"street1","message":"House
      number is missing","suggestion":null}],"details":{}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_ab82ec2d06ca4071a1077e9589bbd4d9
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e74bfd4b987300008dd6
      X-Node:
      - bigweb2sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
