---
version: 1
interactions:
- request:
    body: '{"verify":["delivery"],"address":{"street1":"1 MONTGOMERY ST STE 400","city":"San
      Francisco","state":"CA","zip":"94104","name":"Homer Simpson","company":"EasyPost","phone":"415-456-7890"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_785842987f87444ebfe606af058e0029","object":"Address","created_at":"2020-05-08T05:01:13Z","updated_at":"2020-05-08T05:01:13Z","name":"HOMER
      SIMPSON","company":"EASYPOST","street1":"1 MONTGOMERY ST STE 400","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94104-4533","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_785842987f87444ebfe606af058e0029
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e799fd4b98730000a6c9
      X-Node:
      - bigweb9sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipment":{"to_address":{"street1":"4000 Warner Blvd","city":"Burbank","state":"CA","zip":"91522","name":"Bugs
      Bunny","phone":"818-555-1212"},"from_address":{"id":"adr_785842987f87444ebfe606af058e0029","object":"Address","mode":"test","created_at":"2020-05-08T05:01:13Z","updated_at":"2020-05-08T05:01:13Z","street1":"1
      MONTGOMERY ST STE 400","city":"SAN FRANCISCO","state":"CA","zip":"94104-4533","country":"US","name":"HOMER
      SIMPSON","company":"EASYPOST","phone":"4154567890","verifications":{"zip4":null,"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}},"parcel":{"weight":21.2}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2020-05-08T05:01:14Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-08T05:01:14Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_785842987f87444ebfe606af058e0029","object":"Address","created_at":"2020-05-08T05:01:13Z","updated_at":"2020-05-08T05:01:13Z","name":"HOMER
      SIMPSON","company":"EASYPOST","street1":"1 MONTGOMERY ST STE 400","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94104-4533","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9e36154773b8458ba753d4fd877175da","object":"Parcel","created_at":"2020-05-08T05:01:14Z","updated_at":"2020-05-08T05:01:14Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":21.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_8836657a9ddc48298e388e2d2c6d554b","object":"Rate","created_at":"2020-05-08T05:01:15Z","updated_at":"2020-05-08T05:01:15Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.05","currency":"USD","retail_rate":"31.15","retail_currency":"USD","list_rate":"27.05","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_aeed04921af64bfe83ce85f6eb8574c0","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_8a4eb04559084145ba7c51a342beab3b","object":"Rate","created_at":"2020-05-08T05:01:15Z","updated_at":"2020-05-08T05:01:15Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.84","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.84","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_aeed04921af64bfe83ce85f6eb8574c0","carrier_ac[...]
- request:
    body: '{"rate":{"id":"rate_8836657a9ddc48298e388e2d2c6d554b","object":"Rate","mode":"test","created_at":"2020-05-08T05:01:15Z","updated_at":"2020-05-08T05:01:15Z","service":"Express","carrier":"USPS","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e","shipment_id":"shp_aeed04921af64bfe83ce85f6eb8574c0","rate":"27.05","currency":"USD","retail_rate":"31.15","retail_currency":"USD","list_rate":"27.05","list_currency":"USD"},"insurance":"100.00"}'
    form: {}
    headers:
   [...]
- request:
    body: '{"pickup":{"reference":"internal_id_1234","min_datetime":"2020-05-11T12:00:00-07:00","max_datetime":"2020-05-12T12:00:00-07:00","is_account_address":true,"instructions":"Special
      pickup instructions","shipment":{"id":"shp_aeed04921af64bfe83ce85f6eb8574c0","object":"Shipment","mode":"test","created_at":"2020-05-08T05:01:14Z","updated_at":"2020-05-08T05:01:17Z","to_address":{"id":"adr_f19d3c00e6124cbda35edca139b6e27c","object":"Address","mode":"test","created_at":"2020-05-08T05:01:14Z","updated_at":"2020-05-08T05:01:16Z","street1":"4000
      Warner Blvd","city":"Burbank","state":"CA","zip":"91522-0001","country":"US","name":"Bugs
      Bunny","phone":"8185551212","verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":null}},"from_address":{"id":"adr_785842987f87444ebfe606af058e0029","object":"Address","mode":"test","created_at":"2020-05-08T05:01:13Z","updated_at":"2020-05-08T05:01:13Z","street1":"1
      MONTGOMERY ST STE 400","city":"SAN FRANCISCO","state":"CA","zip":"94104-4533","country":"US","name":"HOMER
      SIMPSON","company":"EASYPOST","phone":"4154567890","verifications":{"zip4":null,"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}},"return_address":{"id":"adr_785842987f87444ebfe606af058e0029","object":"Address","mode":"test","created_at":"2020-05-08T05:01:13Z","updated_at":"2020-05-08T05:01:13Z","street1":"1
      MONTGOMERY ST STE 400","city":"SAN FRANCISCO","state":"CA","zip":"94104-4533","country":"US","name":"HOMER
      SIMPSON","company":"EASYPOST","phone":"4154567890","verifications":{"zip4":null,"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}},"buyer_address":{"id":"adr_f19d3c00e6124cbda35edca139b6e27c","object":"Address","mode":"test","created_at":"2020-05-08T05:01:14Z","updated_at":"2020-05-08T05:01:16Z","street1":"4000
      Warner Blvd","city":"Burbank","state":"CA","zip":"91522-0001","country":"US","name":"Bugs
      Bunny","phone":"8185551212","verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":null}},"parcel":{"id":"prcl_9e36154773b8458ba753d4fd877175da","object":"Parcel","mode":"test","created_at":"2020-05-08T05:01:[...]
- request:
    body: carrier=USPS&service=NextDay
    form:
      carrier:
      - USPS
      service:
      - NextDay
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/pickups/pickup_a2e0bae8a7124dcb91b73f6d724636cc/buy
    method: POST
  response:
    body: '{"id":"pickup_a2e0bae8a7124dcb91b73f6d724636cc","object":"Pickup","created_at":"2020-05-08T05:01:18Z","updated_at":"2020-05-08T05:01:21Z","mode":"test","status":"scheduled","reference":"internal_id_1234","min_datetime":"2020-05-11T19:00:00Z","max_datetime":"2020-05-12T19:00:00Z","is_account_address":true,"instructions":"Special
      pickup instructions","messages":[],"confirmation":"WTC60167818","address":{"id":"adr_785842987f87444ebfe606af058e0029","object":"Address","created_at":"2020-05-08T05:01:13Z","updated_at":"2020-05-08T05:01:13Z","name":"HOMER
      SIMPSON","company":"EASYPOST","street1":"1 MONTGOMERY ST STE 400","street2":"","city":"SAN
      FRANCISCO","state":"CA","zip":"94104-4533","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":37.78909,"longitude":-122.40208,"time_zone":"America/Los_Angeles"}}}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2020-05-08T05:01:19Z","updated_at":"2020-05-08T05:01:19Z","carrier":"USPS","pickup_id":"pickup_a2e0bae8a7124dcb91b73f6d724636cc","id":"pickuprate_e6baa6e719bc4655bd0913ad9a75473f","object":"PickupRate"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e7a0fd4b98730000a861
      X-Node:
      - bigweb3sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
