---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"179 N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elmer
      Fudd","phone":"613-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_a8d53675890111ec97e7ac1f6bc72124","object":"Address","created_at":"2022-02-08T17:07:56+00:00","updated_at":"2022-02-08T17:07:56+00:00","name":"Elmer
      Fudd","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","phone":"6135551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6d36ce7c49df97c3af19cfb297b298b2"
      Location:
      - /api/v2/addresses/adr_a8d53675890111ec97e7ac1f6bc72124
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - e5c44bbd6202a36ce786c162009de5ec
      X-Node:
      - bigweb1nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202202080200-f3c9f58c24-master
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"parcel":{"length":10.2,"width":7.8,"height":4.3,"weight":21.2}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_76fad0ac4e8c46718191ecea4b60ceaa","object":"Parcel","created_at":"2022-02-08T17:07:56Z","updated_at":"2022-02-08T17:07:56Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc85bb0fc54ec4c8ed554c0d494dcacd"
      Location:
      - /api/v2/parcels.prcl_76fad0ac4e8c46718191ecea4b60ceaa
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - e5c44bbd6202a36ce786c162009de62e
      X-Node:
      - bigweb5nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202202080200-f3c9f58c24-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipment":{"to_address":{"id":"adr_a8d53675890111ec97e7ac1f6bc72124","object":"Address","mode":"test","created_at":"2022-02-08T17:07:56Z","updated_at":"2022-02-08T17:07:56Z","street1":"179
      N Harbor Dr","city":"Redondo Beach","state":"CA","zip":"90277","country":"US","name":"Elmer
      Fudd","phone":"6135551212","verifications":{"zip4":null,"delivery":null}},"from_address":{"id":"adr_a90d0606890111eca7cdac1f6b0a0d1e","object":"Address","mode":"test","created_at":"2022-02-08T17:07:56Z","updated_at":"2022-02-08T17:07:56Z","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"4154567890","verifications":{"zip4":null,"delivery":null}},"parcel":{"id":"prcl_76fad0ac4e8c46718191ecea4b60ceaa","object":"Parcel","mode":"test","created_at":"2022-02-08T17:07:56Z","updated_at":"2022-02-08T17:07:56Z","length":10.2,"width":7.8,"height":4.3,"weight":21.2}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"created_at":"2022-02-08T17:07:56Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-02-08T17:07:56Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_a90d0606890111eca7cdac1f6b0a0d1e","object":"Address","created_at":"2022-02-08T17:07:56+00:00","updated_at":"2022-02-08T17:07:56+00:00","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_76fad0ac4e8c46718191ecea4b60ceaa","object":"Parcel","created_at":"2022-02-08T17:07:56Z","updated_at":"2022-02-08T17:07:56Z","length":10.2,"width":7.8,"height":4.3,"predefined_package":null,"weight":21.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a9b3cd580088415b8cbae8d1d18276c6","object":"Rate","created_at":"2022-02-08T17:07:57Z","updated_at":"2022-02-08T17:07:57Z","mode":"test","service":"Express","carrier":"USPS","rate":"33.20","currency":"USD","retail_rate":"37.90","retail_currency":"USD","list_rate":"33.20","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b11e9b82bcea48ab9edb89b6b02a5607","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_033cf09c89ec4108ae8f860d5037d6ed","object":"Rate","created_at":"2022-02-08T17:07:57Z","updated_at":"2022-02-08T17:07:57Z","mode":"test","service":"Priority","carrier":"USPS","rate":"8.49","currency":"USD","retail_rate":"10.70","retail_currency":"USD","list_rate":"8.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b11e9b82bcea48ab9edb89b6b02a5607","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"},{"id":"rate_93eb948f5e0d4c018c132df2b8a101a8","object":"Rate","created_at":"2022-02-08T17:07:57Z","updated_at":"2022-02-08T17:07:57Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.95","currency":"USD","retail_rate":"7.95","retail_currency":"USD","list_rate":"7.95","list_currency":"USD","delivery_days":5,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":5,"shipment_id":"shp_b11e9b82bcea48ab9edb89b6b02a5607","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_a8d53675890111ec97e7ac1f6bc72124","object":"Address","created_at":"2022-02-08T17:07:56+00:00","updated_at":"2022-02-08T17:07:56+00:00","name":"Elmer
      Fudd","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","phone":"6135551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":4,"return_address":{"id":"adr_a90d0606890111eca7cdac1f6b0a0d1e","object":"Address","created_at":"2022-02-08T17:07:56+00:00","updated_at":"2022-02-08T17:07:56+00:00","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4154567890","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_a8d53675890111ec97e7ac1f6bc72124","object":"Address","created_at":"2022-02-08T17:07:56+00:00","updated_at":"2022-02-08T17:07:56+00:00","name":"Elmer
      Fudd","company":null,"street1":"179 N Harbor Dr","street2":null,"city":"Redondo
      Beach","state":"CA","zip":"90277","country":"US","phone":"6135551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_b11e9b82bcea48ab9edb89b6b02a5607","object":"Shipment"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cffb445ea803ccea65e11acdb51fc2b1"
      Location:
      - /api/v2/shipments/shp_b11e9b82bcea48ab9edb89b6b02a5607
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - e5c44bbd6202a36ce786c162009de64e
      X-Node:
      - bigweb8nuq
      X-Proxied:
      - intlb1nuq 88c34981dc
      - extlb2nuq 88c34981dc
      X-Version-Label:
      - easypost-202202080200-f3c9f58c24-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/shipments/shp_b11e9b82bcea48ab9edb89b6b02a5607/smartrate
    method: GET
  response:
    body: '{"result":[{"carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-02-08T17:07:57Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":null,"est_delivery_days":null,"id":"rate_a9b3cd580088415b8cbae8d1d18276c6","list_currency":"USD","list_rate":33.2,"mode":"test","object":"Rate","rate":33.2,"retail_currency":"USD","retail_rate":37.9,"service":"Express","shipment_id":"shp_b11e9b82bcea48ab9edb89b6b02a5607","time_in_transit":{"percentile_50":2,"percentile_75":2,"percentile_85":3,"percentile_90":3,"percentile_95":4,"percentile_97":4,"percentile_99":6},"updated_at":"2022-02-08T17:07:57Z"},{"carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2022-02-08T17:07:57Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_033cf09c89ec4108ae8f860d5037d6ed","list_currency":"USD","list_rate":8.49,"mode":"test","object":"Rate","rate":8.49,"retail_currency":"USD","retail_rate":10.7,"service":"Priority","shipment_id":"shp_b11e9b82bcea48ab9edb89b6b02[...]
