---
version: 1
interactions:
- request:
    body: '{"order":{"to_address":{"street1":"5300 Claremont Ave","city":"Oakland","state":"CA","zip":"94618","country":"US","name":"Customer","company":"Oakland
      Dmv Office","phone":"510-555-1212"},"from_address":{"street1":"One Montgomery
      St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","company":"EasyPost","phone":"415-555-1212"},"shipments":[{"parcel":{"length":12,"width":12,"height":3,"weight":21.2},"options":{"label_format":"PDF"}},{"parcel":{"length":8,"width":5,"height":5,"weight":16},"options":{"label_format":"PDF"}}],"is_return":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[{"carrier":"UPS","carrier_account_id":"ca_a1b4376f6bbc4287b58b45a51666c1d4","type":"rate_message","message":"UPS
      multi-shipment rate includes this shipment."}],"created_at":"2020-05-08T05:00:43Z","updated_at":"2020-05-08T05:00:45Z","customs_info":null,"from_address":{"id":"adr_23bb4b8c49d04995af39651bf450b34f","object":"Address","created_at":"2020-05-08T05:00:43Z","updated_at":"2020-05-08T05:00:43Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_4f9d63a1fa9141098532e747d1e9c97e","object":"Address","created_at":"2020-05-08T05:00:43Z","updated_at":"2020-05-08T05:00:43Z","name":"Customer","company":"Oakland
      Dmv Office","street1":"5300 Claremont Ave","street2":null,"city":"Oakland","state":"CA","zip":"94618","country":"US","phone":"5105551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_4f9d63a1fa9141098532e747d1e9c97e","object":"Address","created_at":"2020-05-08T05:00:43Z","updated_at":"2020-05-08T05:00:43Z","name":"Customer","company":"Oakland
      Dmv Office","street1":"5300 Claremont Ave","street2":null,"city":"Oakland","state":"CA","zip":"94618","country":"US","phone":"5105551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_23bb4b8c49d04995af39651bf450b34f","object":"Address","created_at":"2020-05-08T05:00:43Z","updated_at":"2020-05-08T05:00:43Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2020-05-08T05:00:43Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PDF","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-05-08T05:00:43Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_23bb4b8c49d04995af39651bf450b34f","object":"Address","created_at":"2020-05-08T05:00:43Z","updated_at":"2020-05-08T05:00:43Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_8142b67b1334431c9d0f282715b3474c","parcel":{"id":"prcl_3fa11c9dff5f432f8046d60ed02e4ae4","object":"Parcel","created_at":"2020-05-08T05:00:43Z","updated_at":"2020-05-08T05:00:43Z","length":12.0,"width":12.0,"height":3.0,"predefined_package":null,"weight":21.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_3eddc4c10c814ebc9f27f1ee47d79aa5","object":"Rate","created_at":"2020-05-08T05:00:44Z","updated_at":"2020-05-08T05:00:44Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.25","currency":"USD","retail_rate":"27.15","retail_currency":"USD","list_rate":"23.25","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_19d0eecb29d3454c8231c0417d30c5e6","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_ddc8cc4a59c74a199ccd3f03444b88c6","object":"Rate","created_at":"2020-05-08T05:00:44Z","updated_at":"2020-05-08T05:00:44Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.54","currency":"USD","retail_rate":"7.54","retail_currency":"USD","list_rate":"7.54","list_currency":"USD","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/orders/order_8142b67b1334431c9d0f282715b3474c/rates
    method: GET
  response:
    body: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[{"carrier":"UPS","carrier_account_id":"ca_a1b4376f6bbc4287b58b45a51666c1d4","type":"rate_message","message":"UPS
      multi-shipment rate includes this shipment."}],"created_at":"2020-05-08T05:00:43Z","[...]
- request:
    body: carrier=USPS&service=Priority
    form:
      carrier:
      - USPS
      service:
      - Priority
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/orders/order_8142b67b1334431c9d0f282715b3474c/buy
    method: POST
  response:
    body: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[{"carrier":"UPS","carrier_account_id":"ca_a1b4376f6bbc4287[...]
- request:
    body: amount=100.00
    form:
      amount:
      - "100.00"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/shipments/shp_19d0eecb29d3454c8231c0417d30c5e6/insure
    method: POST
  response:
    body: '{"created_at":"2020-05-08T05:00:43Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PDF","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9405500897846038518080","updated_at":"2020-05[...]
[...]
