---
version: 1
interactions:
- request:
    body: '{"address":{"street1":"One Montgomery St","street2":"Ste 400","city":"San
      Francisco","state":"CA","zip":"94104","company":"EasyPost","phone":"415-555-1212"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"id":"adr_2c39bff6887f40648e013fd500a13f13","object":"Address","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_2c39bff6887f40648e013fd500a13f13
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e74bfd4b987300008ddf
      X-Node:
      - bigweb8sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"parcel":{"predefined_package":"RegionalRateBoxA","weight":64}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"id":"prcl_c93c8b5fbff14013b334d8cb18d46aae","object":"Parcel","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","length":null,"width":null,"height":null,"predefined_package":"RegionalRateBoxA","weight":64.0,"mode":"test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/parcels/prcl_c93c8b5fbff14013b334d8cb18d46aae
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e74bfd4b987300008de3
      X-Node:
      - bigweb3sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"batch":{"shipments":[{"reference":"1234567890","to_address":{"street1":"4000
      Warner Blvd","city":"Burbank","state":"CA","zip":"91522","name":"Bugs Bunny","phone":"818-555-1212"},"from_address":{"id":"adr_2c39bff6887f40648e013fd500a13f13","object":"Address","mode":"test","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","company":"EasyPost","phone":"4155551212","verifications":{"zip4":null,"delivery":null}},"parcel":{"id":"prcl_c93c8b5fbff14013b334d8cb18d46aae","object":"Parcel","mode":"test","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","predefined_package":"RegionalRateBoxA","weight":64},"carrier":"USPS","service":"Priority"}]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/batches/create_and_buy
    method: POST
  response:
    body: '{"id":"batch_50053ffc470d47d282f808d51e399323","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e74bfd4b987300008de6
      X-Node:
      - bigweb9sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/batches/batch_50053ffc470d47d282f808d51e399323
    method: GET
  response:
    body: '{"id":"batch_50053ffc470d47d282f808d51e399323","object":"Batch","mode":"test","state":"purchasing","num_shipments":1,"reference":null,"created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":"1234567890","tracking_code":null,"id":"shp_6ed5e1432e86403f9212dbc948e4cdf6"}],"status":{"created":0,"queued_for_purchase":1,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e74cfd4b987300008e0d
      X-Node:
      - bigweb3sj
      X-Proxied:
      - intlb2sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: amount=100.00
    form:
      amount:
      - "100.00"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.easypost.com/v2/shipments/shp_6ed5e1432e86403f9212dbc948e4cdf6/insure
    method: POST
  response:
    body: '{"created_at":"2020-05-08T04:59:55Z","is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_a1b4376f6bbc4287b58b45a51666c1d4","type":"rate_error","message":"Unable
      to retrieve rates for predefined_package parcel REGIONALRATEBOXA"},{"carrier":"UPS","carrier_account_id":"ca_a1b4376f6bbc4287b58b45a51666c1d4","type":"rate_error","message":"UPS
      did not return a valid response for rate account data."}],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"1234567890","status":"unknown","tracking_code":"9405500897846038518066","updated_at":"2020-05-08T04:59:56Z","batch_id":"batch_50053ffc470d47d282f808d51e399323","batch_status":"postage_purchased","batch_message":null,"customs_info":null,"from_address":{"id":"adr_2c39bff6887f40648e013fd500a13f13","object":"Address","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":"100.00","order_id":null,"parcel":{"id":"prcl_c93c8b5fbff14013b334d8cb18d46aae","object":"Parcel","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","length":null,"width":null,"height":null,"predefined_package":"RegionalRateBoxA","weight":64.0,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_19f5fe10a3254184bffc260023ed5870","created_at":"2020-05-08T04:59:56Z","updated_at":"2020-05-08T04:59:56Z","date_advance":0,"integrated_form":"none","label_date":"2020-05-08T04:59:56Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20200508/7b317d8437b64c5786432bc1e3eea3f6.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_f45cd98de65d4e60b3756193df227aae","object":"Rate","created_at":"2020-05-08T04:59:56Z","updated_at":"2020-05-08T04:59:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.92","currency":"USD","retail_rate":"7.92","retail_currency":"USD","list_rate":"7.92","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6ed5e1432e86403f9212dbc948e4cdf6","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_f45cd98de65d4e60b3756193df227aae","object":"Rate","created_at":"2020-05-08T04:59:56Z","updated_at":"2020-05-08T04:59:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.92","currency":"USD","retail_rate":"7.92","retail_currency":"USD","list_rate":"7.92","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6ed5e1432e86403f9212dbc948e4cdf6","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},"tracker":{"id":"trk_81dbb2f055894dd5aabeeea72fd999a5","user_id":47636,"object":"Tracker","mode":"test","tracking_code":"9405500897846038518066","status":"pre_transit","status_detail":"status_update","created_at":"2020-05-08T04:59:56Z","updated_at":"2020-05-08T04:59:56Z","signed_by":null,"weight":null,"est_delivery_date":"2020-05-08T04:59:56Z","shipment_id":"shp_6ed5e1432e86403f9212dbc948e4cdf6","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
      Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2020-04-08T04:59:56Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
      Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2020-04-08T17:36:56Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
      Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzgxZGJiMmYwNTU4OTRkZDVhYWJlZWVhNzJmZDk5OWE1","fees":null},"to_address":{"id":"adr_dd3a3a0a33a349fbacf358859e24b7fb","object":"Address","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:56Z","name":"Bugs
      Bunny","company":null,"street1":"4000 Warner Blvd","street2":null,"city":"Burbank","state":"CA","zip":"91522-0001","country":"US","phone":"8185551212","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null}}},"usps_zone":3,"return_address":{"id":"adr_2c39bff6887f40648e013fd500a13f13","object":"Address","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:55Z","name":null,"company":"EasyPost","street1":"One
      Montgomery St","street2":"Ste 400","city":"San Francisco","state":"CA","zip":"94104","country":"US","phone":"4155551212","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_dd3a3a0a33a349fbacf358859e24b7fb","object":"Address","created_at":"2020-05-08T04:59:55Z","updated_at":"2020-05-08T04:59:56Z","name":"Bugs
      Bunny","company":null,"street1":"4000 Warner Blvd","street2":null,"city":"Burbank","state":"CA","zip":"91522-0001","country":"US","phone":"8185551212","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null}}},"forms":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.00000","charged":true,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"7.92000","charged":true,"refunded":false},{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false}],"id":"shp_6ed5e1432e86403f9212dbc948e4cdf6","object":"Shipment"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5c7017075eb4e74efd4b987300008e6d
      X-Node:
      - bigweb3sj
      X-Proxied:
      - intlb1sj 5834894b53
      - extlb2sj 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/shipments/shp_6ed5e1432e86403f9212dbc948e4cdf6
    method: GET
  response:
    body: '{"created_at":"2020-05-08T04:59:55Z","is_return":false,"messages":[{"carrier":"UPS","carrier_account_id":"ca_a1b4376f6bbc4287b58b45a51666c1d4","type":"rate_error","message":"Unable
      to retrieve rates for predefined_package parcel REGIONALRATEBOXA"},{"carrier":"UPS","carrier_account_id":"ca_a1b4376f6bbc4287b58b45a51666c1d[...]
