---
version: 1
interactions:
- request:
    body: '{"user":{"name":"Go Test User"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users
    method: POST
  response:
    body: '{"api_keys":[{"active":true,"created_at":"2020-05-08T07:14:25Z","id":"ak_22447b10495042c19aef484bf587fcd0","key":"XXX","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2020-05-08T07:14:25Z","id":"ak_5f3502905efa491aa44f8fdfde070b5d","key":"XXX","mode":"production","object":"ApiKey"}],"children":[],"id":"user_ed174c75c3754b6abc08f51af4b88abb","name":"Go
      Test User","object":"User","parent_id":"user_54356a6b96c940d8913961a3c7b909f2","phone_number":"8005550100","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 77f7dec55eb506d1fd4c2e5c0006f34c
      X-Node:
      - bigweb8sj
      X-Proxied:
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
      - extlb2wdc 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.easypost.com/v2/users/user_ed174c75c3754b6abc08f51af4b88abb
    method: GET
  response:
    body: '{"children":[],"id":"user_ed174c75c3754b6abc08f51af4b88abb","name":"Go
      Test User","object":"User","parent_id":"user_54356a6b96c940d8913961a3c7b909f2","phone_number":"8005550100","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 77f7dec55eb506d2fd4c2e5c0006f367
      X-Node:
      - bigweb9sj
      X-Proxied:
      - intlb2sj 5834894b53
      - intlb2wdc 5834894b53
      - extlb2wdc 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"user":{"password":"super-secret-password","password_confirmation":"super-secret-password","name":"Go
      Testing User"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users
    method: POST
  response:
    body: '{"error":{"code":"USER.INVALID","errors":[],"message":"Child users must
      be created via the API and must not contain an email or password."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 77f7dec55eb506d8fd4c2e5c0006f3f1
      X-Node:
      - bigweb3sj
      X-Proxied:
      - intlb1sj 5834894b53
      - intlb2wdc 5834894b53
      - extlb2wdc 5834894b53
      X-Version-Label:
      - easypost-202005072340-b8c9db23b3-master
    status: 422 Unknown
    code: 422
    duration: ""
