---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"code":null,"created_at":"2024-08-02T23:14:38Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_0e5a83bd8c3f415490289a627e170586","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2024-08-02T23:14:38Z","value":"23.25","weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/customs_items/cstitem_0e5a83bd8c3f415490289a627e170586
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad685ef440b8c700374755
      X-Node:
      - bigweb34nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
