---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2025-03-10T17:15:53+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_52561162fdd311efafbeac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2025-03-10T17:15:53+00:00","verifications":{},"zip":"94107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_52561162fdd311efafbeac1f6bc539aa
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5e8f8c3f67cf1e49e2b8598a005f0530
      X-Node:
      - bigweb36nuq
      X-Proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      X-Version-Label:
      - easypost-202503101638-abd43954e2-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/addresses/adr_52561162fdd311efafbeac1f6bc539aa
    method: GET
  response:
    body: '{"carrier_facility":null,"city":"San Francisco","company":null,"country":"US","created_at":"2025-03-10T17:15:53+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_52561162fdd311efafbeac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2025-03-10T17:15:53+00:00","verifications":{},"zip":"94107"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5e8f8c3f67cf1e49e2b8598a005f055b
      X-Node:
      - bigweb54nuq
      X-Proxied:
      - intlb3nuq 324e75def6
      - extlb1nuq 99aac35317
      X-Version-Label:
      - easypost-202503101638-abd43954e2-master
    status: 200 OK
    code: 200
    duration: ""
