---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/events?page_size=5
    method: GET
  response:
    body: '{"events":[{"created_at":"2024-08-02T23:14:50.639Z","description":"batch.updated","id":"evt_04b523ac512511ef830b512e12724368","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2024-08-02T23:14:50.425Z","description":"batch.created","id":"evt_04946f9a512511ef82ea53407dbbc5df","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2024-08-02T23:14:44.513Z","description":"batch.updated","id":"evt_010e6ae2512511efa77e0fb5e2a08ba7","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2024-08-02T23:14:44.407Z","description":"batch.created","id":"evt_00fe29ac512511efb3647fc470164b24","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2024-08-02T23:14:42.466Z","description":"batch.created","id":"evt_ffd61954512411efb3fb0f61e66fb597","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 4d57346d66ad686bf440b8c700374e4a
      X-Node:
      - bigweb32nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/events?before_id=evt_ffd61954512411efb3fb0f61e66fb597&page_size=5
    method: GET
  response:
    body: '{"events":[{"created_at":"2024-08-02T23:14:25.139Z","description":"batch.updated","id":"evt_f5821890512411ef9cbf5d205ddcdc41","mode":"test","object":"Event","status":"pending","user_id":"user_a76997d126dd488f8ad22d52301300b0"},{"created_at":"2024-08-02T23:14:25.024Z","d[...]
