---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/reports/shipment?page_size=5
    method: GET
  response:
    body: '{"has_more":true,"reports":[{"created_at":"2024-08-02T22:13:33Z","end_date":"2022-04-11","id":"shprep_2b97683aae5e4808a8e5340c04003033","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2024-08-02T22:13:34Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20240802/e8d79074ddca93451e8fc4c2bdd05f3e22.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQ7T7W7W7P%2F20240802%2Fus-west-2%2Fs3%2Faws4_request\u0026X-Amz-Date=20240802T231523Z\u0026X-Amz-Expires=30\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=c69ec1b3f336fcdecabab5ba6fd6db3dbbccda0bb8dcd6e5229a35a342c06a5c","url_expires_at":"2024-08-02T23:15:53Z"},{"created_at":"2024-08-02T22:13:33Z","end_date":"2022-04-11","id":"shprep_95d6e4e991f94590b22076e4203cac14","include_children":false,"mode":"test","object":"ShipmentReport","start_date":"2022-04-11","status":"available","updated_at":"2024-08-02T22:13:34Z","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20240802/e8449f0e839b474461ad9d7f52116436a0.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAY27LO6YQ7T7W7W7P%2F20240802%2Fus-w[...]
