---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/claims?page_size=5
    method: GET
  response:
    body: '{"claims":[{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/03fa7c1303304b099e0b4e4551557a84.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/35788336780b43fa89d2b0f6d5d0b000.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/52bc5e6539b443e9a99fe68002be9309.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-08-02T22:12:53","description":"Test
      description","history":[{"status":"submitted","status_detail":"Claim was created.","timestamp":"2024-08-02T22:12:53"}],"id":"clm_097f755883d04405a198fbb96309c3c7","insurance_amount":"100.00","insurance_id":"ins_db03e42beb00436faa77c45f9a725574","mode":"test","object":"Claim","payment_method":"easypost_wallet","recipient_name":null,"requested_amount":"100.00","salvage_value":null,"shipment_id":"shp_d38c9ce34866470188c66d6e2b34c0c0","status":"submitted","status_detail":"Claim
      was created.","status_timestamp":"2024-08-02T22:12:53","tracking_code":"9400100110368070361691","type":"damage","updated_at":"2024-08-02T22:12:53"},{"approved_amount":null,"attachments":["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/ce5b22efdb164769b4bd862bbea9424d.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/2bfe7b7931a745a39b98770cc91a8590.png","https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240802/605ff80074784ed9916e8bee6bc4ed70.png"],"check_delivery_address":null,"contact_email":"test@example.com","created_at":"2024-08-02T22:12:50","description"[...]
