---
version: 1
interactions:
- request:
    body: '{"customs_item":{"description":"Sweet shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.25","weight":11}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customs_items
    method: POST
  response:
    body: '{"code":null,"created_at":"2024-08-02T23:14:38Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_b44faecad5044205a5dc2941ea80e7cf","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2024-08-02T23:14:38Z","value":"23.25","weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/customs_items/cstitem_b44faecad5044205a5dc2941ea80e7cf
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad685ef440b8c700374762
      X-Node:
      - bigweb42nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/customs_items/cstitem_b44faecad5044205a5dc2941ea80e7cf
    method: GET
  response:
    body: '{"code":null,"created_at":"2024-08-02T23:14:38Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_b44faecad5044205a5dc2941ea80e7cf","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2024-08-02T23:14:38Z","value":"23.25","weight":11}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad685ef440b8c700374770
      X-Node:
      - bigweb34nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
