---
version: 1
interactions:
- request:
    body: '{"order":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"shipments":[{"parcel":{"weight":10.2}},{"parcel":{"weight":17.5}}],"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-08-02T23:33:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9717616b512711ef8076ac1f6bc539aa","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:33:15+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:33:15Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:33:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_97195e70512711ef803e3cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:33:15+00:00","verifications":{},"zip":"94107"},"id":"order_b383709b347c41f29e2837eb9ab495eb","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_e51f2683535a4efeb4b04eaef100268c","list_currency":"USD","list_rate":"70.30","mode":"test","object":"Rate","rate":"70.30","retail_currency":"USD","retail_rate":"80.70","service":"Express","shipment_id":"shp_f7427e03093c42709ffc2358d7de502f","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_bb6ec1261d064a4390a5e134ab0c729d","list_currency":"USD","list_rate":"17.22","mode":"test","object":"Rate","rate":"14.48","retail_currency":"USD","retail_rate":"22.30","service":"Priority","shipment_id":"shp_f7427e03093c42709ffc2358d7de502f","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_8d49618c88954b33a063a4f55913de59","list_currency":"USD","list_rate":"12.82","mode":"test","object":"Rate","rate":"11.40","retail_currency":"USD","retail_rate":"17.50","service":"GroundAdvantage","shipment_id":"shp_f7427e03093c42709ffc2358d7de502f","updated_at":null}],"reference":"","return_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:33:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_97195e70512711ef803e3cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:33:15+00:00","verifications":{},"zip":"94107"},"shipments":[{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:33:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9717616b512711ef8076ac1f6bc539aa","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:33:15+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:33:15Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:33:15+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_97195e70512711ef803e3cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:33:15+00:00","verifications":{},"zip":"94107"},"id":"shp_f7427e03093c42709ffc2358d7de502f","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":"order_b383709b347c41f29e2837eb9ab495eb","parcel":{"created_at":"2024-08-02T23:33:15Z","height":null,"id":"prcl_22e7923957064e5e96a8d933e4187f5d","length":null,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:33:15Z","weight":10.2,"width":null},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:33:15Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_e51f2683535a4efeb4b04eaef100268c","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_f7427e03093c42709ff[...]
