---
version: 1
interactions:
- request:
    body: '{"address":{}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"error":{"code":"APIKEY.INACTIVE","errors":[],"message":"This api key
      is no longer active. Please use a different api key or reactivate this key."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 733d01c366ba5a46f4095f2a0009a299
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      X-Version-Label:
      - easypost-202408121729-4bd23c0206-master
    status: 403 Forbidden
    code: 403
    duration: ""
