---
version: 1
interactions:
  - request:
      body: '{"payment_log_id":"paylog_..."}'
      form: {}
      headers:
        Authorization:
          - REDACTED
        Content-Type:
          - application/json
      url: https://api.easypost.com/beta/referral_customers/refunds
      method: POST
    response:
      body: '{"error":{"code":"TRANSACTION.DOES_NOT_EXIST","errors":[],"message":"We
      could not find a transaction with that id."}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Backend:
          - easypost
        X-Ep-Request-Uuid:
          - 32e015fa6568ec3be7896122001b463b
        X-Node:
          - bigweb40nuq
        X-Proxied:
          - intlb1nuq b3de2c47ef
          - extlb1nuq 003ad9bca0
        X-Version-Label:
          - easypost-202311301748-2efb918c5f-master
      status: 422 Unprocessable Entity
      code: 422
      duration: ""
