---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/partners/stripe_public_key
    method: GET
  response:
    body: '{"public_key":"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec71e7896122001b75c2
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: card%5Bcvc%5D=778&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bnumber%5D=4536410136126170
    form:
      card[cvc]:
      - "778"
      card[exp_month]:
      - "05"
      card[exp_year]:
      - "2028"
      card[number]:
      - "4536410136126170"
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://api.stripe.com/v1/tokens
    method: POST
  response:
    body: '{"card":{"address_city":null,"address_country":null,"address_line1":null,"address_line1_check":null,"address_line2":null,"address_state":null,"address_zip":null,"address_zip_check":null,"brand":"Visa","country":"US","cvc_check":"unchecked","dynamic_last4":null,"exp_month":5,"exp_year":2028,"funding":"credit","id":"card_0OIGa5DqT4huGUvdR6sWCp3o","last4":"6170","name":null,"object":"card","tokenization_method":null,"wallet":null},"client_ip":"REDACTED","created":1701375089,"id":"tok_0OIGa5DqT4huGUvdUMflIvEo","livemode":true,"object":"token","type":"card","used":false}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f3be9aae-4b69-4601-807a-5161952f5ee6
      Original-Request:
      - req_4jBJx9EeL8lLQW
      Stripe-Should-Retry:
      - "false"
      Stripe-Version:
      - "2020-08-27"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"credit_card":{"priority":"primary","stripe_object_id":"tok_0OIGa5DqT4huGUvdUMflIvEo"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/credit_cards
    method: POST
  response:
    body: '{"brand":"Visa","disabled_at":null,"exp_month":5,"exp_year":2028,"id":"card_f15212119c564422aec3f4d94d7a4446","last4":"6170","name":null,"object":"CreditCard"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 32e015fa6568ec71e7896122001b763f
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      X-Version-Label:
      - easypost-202311301748-2efb918c5f-master
    status: 201 Created
    code: 201
    duration: ""
