---
version: 1
interactions:
- request:
    body: '{"carrier_account_oauth_registrations":{"account_number":"123456789","type":"UpsAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/register_oauth
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2025-05-23T20:12:46Z","credentials":{},"description":null,"fields":{},"id":"ca_e80e7a3c0928465181947b841c975afb","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2025-05-23T20:12:46Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6ae239336830d6bee787d5c8009929ad
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb3nuq 668d3fc830
      - extlb2nuq 99aac35317
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_e80e7a3c0928465181947b841c975afb
    method: GET
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2025-05-23T20:12:46Z","credentials":{},"description":null,"fields":{},"id":"ca_e80e7a3c0928465181947b841c975afb","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2025-05-23T20:12:46Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6ae239336830d6bfe787d5c8009929ec
      X-Node:
      - bigweb38nuq
      X-Proxied:
      - intlb3nuq 668d3fc830
      - extlb2nuq 99aac35317
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"carrier_account":{"account_number":"987654321"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/ca_e80e7a3c0928465181947b841c975afb
    method: PATCH
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2025-05-23T20:12:46Z","credentials":{},"description":null,"fields":{},"id":"ca_e80e7a3c0928465181947b841c975afb","logo":null,"object":"CarrierAccount","readable":"UPS","reference":null,"test_credentials":null,"type":"UpsAccount","updated_at":"2025-05-23T20:12:47Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 6ae239336830d6bfe787d5c800992a13
      X-Node:
      - bigweb36nuq
      X-Proxied:
      - intlb4nuq 668d3fc830
      - extlb2nuq 99aac35317
      X-Version-Label:
      - easypost-202505231841-d89645a184-master
    status: 200 OK
    code: 200
    duration: ""
[...]
