---
version: 1
interactions:
- request:
    body: '{"order":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"shipments":[{"parcel":{"weight":10.2}},{"parcel":{"weight":17.5}}],"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-08-02T23:32:28+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_7b738d45512711efba073cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:32:28+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:32:28Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:32:28+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_7b756d7c512711efba083cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:32:28+00:00","verifications":{},"zip":"94107"},"id":"order_9cbcab9e33cc424784101d7a586cb082","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_0eaf17103a884515a5dbe6adc9973c5c","list_currency":"USD","list_rate":"70.30","mode":"test","object":"Rate","rate":"70.30","retail_currency":"USD","retail_rate":"80.70","service":"Express","shipment_id":"shp_67c21aaf4e4d49cf9af6bdc509dfe549","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_dc1e2b9b697a4e1197b0cf887142b93d","list_currency":"USD","list_rate":"17.22","mode":"test","object":"Rate","rate":"14.48","retail_currency":"USD","retail_rate":"22.30","service":"Priority","shipment_id":"shp_67c21aaf4e4d49cf9af6bdc509dfe549","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_ed8c4ab4d58d41d998158ecc121c078b","list_currency":"USD","list_rate":"12.82","mode":"test","object":"Rate","rate":"11.40","retail_currency":"USD","retail_rate":"17.50","service":"GroundAdvantage","shipment_id":"shp_67c21aaf4e4d49cf9af6bdc509dfe549","updated_at":null}],"reference":"","return_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:32:28+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_7b756d7c512711efba083cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:32:28+00:00","verifications":{},"zip":"94107"},"shipments":[{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:32:28+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_7b738d45512711efba073cecef1b359e","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:32:28+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:32:28Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:32:28+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_7b756d7c512711efba083cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:32:28+00:00","verifications":{},"zip":"94107"},"id":"shp_67c21aaf4e4d49cf9af6bdc509dfe549","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":"order_9cbcab9e33cc424784101d7a586cb082","parcel":{"created_at":"2024-08-02T23:32:28Z","height":null,"id":"prcl_fd28452b8e7047759eb0caa4a3c7f3b5","length":null,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:32:28Z","weight":10.2,"width":null},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:32:29Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_0eaf17103a884515a5dbe6adc9973c5c","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_67c21aaf4e4d49cf9af[...]
