---
version: 1
interactions:
- request:
    body: '{"order":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"shipments":[{"parcel":{"weight":10.2}},{"parcel":{"weight":17.5}}],"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-08-02T23:32:38+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_81520ca3512711efabafac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:32:38+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:32:38Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:32:38+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_8153bcd9512711efbb4d3cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:32:38+00:00","verifications":{},"zip":"94107"},"id":"order_dcc077266d0c49b0bfff8e16cfabe2be","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_f466defda8ed4c11812b6382142d7f4c","list_currency":"USD","list_rate":"70.30","mode":"test","object":"Rate","rate":"70.30","retail_currency":"USD","retail_rate":"80.70","service":"Express","shipment_id":"shp_06af9bca1a1d4c459a94819ac430cff3","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_49987599c6234ec9b7a01733f4d50344","list_currency":"USD","list_rate":"17.22","mode":"test","object":"Rate","rate":"14.48","retail_currency":"USD","retail_rate":"22.30","service":"Priority","shipment_id":"shp_06af9bca1a1d4c459a94819ac430cff3","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_335666dc25dd4cc0a2a92aa9f73a0265","list_currency":"USD","list_rate":"12.82","mode":"test","object":"Rate","rate":"11.40","retail_currency":"USD","retail_rate":"17.50","service":"GroundAdvantage","shipment_id":"shp_06af9bca1a1d4c459a94819ac430cff3","updated_at":null}],"reference":"","return_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:32:38+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_8153bcd9512711efbb4d3cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:32:38+00:00","verifications":{},"zip":"94107"},"shipments":[{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:32:38+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_81520ca3512711efabafac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:32:38+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:32:38Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:32:38+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_8153bcd9512711efbb4d3cecef1b359e","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:32:38+00:00","verifications":{},"zip":"94107"},"id":"shp_06af9bca1a1d4c459a94819ac430cff3","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":"order_dcc077266d0c49b0bfff8e16cfabe2be","parcel":{"created_at":"2024-08-02T23:32:38Z","height":null,"id":"prcl_f9b9da90c47e4439b72b0cf1492aa9c4","length":null,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:32:38Z","weight":10.2,"width":null},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:32:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_f466defda8ed4c11812b6382142d7f4c","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_06af9bca1a1d4c459a9[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/orders/order_dcc077266d0c49b0bfff8e16cfabe2be
    method: GET
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-08-02T23:32:38+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_81520ca3512711efabafac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone[...]
