---
version: 1
interactions:
- request:
    body: '{"shipment":{"customs_info":{"contents_type":"merchandise","customs_certify":true,"customs_items":[{"description":"Sweet
      shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"weight":11}],"customs_signer":"Steve
      Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_type":"none"},"from_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"},"options":{"invoice_number":"123","label_format":"PNG"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"reference":"123","to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:39+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_21cd01ff512511ef89f3ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:39+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:15:39Z","customs_info":{"contents_explanation":null,"contents_type":"merchandise","created_at":"2024-08-02T23:15:39Z","customs_certify":true,"customs_items":[{"code":null,"created_at":"2024-08-02T23:15:39Z","currency":null,"description":"Sweet
      shirts","eccn":null,"hs_tariff_number":"654321","id":"cstitem_51fa1a9f3cb5420b8f05c1d7194145be","manufacturer":null,"mode":"test","object":"CustomsItem","origin_country":"US","printed_commodity_identifier":null,"quantity":2,"updated_at":"2024-08-02T23:15:39Z","value":null,"weight":11}],"customs_signer":"Steve
      Brule","declaration":null,"eel_pfc":"NOEEI 30.37(a)","id":"cstinfo_684fc9c965c642fe90825f9252a21165","mode":"test","non_delivery_option":"return","object":"CustomsInfo","restriction_comments":null,"restriction_type":"none","updated_at":"2024-08-02T23:15:39Z"},"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:15:39+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_21d1456e512511efb9b7ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:15:39+00:00","verifications":{},"zip":"94107"},"id":"shp_c0dafcb339b5457487a8591d2065d720","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"shipment.customs_info.customs_items.0.value:
      field required and shipment.customs_info.customs_items.0.code: field required","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"invoice_number":"123","label_format":"PNG","payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2024-08-02T23:15:39Z","height":4,"id":"prcl_a85721f8de454549b964390cb8053872","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:15:39Z","weight":15.4,"width":8},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_4c0e4f68fce74b3c8bc456f141e67305","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_c0dafcb339b5457487a8591d2065d720","updated_at":"2024-08-02T23:15:39Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_186f2ac42893484cb84b5fdc3b23ee9a","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_c0dafcb339b5457487a8591d2065d720","updated_at":"2024-08-02T23:15:39Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:39Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_def3bdea01304b2d901942137690cacb","list_currency":"USD","list_rate":"8.25","mode":"test","object":"Rate","rate":"6.90","retail_currency":"USD","retail_rate":"9.80","service":"Priority","shipment_id":"shp_c0dafcb339b5457487a8591d2065d720","updated_at":"2024-08-02T23:15:39Z"}],"reference":"123","refund_status":null,"return_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:15:39+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_21d1456e512511efb9b7ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:15:39+00:00","verifications":{},"zip":"94107"},"scan_form":null,"selected_rate":null,"status":"unknown","to_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:39+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_21cd01ff512511ef89f3ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:39+00:00","verifications":{},"zip":"90277"},"tracker":null,"tracking_code":null,"updated_at":"2024-08-02T23:15:39Z","usps_zone":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/shipments/shp_c0dafcb339b5457487a8591d2065d720
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad689bf440b8c7003773ce
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
