---
version: 1
interactions:
- request:
    body: '{"address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers
    method: POST
  response:
    body: '{"city":"SAN FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:14:43+00:00","email":"REDACTED","id":"es_568913e51a7c44f581a33a4986fe95ba","mode":"test","name":"JACK
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:14:43+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6862f440b8c7003749b7
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"address":{"city":"San Francisco","company":"EasyPost","country":"US","created_at":"2024-08-02T23:14:43Z","email":"REDACTED","id":"es_568913e51a7c44f581a33a4986fe95ba","mode":"test","name":"Captain
      Sparrow","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:14:43Z","zip":"94107"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/end_shippers/es_568913e51a7c44f581a33a4986fe95ba
    method: PUT
  response:
    body: '{"city":"SAN FRANCISCO","company":"EASYPOST","country":"US","created_at":"2024-08-02T23:14:43+00:00","email":"REDACTED","id":"es_568913e51a7c44f581a33a4986fe95ba","mode":"test","name":"CAPTAIN
      SPARROW","object":"EndShipper","phone":"REDACTED","state":"CA","street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:14:43+00:00","zip":"94107-1670"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6863f440b8c7003749ca
      X-Node:
      - bigweb33nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
