---
version: 1
interactions:
- request:
    body: '{"order":{"from_address":{"city":"San Francisco","country":"US","email":"REDACTED","name":"Jack
      Sparrow","phone":"REDACTED","state":"CA","street1":"388 Townsend St","street2":"Apt
      20","zip":"94107"},"shipments":[{"parcel":{"weight":10.2}},{"parcel":{"weight":17.5}}],"to_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/orders
    method: POST
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-08-02T23:32:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_875542d8512711ef8eacac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:32:48+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:32:48Z","customs_info":null,"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:32:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_87575348512711efbcd0ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:32:48+00:00","verifications":{},"zip":"94107"},"id":"order_e1a1928cd82247f0ba9c439c999aea1e","is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Order","options":{"currency":"USD","payment":{"type":"SENDER"}},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_d783e7aaba734602abd66b162f12c897","list_currency":"USD","list_rate":"12.82","mode":"test","object":"Rate","rate":"11.40","retail_currency":"USD","retail_rate":"17.50","service":"GroundAdvantage","shipment_id":"shp_7a6374150138415dbd8f4777911b7abd","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_3833157c416a45688e4cfdaa2d4395f0","list_currency":"USD","list_rate":"70.30","mode":"test","object":"Rate","rate":"70.30","retail_currency":"USD","retail_rate":"80.70","service":"Express","shipment_id":"shp_7a6374150138415dbd8f4777911b7abd","updated_at":null},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":null,"currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_301e933962a44696b7671e6f4d78263e","list_currency":"USD","list_rate":"17.22","mode":"test","object":"Rate","rate":"14.48","retail_currency":"USD","retail_rate":"22.30","service":"Priority","shipment_id":"shp_7a6374150138415dbd8f4777911b7abd","updated_at":null}],"reference":"","return_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:32:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_87575348512711efbcd0ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:32:48+00:00","verifications":{},"zip":"94107"},"shipments":[{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:32:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_875542d8512711ef8eacac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:32:48+00:00","verifications":{},"zip":"90277"},"created_at":"2024-08-02T23:32:48Z","customs_info":null,"fees":[],"forms":[],"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:32:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_87575348512711efbcd0ac1f6bc539aa","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:32:48+00:00","verifications":{},"zip":"94107"},"id":"shp_7a6374150138415dbd8f4777911b7abd","insurance":null,"is_return":false,"messages":[{"carrier":"DhlEcs","carrier_account_id":"ca_1fefcb0d0a9f4e5db5e5a1c360958484","message":"Invalid
      credentials","type":"rate_error"}],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":"order_e1a1928cd82247f0ba9c439c999aea1e","parcel":{"created_at":"2024-08-02T23:32:48Z","height":null,"id":"prcl_8e786ae34f0040fbb50bd375340df6d5","length":null,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:32:48Z","weight":10.2,"width":null},"postage_label":null,"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:32:49Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_d783e7aaba734602abd66b162f12c897","list_currency":"USD","list_rate":"5.07","mode":"test","object":"Rate","rate":"5.07","retail_currency":"USD","retail_rate":"6.70","service":"GroundAdvantage","shipment_id":"shp_7a637415013841[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/orders/order_e1a1928cd82247f0ba9c439c999aea1e/rates
    method: GET
  response:
    body: '{"buyer_address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-08-02T23:32:48+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_875542d8512711ef8eacac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address",[...]
