---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/shipments?page_size=5
    method: GET
  response:
    body: '{"has_more":true,"shipments":[{"batch_id":"batch_f8dbcb2f178a4f129957d977b984e846","batch_message":null,"batch_status":"postage_purchased","buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:15:25+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_19a03289512511efa756ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2024-08-02T23:15:26+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2024-08-02T23:15:25Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:25+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_19a49b89512511efa757ac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:25+00:00","verifications":{},"zip":"90277"},"id":"shp_32f296472f6c420d9f71de7ad945268b","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2024-08-02T23:15:25Z","height":4,"id":"prcl_70b2264cf69d454797210f5f7391bdc2","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:15:25Z","weight":15.4,"width":8},"postage_label":{"created_at":"2024-08-02T23:15:26Z","date_advance":0,"id":"pl_ae80ca4092884f199d28657f43cac378","integrated_form":"none","label_date":"2024-08-02T23:15:26Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240802/e81e90e88e7e85451da909caa28fe3c556.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2024-08-02T23:15:26Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:25Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_2d26e6aef722413fa96eeda0bb7fd753","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_32f296472f6c420d9f71de7ad945268b","updated_at":"2024-08-02T23:15:25Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:25Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_1bdf23d99a594210a9e7c482b3cdf211","list_currency":"USD","list_rate":"8.25","mode":"test","object":"Rate","rate":"6.90","retail_currency":"USD","retail_rate":"9.80","service":"Priority","shipment_id":"shp_32f296472f6c420d9f71de7ad945268b","updated_at":"2024-08-02T23:15:25Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:25Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_201c61f269c042b69f4b02484382a88a","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_32f296472f6c420d9f71de7ad945268b","updated_at":"2024-08-02T23:15:25Z"}],"reference":null,"refund_status":null,"return_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:25+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_19a49b89512511efa757ac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:25+00:00","verifications":{},"zip":"90277"},"scan_form":{"address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:25+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_19a49b89512511efa757ac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:25+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_f8dbcb2f178a4f129957d977b984e846","confirmation":null,"created_at":"2024-08-02T23:15:26Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240802/e83e59ee3d582140e8b096bf5f4449cd60.pdf","id":"sf_a20319c731a746549807e24b7762eec4","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100110368070372178"],"updated_at":"2024-08-02T23:15:27Z"},"selected_rate":{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:26Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_201c61f269c042b69f4b02484382a88a","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_32f296472f6c420d9f71de7ad945268b","updated_at":"2024-08-02T23:15:26Z"},"status":"unknown","to_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:15:25+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_19a03289512511efa756ac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2024-08-02T23:15:26+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"tracker":{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":null,"object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"},"service":"First-Class
      Package Service"},"created_at":"2024-08-02T23:15:26Z","est_delivery_date":"2024-08-02T23:15:26Z","fees":[],"id":"trk_c2f70261925c4ccf8d6bc60f1aab3aa9","mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2MyZjcwMjYxOTI1YzRjY2Y4ZDZiYzYwZjFhYWIzYWE5","shipment_id":"shp_32f296472f6c420d9f71de7ad945268b","signed_by":null,"status":"pre_transit","status_detail":"status_update","tracking_code":"9400100110368070372178","tracking_details":[{"carrier_code":"","datetime":"2024-07-02T23:15:26Z","description":"","message":"Pre-Shipment
      Info Sent to USPS","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":"","datetime":"2024-07-03T11:52:26Z","description":"","message":"Shipping
      Label Created","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"}}],"updated_at":"2024-08-02T23:15:26Z","weight":null},"tracking_code":"9400100110368070372178","updated_at":"2024-08-02T23:15:26Z","usps_zone":4},{"batch_id":"batch_81db2fb950d447efb683744dd814152e","batch_message":null,"batch_status":"postage_purchased","buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:15:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_18b85ae6512511efb7ddac1f6bc539aa","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND [...]
