---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/addresses?page_size=1
    method: GET
  response:
    body: '{"addresses":[{"carrier_facility":null,"city":"NOT A CITY","company":"EASYPOST","country":"US","created_at":"2025-11-07T18:37:21Z","email":"REDACTED","federal_tax_id":null,"id":"adr_cc165879bc0811f09e4dac1f6bc539aa","mode":"test","name":null,"object":"Address","phone":"REDACTED","residential":null,"state":"ZZ","state_tax_id":null,"street1":"000
      UNKNOWN STREET","street2":null,"updated_at":"2025-11-07T18:37:21Z","verifications":{"delivery":{"details":{"latitude":null,"longitude":null,"time_zone":null},"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
      not found","suggestion":null}],"success":true},"verify_carrier":"ups","zip4":{"details":null,"errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
      not found","suggestion":null}],"success":true}},"zip":"00001"}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 16819987698e0f3ce787d97e011df32e
      X-Node:
      - bigweb43nuq
      X-Proxied:
      - intlb5nuq 0dcc3a6efb
      - extlb1nuq c01291cd8f
      X-Version-Label:
      - easypost-202602121702-bfe72e7ac7-master
    status: 200 OK
    code: 200
    duration: ""
