---
version: 1
interactions:
- request:
    body: '{"shipment":{"carrier":"USPS","carrier_accounts":["ca_e606176ddb314afe896733636dba2f3b"],"from_address":{"city":"Redondo
      Beach","country":"US","email":"REDACTED","name":"Elizabeth Swan","phone":"REDACTED","state":"CA","street1":"179
      N Harbor Dr","zip":"90277"},"parcel":{"height":4,"length":10,"weight":15.4,"width":8},"service":"GroundAdvantage","to_address":{"city":"San
      Francisco","country":"US","email":"REDACTED","name":"Jack Sparrow","phone":"REDACTED","state":"CA","street1":"388
      Townsend St","street2":"Apt 20","zip":"94107"}}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/shipments
    method: POST
  response:
    body: '{"batch_id":null,"batch_message":null,"batch_status":null,"buyer_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:15:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_18b85ae6512511efb7ddac1f6bc539aa","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:15:24+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"created_at":"2024-08-02T23:15:24Z","customs_info":null,"fees":[{"amount":"0.00000","charged":true,"object":"Fee","refunded":false,"type":"LabelFee"},{"amount":"5.93000","charged":true,"object":"Fee","refunded":false,"type":"PostageFee"}],"forms":[],"from_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_18baed74512511ef8806ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:24+00:00","verifications":{},"zip":"90277"},"id":"shp_2272bfaaafdc483987d9f9e2b67280c4","insurance":null,"is_return":false,"messages":[],"mode":"test","object":"Shipment","options":{"currency":"USD","date_advance":0,"payment":{"type":"SENDER"}},"order_id":null,"parcel":{"created_at":"2024-08-02T23:15:24Z","height":4,"id":"prcl_fc2f07c02c214e5994fe7b550dfed38a","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:15:24Z","weight":15.4,"width":8},"postage_label":{"created_at":"2024-08-02T23:15:24Z","date_advance":0,"id":"pl_233e1f5301f54b0aab0def8bc7421e36","integrated_form":"none","label_date":"2024-08-02T23:15:24Z","label_epl2_url":null,"label_file":null,"label_file_type":"image/png","label_pdf_url":null,"label_resolution":300,"label_size":"4x6","label_type":"default","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240802/e82dd5f612317d49a8b3519d2bc00367db.png","label_zpl_url":null,"object":"PostageLabel","updated_at":"2024-08-02T23:15:25Z"},"rates":[{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:24Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_1b4d0ee587b7498a8859ca808b00592c","list_currency":"USD","list_rate":"33.10","mode":"test","object":"Rate","rate":"33.10","retail_currency":"USD","retail_rate":"37.90","service":"Express","shipment_id":"shp_2272bfaaafdc483987d9f9e2b67280c4","updated_at":"2024-08-02T23:15:24Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:24Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":2,"est_delivery_days":2,"id":"rate_957520d85448492695a20a66e5045e39","list_currency":"USD","list_rate":"8.25","mode":"test","object":"Rate","rate":"6.90","retail_currency":"USD","retail_rate":"9.80","service":"Priority","shipment_id":"shp_2272bfaaafdc483987d9f9e2b67280c4","updated_at":"2024-08-02T23:15:24Z"},{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:24Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_944da1eb5712473dbc054e5c24a49f1f","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_2272bfaaafdc483987d9f9e2b67280c4","updated_at":"2024-08-02T23:15:24Z"}],"reference":null,"refund_status":null,"return_address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_18baed74512511ef8806ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:24+00:00","verifications":{},"zip":"90277"},"scan_form":null,"selected_rate":{"billing_type":"easypost","carrier":"USPS","carrier_account_id":"ca_e606176ddb314afe896733636dba2f3b","created_at":"2024-08-02T23:15:24Z","currency":"USD","delivery_date":null,"delivery_date_guaranteed":false,"delivery_days":3,"est_delivery_days":3,"id":"rate_944da1eb5712473dbc054e5c24a49f1f","list_currency":"USD","list_rate":"6.40","mode":"test","object":"Rate","rate":"5.93","retail_currency":"USD","retail_rate":"8.45","service":"GroundAdvantage","shipment_id":"shp_2272bfaaafdc483987d9f9e2b67280c4","updated_at":"2024-08-02T23:15:24Z"},"status":"unknown","to_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:15:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_18b85ae6512511efb7ddac1f6bc539aa","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":"","updated_at":"2024-08-02T23:15:24+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"tracker":{"carrier":"USPS","carrier_detail":null,"created_at":"2024-08-02T23:15:25Z","est_delivery_date":null,"fees":[],"id":"trk_3bd329377d794bff9bfecd3f5ee835f6","mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrXzNiZDMyOTM3N2Q3OTRiZmY5YmZlY2QzZjVlZTgzNWY2","shipment_id":"shp_2272bfaaafdc483987d9f9e2b67280c4","signed_by":null,"status":"unknown","status_detail":"unknown","tracking_code":"9400100110368070372161","tracking_details":[],"updated_at":"2024-08-02T23:15:25Z","weight":null},"tracking_code":"9400100110368070372161","updated_at":"2024-08-02T23:15:25Z","usps_zone":4}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/shipments/shp_2272bfaaafdc483987d9f9e2b67280c4
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad688cf440b8c7003767e8
      X-Node:
      - bigweb42nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"shipments":[{"id":"shp_2272bfaaafdc483987d9f9e2b67280c4"}]}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/scan_forms
    method: POST
  response:
    body: '{"address":{"carrier_facility":null,"city":"Redondo Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_18baed74512511ef8806ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:24+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_81db2fb950d447efb683744dd814152e","confirmation":null,"created_at":"2024-08-02T23:15:25Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240802/e8e01cedb82d814a649b4de865280d304d.pdf","id":"sf_96efbd01c0244c6a91d6783930149667","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100110368070372161"],"updated_at":"2024-08-02T23:15:25Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad688df440b8c7003768cc
      X-Node:
      - bigweb35nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
