---
version: 1
interactions:
- request:
    body: '{"carrier_account_oauth_registrations":{"type":"AmazonShippingAccount"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/carrier_accounts/register_oauth
    method: POST
  response:
    body: '{"billing_type":"carrier","clone":false,"created_at":"2025-04-14T17:11:26Z","credentials":{},"description":null,"fields":{},"id":"ca_670a2f60b0744f1c84306213bff92cd8","logo":null,"object":"CarrierAccount","readable":"Amazon
      Shipping","reference":null,"test_credentials":null,"type":"AmazonShippingAccount","updated_at":"2025-04-14T17:11:26Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - a862c37167fd41bee2b8ff3600655497
      X-Node:
      - bigweb43nuq
      X-Proxied:
      - intlb3nuq 284c5d344a
      - extlb2nuq 99aac35317
      X-Version-Label:
      - easypost-202504111751-33c61fb414-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/carrier_accounts/ca_670a2f60b0744f1c84306213bff92cd8
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - a862c37167fd41bee2b8ff36006554d0
      X-Node:
      - bigweb33nuq
      X-Proxied:
      - intlb4nuq 284c5d344a
      - extlb2nuq 99aac35317
      X-Version-Label:
      - easypost-202504111751-33c61fb414-master
    status: 200 OK
    code: 200
    duration: ""
