---
version: 1
interactions:
- request:
    body: '{"financial_connections_id":"fca_0QAc7sDqT4huGUvdf6BahYa9","mandata_data":{"accepted_at":1722510730,"ip_address":"127.0.0.1","user_agent":"Mozilla/5.0"},"priority":"primary"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/bank_accounts
    method: POST
  response:
    body: '{"error":{"code":"BANK_ACCOUNT.INVALID_PARAMS","errors":[],"message":"account_holder_name
      must be present when creating a Financial Connections payment method"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - b0beceb467dc5541e2b8eb13006941c2
      X-Node:
      - bigweb42nuq
      X-Proxied:
      - intlb4nuq 284c5d344a
      - extlb1nuq 99aac35317
      X-Version-Label:
      - easypost-202503201600-7a0b554315-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
