---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/refunds?page_size=5
    method: GET
  response:
    body: '{"has_more":false,"refunds":[{"carrier":"USPS","confirmation_number":null,"created_at":"2024-08-02T22:13:50Z","id":"rfnd_aeb1bce67ae04df6b93987a73f555589","object":"Refund","shipment_id":"shp_4dba46108a5a4effa139b9e2b35c2fbc","status":"submitted","tracking_code":"9400100110368070361967","updated_at":"2024-08-02T22:13:50Z"},{"carrier":"USPS","confirmation_number":null,"created_at":"2024-08-02T22:13:33Z","id":"rfnd_114a3138e5294d659d72ab16460fc64d","object":"Refund","shipment_id":"shp_b282bc18513a44f98308b414c3c9983b","status":"submitted","tracking_code":"9400100110368070361882","updated_at":"2024-08-02T22:13:33Z"},{"carrier":"USPS","confirmation_number":null,"created_at":"2024-07-26T20:01:23Z","id":"rfnd_bb74a8b6b49d4d489725a9a99d482f21","object":"Refund","shipment_id":"shp_d41b394af7e34931b8627f62c373c72d","status":"rejected","tracking_code":"9400100110368067715940","updated_at":"2024-07-27T20:01:23Z"},{"carrier":"USPS","confirmation_number":null,"created_at":"2024-07-26T20:01:05Z","id":"rfnd_4e440cb92cfc4dd483cb7071cacbe602","object":"Refund","shipment_id":"shp_ad733d6f44f340f68b6acd669a75207e","status":"rejected","tracking_code":"9400100110368067715810","updated_at":"2024-07-27T20:01:05Z"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Ep-Request-Uuid:
      - 4d57346d66ad6889f440b8c70037657f
      X-Node:
      - bigweb32nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
