---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/users/children?page_size=5
    method: GET
  response:
    body: '{"children":[{"created_at":"2023-09-20T18:01:26Z","id":"user_5f0c48e7a66b42398740b0149b1bb24c","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"created_at":"2023-09-20T18:09:24Z","id":"user_97f56192c53d490aa7851087b88618a4","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"created_at":"2023-11-30T20:12:09Z","id":"user_3d8dac28f4ba42729036133637356d40","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"created_at":"2024-07-26T19:35:11Z","id":"user_f81b29477fec4243a7de2ecc3c4f4907","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true},{"created_at":"2024-07-26T20:01:28Z","id":"user_181e86f095d64d028676afb1bfdb9774","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true}],"has_more":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 57503b0f691ce13ae2ba8732016c6755
      X-Node:
      - bigweb63nuq
      X-Proxied:
      - intlb4nuq c0061e0a2e
      - extlb1nuq cbbd141214
      X-Version-Label:
      - easypost-202511181852-613eda4497-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"refresh_url":"https://example.com/refresh","return_url":"https://example.com/return","session_type":"account_onboarding","user_id":"user_5f0c48e7a66b42398740b0149b1bb24c"}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/customer_portal/account_link
    method: POST
  response:
    body: '{"created_at":"2025-11-18T21:12:27Z","expires_at":"2025-11-18T21:17:27Z","link":"https://app.easypost.com/customer-portal/onboarding?session_id=-vvKK5uJizPoC95q","object":"CustomerPortalAccountLink"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 57503b0f691ce13ae2ba8732016c677c
      X-Node:
      - bigweb55nuq
      X-Proxied:
      - intlb5nuq c0061e0a2e
      - extlb1nuq cbbd141214
      X-Version-Label:
      - easypost-202511181852-613eda4497-master
    status: 201 Created
    code: 201
    duration: ""
