---
version: 1
interactions:
- request:
    body: '{"address":{"city":"Not A City","company":"EasyPost","country":"US","email":"REDACTED","phone":"REDACTED","state":"ZZ","street1":"000
      unknown street","zip":"00001"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses
    method: POST
  response:
    body: '{"carrier_facility":null,"city":"Not A City","company":"EasyPost","country":"US","created_at":"2025-03-10T17:15:52+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_51f597c4fdd311ef9b7eac1f6bc53342","mode":"test","name":null,"object":"Address","phone":"REDACTED","residential":null,"state":"ZZ","state_tax_id":null,"street1":"000
      unknown street","street2":null,"updated_at":"2025-03-10T17:15:52+00:00","verifications":{},"zip":"00001"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/addresses/adr_51f597c4fdd311ef9b7eac1f6bc53342
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5e8f8c3f67cf1e48e2b8598a005f0416
      X-Node:
      - bigweb38nuq
      X-Proxied:
      - intlb3nuq 324e75def6
      - extlb1nuq 99aac35317
      X-Version-Label:
      - easypost-202503101638-abd43954e2-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"address":{"city":"Not A City","company":"EasyPost","country":"US","email":"REDACTED","phone":"REDACTED","state":"ZZ","street1":"000
      unknown street","zip":"00001"},"verify":true}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/addresses/create_and_verify
    method: POST
  response:
    body: '{"error":{"code":"ADDRESS.VERIFY.FAILURE","errors":[{"code":"E.ADDRESS.NOT_FOUND","field":"address","message":"Address
      not found","suggestion":null}],"message":"Unable to verify address."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 5e8f8c3f67cf1e48e2b8598a005f0434
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb3nuq 324e75def6
      - extlb1nuq 99aac35317
      X-Version-Label:
      - easypost-202503101638-abd43954e2-master
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
