---
version: 1
interactions:
- request:
    body: '{"tracker":{"tracking_code":"EZ1000000001"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/trackers
    method: POST
  response:
    body: '{"carrier":"USPS","carrier_detail":{"alternate_identifier":null,"container_type":null,"destination_location":"CHARLESTON
      SC, 29401","destination_tracking_location":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"guaranteed_delivery_date":null,"initial_delivery_attempt":null,"object":"CarrierDetail","origin_location":"HOUSTON
      TX, 77001","origin_tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"},"service":"First-Class
      Package Service"},"created_at":"2025-11-06T17:30:27Z","delivery_evidence":[],"est_delivery_date":"2025-11-06T17:30:27Z","finalized":true,"id":"trk_db7348be731549abbf312abc3ea1bdd7","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrX2RiNzM0OGJlNzMxNTQ5YWJiZjMxMmFiYzNlYTFiZGQ3","shipment_id":null,"signed_by":null,"status":"pre_transit","status_detail":"status_update","tracking_code":"EZ1000000001","tracking_details":[{"carrier_code":"","datetime":"2025-10-06T17:30:27Z","description":"","est_delivery_date":null,"message":"Pre-Shipment
      Info Sent to USPS","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}},{"carrier_code":"","datetime":"2025-10-07T06:07:27Z","description":"","est_delivery_date":null,"message":"Shipping
      Label Created","object":"TrackingDetail","source":"USPS","status":"pre_transit","status_detail":"status_update","tracking_location":{"city":"HOUSTON","country":null,"object":"TrackingLocation","state":"TX","zip":"77063"}}],"updated_at":"2025-11-06T17:30:27Z","weight":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/trackers/trk_db7348be731549abbf312abc3ea1bdd7
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 7dd2312c69824478e7897e680037da22
      X-Node:
      - bigweb58nuq
      X-Proxied:
      - intlb4nuq 5f0235a1ab
      - extlb2nuq cbbd141214
      X-Version-Label:
      - easypost-202602022215-5a5c93c546-master
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/trackers/trk_db7348be731549abbf312abc3ea1bdd7
    method: DELETE
  response:
    body: '{"success":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 7dd2312c69824478e7897e680037da4f
      X-Node:
      - bigweb40nuq
      X-Proxied:
      - intlb6nuq 5f0235a1ab
      - extlb2nuq cbbd141214
      X-Version-Label:
      - easypost-202602022215-5a5c93c546-master
    status: 200 OK
    code: 200
    duration: ""
