---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/referral_customers?page_size=5
    method: GET
  response:
    body: '{"has_more":true,"referral_customers":[{"balance":"0.00000","cc_fee_rate":"0.0325","children":[],"created_at":"2022-04-26T15:50:28Z","default_carbon_offset":false,"default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"has_elevate_access":false,"id":"user_634b6daa05744bfaa205058f06864363","insurance_fee_minimum":"0.50","insurance_fee_rate":"0.005","name":"Firstname
      Lastname","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true},{"balance":"0.00000","cc_fee_rate":"0.0325","children":[],"created_at":"2022-04-27T20:20:52Z","default_carbon_offset":false,"default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":true,"has_elevate_access":false,"id":"user_35cb81fb8af1454dabf1f6afa7330634","insurance_fee_minimum":"0.50","insurance_fee_rate":"0.005","name":"Firstname
      Lastname","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":"100.00","rechar[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/referral_customers
    method: GET
  response:
    body: '{"has_more":true,"referral_customers":[{"balance":"0.00000","cc_fee_rate":"0.0325","children":[],"created_at":"2022-04-26T15:50:28Z","default_carbon_offset":false,"default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"has_elevate_access":false,"id":"user_634b6daa05744bfaa205058f06864363","i[...]
