---
version: 1
interactions:
- request:
    body: '{"parcel":{"height":4,"length":10,"weight":15.4,"width":8}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/parcels
    method: POST
  response:
    body: '{"created_at":"2024-08-02T23:15:04Z","height":4,"id":"prcl_9f73c38a578746638eac24f9fcc81f74","length":10,"mode":"test","object":"Parcel","predefined_package":null,"updated_at":"2024-08-02T23:15:04Z","weight":15.4,"width":8}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - /api/v2/parcels/prcl_9f73c38a578746638eac24f9fcc81f74
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad6878f440b8c7003756b0
      X-Node:
      - bigweb34nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
