---
version: 1
interactions:
- request:
    body: '{"user":{"email":"REDACTED","name":"Test Referral","phone":"REDACTED"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers
    method: POST
  response:
    body: '{"api_keys":[{"active":true,"created_at":"2024-08-05T16:04:02Z","id":"ak_df63c975347b4513b205faca879a23ae","key":"REDACTED","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2024-08-05T16:04:02Z","id":"ak_cabaed976443408a9a1f0911a7219c16","key":"REDACTED","mode":"production","object":"ApiKey"}],"balance":"0.00000","cc_fee_rate":"0.0375","children":[],"created_at":"2024-08-05T16:04:02Z","default_carbon_offset":false,"default_insurance_amount":"50.00","email":"REDACTED","has_billing_method":null,"has_elevate_access":false,"id":"user_ab78dfd11aa843ecb86c7da8f3c1fd76","insurance_fee_minimum":"0.50","insurance_fee_rate":"0.01","name":"Test
      Referral","object":"User","parent_id":null,"phone_number":"REDACTED","price_per_shipment":"0.00000","recharge_amount":null,"recharge_threshold":null,"secondary_recharge_amount":null,"verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - df672db666b0f7f2f01f505900372761
      X-Node:
      - bigweb41nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"user":{"email":"REDACTED"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/referral_customers/user_ab78dfd11aa843ecb86c7da8f3c1fd76
    method: PUT
  response:
    body: '{"message":"Referral Customer email updated successfully"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - df672db666b0f7f3f01f505900372839
      X-Node:
      - bigweb34nuq
      X-Proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 200 OK
    code: 200
    duration: ""
