---
version: 1
interactions:
- request:
    body: '{"user":{"name":"Test User"}}'
    form: {}
    headers:
      Authorization:
      - REDACTED
      Content-Type:
      - application/json
    url: https://api.easypost.com/v2/users
    method: POST
  response:
    body: '{"api_keys":[{"active":true,"created_at":"2024-08-02T23:15:46Z","id":"ak_df7b6c397a7b4eb9b158db00864c9a9c","key":"REDACTED","mode":"test","object":"ApiKey"},{"active":true,"created_at":"2024-08-02T23:15:46Z","id":"ak_6ae2890e3d50467d834b39a82c685070","key":"REDACTED","mode":"production","object":"ApiKey"}],"children":[],"created_at":"2024-08-02T23:15:46Z","default_carbon_offset":false,"has_elevate_access":false,"id":"user_be313b8dbcf040108b045e7a33cd5fba","name":"Test
      User","object":"User","parent_id":"user_a76997d126dd488f8ad22d52301300b0","phone_number":"REDACTED","verified":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - easypost
      X-Ep-Request-Uuid:
      - 4d57346d66ad68a2f440b8c700377943
      X-Node:
      - bigweb42nuq
      X-Proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      X-Version-Label:
      - easypost-202408021936-66687f8918-master
    status: 201 Created
    code: 201
    duration: ""
