---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/insurances?page_size=5
    method: GET
  response:
    body: '{"has_more":true,"insurances":[{"amount":"100.00000","created_at":"2024-08-02T23:14:55Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":null,"country":"US","created_at":"2024-08-02T23:14:55+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_077437a1512511efa28cac1f6bc539ae","mode":"test","name":"JACK
      SPARROW","object":"Address","phone":"REDACTED","residential":true,"state":"CA","state_tax_id":null,"street1":"388
      TOWNSEND ST APT 20","street2":null,"updated_at":"2024-08-02T23:14:55+00:00","verifications":{"delivery":{"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"94107-1670"},"id":"ins_0fe20e037da14c0da9f8a2307a3eadde","messages":[],"mode":"test","object":"Insurance","provider":"easypost","provider_id":null,"reference":null,"shipment_id":null,"status":"pending","to_address":{"carrier_facility":null,"city":"REDONDO
      BEACH","company":null,"country":"US","created_at":"2024-08-02T23:14:55+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_076e7118512511ef83eeac1f6bc53342","mode":"test","name":"ELIZABETH
      SWAN","object":"Address","phone":"REDACTED","residential":false,"state":"CA","state_tax_id":null,"street1":"179
      N HARBOR DR","street2":null,"updated_at":"2024-08-02T23:14:55+00:00","verifications":{"delivery":{"details":{"latitude":33.8436,"longitude":-118.39177,"time_zone":"America/Los_Angeles"},"errors":[],"success":true},"zip4":{"details":null,"errors":[],"success":true}},"zip":"90277-2506"},"tracker":{"carrier":"USPS","carrier_detail":null,"created_at":"2024-08-02T23:14:55Z","est_delivery_date":null,"fees":[],"finalized":true,"id":"trk_843137abcd07433fa9ebe64020789cec","is_return":false,"mode":"test","object":"Tracker","public_url":"https://track.easypost.com/djE6dHJrXzg0MzEzN2FiY2QwNzQzM2ZhOWViZTY0MDIwNzg5Y2Vj","shipment_id":null,"signed_by":null,"status":"error","status_detail":null,"tracking_code":"9400100110368070372062","tracking_details":[{"carrier_code":"","datetime":"2024-08-02T23:14:55Z","description":"","message":"In
      test mode, only test tracking numbers are valid. Test tracking numbers are EZ1000000001,
      EZ2000000002, ... , EZ7000000007","object":"TrackingDetail","source":"ProcessingError","status":"error","status_detail":null,"tracking_location":{"city":null,"country":null,"object":"TrackingLocation","state":null,"zip":null}}],"updated_at":"2024-08-02T23:14:55Z","weight":null},"tracking_code":"9400100110368070372062","updated_at":"2024-08-02T23:14:55Z"},{"amount":"100.00000","created_at":"2024-08-02T23:14:36Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:14:36+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_fc0ec204512411efb15cac1f6bc539aa","mode":"test","name":"Jack
      Spar[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/insurances?before_id=ins_fa59cf357244433896b8e07fe35f2411&page_size=5
    method: GET
  response:
    body: '{"has_more":true,"insurances":[{"amount":"100.00000","created_at":"2024-08-02T22:13:08Z","fee":{"amount":"1.00000","charged":true,"object":"Fee","refunded":false,"type":"InsuranceFee"},"from_address":{"carrier_facility":null,"city":"SAN
      FRANCISCO","company":nu[...]
