---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/pickups?page_size=5
    method: GET
  response:
    body: '{"has_more":true,"pickups":[{"address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:30:59+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_4640d604512711efbd2aac1f6bc53342","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:30:59+00:00","verifications":{},"zip":"94107"},"carrier_accounts":[],"confirmation":null,"created_at":"2024-08-02T23:30:59Z","id":"pickup_40eee602963642f59da413be2b40b8ee","instructions":"Pickup
      at front door","is_account_address":false,"max_datetime":"2024-08-14T00:00:00Z","messages":[],"min_datetime":"2024-08-14T00:00:00Z","mode":"test","object":"Pickup","pickup_rates":[{"carrier":"USPS","created_at":"2024-08-02T23:31:00Z","currency":"USD","id":"pickuprate_52f5bd2b542145fe90a6f2dfcca40346","mode":"test","object":"PickupRate","pickup_id":"pickup_40eee602963642f59da413be2b40b8ee","rate":"0.00","service":"NextDay","updated_at":"2024-08-02T23:31:00Z"}],"reference":null,"status":"unknown","updated_at":"2024-08-02T23:30:59Z"},{"address":{"carrier_facility":null,"city":"San
      Francisco","company":null,"country":"US","created_at":"2024-08-02T23:30:49+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_40681b02512711ef9a3eac1f6bc539ae","mode":"test","name":"Jack
      Sparrow","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"388
      Townsend St","street2":"Apt 20","updated_at":"2024-08-02T23:30:49+00:00","verif[...]
