---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/batches?page_size=5
    method: GET
  response:
    body: '{"batches":[{"created_at":"2024-07-26T19:34:05Z","id":"batch_dd22fe3b5eb94538a024538460c106c1","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":"USPS
      does not offer service First for this shipment.","batch_status":"postage_purchase_failed","id":"shp_ce270294181f4397ba2aed5174859d70","reference":null,"tracking_code":null}],"state":"purchase_failed","status":{"created":0,"creation_failed":0,"postage_purchase_failed":1,"postage_purchased":0,"queued_for_purchase":0},"updated_at":"2024-07-26T19:34:05Z"},{"created_at":"2024-07-26T19:34:05Z","id":"batch_22a6603d751c460595d85006a91f6547","label_url":null,"mode":"test","num_shipments":1,"object":"Batch","pickup":null,"reference":null,"scan_form":null,"shipments":[{"batch_message":null,"batch_status":"created","id":"shp_b3fadc127a9646cdb1cd6ece1daeba91","reference":null,"tracking_code":null}],"state":"created","status":{"created":1,"creation_failed":0,"postage_purchase_failed":0,"postage_purchased":0,"queued_for_purchase":0},[...]
