---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/scan_forms?page_size=5
    method: GET
  response:
    body: '{"has_more":true,"scan_forms":[{"address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:25+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_19a49b89512511efa757ac1f6bc539ae","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:25+00:00","verifications":{},"zip":"90277"},"batch_id":"batch_f8dbcb2f178a4f129957d977b984e846","confirmation":null,"created_at":"2024-08-02T23:15:26Z","form_file_type":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240802/e83e59ee3d582140e8b096bf5f4449cd60.pdf","id":"sf_a20319c731a746549807e24b7762eec4","message":null,"object":"ScanForm","status":"created","tracking_codes":["9400100110368070372178"],"updated_at":"2024-08-02T23:15:27Z"},{"address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-08-02T23:15:24+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_18baed74512511ef8806ac1f6bc53342","mode":"test","name":"Elizabeth
      Swan","object":"Address","phone":"REDACTED","residential":null,"state":"CA","state_tax_id":null,"street1":"179
      N Harbor Dr","street2":null,"updated_at":"2024-08-02T23:15:2[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - REDACTED
    url: https://api.easypost.com/v2/scan_forms?before_id=sf_788dd06dd012425098abb50af45e9a27&page_size=5
    method: GET
  response:
    body: '{"has_more":false,"scan_forms":[{"address":{"carrier_facility":null,"city":"Redondo
      Beach","company":null,"country":"US","created_at":"2024-07-26T19:59:45+00:00","email":"REDACTED","federal_tax_id":null,"id":"adr_9b2d7c0d4b8911efbd50ac1f6bc539ae","mode":"test",[...]
